[2022-02-21 17:08] PatReynolds commented on #445
@DeniseColbert to test.

[2022-02-21 17:08] PatReynolds commented on #148
Tested by Denise - story complete.

[2022-02-21 17:08] #148 closed

[2022-02-21 17:10] DeniseColbert commented on #445
Just read the story properly, sorry, and this needs a screen reader to test so have reassigned @AlOneill

[2022-02-21 17:13] PatReynolds commented on #445
Pat to test (using screen reader).

[2022-02-21 17:22] PatReynolds commented on #214
@PhilipClarke712 can you take another look: we have made a few tweaks.

[2022-02-21 17:25] PatReynolds commented on #306
First 10 years is in scope for the History page, but I have no source for this information.

[2022-02-21 17:26] PatReynolds commented on #405
Agreed, @AlOneill to impplement a temporary fix

[2022-02-21 17:32] PatReynolds commented on #268
Sort by date (as per BMD1), revisit this story for research and possible enhancement in a later phase.

[2022-02-21 17:34] PatReynolds commented on #230
@Vino-S  has code for implementation

[2022-02-21 17:35] #458 closed, assigned to PatReynolds

[2022-02-21 17:35] PatReynolds commented on #228
Now displaying, so closing

[2022-02-21 17:36] #228 closed, assigned to PatReynolds

[2022-02-21 17:36] PatReynolds commented on #231
Now displaying, so closing.

[2022-02-21 17:36] #231 closed, assigned to PatReynolds

[2022-02-21 17:37] PatReynolds commented on #229
@Vino-S to implement

[2022-02-21 18:07] PhilipClarke712 commented on #306
Hi @PatReynolds
The main source will be https://www.freebmd.org.uk/news.html  - for the years 1998 to 2007, inclusively.

Can a I make my own choice of what to put in BMD's History, what to put into Release Note and what not to use; or does this have to be a group decision?

[2022-02-22 00:24] AlOneill commented on #445
@PatReynolds

On an **Entry Information** page, VoiceOver tells me I'm in a table and then says, for example:
"Entry Information of Thomas O'Neill"

I thought we had agreed to make the wording of this `caption` more natural? But perhaps this was never discussed or is part of another issue!

On a **District information** page, I hear:
Information about Bakewell 1 8 3 9 and after District

However,

[2022-02-22 00:44] AlOneill commented on #229
@Vino-S please note that there should be a DRAFT Help page which has the latest updates — it has disappeared!

I will attempt to restore the DRAFT and will let you know when Help is ready for the advert block. Thanks!

[2022-02-22 13:15] AlOneill commented on #229
@Vino-S I've restored the Help page with the most recent updates. It is ready for you to create a draft version and add the advert block.

The page layout is a bit different from the usual, mainly to show one of the images at full width. Depending on where you put the advert, the page layout might need some tweaking — do let me know if you need help with that.

[2022-02-22 13:52] PatReynolds opened #470 "Change Unique Names to Names"

[2022-02-22 14:02] DeniseColbert opened #471 "District Information page display needs improving for screen readers"
Current table format will confuse screen readers as the data isn't tabular.

Potential solutions:

- A separate table for each group of information e.g. Volume table; Unique Names* table etc.). HOWEVER this won't be as neatly presented.

- Another type of design that also works from a code perspective (e.g. paragraphs, lists)

(*- Unique Names is to be changed to just Names re. #470)

[2022-02-22 14:24] PatReynolds opened #472 "Understand how district names should be displayed (part of #450)"
Some (but not all) districts in the records pages have dupulicate data entry, e.g.
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/73f39f59-87c3-4039-af94-a30cfe114d5e)
Bingham has just the name
Birkenhead (1861-1998) has name+years
Birmingham (1837-1924) has name+years
Birmingham (1932 onw) has name+years

Questions for Vino:
Can we remove the years from  thame names of

[2022-02-22 14:35] DeniseColbert commented on #450
Page needs a heading- perhaps "Registration District Selection"

Then text as per suggestion in comment above (with Alison's addition)

Select box should look like the equivalent on FreeREG:
![image](https://user-images.githubusercontent.com/19173257/155152410-413d2bcb-ec07-4567-85c4-b3f095af5e17.png)

(White background, with a "Select" button)

[2022-02-22 15:23] AlOneill opened #518 "Bad ARIA in footer that should be removed"
The `ul` element for "Other FreeUK Genealogy Projects" has been given `role="navigation"` which is a mistake — it is bad ARIA and should be removed.

The navigation role robs the `ul` of its natural properties as a list container. The knock-on effects are: an automatic validator complains that there is no list container; a S-R will not understand; a S-R user will be misinformed about what is going

[2022-02-22 22:26] AlOneill commented on #418
@PatReynolds I'm having second thoughts about adding paragraphs near to information on wildcards. Even my old version of VoiceOver is reading the asterisks by default – It calls them 'stars'. I'm thinking that the information belongs on our Accessibility Statement, together with a warning about homonyms of names, such as Lucie and Lucy, that are best read one letter at a time.

It seems that disab

[2022-02-22 22:37] AlOneill commented on #155
The footer link to "Statistics" still goes to the **BMD1** page, whereas it should now point at our new Records section, yes? Having said that, I'm thinking that the markup for that part of the footer should be tweaked somehow to be clearer for S-R users.

[2022-02-22 22:46] AlOneill commented on #155
Maybe move the Statistics box in the footer to the Records page, similar to as done on REG. This would leave more space for useful links, such as to our Accessibility Statement …

[2022-02-24 10:08] PatReynolds commented on #450
Tested on NDVA result (https://drive.google.com/file/d/1l2voqH_ANzCTUCymeubxWzHYRSddPOTw/view?usp=sharing ) .... not good!

There is a great deal in the 'header' which is not visible to users, but is audible.

Main issue would be (I think) that the user hears the word 'view' and then the name of the district, and the call to action should follow the indentification of _what_ they are going to view

[2022-02-24 16:00] AlOneill opened #473 "ARIA attributes are going missing between Refinery editor and browser"
I have added `nav` elements to the sub-menu "On this page" on "About" and "Help" together with `aria-labelledby="this page"` which references the `id` of the sub-menu heading.

Refinery saves it all, but the ARIA attribute does not make it through to the browser, leaving the sub-menu without a label in the VoiceOver Landmarks listing — it is listed as "navigation". The label for the main navigatio

[2022-02-24 16:12] AlOneill commented on #473
To add to the above:
When I restored the ARIA attribute using browser development tools in Safari, the Landmarks listing had "On this page navigation", as expected.

So, where on earth do we start with investigating this issue further?

[2022-02-24 20:54] AlOneill commented on #473
I am planning (hoping) to use ARIA attributes to distinguish between and describe the various blocks wrapped in `aside` elements. That might include labelling advert blocks …

Also for best practice, we should label other things such as tables, even if there is only one example on the page. It all contributes to helping a user who cannot see to understand what is on a page and how that page is str

[2022-02-25 15:38] AlOneill commented on #10
@PatReynolds @DeniseColbert
This issue strikes me as really being two, unrelated system-wide issues, but I will comment here for now.

I've been looking at how we might implement a skiplink at the top of every page and need to confirm our requirements. As I remember it, we want a "skip to main content" link that is invisible until brought into focus with a press of the tab key. The standard positi

[2022-02-25 18:17] AlOneill opened #515 "BMD and CEN (patchy implementation) need per-page title elements, as on REG"
Although REG sets the `title` element in the `head` on a per page basis, BMD and CEN do not.

The BMD default `title` is misleading as it says, "FreeBMD - UK Birth, Marriage, and Death Records (England, <em>Scotland</em>, Wales)". The emphasis is mine — Scotland records are not included on BMD.

[2022-02-25 18:20] AlOneill commented on #515
The contents of the `title` element is the first thing a screen reader user will hear when they reach a page. It helps everyone to know what the page is about, and whether they are in the right place. Sighted users will expect to see that in the browser tab. When a user returns to a browser tab later, they will know which page they are on.

For sighted users with a lot of tabs open, it helps to pu

[2022-02-27 17:55] AlOneill commented on #383
DRAFT version of [Additional search options](https://test3.freebmd.org.uk/cms/help/draft-additional-search-options) updated with queries resolved.

Page needs review and checking. Does anyone have better examples for the three sections listed at the top of the page?

[2022-02-27 23:49] AlOneill opened #474 "'More about searching' — improve section there on wildcards"
The information about wildcards on 'More about searching' needs refining to account for the differences between the behaviour in First Names as opposed to Surnames — it needs some corrections and some clarifications.

[2022-02-27 23:50] AlOneill commented on #474
Am in the process of testing and then re-writing the information.

[2022-02-28 16:03] AlOneill opened #475 "Search results page: cannot close search criteria box using keyboard"
It is possible to tab to the Close neither-button-nor-link in the "When you searched for:" box, but not to operate it. Enter should close it.

If it were marked up as a `button`, then Enter or Space should close it.

If it were marked up as a link, which would be wrong because it does not have an `href`, then Enter should close it (but not Space). It is marked up using a `div` with no semantics.

[2022-02-28 17:45] DeniseColbert commented on #515
@Vino-S will look at the code for FreeREG and see if it can be taken over to CEN & BMD2

[2022-02-28 17:48] DeniseColbert commented on #518
@Vino-S will make this change

[2022-02-28 20:06] AlOneill opened #476 "Search form: unable to scroll options in County select"

[2022-02-28 20:31] AlOneill commented on #476
I can scroll in the District select box but not the County box which makes it almost impossible to select more than one County.

Also, keyboard navigation with multiple selections does not seem to work. Maybe I have forgotten how to do it??

BTW, I've never tried to select multiple items from a select box using a screen-reader — I have no idea how to do that and will need to do some reading first

[2022-03-01 14:40] DeniseColbert commented on #268
Sort order is currently latest to earliest but should be earliest to latest per FreeBMD1

[2022-03-02 11:35] DeniseColbert opened #477 "Consider replacing Donate button on results pages with Donate CTA design"
Instead of:

![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/58024870-51b0-4ecf-8d74-2a20d6701c07)

Use design similar to:

![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/9b65f8bf-08d8-442c-a0fd-9ea34cd112eb)

[2022-03-02 17:50] Captainkirkdawson commented on #478
corrected

[2022-03-02 18:22] PatReynolds commented on #478
Still to be corrected on FreeBMD2

[2022-03-02 18:43] PatReynolds commented on #478
Resolved now on FreeCEN and FreeREG, still needs addressing on FreeBMD.

[2022-03-03 14:24] DeniseColbert opened #479 "Consistent use of "Surname" on search form"
The field is labelled "Surname", and this is also used in the Help pages. However, in the Additional search options, we're using Last Name:

![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/1468755c-25f0-4dff-9f58-ea5fb2661320)

Should we change this to "Surname"?

[2022-03-03 14:40] DeniseColbert opened #480 "Error message upon searching"
Some of the searches I'm doing are returning this error message

![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/1a7d7729-e0aa-4490-941b-535696a43c40)

E.g. searching for a birth for *akinkunle in Greater London (looking for the Smith-Akinkunle in FreeBMD1)

![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/e625fdb2-b264-4f8a-ada7-4720a18fd8de)

[2022-03-03 15:06] PatReynolds opened #481 "Choose way of describing the parts of personal names and use throughout"
There are a variety of terms used for the parts of a name throughout the site.  I suggest (for discussion) we standardise as:

FAMILY NAME (aka known as surname or last name) and GIVEN NAME (also known as first name, first names, first and middle name, first and middle names).

Given names can then be specified as 'first given name' or 'middle given name(s)'

[2022-03-03 16:00] PatReynolds commented on #383
Example of finding Contains (Surname)
a search for Alex STONE finds Alex STONE, Alexandra STONEY, and Alexis STONESTREET

Example of finding Ends With
a search for Mary COLE finds Mary COLE, Mary SEACOLE, and Mary WELLS-COLE
Field finds FIELD, OLDFIELD and WAKEFIELD

In Middle Name or Surname
[FreeBMD keeps crashing out - will try and answer this one tomorrow]

[2022-03-04 16:52] AlOneill commented on #477
I do not know what CTA stands for. I would need to be convinced that it is fully accessible.

What is wrong with the current donate button?

[2022-03-05 01:38] AlOneill commented on #383
@PatReynolds thank you.

Do you want us to put all surnames in upper-case? Or was that force of habit?
Bear in mind that the letter casing of surnames (and first names!) is all over the place in the Index itself and so also in Search Results and Entry Information.

[2022-03-07 12:15] #149 closed

[2022-03-07 12:15] Vino-S commented on #149
Google Analytics code now added.

[2022-03-07 15:57] PatReynolds commented on #214
The CIO needs to stay in the Data Protection paragraph because it is part of our legal name.  Otherwise, good to go.

Two versions now of how do I submit a correction - need melding and finishing.

[2022-03-07 16:15] PatReynolds commented on #397
"Personal use only" seems not to have been on FreeBMD1.  Please delete this line.

[2022-03-07 16:22] PatReynolds commented on #303
We no longer have to add the code - Google will serve the consents once I press the 'go' button, but this will be applied to _all_ FreeBMD sites, there is  no way to restrict it to Beta.

[2022-03-07 16:33] PatReynolds commented on #10
Asked again - Ticket ID: 4-2903000032475.

[2022-03-07 17:12] PatReynolds commented on #445
Pat to re-record as sound quality not good enough.

[2022-03-07 17:17] richpomfret commented on #445
To also go with Vino's suggestion and just have 'Bakewell'.

[2022-03-07 17:20] richpomfret commented on #303
To test out first with FreeCEN.

[2022-03-07 17:29] PatReynolds commented on #383
@PatReynolds to specify how the given name(s) and family names(s) should be layed out on this page.

[2022-03-07 17:30] PhilipClarke712 commented on #214
If my memory serves me correctly - the request came via email and is not on this story, Alison has the "master version" of  https://test3.freebmd.org.uk/cms/about/draft-frequently-asked-questions-ao-remix on her Mac; and the version on Refinery was to be updated by **over-writing** using the version from the Mac. It was for that reason. I was asked not to edit text of the Refinery page, other than

[2022-03-07 17:32] richpomfret commented on #397
@DeniseColbert to review.

[2022-03-07 17:34] richpomfret commented on #437
Done so closing.

[2022-03-07 17:34] #437 closed, assigned to nobody

[2022-03-07 17:34] richpomfret commented on #439
Also completed.

[2022-03-07 17:34] #439 closed, assigned to nobody

[2022-03-07 17:35] richpomfret commented on #438
Completed so closing.

[2022-03-07 17:35] #438 closed, assigned to nobody

[2022-03-07 18:01] richpomfret commented on #480
Discussed changing the text or forcing user to select District in search - decided upon changing the error text. @DeniseColbert to investigate next steps/text.

[2022-03-07 18:01] #479 closed, assigned to nobody

[2022-03-08 11:13] PatReynolds commented on #10
Andwer "you can use skiplinks as long as these are in compliance with the AdSense Ad placement policies" - which they are.

[2022-03-08 12:02] DeniseColbert commented on #480
Draft text in this document, for all projects: https://docs.google.com/document/d/1QObP5k0KrEK2IYvq4d4Od8uuy_E8jZJ9UggEJugXNWc/edit?usp=sharing

[2022-03-08 21:51] AlOneill commented on #481
@PatReynolds I think we need to see and hear a page such as "Additional search options" converted to use the proposed nomenclature. It is much easier to assess an actual thing, rather than assess an idea.

So, I'll prepare a version of "Additional search options" for that very purpose.

[2022-03-09 15:33] AlOneill commented on #481
[DRAFT Additional search options, using proposed terms](https://test3.freebmd.org.uk/cms/help/draft-additional-search-options/draft-additional-search-options-proposed-terms) is now on t3. I encourage the team to read the page and give brief feedback — do the proposed terms work for you?

Note that the text assumes that the search form input labels have also been updated as per.

I need to listen t

[2022-03-10 13:42] DeniseColbert commented on #480
@Captainkirkdawson does putting in a date range on REG slow the search?

[2022-03-10 13:59] DeniseColbert opened #482 "Red-text error message above search form isn't accessible"
Screen readers probably aren't alerted - to be checked
Visually impaired users could easily miss this - no indication that error message has appeared

[2022-03-10 14:18] DeniseColbert commented on #480
Actually, this seems more like a Timeout error? If so, we'll need to show the appropriate message for this type of search.

The "Too many results" issue needs a new story - will make it now.

[2022-03-10 14:22] DeniseColbert opened #483 ""Too many results" page needed."
We need a Too Many Results page, with the FreeBMD2 text from page 2 of https://docs.google.com/document/d/1QObP5k0KrEK2IYvq4d4Od8uuy_E8jZJ9UggEJugXNWc/edit?usp=sharing

[2022-03-10 14:31] DeniseColbert commented on #483
We are not telling users that their search has returned too many results.
Also, users seem to hit a ceiling of just under 3000 records with no transparency as to why the subset of results are chosen to be displayed, which makes it look like the dataset could be complete (but it isn’t, and we’re not alerting them).

[2022-03-10 15:25] Captainkirkdawson commented on #480
@DeniseColbert Yes but not too much

[2022-03-11 00:40] AlOneill commented on #482
I have not checked the issues given in the description, but I have discovered another:
The contrast ratio of the red error message on a white background is too low at 3.99:1. We should use our accessible red, `$red` for all such messages.

[2022-03-16 00:12] AlOneill opened #484 "Refinery will not save page"
Tried several times to save a page, but got this on Save:

![2022-03-16-refinery-will-not-save.png](https://images.zenhubusercontent.com/5ce6b34165b1a70acc0a9124/51de2902-ef99-4c8a-bde8-2d05b30d0bdf)

Could not find a (known) issue with the page content.

[2022-03-16 15:21] AlOneill commented on #484
Working today, so closing.

[2022-03-16 15:22] #484 closed, assigned to nobody

[2022-03-16 15:34] AlOneill commented on #474
Draft version of re-write done: https://test3.freebmd.org.uk/cms/help/draft-more-about-searching

Ready for review.

[2022-03-21 12:45] PatReynolds commented on #214
Thanks, Philip,

We need to decide whether to continue to work on the 'or remove' items (i.e. put in for beta, but take out for initial testing), and check that everything else is now complete for beta

[2022-03-21 12:49] PatReynolds commented on #383
Maybe say "familly names in the examples below where it is important to distinguish given and family names are in *bold* [or some other distinguishing feature].

Maybe add a video so there is an oral description of these features (maybe it only is relevant for search-by-middle-or-familyname?)

[2022-03-21 12:52] PatReynolds opened #485 "Random results returned to a maximum"
We are not telling users that their search has returned too many results.
Also, users seem to hit a ceiling of just under 3000 records with no transparency as to why the subset of results are chosen to be displayed, which makes it look like the dataset could be complete (but it isn’t, and we’re not alerting them).

Subset are random - do not cut off at a certain date, certain alphabetic name seque

[2022-03-21 12:55] PatReynolds commented on #483
I have moved your comment to a new story, Denise.
Remaining to be resolved: is it true that date range should be last in the list (see Alison's comments - do you know @Vino-S
Do we also want to suggest restricting date range to most likely dates?

[2022-03-21 14:44] AlOneill commented on #383
@PatReynolds That does not sound accessible to a screen reader user.

[2022-03-21 16:18] AlOneill commented on #418
See #474 and https://test3.freebmd.org.uk/cms/help/draft-more-about-searching for the full details of how wildcard searching works somewhat differently for First Names and Surnames.

[2022-03-21 17:08] PatReynolds commented on #383
Pat to try a text re-write for clarification of the parts of the name in examples.

[2022-03-21 17:10] PatReynolds commented on #214
To review in Documentation

[2022-03-21 17:15] PatReynolds commented on #474
@PatReynolds and @DeniseColbert to review

[2022-03-21 17:18] PatReynolds commented on #480
@AlOneill to send @Vino-S a screenshot.

@AlOneill will send a link to accessibility of error messages

[2022-03-21 17:20] PatReynolds commented on #215
@Vino-S to set up a mail system for BETA - to go to DATA -Cord role role.

[2022-03-21 17:24] PatReynolds commented on #483
Vino suggests on FreeBMD2 First option should be date as not everyone will be aware of District or County.

@PatReynolds to ask @Captainkirkdawson whether the advice is relevant only for MongoDB, not the Mysql of FreeBMD.

[2022-03-21 17:42] PatReynolds commented on #485
Eg. a search of John Smith, any place, any date (whole database) and the same search restricted to Lancashire both return just below 3000 records.  There is no error warning.

@PatReynolds to ask Trustees with knowledge of FreeBMD for their advice

[2022-03-21 17:44] PatReynolds commented on #482
@PatReynolds to check what the screen reader user hears

@Vino-S to change to tha accessible red

[2022-03-21 17:55] PatReynolds commented on #476
@PatReynolds to test to see how it is working at the moment.

[2022-03-21 17:57] Captainkirkdawson commented on #483
@PatReynolds I have no idea how FreeBMD handling a max out; I know they have one of 3000 nor how you are going to capture that in FreeBMD2
![maxout](https://user-images.githubusercontent.com/2874694/159334844-015dac25-2100-4ed5-8716-e2c411e692a2.png)

[2022-03-21 18:00] PatReynolds commented on #475
Has to be implemented as a button. Enter and space should operate it. Enter is the most important.

[2022-03-21 18:04] PatReynolds commented on #483
Thanks @Captainkirkdawson will ask those who know the MySQL way of handling searches.

[2022-03-21 20:01] AlOneill commented on #476
@PatReynolds
**Update**: Chrome and Safari are fine, but the County box will not scroll on Firefox. It might be because the OS on my laptop is no longer supported and my Firefox version is an 'Extended support release' . I'll have to get a new laptop anyway (for a number of reasons), so maybe this is not an issue on a supported OS. [sigh]

[2022-03-21 20:06] AlOneill commented on #156
Note that it is possible to get to the year by typing in the year fields — a user does not have to scroll.

[2022-03-21 20:20] AlOneill commented on #480
@Vino-S have sent link to accessible notifications by email.

Tried to set up the screenshot, but with no success. (What on earth did I do before?)

[2022-03-24 17:59] AlOneill commented on #214
As agreed in Documentation meeting, have replaced or added text from https://docs.google.com/document/d/1Gf0zlAYSA31s70e9_dDqZuc8qxzhPG5NXP0N2m5LHkA/edit#  to https://test3.freebmd.org.uk/cms/about/draft-frequently-asked-questions-ao-remix

Have not updated "On this page".

@PatReynolds is there anything else to to add or replace before we copy the page and make ready for testing?

[2022-03-25 10:29] PatReynolds commented on #214
Please remove "How can I correct errors in the G.R.O. Index?" from the 'for testing' version - needs Contact to be finalised, so "For Beta" version.

I added the image for postem sysmbol on HCDents birth page.  Is it still the "expanded information page"?  or should "expanded" be deleted???

[2022-03-25 10:32] PatReynolds opened #486 "Cannot find marriage potential partners (link from the Entry Information to the entries for the page in question broken)"

[2022-03-25 14:48] AlOneill commented on #214
Have added "For BETA" to heading.

When the postem icon is selected, the page reloads with a new section below the form. So yes, the page does get expanded and the extra content might not be apparent unless a user knows to look for it. Perhaps 'expanded' is not the best description, but something needs to be said!

[2022-03-26 16:00] AlOneill commented on #214
@Vino-S The page states that BMD2 is "currently using the database as of 29 Jun 2021". It would be more useful to be able to say something like, "the BMD2 database is updated every ?? and is only ?? weeks/months behind that of BMD1." Is that possible to say?

[2022-03-26 16:16] AlOneill commented on #214
@PatReynolds there is a sentence in [Are the G.R.O. already computerising the indexes?](https://test3.freebmd.org.uk/cms/about/draft-frequently-asked-questions-ao-remix#groComputerise)  that has me baffled. Are you able to explain what it is trying to say:
"FreeBMD contains both the transcript to post-1983 records as well as copies of scans taken from the micro-fiche indexes."

[2022-03-30 15:16] AlOneill opened #552 "Consider making "Top of page" link available for all users, for the sake of keyboard-only users"
As far as I know, there is no easy and reliable way for a keyboard-only user to get back to the top of the page. Using Cmd + up-arrow on a Mac or its equivalent on Windows moves the screen view but does not move the focus — the next press of tab would take a user back to the next link beyond last element that had focus. A hard reload of the page takes 3 simultaneous key presses which cannot be pra

[2022-03-31 15:27] PatReynolds opened #487 "Update text on home page"
Place as Message of the Day
Please be aware that this is a test development website for FreeBMD. The database is not updated. It should be used by developers and testers only. It should not be used by the public. For access to our records please visit the original FreeBMD site.

Change to two lines (beak after "testers").

Then needs deployment to beta.

[2022-03-31 16:30] AlOneill commented on #487
Message updated on t3. Ready for sync to Beta.

[2022-04-04 13:04] PatReynolds commented on #214
Are the G.R.O. already computerising the indexes? is to be re-written for Beta.  Sory, I didn't mark it up to say that.

[2022-04-04 13:07] PatReynolds commented on #474
Looks fine, thank you @AlOneill

[2022-04-04 13:26] PatReynolds commented on #418
I think we could replace
"Use the wildcard search feature: type a few letters and use a star (an asterisk) for the others. For example, looking for Lucie, or maybe Lucy? Type Luc* and you will find both. Looking for Stephen or maybe Steven? Type Ste*en and you will find both.
"A search for Ann will find Ann, Anne, Annie, Ann M, Annie E and so on. Ticking the “Exact match on first names” box will m

[2022-04-04 13:29] PatReynolds commented on #482
@DeniseColbert how do I generate the error message?  (i.e. what mistake needs to be made)

[2022-04-04 13:46] Vino-S commented on #482
@PatReynolds
One way: Age at Death : Age Range: We can enter max age less than min age

[2022-04-04 14:03] Vino-S commented on #478
Ready for testing in test3

[2022-04-04 14:03] Vino-S commented on #475
Ready for testing in test3

[2022-04-04 14:03] Vino-S commented on #444
Added back button and ready for testing in test3

[2022-04-04 14:04] Vino-S commented on #445
Ready for testing in test3

[2022-04-04 14:04] Vino-S commented on #268
Ready for testing in test3

[2022-04-04 14:04] Vino-S commented on #459
Ready for testing in test3

[2022-04-04 14:09] PatReynolds commented on #485
Emailed 4 April 2022

[2022-04-04 14:17] PatReynolds commented on #383
Would a table be better, or throughout use

First name Jane family name Jones
First name Jane family name Jones-Prentice
First names Jane Alice family name Jones
First names Jane P family name Jones

[2022-04-04 14:49] AlOneill commented on #418
@PatReynolds
My screen reader announces your proposed text as:
Use the star [pause] symbol called star or asterisk as a willed crd. … For example A star n [pause] A [short pause] star N [short pause] finds Ann … We have underscore further information on using willed crds.

Even if the _ was a typo, I think the text could be improved. 'Wild card' instead of wildcard. 'Use the * symbol (the asterisk

[2022-04-04 14:54] AlOneill commented on #478
Corrected on BMD t3. Thanks, @Vino-S

[2022-04-04 15:03] AlOneill commented on #475
Can now close with either Space or Enter. Thank you, @Vino-S

Did notice though that if one uses 'Tools' to see the full 'About this query' info, there is no option to go back to results, so had to 'Revise search' and repeat the search.

[2022-04-04 15:06] Vino-S commented on #475
Thanks for testing @AlOneill

_Did notice though that if one uses 'Tools' to see the full 'About this query' info, there is no option to go back to results, so had to 'Revise search' and repeat the search._

We have a back button in 'About this query' page

[2022-04-04 15:10] AlOneill commented on #475
Oops, missed that! Apologies, @Vino-S

[2022-04-04 15:14] AlOneill commented on #459
The text ' (opens in new tab)' should be part of the link-text, unless we are moving on … ?

[2022-04-04 15:24] PatReynolds commented on #306
Fixed a couple of things, asked about the early roles.

[2022-04-04 15:43] PatReynolds commented on #10
Focus never goes to adverts on test3?

On Beta, goes, but it is  not clear what the focus is.

[2022-04-04 15:53] PatReynolds commented on #448
Associated Help FAQ is Beta (phase 4).

[2022-04-04 16:07] PatReynolds commented on #444
@PatReynolds to test

[2022-04-04 16:08] PatReynolds commented on #445
@PatReynolds

[2022-04-04 16:08] PatReynolds commented on #268
@PatReynolds to test

[2022-04-04 16:13] PatReynolds commented on #459
' (external link)' should be part of the link text

[2022-04-04 16:14] PatReynolds opened #488 "Change opening of links to all within tab"
Remove the 'opens in new tab'  text and target.

[2022-04-04 16:15] PatReynolds commented on #488
App pages need to be discussed individually (e.g. reporting a problem may need a new tab)

[2022-04-04 16:21] PatReynolds commented on #474
Do not use wildcard: use wild card or wild-card (Pat to check wit NVIDIA to see if both acceptable, but wild card is preferred).

[2022-04-04 16:28] PatReynolds commented on #418
@AlOneill to change text, and let @PatReynolds to see if NVDA and @DeniseColbert see if Narrator can understand it

[2022-04-04 16:37] PatReynolds commented on #383
@PatReynolds to make sure this is the only case where it is needed, so examples are

First names Jane Prentice surname Jones
First names Jane surname Prentice Jones

[2022-04-04 16:41] DeniseColbert commented on #397
Reviewed. Please go ahead and implement the mock-up, but replace the final paragraph with this text:

Thank you for reporting a possible error in our transcription. [BOLD]  **We will change our transcription if we agree with your interpretation of the source document we transcribed** [BOLD]. Please let us know the image number, if you found it on FreeBMD.

If you have found a clearer image which w

[2022-04-04 16:59] PatReynolds commented on #473
@PatReynolds to ask stackoverlow

[2022-04-04 23:49] AlOneill commented on #418
[DRAFT Help](https://test3.freebmd.org.uk/cms/draft-help) updated with suggested text. It sounds pretty good in VoiceOver.

@PatReynolds @DeniseColbert  How does it sound when read by other screen readers?

[2022-04-05 00:01] AlOneill commented on #474
DRAFT page updated using 'wild card' and 'G.R.O.'

Also removed instances of target="_blank" and adjusted link text accordingly.

[2022-04-05 10:27] DeniseColbert commented on #418
Sounds good in Narrator. It doesn't communicate that info is in brackets, but that could be a setting I've not changed.

[2022-04-05 13:40] AlOneill commented on #418
@DeniseColbert thanks. Sound.

No, punctuation is not read out by default — brackets count as punctuation — but it does generate helpful pauses. Hearing every bit of punctuation announced is (or should be) possible but it is not pleasant. That is why we have to be wary of attaching meaning to punctuation per se.

As long as you hear that the asterisks, or stars, are there, we can count that as a p

[2022-04-07 13:48] DeniseColbert commented on #418
@AlOneill it reads * as "asterisk". Just realised upon a second listen, the "A*n" bit is blurred, I think it reads it a bit too fast, but could be something a screen reader user's ears are more used to than my own.

[2022-04-07 13:52] AlOneill commented on #418
@DeniseColbert yes, and the reading speed is (or should be) adjustable to suit the user. Some users can make sense of content read at ridiculously high speeds.

[2022-04-09 06:22] PhilipClarke712 commented on #214
<!--
/* Font Definitions */
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
/* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
a:link, span.MsoHyperlink
	{mso-style-priority:99;
	color:blue;
	text-decoration:underline;}
.MsoC

[2022-04-09 16:38] AlOneill commented on #214
Links that would've opened in a new tab now updated to open in the same tab.

Page copied to https://test3.freebmd.org.uk/cms/about/draft-frequently-asked-questions-for-testing and edited for testing phase.

[2022-04-10 12:27] PhilipClarke712 commented on #214
@AlOneill

The FreeBMD1 update runs on a 28-day, 'Lunar cycle', but there appears to be some variation in the length of the process. So the switch-over date of the database might differ from precisely 28 days. So, there are (usually) 13 updates per calander year, not 12.

In respect of FreeBMD1, we are given on the 'landing page' the date of the last database update (Wed 6 Apr 2022) and by going o

[2022-04-11 14:16] AlOneill commented on #214
@PhilipClarke712 thanks for the info. Yes, we should have a way of letting users know when the database is updated, in due course. Pat wants to re-write that answer for BETA, leaving it out for testing. We do not yet have anything set up for updating the database regularly.

[2022-04-26 15:51] Vino-S commented on #423
Ready for testing in test3

[2022-04-26 15:52] Vino-S commented on #482
Updated changes in test3

[2022-05-03 11:10] PatReynolds commented on #482
Starts to read page with "Alert level list " perhaps more user-friendly text should be read out (e.g. "There is a problem with your search - details are given below".

Then goes through the various icons/menu as usual, then says "Grouping Error List" and then the text of the alert.  I am  not sure if this phrase is quite right: does it imply a html list?  I'm assuming that "Grouping" is a technica

[2022-05-03 11:15] PatReynolds commented on #444
Back button is at the top (where is not needed, as it is close to the 'Records' button - please move to bottom.

[2022-05-03 11:22] PatReynolds commented on #445
On NvDA I now hear "Bakewell 1839 on",  in the table which is fine (not sure why 'information about was needed.

District detail page reads out "District information Bakewell" (the text) - again seems fine.

[2022-05-03 11:35] PatReynolds commented on #268
sort by district failed
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/16493d9c-69f8-4a59-b9f5-755d5b532358)

sort by first name sorted Z-A, A-Z would be expected. Pressed 'update results" again and sorted A-Z

Sort by last name also sorted Z-A first.  I like that it also subsorts by first name. Search used was:
![image.png](https://images.zenhubusercontent.com/5b695a5d

[2022-05-03 11:44] PatReynolds commented on #418
Reads fine in NDVA - it was very quick but I think it warned me that "asterisk will be read as star".

[2022-05-03 12:48] AlOneill commented on #482
@Vino-S The red used for error messages now uses our accessible red — thank you.

@PatReynolds The text, "Alert level list" and "Grouping Error List" is generated by the the screen reader software and we cannot change that.

However, we can improve any text that is visible on the page (and is announced to a screen reader user). For instance, this can be improved to avoid using 'prohibited' and 'pr

[2022-05-03 15:01] PatReynolds commented on #485
Ben replied 4th and 11th April.

[2022-05-03 15:09] PatReynolds commented on #383
I think middle name/surname searches are the only ones where it would be necessary to identify the name parts with words.

[2022-05-03 15:10] PatReynolds commented on #474
In NVDA wildcard, wild-card and wild card are all pronounced exactly the same.

[2022-05-03 15:13] PatReynolds commented on #448
Should this story be renamed "Associated Help Page", and placed into Phase 4?

[2022-05-03 16:07] PatReynolds commented on #423
@DeniseColbert

[2022-05-03 16:14] DeniseColbert commented on #423
I can't see changes in Test 3

It's still 'Printable Format' in the Tools menu:

![image](https://user-images.githubusercontent.com/19173257/166492822-88ed72f7-7930-426c-aeee-9d8ed778b76f.png)

And there's nothing about Printing on the resulting page:

![image](https://user-images.githubusercontent.com/19173257/166493086-11f946e8-2760-435b-943e-0dc76975640d.png)

[2022-05-03 16:19] PatReynolds commented on #482
To discuss at Documentation meeting.  @Vino-S to send texts used in the error message.

[2022-05-03 16:22] PatReynolds commented on #474
@AlOneill is this now ready to be deployed?

[2022-05-03 16:23] PatReynolds commented on #485
@Vino-S to investigate

[2022-05-03 16:32] PatReynolds commented on #480
504 Gateway Timeout on FreeBMD1, so "error" is not with FreeBMD2.

Error message needed.

[2022-05-03 16:33] PatReynolds commented on #474
Add in danger of searching for a surname starting with a wildcard (may well time out).

[2022-05-03 16:39] PatReynolds opened #489 "Add adverts to Beta"
First phase of implemention: Make Beta mirror FreeREG in terms of advertising

[2022-05-03 16:45] PatReynolds commented on #486
eg link to https://beta.freebmd.org.uk/62715b989c5d614a4b480ccc/689360/same_page_entries?district=Malton&locale=en&page=311&quarter=5&record=3&volume=24

Search for Alcock marriage, North Yorkshire Jan to Mar 1838

[2022-05-03 16:47] PatReynolds commented on #486
Same search in 1929 worked (spouse name).

[2022-05-03 16:49] PatReynolds commented on #477
Wait to see results of testing.

[2022-05-03 16:50] PatReynolds commented on #476
@DeniseColbert to test with firefox.

[2022-05-03 16:51] PatReynolds commented on #472
@PatReynolds to see what is in FreeBMD1

[2022-05-03 20:02] AlOneill commented on #474
@PatReynolds  the 'danger of searching for a surname starting with a wild card' is already included.

Page is now sync-ready.

[2022-05-03 20:16] AlOneill commented on #476
@DeniseColbert now working so closing

[2022-05-03 20:16] #476 closed, assigned to nobody

[2022-05-06 13:38] AlOneill commented on #482
@PatReynolds I replied rather too hastily: 'Grouping' is announced because the errors are grouped in a `fieldset` element and 'Error List' is the content of the `legend` element. (You probably realised that but are too polite to call me out.)

'Alert' is what I would expect — it is useful information. I'll comment further once I've listened to the full experience. However, I have my doubts about t

[2022-05-06 13:45] AlOneill opened #490 "Search form — fix inappropriate use of label elements for date inputs plus the group of checkboxes for record type"
HTML label elements and form inputs (fields) should be linked together in pairs. For those who can see the form, failure to do this is not an issue. However, for those who rely on screen reader software to interpret the form for them, such failures are confusing at best.

We are using HTML labels to describe groups of form inputs which does not work for a user who cannot see the form. The HTML ele

[2022-05-08 15:12] AlOneill commented on #482
When I filled in the search form on Safari and submitted it whilst using VO, I noted that:

* at no point did I hear the word 'alert' (!)
* the listing of Form Controls appends the error message to the correct input **but** if I work through the form, the error message is not mentioned (having two label elements for the same input is considered an error)
* it felt awkward to navigate to the field

[2022-05-08 22:49] AlOneill commented on #490
**Looking at the group of checkboxes headed by 'Record Type':**

The main problem is the label element, Record Type, that does not have an associated input. It is the wrong element for the task of identifying a *group* of checkboxes.

I suggest that we follow the markup pattern used on REG:

* use a `fieldset.choices` immediately inside the `li` that holds "Record type" plus the checkboxes — the c

[2022-05-12 21:28] AlOneill commented on #482
Looking at the VO issue I've found out that VO only responds to `role="alert"` if the alert content changes _after_ the initial page load. (I believe that this is what the specs say should happen.)

Experimenting with a local mock-up of a page with errors, I discovered that if I used a little JS to update the alert _after_ the page loads, VO would then respond by immediately announcing the full co

[2022-05-16 15:06] PatReynolds commented on #214
THE 'is the GRO computerising' needs to be removed (not needed for initial testing) and the references to it removed - I think a 'needed for beta version needs to be made before I start doing this work on the AO draft.

[2022-05-16 15:32] PatReynolds commented on #473
Draft text sent to @AlOneill 15 May 2022

[2022-05-16 16:22] richpomfret commented on #423
@Vino-S can you check this again? Denise could not find the updates you mentioned.

[2022-05-16 16:24] #81 closed

[2022-05-16 16:24] richpomfret commented on #81
Closing - story now redundant.

[2022-05-16 16:25] richpomfret commented on #383
Added to documentation meeting to be reviewed/discussed.

[2022-05-16 16:27] richpomfret commented on #459
@Vino-S can you update as appropriate (as per Pat's comment about putting in 'external' link). Please ask for clarification if required.

[2022-05-16 16:35] richpomfret commented on #268
@Vino-S please take a look and fix when possible.

[2022-05-16 16:52] #238 closed, assigned to KatyMawhood, Daniel-silve1ra

[2022-05-16 16:54] #236 closed, assigned to KatyMawhood, Daniel-silve1ra

[2022-05-16 16:55] #235 closed, assigned to KatyMawhood, Daniel-silve1ra

[2022-05-16 16:55] #234 closed, assigned to KatyMawhood, Daniel-silve1ra

[2022-05-16 16:55] #233 closed, assigned to KatyMawhood, Daniel-silve1ra

[2022-05-16 17:02] #351 closed, assigned to richpomfret

[2022-05-16 17:04] #349 closed, assigned to richpomfret

[2022-05-16 18:58] PhilipClarke712 commented on #214
Hi @PatReynolds ,
I think this was done by Alison last week. It appears to be https://test3.freebmd.org.uk/cms/about/draft-frequently-asked-questions-for-testing
The AO draft page is https://test3.freebmd.org.uk/cms/about/draft-frequently-asked-questions-ao-remix and that still has highlighted comments on it.

[2022-05-17 12:26] AlOneill commented on #214
@PatReynolds we need to be very careful here. The page that I prepared for testing (and which is still a draft as it has not been signed off for content) will become the page that any further drafts are based on. We do not want to lose the edits made to that page (such as 'G.R.O.' for 'GRO') when the outstanding questions are ready to be put back in.

So, I will promote https://test3.freebmd.org.u

[2022-05-17 13:01] PhilipClarke712 commented on #214
@AlOneill , When the above issue dropped into my in box, my first thought was simply to make a copy of  https://test3.freebmd.org.uk/cms/about/draft-frequently-asked-questions-ao-remix  and just remove the 'is the GRO computerising'  section and all  the on-page hyperlinks to it; and then move the a0-remix into the archive folder.
However, the test version is a 'better page', in so far it has less

[2022-05-17 13:48] AlOneill commented on #214
FAQ for testing now published on t3 as [Frequently asked questions](https://test3.freebmd.org.uk/cms/about/frequently-asked-questions), together with a link from the About page, and is sync-ready.

Next I'll add the FAQ that need further work to a copy of the published page — that way nothing should be lost.

@PhilipClarke712 you are correct in that it is all too easy to create a muddle when more

[2022-05-17 14:22] PhilipClarke712 commented on #214
@AlOneill, It not really the same page. That original  FAQ page was written based on what is do-able now on FreeBMD1, but modified to remove what is not do-able on test3 - things that are not yet implemted - and to take account of the different (to FreeBMD1) tools / facitilies provided on test3. It was also written on the basis that what was being provided in FreeBMD2 was 'in effect' a new front-e

[2022-05-17 15:07] AlOneill commented on #214
@PatReynolds We now have a DRAFT version of the FAQ (About) page that is a copy of the published page plus the additional FAQ required for BETA:
https://test3.freebmd.org.uk/cms/about/frequently-asked-questions/draft-frequently-asked-questions-for-beta

I'll leave it to you to let me know when this new draft is ready for accessibility checking. Thanks!

[2022-05-17 15:29] PatReynolds commented on #214
I think it would be helpful to have one page titled for Initial Testing and one for Beta - rather one AO remix and one that has no mention of its relationship to the AO remix (if I've got them the wrong me round, it doesn't matter if they hve IT and Beta (or Phase3 and Phase4 as their names.

Then I can check the Initial Testing / Phase 3 version, which is, I think, what you are asking.

[2022-05-17 15:47] AlOneill commented on #214
@PatReynolds Ah, I made the decision to get on and publish as the draft had been waiting for over a month. The page intended for initial testing is now the published page (on t3):
https://test3.freebmd.org.uk/cms/about/frequently-asked-questions
You might've already checked the page.

There is a link to this FAQ page from About.

The page that is awaiting editing for beta is:
https://test3.freebmd

[2022-05-18 09:47] PatReynolds commented on #483
As adding county or district is the hardest, I've left it last, but moved date below type.

[2022-05-18 20:02] PhilipClarke712 commented on #306
Hi @PatReynolds
I have started to add material to this draft page for the first ten years of FreeBMD.  I am developing / expanding it as a 'rough edit'; and after that I was intended to edit and clean it up as 'a block'. Then move onto the next ten years.
(1) I would like to make use of the old FreeBMD logo as a image on a page in three different font sizes, because the BMD1 History page states th

[2022-05-19 09:57] PatReynolds commented on #383
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/c518411c-217e-4ff1-9b84-73b40979359a)
Search for Bowes Lyon in surname, 1925, on middle or last name 'other' option.
Finds: any first names + surname =
Bowes
Lyon
but not any  Bowes Lyon

Is this expected @Vino-S ?  I would expect to find only people with the surname Bowes Lyon or Bowes-Lyon, and people with a middle name o

[2022-05-19 10:32] PatReynolds commented on #306
Hi @PhilipClarke712 ,

(a) the "font size" (I think like this too!) is now very much set by the screen size / user,  but I think what you want to show the public is the change in the graphic design in terms of fonts, colours, shapes and relative sizes - so the font size doesn't need specification.
(b) https://www.freebmd.org.uk/980926.html should certainly have a place in History - as a link, as a

[2022-05-19 12:02] PhilipClarke712 commented on #306
Hi @PatReynold,
Sorry: the words have got in the way.

For (a) I would like to use either one BMD logo, or three logos in a staggered column - small medium and large if they need a description.  As you correctly state, the size will change depending on what device the page is displayed - but the ratio of the these will be 1:2:4

![3 BMD](https://user-images.githubusercontent.com/67054943/169283308

[2022-05-19 14:33] PatReynolds commented on #482
Not working with screen reader because page is reloading with the alert already in place.

Screen readers are designed to immediately go to alerts as they appear - so if, e.g. the user gets a low battery warning, or an approaching tornado warning, they hear about that immediately.

Could you take another look at implementing this, @Vino-S

[2022-05-19 14:35] PatReynolds commented on #405
No easy fix, so placing on ice until later

[2022-05-19 14:45] DeniseColbert commented on #10
Initial skiplink is due for beta and the rest can be done for a later phase

[2022-05-20 13:33] PhilipClarke712 commented on #306
Hi @PatReynolds ,
I've slightly renamed the file, It can be found at https://test3.freebmd.org.uk/cms/about/draft-freebmd-history-expanded-reworked
I've added more material about starting up the project. It only reaches the test system going live in December 1998, and then there is a gap to 2008. The page has not been spell checked yet; the grammar will need improvement; and I may well move pieces

[2022-05-22 10:08] PatReynolds commented on #79
Is this still needed?

[2022-05-22 22:47] Vino-S commented on #518
Ready for testing in test3 CEN

[2022-05-22 22:48] Vino-S commented on #515
CEN: Ready for testing in test3 CEN

[2022-05-23 12:45] AlOneill commented on #518
@Vino-S looks good in t3 CEN — thank you.

[2022-05-23 13:11] AlOneill commented on #515
@Vino-S looking good, but should be cased as "FreeCEN" rather than "FREECEN" and I'm not sure that app pages have the most useful `title`s — I will need to make a more thorough check.

[2022-05-23 16:09] DeniseColbert commented on #515
Vino will fix casing

[2022-05-31 16:06] PatReynolds commented on #79
Not needed now, so closing.

[2022-05-31 16:06] #79 closed

[2022-05-31 16:10] DeniseColbert commented on #488
https://docs.google.com/document/d/1gIPUTeU9OhdrW3mWTIHO05hO646npTqjXkkizfTKrhk/edit

[2022-05-31 16:14] PatReynolds commented on #488
@PatReynolds to reply to Philip's comments.

[2022-06-06 16:15] PatReynolds commented on #515
Done now on FreeCEN, but casing needing attention.

[2022-06-13 13:39] #478 closed, assigned to Vino-S

[2022-06-13 13:39] #475 closed, assigned to Vino-S

[2022-06-13 16:12] richpomfret commented on #383
@Vino-S can you take a look when you can?

[2022-06-13 16:14] richpomfret commented on #471
To review/see if still required.

[2022-06-13 16:15] richpomfret commented on #485
@Vino-S can you take a look at this over the next sprint (time allowing)?

[2022-06-13 16:28] DeniseColbert opened #491 "Send Initial User tests"
... to mailing list, with info: similar to "By testing the Beta website, you consent to cookies"

- [ ] Create an email content and send out a link to the Google form to two groups of testers.

[2022-06-13 16:28] DeniseColbert commented on #491
@PatReynolds to send official words

[2022-06-23 12:45] PatReynolds commented on #448
@PatReynolds to create story for a paragraph on the contact page which is all that is needed for phase 3.

[2022-06-23 12:46] PatReynolds opened #492 "User contact journey (see story 448)"
Paragraph on the Help page
Contact us page to have similar paragraph but also form without 'Type'
Problem report/beta feedback page needs to have similar language.

[2022-06-23 12:58] PatReynolds commented on #485
See Kirk's comment on 483 - we seem to need a way of getting the database to count and trigger a fail if it goes beyond a maximum.

[2022-06-23 13:33] PatReynolds commented on #471
Records page  (needed for initial testing phase 3)
 -  [ ] Add information on progress / link to progress charts
 -  [ ]  Add title to alphabetical selection: "Further information on Districts"

District pages (needed for Beta - phase 4)
 - [ ] Present current text on link to ukBMD as a paragraph, and  link to ukBMD (using current text but nb need to include 'opens in new tab' in link text) , and

[2022-06-23 15:29] AlOneill commented on #418
Help page updates completed including improved "On this page" sub-menu. Page is now sync-ready.

[2022-06-27 12:56] Vino-S commented on #383
_Is this expected @Vino-S ? I would expect to find only people with the surname Bowes Lyon or Bowes-Lyon, and people with a middle name of Bowes and a surname Lyon._

It would find people with surnames Bowes or Lyon and People with Middle Name Bowes or Lyon. However, it will not find Surname Bowes-Lyon

[2022-06-27 14:46] DeniseColbert commented on #327
Would you like it to be available for non-members just for beta testing? It might need some tweaking?

@Vino-S if we could place a "Beta Feedback" button (or owtte) on every page, similar to the feedback button for logged-in users, that would be most excellent!

[2022-06-27 16:19] PatReynolds commented on #492
Paragraph for the Contacts us link in footer (for review and implementation):
Please bear with us as we are still developing FreeBMD2. If you have a question, please <look at our help page>. To contact us about a bug, please use the 'contact us' button on the page where the problem is.

[2022-06-27 16:29] PatReynolds commented on #482
Pat needs to understand how the focus to an alert happens.  To discuss in documentation.  Example of something that triggers the alert: search for an age range at death where first number is larger than the second.

[2022-06-27 16:32] PatReynolds commented on #480
Error message should explain use of the Surnames page to identify possible names, rather than using an asterisk.

[2022-06-27 16:36] PatReynolds commented on #423
Leave as 'printable format' but have a question in initial testing.

Consistency with FreeCEN/FreeREG needed.

[2022-07-04 16:29] PatReynolds commented on #552
Decision: add a top of the page link, as it will really benefit keyboard-only users, and will benefit everyone too, especially on really long pages.

I'm assigning you, @Vino-S but if this is something that could easily be done by  someone else, please let us know.

[2022-07-05 12:28] AlOneill commented on #515
@Vino-S Casing CEN now looks good but am not seeing update on BMD

[2022-07-07 13:03] PatReynolds commented on #518
Fixed on FreeREG and FreeCEN.

Needs deployment to FreeBMD2.

[2022-07-14 12:38] PatReynolds commented on #482
Focus moves when the Alert content is changed _after_ the has loaded. @Vino-S can you take another look at this, so the alert content is added after the page is loaded.

[2022-07-14 12:45] DeniseColbert commented on #473
@AlOneill to finish suggesting improvements to draft and pass back to Pat

[2022-07-14 12:59] #214 closed, assigned to PatReynolds, DeniseColbert, PhilipClarke712

[2022-07-14 13:01] PatReynolds commented on #411
Draft ABOUT Faq needs finishing for BETA.

[2022-07-14 13:03] DeniseColbert commented on #448
This Draft page will be reviewed in Phase 4 to ensure that all information required for FreeBMD2 is captured appropriately.

[2022-07-14 13:26] PatReynolds opened #493 "List of links on FreeBMD2 where we should advise opening in a new tab."
Discuss multimodal instances on a new story on Systemwide.

Note FreeBMD specific links to open on a new page here:
 - [ ] Report a data problem (if same page, could include the information from the previous page). New feature: return user to previous page after submitting.
 - [ ] District information (currently opens in a new tab)
 - [ ] Print page

[2022-07-14 13:36] DeniseColbert commented on #449
Has reappeared, reopening as link needs removing again (sorry @Vino-S !)

[2022-07-18 16:13] PatReynolds commented on #515
Moved to production, so closing.

[2022-07-19 11:01] AlOneill commented on #515
Still not seeing title element contents in browser tab on BMD t3 — re-opening.

[2022-07-21 13:19] DeniseColbert commented on #483
We need a Too Many Results page, and the FreeBMD2 text from page 2 of https://docs.google.com/document/d/1QObP5k0KrEK2IYvq4d4Od8uuy_E8jZJ9UggEJugXNWc/edit?usp=sharing

[2022-07-21 13:23] PatReynolds commented on #485
Could we use the count on the page (e.g. 2945 results) to trigger displaying a too many results page (#483) at a lower number, e.g. 2701 results and above? What do you think @Vino-S

[2022-07-25 10:52] AlOneill commented on #490
I have been asked to clarify the issue described above. I will try.

This image shows the group of record type inputs as they are currently marked up:

![record-group-issues.png](https://images.zenhubusercontent.com/5ce6b34165b1a70acc0a9124/3470ab4d-3b0f-433f-b75e-e195ad062bb4)

"Record type" is marked up as an HTML label. This is incorrect because it does not go with a single form control (input)

[2022-07-25 16:18] PatReynolds commented on #383
Based on the Genealogy search by Google feature - @PatReynolds to look at that, and write a help based on it.

[2022-07-28 13:01] richardofsussex commented on #444
The code in question sits within search_queries/show.html.erb:

 < div class='container' >
  < ! - - h1 class="semi-kilo">Results</h1 - - >
  < % = render(partial: 'navigation_links') % >
  < h4 class="accessibility">Search Criteria</h4 >
< /div >

(Spaces added - otherwise the Git viewer can't display the code.) I don't understand why the Search Criteria heading is included within this div: presu

[2022-07-28 13:02] PatReynolds opened #494 "Opening in New tab"
requires #2 (closed)
requires #13 (closed)

 - [ ] Needs a checklist for non-refinery Pages

Pages needing checking / brinking to accessibility standard (nb refinery pages are not included in this list)
 - [ ] Search Page
 - [ ] Results Page
 - [ ]  Entry Information Page
 - [ ] Data Problem Report Page
 - [ ] Report a Problem Page

Checklist for Refinery pages (https://docs.google.com/document/d/

[2022-07-28 13:02] #494 closed, assigned to nobody

[2022-07-28 15:13] PatReynolds commented on #112
Discussion today with @richardofsussex suggests: add ' FreeBMD1 url' to the database and a 'search by FreeBMD1 url" to the search page.

?Also add info on that feature to the 'url not found' message

Nb the FreeBMD1 url is a hash, so corrections, adding a postem, etc. means it will change.

[2022-07-28 15:15] PatReynolds commented on #276
@richardofsussex re our discussion this afternoon.

[2022-08-02 10:08] PatReynolds opened #495 "FreeBMD1 Adverts EPIC"

[2022-08-02 10:25] PatReynolds opened #496 "FreeBMD1 Advert - Search Results Page Body"
-  [ ]

[2022-08-02 10:31] richardofsussex commented on #268
I think I've fixed the sorting issues, both Z-A and districts. While I was in there I added volume and page to both the search results listing and the CSV output.
Code changes are with @Vino-S for review and deployment to test3.

[2022-08-02 10:32] PatReynolds opened #497 "FreeBMD1 MH Advert - via spectacles symbol - header says Entry Information Page - Page body"
- [x] Agree format with MH
 - [ ] Place on test

[2022-08-02 10:33] richardofsussex commented on #444
Branch fb_444_rbl now pushed to GitHub, so @Vino-S can pick up the changes and deploy them to test3.

[2022-08-02 10:40] richardofsussex commented on #493
Maybe not quite on-topic, but the 'Printable format' link in the Tools drop-down should open in a new tab, since the resulting page lacks any navigation controls.

[2022-08-02 10:54] PatReynolds opened #498 "FreeBMD1 MH Advert - Create Postem page"
Advert type: Search result page (300x250)

[2022-08-02 10:55] PatReynolds commented on #498
@Vino-S is this page suitable for a side advert?  If so, please could you estimate it.

[2022-08-02 11:03] PatReynolds opened #499 "FreeBMD1 MH Advert - Progress page (Coverage Chart in title)"
@Vino-S is this page suitable for a side advert?  If so, please could you estimate it - if not suitable, please let me know.

[2022-08-02 11:06] PatReynolds opened #500 "FreeBMD1 MH Advert - Coverage Charts"

[2022-08-02 11:06] PatReynolds commented on #500
Pat to check placing.

[2022-08-02 11:12] AlOneill commented on #493
@richardofsussex Good point — we would have to notify all users that this will happen (accessibility requirement).
Opening in a new tab does not happen on other sites for the equivalent page AFAIK.

[2022-08-02 11:13] PatReynolds opened #501 "FreeBMD1 MH Advert -"
Add top of page advert, as per this advert.

[2022-08-02 11:14] #501 closed, assigned to Vino-S

[2022-08-02 11:16] PatReynolds commented on #497
@Vino-S can you give this one an estimate please? It seams easiest/least likely to cause issues, so suggest you move on to this while I am arranging testers.

[2022-08-02 12:15] richardofsussex commented on #485
I'm happy to look into this @Vino-S @PatReynolds if you care to assign it to me.

[2022-08-02 14:51] richardofsussex commented on #485
I think the root of the problem is that we include a limit on the search itself - this is certainly true of REG and CEN searches. (This is why, in REG and CEN, you get the confusing message saying you found 500 records when in fact you will have found more than this.) See line 949 of app/models/search_query.rb for the relevant find() command. The result_count can only be exactly MAXIMUM_NUMBER_OF_

[2022-08-02 16:10] richardofsussex commented on #276
Both FreeREG and FreeCEN have URLs of the form:
https://www.freereg.org.uk/search_records/58d07868f493fd79c5c786ad/ronald-cartwright-baptism-staffordshire-willenhall-1913-05-27?locale=en
which can be cut down to:
https://www.freereg.org.uk/search_records/58d07868f493fd79c5c786ad/
and still resolve to the correct page.

It looks as though all three projects use UUIDs to provide a unique, persistent

[2022-08-02 16:17] richardofsussex commented on #384
See #276. I'm suggesting that FreeBMD URLs should have the form:

https://freebmd.org.uk/search_records/MDLSyeQhqIQQVpPJz7ZNlw/

This would mean that the BMD web server would need a mod_rewrite rule to map URLs of the form:

https://freebmd.org.uk/cgi/information.pl?cite=MDLSyeQhqIQQVpPJz7ZNlw/&scan=1

to this format. That shouldn't be hard to do.

[2022-08-02 16:21] richardofsussex commented on #385
See #276. I'm suggesting that FreeBMD URLs should have the canonical form:

https://freebmd.org.uk/search_records/MDLSyeQhqIQQVpPJz7ZNlw/

I'm happy for us also to generate a variant URL with human-friendly details on the end, so long as both variants map to the same page/record. Having invented said friendly variant, I can't see any reason not to use it in the citation generator.

[2022-08-02 17:25] PatReynolds opened #502 "The Geolocation Epic"

[2022-08-03 10:16] richardofsussex commented on #385
Having read about the 'resource' concept in Rails, I'm wondering if we can do better than this. My proposal is now:

https://freebmd.org.uk/gro/[event_type]/[uuid]
e.g.
https://freebmd.org.uk/gro/birth/MDLSyeQhqIQQVpPJz7ZNlw/

The reason for including '/gro' in the path is that we may acquire BMD data from other sources in future. Declaring a Rails resource gives you the ability to create pages to

[2022-08-04 12:31] richardofsussex opened #503 "Implement "Entries on same page" page"
There is a link from the detailed record view to the page which displays all the entries for the same page. The target page (path same_page_entries) has not yet been implemented.

[2022-08-04 16:24] PatReynolds commented on #385
Also discussed via email: the FreeBMD1 emails are only quasi-permanent hashes: as we enhance records, they become unusable.

Therefore a truely permnent unique reference is needed, plus a referal from known Freebmd1 hashes to that url.

[2022-08-04 16:56] richardofsussex commented on #385
There are two issues here, one of which probably ought to be in a separate thread. We can decide on the preferred form of URLs in an abstract way, e.g.
https://freebmd.org.uk/gro/birth/:id/
without deciding exactly how :id is obtained.  Then, as you say, we have the task of deciding how to mint unique persistent identifiers to be the :id in the URL.

It would be helpful to have a sense of what pro

[2022-08-08 15:04] richardofsussex commented on #385
Migrating from Freebmd1 hashes to permanent UUIDs is a separate issue from the form of the URLs we generate. I would expect us at some point to migrate from MySQL to MongoDB, and 'freeze' the hashes in that version of the database as the permanent identifiers.

[2022-08-08 15:42] richardofsussex commented on #503
Since raising this issue on Friday and today, this link has started to work. So closing issue immediately.

[2022-08-08 15:42] #503 closed, assigned to richardofsussex

[2022-08-08 16:43] richpomfret commented on #497
Now ready for testing.

[2022-08-08 16:54] richpomfret commented on #268
Ready for testing on test3

[2022-08-09 07:43] richardofsussex commented on #485
Further to this, I don't think that the fact that a search result is incomplete is a justification for showing the user _nothing_. It _is_ a justification for indicating that the results are incomplete, and for disabling the ability to sort the results. Since we are only showing a page of results at a time, the user will be used to the idea that they are not seeing _everything_ that might be relev

[2022-08-09 08:40] PatReynolds commented on #497
Feedback received 9/8/2022- Pat to pass a concern on to My Heritage, Vino to look at other issues raised.

[2022-08-09 11:39] richardofsussex opened #504 "Providing users with better search support"
When searching, I suspect that users are typically looking for a specific record, or maybe two (for a marriage). Although we present them with a list of hits for their query, and the ability to export or print this list of hits, I doubt that this will actually be useful in practice (unless they want to do a mass export e.g. for a one name study). Conversely, I think it _would_ be useful to be able

[2022-08-09 11:54] richardofsussex opened #505 "Detailed record page as a portal to GRO certificate ordering"
One common use pattern is that the user finds records on FreeBMD which are (or might be) relevant to their research, and they order a certificate from GRO. If they could flag up on the detailed record page that they have done this, it would help other users. Even better, if they could upload the certificate when it arrives, then the image would be generally available. (I think you said, @PatReynol

[2022-08-10 10:18] PatReynolds opened #506 "Flag/link GRO as source of certificate in appropriate places"
From a FreeBMD1 user:
"I am sure that, once upon a time, on your splendid WebSite, I saw a note - probably with a Link - explaining how, by providing the data from one of your entries, one could obtain from the GRO the relevant Certificate, that may hold more data.
But I CANNOT find that now.
Plrase would you be so kind as to add that information - in many places.  It;s only a line or two and a Li

[2022-08-16 13:28] PatReynolds commented on #244
@PatReynolds to test again.

[2022-08-16 13:32] PatReynolds opened #507 "The URL Epic"

[2022-08-16 13:39] DeniseColbert opened #508 "Expired FreeBMD1 URLs to redirect to FreeBMD2 website"
Relates to #384

[2022-08-16 13:46] PatReynolds commented on #95
Search page now takes full width of screen, so closing.

[2022-08-16 13:46] #95 closed

[2022-08-16 13:49] #232 closed, assigned to PatReynolds, richpomfret, KatyMawhood, Daniel-silve1ra

[2022-08-16 13:52] PatReynolds commented on #108
Duplictes 123, so closing

[2022-08-16 13:52] #108 closed

[2022-08-16 14:03] PatReynolds commented on #362
Implemented as Download as CSV.

Are we going to re-implement the saved search?

[2022-08-17 11:43] PatReynolds opened #509 "Sorting of names (in "Unique" Names)"
The names in originals transcribed as Upper Case are sorted ahead of those transcribed as Title Case.  Within the group, they are sorted alphabetically as expected.

For ease of reading, all should be presented as Title case, and sorted alphabetically as one group.

[2022-08-18 11:46] richardofsussex commented on #362
"Download as CSV", as I understand it, downloads _all_ the records in the current search. The "Save a result" function as described above saves _only_ the current record. Therefore it is a different function, and has a different purpose. (It is also different from "Save a search", which saves the search logic.)

"Save a result" can mean that one or more of a number of things can happen.

The "savi

[2022-08-18 15:20] richardofsussex commented on #508
If the 'pretty' version of the URL is used, it contains sufficient information to construct a search for that record. If the search succeeds in finding the (edited) record, we can find the UUID it now has. Then all we have to do is to put an entry in a lookup table, mapping old UUID to new UUID. Subsequent lookups can use this mapping to go directly to where the record now lives.

[2022-08-22 15:17] richardofsussex commented on #485
I have commented out that line in branch fb_485_rbl so we can test out this approach on a sensibly-sized test database (test3). The default local test data is tiny - impossible to reproduce the error. There is a commented-out line in search_queries/show.html.erb which gives the actual number of hits - you can see this by viewing the page source. Can we please put this into test3 so we can explore

[2022-08-22 15:27] PatReynolds commented on #383
Can you give me a link to the Google genealogy feature please, @Vino-S

[2022-08-22 15:35] PatReynolds commented on #447
Added to the bottom of help (in DRAFT help, under the live help page on test3).

[2022-08-22 16:11] richpomfret commented on #497
Now deployed to production.

[2022-08-22 16:11] #497 closed, assigned to PatReynolds

[2022-08-22 16:12] richpomfret commented on #496
Now deployed to production.

[2022-08-22 16:12] #496 closed, assigned to PatReynolds

[2022-08-22 16:17] richpomfret commented on #493
To continue reviewing in next documentation meeting.

[2022-08-22 16:19] DeniseColbert opened #510 "District pages not working on Beta"
Clicking View 1 etc returns error message page

[2022-08-22 16:20] richpomfret commented on #447
To discuss in documentation meeting.

[2022-08-22 16:35] richpomfret commented on #473
Any update on this one @AlOneill?

[2022-08-22 16:45] richardofsussex commented on #509
The collating rules will have this effect by default. The only way around this is to feed consistent data (e.g. all upper case) to the sort engine, and then convert it to a reader-friendly format (e.g. camel case) on output/display.

[2022-08-22 16:47] PatReynolds opened #511 "Add section "Help for Screen Readers""
Include use of CASE issue in Names.

[2022-08-22 16:50] PatReynolds opened #512 "Allow users to add data transcribed from a GRO certificate to the FreeBMD database"

[2022-08-22 17:00] richpomfret commented on #483
To move into test and then review/test with the limit currently commented out (via @richardofsussex)

[2022-08-23 05:32] richardofsussex commented on #279
My suggestion is that the URL could contain human-friendly information, as has been done previously (experimentally, I guess - I don't see it in the URLs currently produced by the citation generator in CEN or REG). This additional information would follow '?' in the URL, i.e. it would be parameter data. Obvious data to include would be event type (B, M or D), Registration Office, volume, page, for

[2022-08-25 11:14] PatReynolds commented on #303
Cannot add the Google consent _just_ to Beta.

Looking at alternatives, I think we will need to pay.  Am I right in thinking 4 domains?  How many sessions total per month - do you know @Vino-S

[2022-08-26 12:06] richardofsussex commented on #512
This capability requires users to be logged in, which in turn requires support for a user class "researcher" (or similar). When registering as a researcher, users will need to agree to our licensing terms etc., so that the results can be shared.

The results will need to be stored in a separate MongoDB collection, with a data structure which supports all the information that could be present in a

[2022-08-30 15:34] AlOneill commented on #487
@PatReynolds Beta has not been updated yet. Will this be done with a sync? Or should I update directly on beta?

[2022-08-30 15:41] AlOneill commented on #418
@PatReynolds I note that the "Help" page on beta has not yet been synced with (from) the version on t3. Any particular reason for the delay?

[2022-08-30 15:45] AlOneill commented on #474
@PatReynolds the updates are not visible on beta because it has not been synced from t3. Any particular reason for the delay?

[2022-08-31 16:46] AlOneill commented on #473
Still working on text of post — not clear where issue could be in the publishing process, so not clear what to ask …

[2022-09-05 11:08] PatReynolds opened #513 "Add links to Help"
Add to Help: the links to NI and Scotland (and Genealogy.ie) -  https://www.gov.uk/general-register-office

[2022-09-05 12:06] PatReynolds commented on #506
Draft document for review (placement and text)
https://docs.google.com/document/d/1CgBs6LTiLfirkPFS2YZo9OYoiSQKaDHoPhOSI0EiWgc/edit?usp=sharing

[2022-09-05 13:30] PatReynolds commented on #382
The links are no longer on the About page. @PatReynolds to check Alison's remix.

[2022-09-05 13:37] PatReynolds commented on #244
Code sent to Vino 5th Sep 2022 - needs to go on each page.

[2022-09-05 15:41] PatReynolds commented on #472
This is FreeBMD1: https://www.freebmd.org.uk/district-list.html

![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/eb2ad752-ca98-4b5a-8924-67840d8fe4ab)
The links should go to the UKbmd page, e.g. early Birmingham is here: https://www.ukbmd.org.uk/reg/districts/birmingham.html and later Birmingham

What is missing from this page is the information on what is in which volum

[2022-09-05 15:58] PatReynolds commented on #491
Draft: https://docs.google.com/document/d/1STcAZ1S5CJlB7_TvkHd2mmDrQgPVMSzElpTC4usCj_c/edit?usp=sharing

[2022-09-05 16:01] PatReynolds commented on #460
#506 has for BETA.

[2022-09-05 16:07] DeniseColbert commented on #474
@vino to talk to lemon re. sync

[2022-09-05 16:10] PatReynolds commented on #499
@PatReynolds to check position wanted with MH

[2022-09-05 16:11] DeniseColbert commented on #499
@DeniseColbert to check with MH if top/side/both adverts are desired

[2022-09-05 16:18] PatReynolds opened #514 "Pat to test advert landing page to see what one gets"
FreeBMD1 issue re people not going clicking onwards from landing page

[2022-09-05 16:19] DeniseColbert commented on #444
@vino to push the correct branch and move back to Ready for Testing

[2022-09-05 16:22] DeniseColbert commented on #487
This will be brought over in sync @AlOneill

[2022-09-05 16:25] DeniseColbert commented on #415
@AlOneill text suggested in story description should be enough to direct users to help.

[2022-09-05 16:30] DeniseColbert commented on #472
This involves changing the table in the Records pages to incorporate the extra columns

[2022-09-05 16:32] DeniseColbert commented on #506
@AlOneill and @DeniseColbert to review Pat's document

[2022-09-05 16:35] PatReynolds commented on #303
@PatReynolds to get sessions info from analtics and progress this story.

[2022-09-05 16:40] DeniseColbert commented on #279
Pat says: we have what we call the "prettified" url which is shown in the address bar, but the citation shows the unique identifier url to avoid cluttering the publication of the citation/reference.

[2022-09-05 16:45] PatReynolds commented on #383
The Google Advanced search engine

[2022-09-05 16:46] DeniseColbert commented on #327
Report a Problem button is now ready to be checked for functionality in Test3.

Meanwhile, @vino is trying to debug a problem with "Convert to issue"

[2022-09-05 16:50] DeniseColbert commented on #215
@PatReynolds to send Barrie's email to Denise, and we'll then work out where the messages will go.

[2022-09-05 16:53] DeniseColbert commented on #423
Leave as printable format for now but add text to printable page.

[2022-09-06 10:05] DeniseColbert commented on #499
Asked MH 6/9/22

[2022-09-06 10:25] DeniseColbert commented on #268
Search performed: Jane Partington (nothing else) with 523 results.

Sort by district returned this:
![image](https://user-images.githubusercontent.com/19173257/188611483-cc242e2e-ab53-4a7c-afbd-331b7efce47c.png)

But sort by first name returned more Janeys than are in the first snip
![image](https://user-images.githubusercontent.com/19173257/188612256-32b47510-f55f-4b69-b03b-1290e58ff3be.png)

I t

[2022-09-06 10:40] DeniseColbert commented on #327
Submitted a test an it appeared to work fine. However, I received an email as I was logged in. We should note that users won't receive them and perhaps it would make sense to remove that function for this type of report?

My feedback on the test:
The button should say "Beta Feedback" instead of "report a problem"

The title of this page should be Beta Feedback Report.

Suggested text:
************

[2022-09-08 14:30] richardofsussex commented on #268
The "Sort by District" option seems to be sorting, in fact, by first name. It's certainly not sorting by District. There are subtleties about whether it is sorting by surname as well, but this is secondary. Ideally the sort should force everything to upper or lower case before comparing it, so that Partington and PARTINGTON are treated as equivalent.

Sorting clearly needs more work.

[2022-09-09 23:30] richardofsussex commented on #268
OK, I have fixed the failure to sort by District. It was trying to use the non-existent DistrictName field! Also made the sorting case-insensitive, so that PARTINGTON and Partington should sort as "the same".

[2022-09-12 15:08] richardofsussex commented on #485
OK, branch fb_485a_rbl contains what I hope is a better fix for this issue. The 'too many records' page should now appear - and it should report the actual number of records found. @Vino-S please put this branch into test3 for initial testing.

[2022-09-12 15:17] richardofsussex commented on #509
My fix for #268 may well have fixed this issue as well. Please test and report back.

[2022-09-13 08:21] DeniseColbert commented on #268
Looks much better/fixed. However, how are results with the same name and district sorted? You'd expect by date, but that doesn't seem to be the case, e.g. same search, sort by district, page 2:

![image](https://user-images.githubusercontent.com/19173257/189655135-81fb2fd4-0001-4a43-b9b9-485b5a2361e3.png)

The three Barton results here, one would expect them to be sorted from earliest to latest.

[2022-09-13 08:48] richardofsussex commented on #268
I think this is a consequence of implementing case-insensitivity. I do this by forcing each of the fields to be compared to a string, then lower-casing these strings. However, the QuarterNumber field is an integer. If you look at the results sorted by date, they are clearly wrong (check the last page). I will have another go!

[2022-09-13 09:54] richardofsussex commented on #268
OK, fb_268_updated_rbl contains updated code which only lower-cases string fields when comparing them. Please deploy to test3 and check.

[2022-09-13 09:58] Vino-S commented on #268
Hi @richardofsussex , test3 is updated

[2022-09-13 10:06] richardofsussex commented on #268
Still doesn't work! Sadly, my test file is too small to test sorting of QuarterNumber, so I have to push to test3 to see if my changes work. I'll have another go.

[2022-09-14 07:32] richardofsussex commented on #268
OK, @Vino-S, fb_268_updated_rbl contains updated code which only lower-cases string fields when comparing them. Please deploy to test3 and check.

[2022-09-14 07:51] richardofsussex commented on #515
I'm not sure where this issue has got to, but the fix is to update this code in app/helpers/application_helper.rb (line 369 onwards):
` def project_description
    {
      freereg: "UK Parish Register Records",
      freecen: "UK Census Records (England, Scotland, Wales)",
      freebmd: "UK Birth, Marriage, and Death Records (England, Scotland, Wales)"
    }
  end`

[2022-09-14 08:37] AlOneill commented on #515
@richardofsussex For FreeBMD, we do not have records for Scotland, but you knew that already :-), so:

`def project_description { freereg: "UK Parish Register Records", freecen: "UK Census Records (England, Scotland, Wales)", freebmd: "UK Birth, Marriage, and Death Records (England, Wales)" } end`

or something similar.

In addition, pages other than the search page will need their own version of

[2022-09-20 11:27] richardofsussex commented on #268
Fixed a bug in case-insensitive multi-field sorting. Should be OK now.

[2022-09-20 11:34] richardofsussex commented on #486
This appears to be fixed in test3. Still fails in beta.

[2022-09-20 12:09] richardofsussex commented on #480
An "ends with" search on beta still times out, but on test3 it returns a result. (Note that the record in question has surname AKINKUNLE in test3, i.e. no "Smith-" on the front of it. So a simple search would have found it anyway. Still, this looks like another area where we could usefully update beta.)

[2022-09-20 14:59] richardofsussex opened #516 "Help: finding a spouse"
The help section on "How to find the name of a spouse" describes how to run a search to retrieve all the entries on the relevant page. Surely, all you need to do is to view the detailed record, and then click on the page number, which is a link to exactly that information?

[2022-09-21 15:19] richardofsussex commented on #473
I have added <aside id="about-page" role="article" aria-label="Home page">...</aside> to a record in refinery_page_part_translations. It comes out in the page as <aside id="about-page">...</aside>. This shows that the non-standard attributes role and aria-label are being stripped, either within the CGI process which fetches the HTML, or within Rails itself.

[2022-09-21 16:08] DeniseColbert commented on #499
@DeniseColbert to send to testing group and check the agreed list

[2022-09-21 16:10] DeniseColbert commented on #327
@DeniseColbert  to retest when not logged in

[2022-09-21 16:20] PatReynoldsFUG commented on #279
Decided to use unprittified quasi-permanent URLS in citations until permanent URLS are possible.

[2022-09-21 16:28] DeniseColbert commented on #500
@denise to check this is deployed

[2022-09-21 16:35] DeniseColbert commented on #483
@DeniseColbert to test with a large search hit to check text against document

[2022-09-21 16:37] DeniseColbert commented on #482
Documentation team to test

[2022-09-21 16:39] DeniseColbert commented on #509
@DeniseColbert  to check if this still happens

[2022-09-22 10:53] PatReynoldsFUG commented on #383
@Vino-S Google Advance search does not have fields for first and last names.

The search you have implemented does not meet the specification. Personally, I can't see that it would be of use to researchers (but happy to be corrected on that).

What IS needed is a search that takes John Lyons Davis and looks for both John Lyons DAVIS and John LYONS DAVIS (first names are lower case, family names ar

[2022-09-22 11:12] PatReynoldsFUG commented on #382
@AlOneill I can't see your remix on beta - is it Help, or Draft help (under Help) or something else?

[2022-09-22 11:18] PatReynoldsFUG commented on #514
Testing was needed (I think) on the results page? No advert there now.  In the details page, the advert is generic, not pre-filled

@DeniseColbert can you confirm which pre-filled advert is not getting people agreeing to the trial as expected?

[2022-09-22 11:20] AlOneill commented on #382
@PatReynoldsFUG It looks like my remix has been archived:
https://test3.freebmd.org.uk/cms/archive/draft-frequently-asked-questions-ao-remix

[2022-09-22 11:30] PatReynoldsFUG commented on #511
Added to Draft Accessibility Statement.  May not be
a) correct or
b) the whole story.

Could you take a look @AlOneill ?
Thanks, Pat

[2022-09-22 11:30] richardofsussex commented on #473
Found it! The configuration file config\initializers\refinery\pages.rb includes whitelists for both elements and attributes. I've tested "role" and "aria-label" - these now both appear. @AlOneill can you please provide me with a full list of the ARIA elements and attributes which you actually want to use, and I'll add them all in.

[2022-09-22 11:45] AlOneill commented on #473
@richardofsussex
Grand! Those are the two main ARIA attributes that I've been attempting to use. I'll need some thinking time for adding any to the list. I'm relatively new to ARIA and have not necessarily got my head around **all** that we might need. (Of course, the Refinery configuration files will need updating on each site.)

But, now that you know where to find that file, there are some more

[2022-09-22 11:54] AlOneill commented on #473
@richardofsussex
The list will _include_ among others: aria-labelledby , … (brain ticking over slowly!)

[2022-09-22 12:16] richardofsussex commented on #473
OK, I've added that one, and pushed the result (branch fb_473_rbl). @Vino-S could you please merge this branch and update test3 so @AlOneill can confirm that her ARIA attributes now appear? (This branch also includes a #515, since this was trivial.)

[2022-09-23 09:07] PatReynoldsFUG commented on #170
Only thing remaining seems to be "Link to breakdown by event and year page" (I.e. progress charts) - this is there - currently as a link to FreeBMD1.

Ready now for phase 3 release.

Will check to make sure there is a story for implementing the progress charts.  This story then needs to be scheduled for after that is completed.

[2022-09-23 09:09] PatReynoldsFUG opened #517 "Create Progress Charts (breakdown of completion by event and year pages)"

[2022-09-23 10:59] AlOneill commented on #473
The 3 ARIA attributes we are currently using on Refinery pages — role, aria-label, aria-labelledby — are all now operational.

Will look for any others that we could need (in the short to medium term) plus any elements and entities that would enhance our current pages.

[2022-09-23 14:52] PatReynoldsFUG commented on #382
So ... is the non-draft version your remix?  Or does your remix need to be un-archived or ???

[2022-09-23 14:57] PatReynoldsFUG commented on #296
Have placed in Phase 4 (MBP) and unassigned myself, but may be decided to to move it to a later phase of development.

Moving to backlog

[2022-09-23 15:12] AlOneill commented on #382
@PatReynoldsFUG
As far as I know, this is the situation: the About FAQ remix has been reworked as 2 different versions:
* https://test3.freebmd.org.uk/cms/about/frequently-asked-questions is the version for initial testing — it has been published on t3 and perhaps also on beta (I have not looked)

* https://test3.freebmd.org.uk/cms/about/frequently-asked-questions/draft-frequently-asked-questions-

[2022-09-23 15:57] PhilipClarke712 commented on #382
Shortly before I first started on BMD2 documentation, Pat produced combined training video for new starters on CEN2 / REG2 and BMD2. It was shown in January 2020, but I did not see it live, as I was in India, at the time.  It covered the use of Refinery / GitHub and GitBoard(); but at that time the Refinery test3 version of BMD2 was not up and running. So, based on what was in Mike Burnham's audit

[2022-09-23 22:10] AlOneill commented on #516
Advice amended at https://test3.freebmd.org.uk/cms/help/draft-help#findSpouse
Other issues addressed on this draft: #447 and #506

[2022-09-25 17:51] AlOneill commented on #470
There are no instances of the word "unique" in any of the published Help or About pages on test3.

Looking at the Records section, the word "unique" appears to have been removed from the displays already.

![FreeBMD-district-info.png](https://images.zenhubusercontent.com/5ce6b34165b1a70acc0a9124/a375686e-964d-42be-a7f1-6f77a4893cd3)

![FreeBMD_names.png](https://images.zenhubusercontent.com/5ce6b3

[2022-09-25 18:14] AlOneill commented on #515
There remains an issue with some of the `title` elements: whilst doing something else I noticed that the page I was looking at had `<title>String | BMD</title>` — oops.

The `h1` for the page was, "Entries in Page: 288, Volume: 8 at District: Wimborne for Apr to Jun 1848"

[2022-09-25 18:22] AlOneill commented on #511
Now that we know how to get ARIA attributes published on Refinery pages, I suggest that we can remove the information currently under the heading "Advice for users of screen reading software".

Does "Include use of CASE issue in Names." need addressing? If yes, then how?

[2022-09-25 18:35] AlOneill commented on #482
The error message itself is a link. The colour is accessible in terms of contrast, but it is an unexpected colour for a link. The link takes a user to the correct input needing attention. How do we want to use colour in this situation?

I will test next with a screen reader.

[2022-09-26 07:57] PatReynoldsFUG commented on #511
"Include use of CASE issue in Names." means advice should be provided on how we use case to distinguish between given names and family names in help.  Or we should perhaps be providing a separate way for a screen reader user to be informed that Susan Bowes are given names and Lyon is a family name in one example and that  that Susan is given names and Bowes Lyon is a family name in another example

[2022-09-26 09:30] AlOneill commented on #511
I should add that my suggestion for removing the information under the heading "Advice for users of screen reading software" depends on the Refinery configuration being updated on live sites as well as test sites.

Telling screen reader users _how_ we use letter casing will not do much in itself because the case is hidden from those users — letters, words and syllables sound the same irrespective

[2022-09-26 10:35] richardofsussex commented on #515
I fixed this by simply adding <% title "Same page entries" %> to same_page_entries.html.erb. @Vino-S please merge the fb_473_rbl branch into test3 so @AlOneill can double-check.

Any other pages you find with a title "String | BMD" can be fixed in the same way.

[2022-09-26 14:28] PatReynoldsFUG commented on #382
The AO Remix page is supposed to be the page that is a draft, where all additions and changes that are needed for the initial release are added. This story is to record those changes.

Since you seem to be suggesting there is no Draft of the 'for Beta' version now, shall I create one, and add these changes there?

[2022-09-26 15:36] PhilipClarke712 commented on #382
@PatReynolds
I'm not sure if this question is addressed to me, I'm assuming that it is and am responding accordingly.

Back at the start,  **About** was intended to be **About FreeBMD**, why was it needed, etc; and **Help** was advice on how to use FreeBMD to search, how to find the precise ancestor from several possible ones, or perhaps 'none found', etc.

To take one example: I'm not too sure th

[2022-09-26 17:47] AlOneill commented on #382
@PatReynoldsFUG
I've not had anything to do with the FAQ that are related to the **Help** page, only those related to the **About** page. (See #411 for details of the About FAQ.) So there is no page of Help-related FAQ that can be described as an "AO Remix".

So, I believe you are referring to the **Help FAQ** — entitled [DRAFT - Searching & associated FAQs](https://test3.freebmd.org.uk/cms/archiv

[2022-09-26 18:54] PhilipClarke712 commented on #382
@AlOneill
Thanks for providing a working link to the Help FAQ draft page. I still can't get into Refinery on test3 nor beta.

The Lead paragraph of that page starts off: "_This page is a page of two-halves. The first (and smaller) section describes how to interprete the results of a FreeBMD(1) search; there is information on how to perform a search, and to do so efficiently, in the [link="/search-

[2022-09-26 19:11] AlOneill commented on #382
@PhilipClarke712
Is this your newer version of the Help FAQ: [Help FAQ 5 Oct 2021](https://test3.freebmd.org.uk/cms/help-faq-5-oct-2021-version) ?

[2022-09-26 20:20] PhilipClarke712 commented on #382
Thanks Alison, That is certainly a newer version than the original version and the file name is quite different to the one I quoted.  It still has a question about Java Scrip which I suspect is obsolete; and I half-remember highlight comments from Pat either in the section titles, or in the Navigation box. So either my memory is wrong, in which case that is the current version, or there is a newer

[2022-09-27 06:19] PhilipClarke712 commented on #516
richardofsussex's question / suggestion would provide an quick answer on BMD2  **if** there was near 100% coverage **and** there was "good clean data".

Clicking on the page number (but we 'select' rather than 'click') would run the search again - but what is it searching? (a page number is non-unique) - it's repeating the search using the same timeframe (a quarter or year - which is GRO index-dep

[2022-09-27 09:07] richardofsussex commented on #516
@AlOneill has addressed my initial concern, as noted above. Picking up on the points that @PhilipClarke712 makes, there is one aspect which we _do_ have control over, which is the flagging up of data which we ourselves are unsure about. As he says, this is done in BMD1 but not in BMD2. If we want to implement this (and the associated emboldening of double-keyed entries, which I think also hasn't b

[2022-09-27 09:22] PatReynoldsFUG commented on #303
I have set up one free trial - will emaily the script to you @Vino-S

If you can let me know how many sessions per month for FreeBMD1, that would be great.

[2022-09-27 09:37] PatReynoldsFUG commented on #303
![image.png](https://images.zenhubusercontent.com/63205da3a38f863bef8a7445/c572ddb0-800d-46f2-8918-b947b31e8c05)

[2022-09-27 09:43] Vino-S commented on #303
@PatReynolds ,
We have atleast 420K sessions each month for FreeBMD1.

[2022-09-27 11:13] PatReynoldsFUG commented on #382
Hi @PhilipClarke712 this story is about the Help page, not the Help FAQ page.

[2022-09-27 13:19] PhilipClarke712 commented on #516
Hi @richardofsussex I got into a sort of cross-communication-miss-understanding with Barry a year or more ago over the use of "Confirmed" in conjunction with the BMD2 test-database. He was using 'it' as data field (presumably a binary-value <true or false> generated during the QA cross-checking of page number/volume number/district name combinations for each record against statistical-generated co

[2022-09-27 13:34] PhilipClarke712 commented on #382
Thanks for the clarification. It looks like I've muddied this story somewhat. However, it was my understanding, that if / when I got sub-pages signed off, a new draft copy of Help would need to be made with hyperlinks to those sub-pages. There are a lot a sub-pages - going back to that spreadsheet that resided in a shared Google drive produced from the Audit of Hyperlinks active within the FreeBMD

[2022-09-27 16:11] PatReynoldsFUG commented on #418
Note by Alison on story 511 which is relevant here:
I should add that my suggestion for removing the information under the heading "Advice for users of screen reading software" depends on the Refinery configuration being updated on live sites as well as test sites.

Telling screen reader users how we use letter casing will not do much in itself because the case is hidden from those users — letters

[2022-09-27 16:13] PatReynoldsFUG commented on #511
Agreed, @AlOneill

[2022-09-27 16:15] PatReynoldsFUG commented on #382
@AlOneill should I be editing the top level About page on test3 or something else?

[2022-09-27 16:19] PatReynoldsFUG commented on #514
@DeniseColbert I am switching this to my volunteering hat - when there is a prefilled side advert that is not performing well back on FreeBMD1 please let me know and I'll test.

[2022-09-27 16:23] AlOneill commented on #382
@PatReynoldsFUG
As this issue relates to the **Help** page, then no! If you want to add to the **Help page** contents, there is a **DRAFT Help page** that is still open.

However, I do not know what sort of content you are wanting to add!! More details, please.

[2022-09-28 15:35] richardofsussex commented on #132
It would help to have a spec! BMD1 has this:
![image](https://user-images.githubusercontent.com/2197102/192822418-69518009-e632-430c-80e2-33b67b8f13a6.png)
Is the intention to replicate this within the single table cell provided, or to simply have the transcriber's ID?

[2022-09-29 12:59] PatReynoldsFUG commented on #303
@Vino-S we may have another option for Cookie consent - @DeniseColbert will tell you about it - so no need to implement this.

[2022-10-10 19:00] richardofsussex commented on #103
I'm happy to have a look at this issue.

[2022-10-10 19:36] richardofsussex commented on #103
The CSV output currently offered in test3 is close to what is required. I suggest that we reorder the columns to match the BMD1 order, add the AAD/Spouse/Mother and Flags columns, and possibly tweak the format of the Event and Quarter columns so they match the BMD1 format. Also, the CSV separator needs to be tab, not comma.

[2022-10-11 13:45] richardofsussex commented on #103
OK: I've made an implementation of issue 102. Modified the existing "download as CSV" option so that the result is compatible with BMD1 'download' format: tab-separated output; same headings/data in same order. Also aligned output to the currently selected sort order.

One observation is that the sorting of districts has reverted to the previous incorrect behaviour: I had to change a DistrictName

[2022-10-11 16:29] richardofsussex commented on #508
Correction to above: I don't think I read the issue title carefully enough (and there is no supporting commentary). Please read this following comment, and let me know if I am now actually addressing the issue (!)

If by an "expired FreeBMD1 URL" we mean one which was allocated by a previous iteration of the BMD database, and which is no longer valid, then I think this requirement cannot be met. T

[2022-10-13 11:46] richardofsussex commented on #508
OK, I have now developed a routing system which takes a URL like:
http://localhost:3000/cgi/information.pl?cite=ippW6bzRyBXCEizl5zo8RQ&scan=1
where the cite parameter is one of our hashes, and maps it to:
http://localhost:3000/entry-information/id/?record_id=46
which delivers the detailed page for that record. When we switch over to making BMD2 the default user of our freebmd.org.uk domain, this m

[2022-10-13 15:00] richardofsussex commented on #508
Implemented that, and added a redirect back to the search page when the hash is not found in BestGuessHash:
![image](https://user-images.githubusercontent.com/2197102/195633064-11408e63-8437-4ab1-8b43-3e1153a174b9.png)

[2022-10-13 15:41] richardofsussex commented on #508
Simple "Hello world!" experiment with Linked Data for these URLs, using content negotiation, worked first time (!!):
![image](https://user-images.githubusercontent.com/2197102/195641800-d7d25bee-670d-4067-a72c-e0df1564b248.png)
and:
![image](https://user-images.githubusercontent.com/2197102/195642189-f17a5f89-ed64-448c-8173-f014e3f8f7b5.png)
These are just dumps of the selected record in XML and J

[2022-10-18 12:30] DeniseColbert commented on #480
Beta:
![image](https://user-images.githubusercontent.com/19173257/196429560-bf9f9a43-ed85-4a45-844d-90b784fe32f1.png)

Test3:
![image](https://user-images.githubusercontent.com/19173257/196429617-801b1141-08c9-4ded-bfca-d6eff8f13c5f.png)

Pat suggested above: Error message should explain use of the Surnames page to identify possible names, rather than using an asterisk.

[2022-10-18 12:34] DeniseColbert commented on #327
The button has disappeared from Test3 and Beta? @Vino-S could you take a look?

[2022-10-18 12:41] DeniseColbert commented on #483
It took a lot of tweaking to avoid the Search took too long message and hit the Too many results message. When does one become the other?

[2022-10-18 12:44] DeniseColbert commented on #423
https://github.com/FreeUKGen/FreeBMD2/issues/423#issuecomment-1020337555

This does need adding to REG and CEN also

[2022-10-18 12:47] DeniseColbert commented on #509
It seems not:
https://test3.freebmd.org.uk/districts/107/unique_names?locale=en&record_type=birth

![image](https://user-images.githubusercontent.com/19173257/196433552-fb901124-3b6f-45a4-a6a8-31dd34b9fa94.png)

[2022-10-18 12:50] DeniseColbert commented on #491
To check: Is the whole document needed, or paragraph?

[2022-10-18 12:56] DeniseColbert commented on #508
This seems to be moving along the right lines, from my understanding, Richard, thank you! I think Vino's input would be most useful as she understands the database, but I would say that the way we present the URL may impact the Citation generator so that should be taken into account.

[2022-10-18 14:11] DeniseColbert commented on #480
Decision: refer to help page on name searching

[2022-10-18 14:14] DeniseColbert commented on #268
To be checked after deployment

[2022-10-18 14:15] DeniseColbert commented on #474
Sync is done

[2022-10-18 14:16] #470 closed, assigned to AlOneill, DeniseColbert

[2022-10-18 14:17] DeniseColbert commented on #244
@PatReynoldsFUG were there any next steps Pat?

[2022-10-18 14:18] DeniseColbert commented on #499
Done, closing

[2022-10-18 14:18] #499 closed, assigned to DeniseColbert

[2022-10-18 14:20] DeniseColbert commented on #327
Vino to replace branch and let me know

[2022-10-18 14:36] DeniseColbert commented on #483
Decided to use too many results text with addition of Try to avoid wildcard searches if you are experiencing this issue (owtte) - Denise to refine and update story

[2022-10-18 14:40] DeniseColbert opened #519 "Investigate flagging of unsure transcriptions"
Compare FreeBMD1

[2022-10-18 14:42] DeniseColbert commented on #516
@AlOneill to check draft and make sync ready

[2022-10-18 14:49] DeniseColbert commented on #423
Decision: add another option to dropdown: Download as PDF

[2022-10-18 14:51] DeniseColbert commented on #509
@richardofsussex to review

[2022-10-18 14:52] #500 closed, assigned to DeniseColbert

[2022-10-18 15:10] DeniseColbert commented on #132
To test on Test3

[2022-10-18 17:39] AlOneill commented on #516
Help is now sync-ready.

It also contains the definitive details of [how to order a certificate](https://test3.freebmd.org.uk/cms/help#orderCertificate)

[2022-10-18 17:45] AlOneill commented on #506
The Help page has the definitive details of how to order a certificate — any changes should be made there and any links should go there, unless there is another, better candidate. **NEXT**, I will check the text against Pat's document.

[2022-10-18 20:15] richardofsussex commented on #509
Well, the code which generates these sorted lists makes no efforts in the direction of case-sensitivity:
![image](https://user-images.githubusercontent.com/2197102/196534439-2108a542-07d6-4265-86ea-0d3e9daf1c1b.png)
So I'm guessing that all those '.sort' statements ought to be '.sort_by(&:downcase)'.  Would you agree, @Vino-S ?

[2022-10-19 07:28] DeniseColbert commented on #132
Transcriber info blank:
![image](https://user-images.githubusercontent.com/19173257/196624769-630b6dba-4198-4811-a9ad-79b01c2b1a4d.png)

@richardofsussex reassigned you to take a look
Checked several records, all blank

[2022-10-19 07:38] DeniseColbert commented on #480
Added text below to the error page document (https://docs.google.com/document/d/1QObP5k0KrEK2IYvq4d4Od8uuy_E8jZJ9UggEJugXNWc/edit) for timeouts:

![image](https://user-images.githubusercontent.com/19173257/196626992-b871d637-eb11-43ee-9b1e-09a5419f6237.png)

[2022-10-19 07:52] DeniseColbert commented on #483
Added a line to the text see below) on document (https://docs.google.com/document/d/1QObP5k0KrEK2IYvq4d4Od8uuy_E8jZJ9UggEJugXNWc/edit?usp=sharing)

![image](https://user-images.githubusercontent.com/19173257/196630010-e1ad6647-5880-4686-a3a3-f1dc49d11ca3.png)

[2022-10-19 10:24] richardofsussex commented on #132
Try searching for forenames "Ada Maria", exact match, all event types, 1837-1850. The first one (Ada Maria HARVEY) has a transcriber with a link to their name and no. of records transcribed. The eleventh (Ada Maria LEIGH) has two transcribers, both linked. The sixteenth (Corringham) has one. They are the only records in the first 20 hits with any transcriber info: I think that's a reflection on th

[2022-10-19 10:43] richardofsussex commented on #483
With the timeout, you get a more cryptic message:
![image](https://user-images.githubusercontent.com/2197102/196669878-11bb7293-7d0c-4856-9d3d-a03158f176e7.png)
I suggest that this is expanded to include the same suggestion about making the search more specific.

[2022-10-19 12:41] richardofsussex commented on #450
Is it not possible to start with a county selection list, leading to a selection list for districts within the selected county, as happens on the other sites? (i.e. do we know which districts are in each county?)

[2022-10-19 14:19] richardofsussex commented on #519
BMD1 uses bold face to indicate that there are at least two identical transcriptions of an entry. Non-bold text indicates a single transcription. Italic text for the District indicates either that the District name is an alternative or mis-spelled version of the name, or that the volume and/or page number does not match the expected values for that District at that time. Examples:

![image](https:

[2022-10-19 14:25] AlOneill commented on #519
Please remember that typographical differences such as bold or italic text are inaccessible to a screen reader user. We could use them as a starting point but we will need something else PDQ.

[2022-10-19 14:33] richardofsussex commented on #519
Fair comment.  Is it possible to use the title attribute for this purpose? It would in my view be an improvement on BMD1 if users didn't have to follow a link to find out what the issue is with the District. The title could begin "Warning: " where there is an issue with the District or volume/page.

[2022-10-19 14:39] AlOneill commented on #519
No, 'fraid not! Title attributes are inaccessible to those who cannot or do not use a pointing device. Forget the misinformation that hails the title attribute as a boon to accessibility — it is a pernicious myth.

[2022-10-19 14:50] richardofsussex commented on #519
OK: you'll have to educate me as to how we deal with such situations.

Another point about the BMD1 design is that the District link goes to an intermediate page, specific to that entry, from which there are onwards links both to the UKBMD site and to the BMD1 information about that District. The BMD2 link goes straight to UKBMD and offers no way of accessing the BMD information about the District

[2022-10-19 14:58] richardofsussex commented on #519
There is room in the Entry Information page to include the summary information about the District which currently sits on the separate intermediate page:
![image](https://user-images.githubusercontent.com/2197102/196727498-e0511ec9-3ead-4c0e-89d8-c8832e4fc1b0.png)
This would allow us to add warnings as text, and would mean that we can keep the current links to UKBMD as they are.

[2022-10-20 09:17] richardofsussex opened #520 "District links go straight to UKBMD and ignore our own District page"
In the search results (and the Entry information view), the District is presented as a hyperlink:
![image.png](https://images.zenhubusercontent.com/5d3970212c1c7b71d87ac39e/b5bb499a-18ee-4c19-b1b9-e6a22fb2d806)

However, this link takes you out to the UKBMD page for the District. Meanwhile, we have a perfectly good page for that District, which itself includes a link out to UKBMD:
![image.png](htt

[2022-10-20 09:28] richardofsussex commented on #442
I would think that this information is more of interest to transcribers than to researchers. Is that fair? In BMD1, issues like an entry having a page number which is outside the expected range are flagged up (by italic text) in the search results. Therefore, researchers are alerted that there is a potential issue with the data, without having to delve into these statistics pages and work it out f

[2022-10-20 09:57] richardofsussex opened #521 "Improve District information page"
A couple of issues occur to me when looking at the District pages, e.g.:
![image.png](https://images.zenhubusercontent.com/5d3970212c1c7b71d87ac39e/2b86fb45-e529-4730-a8bc-3d01cea3b4c0)

First, the table of major periods to volume numbers uses 'xx' to indicate that the District did not exist during that major period. 'xx' is ambiguous, since we have roman numeral volumes, and it could mean '20' ex

[2022-10-20 10:28] richardofsussex commented on #519
However, see #520 where I come to a different conclusion (!)

[2022-10-20 12:49] DeniseColbert commented on #447
Done, closing

[2022-10-20 12:49] #447 closed, assigned to PatReynolds

[2022-10-20 12:56] DeniseColbert commented on #482
@AlOneill to do a mock-up (or two)

[2022-10-20 13:20] DeniseColbert commented on #480
I've modified these to be the same, with @AlOneill 's help. So the advice is the same but the error is different:

![image](https://user-images.githubusercontent.com/19173257/196959638-69451764-2ba7-44f5-9b5d-d98a19c47f52.png)

@Vino-S please note this means a small change to the "Too many results" page

[2022-10-20 15:19] richardofsussex commented on #521
While creating/copying test data, I have discovered that the 'xx' values are what is recorded in the Districts table. Therefore it should be simple enough to either change the value, or suppress those rows in the table.
![image](https://user-images.githubusercontent.com/2197102/196989945-73c20dbb-3ab9-48d7-9057-adf8148337c9.png)

[2022-10-20 18:06] richardofsussex commented on #519
The Districts table tells us the start and end quarters, so we can check that it did exist in the quarter specified in the entry. It also records the volume number for each major span of years (1837-51; 1852-1945; etc.) so that can be checked from that table. We can also check whether the authorized name for the District was used, or a synonym. (This may require use of the DistrictSynonyms and/or

[2022-10-21 10:11] richardofsussex opened #522 "Schema.rb out of sync with SQL database schema"
The schema for the Districts table in schema.rb:
![image.png](https://images.zenhubusercontent.com/5d3970212c1c7b71d87ac39e/c454453e-a6ed-4f52-adf1-3b76adb5a296)
doesn't include the changes which have recently been made to the underlying SQL table from which the data comes:
![image.png](https://images.zenhubusercontent.com/5d3970212c1c7b71d87ac39e/d5f92bd2-334e-4def-bdcc-83d70ecfc67b)
Presumably w

[2022-10-21 10:25] richardofsussex commented on #519
The bestguess table has a "Volume" index, on the combination of Volume, Page and QuarterNumber:
![image](https://user-images.githubusercontent.com/2197102/197174148-20802057-94b8-45f1-97b9-41b9b7bddd8c.png)
We could check how many entries there are for the combination of volume, page and quarternumber in an entry, and see if it corresponds to the number of entries you might expect in a valid page.

[2022-10-21 10:32] richardofsussex commented on #519
In general, I think that we should be more specific in our comments on doubtful data. For example, the doubt about the second Eliza Greenwood entry above relates to the page number, yet it is the District name which is italicized. There is room in the Entry Information page to do this, and it will make the page more accessible - arguably the uncertainty information on the BMD1 pages isn't accessib

[2022-10-24 14:36] richardofsussex commented on #508
OK, on advice from Vino I have refactored and simplified the code. The check, for the hash still being valid, now takes place _after_ redirecting to the BMD2 form of the URL. We need to build on this, by supporting users who save our new 'friendly' URLs, to cope with the situation where the hash _they_ contain is no longer valid. Because the 'friendly' URL contains the search parameters, it should

[2022-10-24 14:56] richardofsussex commented on #509
OK, I've gone ahead and made those changes. @Vino-S could you please push to test3, so we can see if they have the desired effect? I don't have the relevant data to test the fix on my development system.

[2022-10-24 15:49] richardofsussex commented on #385
Having implemented the redirection of BMD1 URLs to BMD2 equivalents, I now think that we should develop a system for URLs which accepts the reality that we do _not_ have permanent identifiers for entries. What we do have are record numbers, which are specific to a particular iteration of the BMD database, and hashes, which remain persistent while the underlying data stays the same. So, of these tw

[2022-10-24 16:23] richardofsussex commented on #384
Having just worked on #508, I can see that this issue can use the same technique. The only difference between an expired BMD1 URL and an unexpired one is that the hash value in the unexpired BMD1 URL will resolve to the BMD2 record.  This gives us access to the full data in the entry record, which in turn allows us to construct the 'friendly' URL for that record. As I mention elsewhere (#385) I wo

[2022-10-24 16:42] richardofsussex commented on #279
I think we should use 'prettified' URLs for all reference/citation purposes until such time as we have genuinely persistent URLs for entry records - and that won't happen in the initial BMD2 release, nor for a while afterwards. My reason for this stance is simple: the 'pretty' bit of the URL includes sufficient information to reconstruct the search which found that record. The hash which is the ke

[2022-10-27 08:45] PatReynoldsFUG commented on #279
Ignoring the permermanent url, prettified urls without the permanent id still contain less information than the citation

https://www.freereg.org.uk/search_records/5c3615e7f493fd70faf67f5c/grace-oldreth-richard-allcocke-marriage-yorkshire-north-riding-richmond-1657-05-19?citation_type=wikitree&locale=en

Yorkshire, North Riding : Richmond : Civil Marriages : Register of unspecified type : "Parish

[2022-10-27 08:48] PatReynoldsFUG commented on #112
If it is going to be significantly quicker to implement the prettified url than citations, then prettified url should go first.
(this is assuming hash rather than permanent url is used at initial deployment, and that permanent urls are used at a later point).

[2022-10-27 13:17] DeniseColbert commented on #383
We need info from Vino about the additional search options design- how have you set this up @Vino-S ? Particularly the search by middle name. Additional search options should prevent the need for multiple searches for finding a middle name.

[2022-10-31 12:01] richardofsussex commented on #385
The "reconstruct the search from the prettified URL" strategy will only work if the search elements can be reliably extracted from the prettified URL. We need to ensure that the hyphen-separated format is amenable to automated parsing. For example, in the FreeREG example, a date appears as "yyyy-mm-dd" within the URL, implying three items of information, not one.

[2022-10-31 15:07] AlOneill commented on #474
The ["More about searching"](https://beta.freebmd.org.uk/cms/help/more-about-searching) page on beta is the old version and not the updated version as on t3 — https://test3.freebmd.org.uk/cms/help/more-about-searching

[2022-10-31 15:14] AlOneill commented on #418
[Help](https://beta.freebmd.org.uk/cms/help) on beta still not the same as updated version on t3 — https://test3.freebmd.org.uk/cms/help

[2022-10-31 15:16] AlOneill commented on #487
Not synced yet

[2022-10-31 15:18] AlOneill commented on #210
Has **not been synced** yet to beta

[2022-10-31 15:26] AlOneill commented on #445
Table caption looks fine on t3 but on beta I got "We're sorry, but something went wrong with processing your request …" when I selected the "View" button in the listing (table) of Districts beginning with B.

[2022-11-01 11:50] PatReynoldsFUG commented on #385
Sorry, Richard, I hadn't gathered that you were planning for a machine to reconstruct the search!  The current form was designed for a human to reconstruct the search.
And also to be interpreted by a search engine (so "John" "Smith" "Scarborough" "birth" "1832" would need to be recognisable) - Ben was the developer involved.

[2022-11-01 12:08] richardofsussex commented on #385
Well, I'm just thinking through the possibilities. The current approach of outputting a hyphen-separated sequence of fields is fine for my purpose, so long as (a) the order of fields is known and consistent for each project and (b) hyphens are _only_ used as separators, i.e. hyphens in the data are converted to something else, e.g. underscore.

What I have in mind is that when a hash value fails t

[2022-11-01 15:08] DeniseColbert commented on #474
@Vino-S to check the sync

[2022-11-01 15:09] DeniseColbert commented on #516
This needs syncing to @Vino-S

[2022-11-01 15:12] DeniseColbert commented on #418
another one @Vino-S

[2022-11-01 15:14] DeniseColbert commented on #487
@Vino-S to check

[2022-11-01 15:14] DeniseColbert commented on #210
@Vino-S

[2022-11-01 15:15] DeniseColbert commented on #445
@Vino-S to update  (ref. 1993 records)

[2022-11-01 15:19] DeniseColbert commented on #483
Relates to #480 so closing

[2022-11-01 15:19] #483 closed, assigned to Vino-S

[2022-11-01 15:20] DeniseColbert commented on #480
So Too many results page should have the same text as the new Search timed out page.

[2022-11-01 15:29] DeniseColbert commented on #383
@richardofsussex to take a look

[2022-11-01 15:31] DeniseColbert commented on #508
@Vino-S to bring over to test3

[2022-11-01 15:37] DeniseColbert commented on #509
@Vino-S to push to test3

[2022-11-01 15:39] DeniseColbert commented on #515
@Vino-S please check Richard's comment and if it's right, push into test3 so @AlOneill can check

[2022-11-01 15:43] DeniseColbert commented on #103
@Vino-S to push to test3

[2022-11-01 15:44] DeniseColbert commented on #485
@Vino-S to push to test3

[2022-11-01 15:53] DeniseColbert commented on #513
@AlOneill to see if these links are there already

[2022-11-01 16:03] DeniseColbert commented on #415
@Vino-S to deploy to test3

[2022-11-01 16:08] DeniseColbert commented on #444
@Vino-S to push to test3 if not already

[2022-11-01 16:09] DeniseColbert commented on #459
@Vino-S to review

[2022-11-01 16:12] DeniseColbert commented on #268
@DeniseColbert  to check on beta (& test3)

[2022-11-02 13:47] richardofsussex opened #523 "More proactive help with names when searching (Autocomplete)"
Rather than telling our users to go off to a separate, hard-to-find page crammed with names and use the browser's 'find' command to hack through them, why don't we provide an autocomplete function on the search page which offers forenames or surnames matching what they have typed so far? If they have selected a District for their search, only offer names associated with that District.

[2022-11-11 14:14] DeniseColbert opened #524 "Revise Search and New Search buttons should be on screen"
![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/8254b58b-7001-4e16-b5ac-44de32d94547)

[2022-11-11 14:27] DeniseColbert opened #525 "Surname in Names (Yeovil) not present in any of our databases"
Did a search for Brattonsaggs in Test, Beta and FreeBMD1 but no results. Was this a correction that hasn't found its way into Names yet, or a sign of something else?

![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/35f31f51-09f1-433e-87aa-d52cd610cb68)

[2022-11-11 16:01] DeniseColbert opened #531 "Why in "Names" section do some names appear twice?"
Is it that the name is repeated for the number of instances? This suggests possibly not:

![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/6edfff6b-bce0-478e-a3b0-db01f7fd0320)

[2022-11-11 16:39] AlOneill commented on #531
Maybe it is because the transcriber has put a leading or trailing space in one version of the name? This would create a different name, i.e. "Skitteral" is different from "Skitteral " and " Slatter" is not the same as "Slatter".

I would expect the processing to remove such leading or trailing spaces, but perhaps this is a very old file?

[2022-11-15 12:13] richardofsussex commented on #524
Sorry, I don't see the problem. In the screenshot above, these buttons _are_ on screen. What am I not understanding? Thanks

[2022-11-15 12:26] richardofsussex commented on #279
I think there are two quite distinct issues here. My concern is about defining a url which can act as a persistent identifier for a GRO index entry.  This means that it can (in future) be used as a Linked Data identifier, resolving to JSON, RDF or another machine-processible format in response to a suitably framed HTTP request. I have already demonstrated how we can generate simple JSON and XML fr

[2022-11-15 15:06] DeniseColbert commented on #415
@DeniseColbert to test on test3 (and Alison)

[2022-11-15 15:07] DeniseColbert commented on #268
Vino has tested on test 3 and working, Denise to test beta.

[2022-11-15 15:08] DeniseColbert commented on #474
Vino to talk to lemon about images not syncing

[2022-11-15 15:09] DeniseColbert commented on #444
Ready for the team to test on Test3

[2022-11-15 15:13] DeniseColbert commented on #444
Vino to check the code made it in and check the HTML

[2022-11-15 15:27] DeniseColbert commented on #485
Maximum results showed has been increased to 50,000 so this issue should be fixed (search time changed from 300ms to 50 seconds too)

[2022-11-15 15:27] #485 closed, assigned to Vino-S

[2022-11-15 15:28] DeniseColbert commented on #103
@DeniseColbert to test

[2022-11-15 15:30] DeniseColbert commented on #515
@AlOneill to test on test3

[2022-11-15 15:30] DeniseColbert commented on #509
Denise to test

[2022-11-15 15:32] DeniseColbert commented on #516
Content should be there, images missing but Vino to talk to lemon about that

[2022-11-15 15:35] DeniseColbert commented on #418
Text should now be synced

[2022-11-15 15:36] DeniseColbert commented on #327
Denise to check

[2022-11-15 15:37] DeniseColbert commented on #508
@Vino-S to check this is in Test3 and let Richard know.

[2022-11-15 15:38] DeniseColbert commented on #487
@AlOneill to check it's there

[2022-11-15 15:39] DeniseColbert commented on #210
Content should be on beta - Denise to test

[2022-11-15 15:40] DeniseColbert commented on #445
@Vino-S to take a look

[2022-11-15 15:49] DeniseColbert commented on #128
Decided that enough is on the website about the GRO so closing

[2022-11-15 15:49] #128 closed

[2022-11-15 15:56] DeniseColbert commented on #514
Superseded

[2022-11-15 15:56] #514 closed, assigned to DeniseColbert, PatReynoldsFUG

[2022-11-15 16:06] DeniseColbert commented on #524
@Vino-S to move the buttons (including saved search) to in between number of results and Tools menu, and default-hide the search criteria box

[2022-11-15 16:20] DeniseColbert commented on #520
@richardofsussex ichard to change these links

[2022-11-15 17:18] richardofsussex commented on #525
There are two Bratton-Saggs entries for Yeovil, which suggests that the processing that generates the table of unique names is conflating this into a single 'name'. This means that '-' should be treated as a word separator during this process.

Another issue that was raised in this context is the doubling-up of some names in the list. This is quite common, and I suspect that names are not being ca

[2022-11-15 17:27] richardofsussex commented on #523
After discussion, we agreed that the autocomplete should always offer a selection from _all_ the names, rather than trying to filter by e.g. event type, District or date. This is compatible with the other search criteria (County, District, date, etc.), which are also not filtered based on the user's selections (apart from Districts being filtered by County).

As an initial piece of work, it was ag

[2022-11-15 19:45] richardofsussex commented on #520
OK, @Vino-S I have pushed the branch fb_520_rbl which should fix these links. As mentioned in the commit, the page fails because an earlier fix (to the data structure) is not [yet] reflected in the BMD development branch.

[2022-11-16 09:27] richardofsussex commented on #520
@Vino-S I have changed the links, and they _should_ work in test3. They fail to deliver a page on my local system because of #522 not being resolved.

[2022-11-29 11:55] DeniseColbert commented on #415
Text isn't there:
![image](https://user-images.githubusercontent.com/19173257/204522576-61bc370d-9cfe-47de-b115-2bcd529f83ca.png)

[2022-11-29 11:57] DeniseColbert commented on #268
Appears fixed, thanks all!

[2022-11-29 12:00] DeniseColbert commented on #103
Looks good! I agree about download limiting to what is viewable

[2022-11-29 12:07] DeniseColbert commented on #268
Closing

[2022-11-29 12:07] #268 closed, assigned to DeniseColbert

[2022-11-29 12:09] DeniseColbert commented on #103
To check policy with trustees

[2022-11-29 12:17] DeniseColbert commented on #520
@Vino-S to address #522 and then deploy the branch to test3 if necessary

[2022-11-29 12:22] DeniseColbert commented on #487
Done so closing

[2022-11-29 12:22] #487 closed, assigned to AlOneill

[2022-11-29 12:44] DeniseColbert commented on #511
Will be superseded by improvements to Names: closing

[2022-11-29 12:44] #511 closed, assigned to AlOneill

[2022-11-29 12:46] DeniseColbert opened #526 "Names to be converted to a list"
As per FreeCEN

[2022-11-29 12:59] DeniseColbert commented on #525
Great sleuthing! Would you be able to look at the fixes for this or would you prefer Vino to do this?

[2022-11-29 13:39] DeniseColbert commented on #509
All good on Test3. Tried Beta but district page threw an error:

![image](https://user-images.githubusercontent.com/19173257/204543813-ee2bdd65-952f-44da-bd14-4e0afb44003f.png)

[2022-11-29 13:44] DeniseColbert commented on #327
Button still not there @Vino-S

[2022-11-29 13:46] DeniseColbert commented on #210
Page is there, all good so closing

[2022-11-29 13:46] #210 closed, assigned to DeniseColbert

[2022-11-29 13:49] DeniseColbert commented on #103
@Vino-S could you look into paragraph 2 of Richard's above comment please? seem to have missed that in Scrum.