[2020-04-23 09:33] PatReynolds commented on #138
Hi @archerbarrie the aim is to have a selection of varying quality, to see what size of thumbnail is needed in order for a user to be able to select one to view. If you know of some "known to be horrendous" quarters / scans it would be good to have an example or two of these (and their better counterparts).

[2020-04-26 16:18] archerbarrie commented on #138
@PatReynolds @KatyMawhood I have uploaded a number of scans, including a pair (1964M1) in the "quadrant format" which did not have a sample. In reality it is not the quarters that have poor quality scans but the quarters where the different sources are markedly different in quality that need to be addressed.

[2020-04-27 16:47] PatReynolds opened #244 "Add auto ads to FreeBMD2"
I would like us to test auto ads on FreeBMD2 - I am assuming they won't be suiltable for us, as it may result in adverts in places where we really don't want them - but since this is a test site, it doesn't matter if they do (or if users don't like them) as we can go to traditional, placed adverts

The documentation from MonetizeMore is here: https://drive.google.com/open?id=1BIoLeGpYMFpuMv240oUbf

[2020-04-28 10:28] KatyMawhood commented on #164
@PatReynolds Could you give/link an example of the postems to be displayed on the detailed results page?

[2020-04-28 10:31] KatyMawhood commented on #131
@PatReynolds The link (above) is no longer working. Do you have an example of this page? Am I right in thinking it should be linked to each detail?

[2020-04-28 10:31] KatyMawhood commented on #130
Same as [#131 ](url) – @PatReynolds The link (above) is no longer working. Do you have an example of this page? Am I right in thinking it should be linked to each detail?

[2020-04-28 10:37] KatyMawhood commented on #227
@Daniel-silve1ra I'm checking over some stories, and I can see a few that we will need to link into these pages.

**Detailed results: links / pages**

- #130 "Entry Correction page"
- #131 "Add a postem page"
- #132 "Transcribe page"

[2020-04-28 10:39] KatyMawhood commented on #151
Closing this ticket because it has been superseded by #227.

[2020-04-28 10:39] #151 closed

[2020-04-28 11:11] archerbarrie commented on #164
@KatyMawhood Postems can be viewed at https://www.freebmd.org.uk/special-cgi/ShowPostems.pl. Tick "7 days" and then Find to see the most recently added. An example of how a postem is displayed currently is
![image](https://user-images.githubusercontent.com/14543258/80480793-300d0900-8949-11ea-83d2-4855baecbdb8.png)

[2020-04-28 13:02] KatyMawhood commented on #164
Thanks @archerbarrie – this is really clear.

Can a user register/login at any time to create a postem? Or is the option only accessible to transcribers as they work on each entry?

[2020-04-28 14:19] archerbarrie commented on #164
@KatyMawhood No, it's the opposite to that. Transcribers cannot add postems, only users (researchers) and they don't need to login (but they do need to get past a CAPTCHA). On the information page there is
![image](https://user-images.githubusercontent.com/14543258/80494549-ac5e1700-895e-11ea-8bc4-84f5b3c15f4d.png)
and clicking on add a postem takes you to the Create a Postem page (which has the C

[2020-04-28 15:15] KatyMawhood commented on #164
@archerbarrie Thanks Barrie, I'm glad I asked!

Re: viewing – I can't currently access the BMD [Show postem](https://www.freebmd.org.uk/special-cgi/ShowPostems.pl) link because it's protected by a username and password. @PatReynolds suggested that you may be able to help with that?

[2020-04-28 15:20] archerbarrie commented on #164
@KatyMawhood Sorry, I gave you the wrong link. The one I gave you is an admin version for managing the Postems, the one you need to view them is  https://www.freebmd.org.uk/cgi/ShowPostems.pl

[2020-04-28 17:09] DeniseColbert commented on #14
I think there's been a mistake in and amongst changes to the Milestones (last July & August), catching this story in the crossfire.

[2020-05-04 09:23] Daniel-silve1ra commented on #232
**Video recording of the team design critique**
https://drive.google.com/file/d/1v62tMrk7n6PgJTcFc3wFk3Rx8s8U6tbB/view?usp=sharing

**The wireframes**
https://www.figma.com/file/jtUoOTq6CYnDOuwMWGaZe3/FreeUKBMD2-%C2%B7-Design-critique-of-search-experience-wireframes?node-id=477%3A3772

**Feedback trello board**
https://trello.com/b/SXNgEE7A/design-huddle-search-experience-1

As you'll see from the

[2020-05-05 16:48] richpomfret commented on #43
Consider closing or indeed iterating (we can create another story if helpful).

[2020-05-12 14:19] DeniseColbert commented on #43
I've had a look and tidied up some of the formatting/language. If @Daniel-silve1ra and @KatyMawhood are happy, we can close and count this as done .

[2020-05-13 12:49] KatyMawhood commented on #43
@DeniseColbert Looks good to me. The new UX team hasn't had the opportunity to influence any of this, but I appreciate all in the works from wider BMD2 team and previous volunteers. 👍

[2020-05-18 20:21] Vino-S commented on #187
database changed. So closing it

[2020-05-18 20:21] #187 closed, assigned to Vino-S

[2020-05-19 15:25] Vino-S commented on #215
ready for testing on test2

[2020-05-19 15:26] Vino-S commented on #244
ready for testing test2

[2020-05-19 15:28] Vino-S opened #245 "Add Transciber information in search detail page"

[2020-05-19 15:58] Vino-S commented on #82
Fixed the tooltips.
Working on Search Button. Will fix it while working on issue #184

[2020-05-19 16:27] richpomfret commented on #215
@Vino-S to update TEST3 as our testing environment and we can begin using it as our primary testing environment.

[2020-05-19 16:32] DeniseColbert opened #246 "Search button issue"
When I clicked Search, the button looked like this:
![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/520754ff-3ad1-4ac6-b7b0-2e7b8f6c1bb1)

Seems different to the way the button changes upon click in FreeREG & CEN

Also, if we want the word 'Search' to remain, it should show the whole word.

[2020-05-19 16:34] Vino-S commented on #246
Ah Yes Denise. I am working on implementing spinner for search button. It will be fixed once I finish it

[2020-05-19 16:34] richpomfret commented on #43
@richpomfret to take a quick look.

[2020-05-19 16:38] Daniel-silve1ra commented on #232
**Feedback from Denise and Rich**
https://docs.google.com/document/d/1YkKU9fFvJJjZK7wo33Odmxz4lKNsJhPkad9kIfEG-iE/edit?usp=sharing

[2020-05-19 16:39] DeniseColbert commented on #246
Thanks, Vino. Closing.

[2020-05-19 16:39] #246 closed, assigned to nobody

[2020-05-27 13:53] Vino-S commented on #184
ready for testing

[2020-05-27 15:48] PatReynolds commented on #184
Tested and working fine, thank you.

[2020-05-31 18:00] Daniel-silve1ra commented on #232
Katy and I have designed the search results and detailed results page. What we've done is based as much as possible on the patterns used by FreeCen, https://test3.freebmd.org.uk/ and https://test2.freebmd.org.uk/. We've done this so that hopefully we can build upon code which we already have and go to production quicker. For example, the table of results in our designs uses the FreeCen table desig

[2020-06-02 12:11] PatReynolds commented on #213
Help page does not currently mention how to use the (new) search page.  Suggest returning to backlog until after first draft of Help for FreeBMD2.

[2020-06-02 12:16] PatReynolds commented on #213
Added to pages needing moving spreadsheet

[2020-06-02 16:09] richpomfret commented on #184
@Vino-S do we have TEST3 up to date yet and if so, is this change on there?

[2020-06-02 16:12] richpomfret commented on #192
@Vino-S is it clear what change is needed here?

[2020-06-02 16:13] richpomfret commented on #215
@Vino-S has this been updated? Let me know and i'll then test this.

[2020-06-02 16:16] richpomfret commented on #43
Let's deploy this version and we can always create a new task to iterate this page if needed.

[2020-06-02 16:16] PatReynolds commented on #134
I have added to spreadsheet for Documentation Team.

[2020-06-02 16:19] PatReynolds opened #247 "Prioritise the Documentation Team's work - mark as MVP"

[2020-06-02 16:20] richpomfret commented on #240
Closing.

[2020-06-02 16:20] #240 closed, assigned to KatyMawhood, Daniel-silve1ra

[2020-06-02 16:21] richpomfret commented on #241
Closing.

[2020-06-02 16:21] #241 closed, assigned to PatReynolds, richpomfret, KatyMawhood

[2020-06-02 16:25] richpomfret commented on #199
@KatyMawhood and Daniel to review this (perhaps look at past research) in terms of layout and note that we do have a basic layout from Systemwide.

[2020-06-02 16:53] PatReynolds commented on #138
To be implemented as part of #138, so closing now.

[2020-06-02 16:53] richpomfret commented on #138
Discussed 'tiling' the scan images when there are 3 or more.

[2020-06-02 16:53] #138 closed

[2020-06-02 17:01] PatReynolds opened #248 "Check the info button content for typos."

[2020-06-02 17:02] KatyMawhood commented on #242
Some labels may add unnecessary clutter because they explain things that can be understood intuitively. E.g. "First name" has a label that says "Use upper- or lower-case. Check the Exact match on first names check-box to search the First Name exactly as the characters typed."

[2020-06-02 17:03] PatReynolds opened #249 "Review how info button is implemented"
Personally, I find the additional information (from the help page) is too large a font and too obtrusive on the search page, and think it would be to say 'opens in a new page'

Updated 15th November 2021

Now no tool tips on Search Page, Results Page or Entry Information - suggest closing.

[2020-06-05 10:34] DeniseColbert commented on #248
@ComfE-2662 is going to take a look at this

[2020-06-09 14:34] Vino-S commented on #184
updated to test3

[2020-06-09 14:35] Vino-S commented on #215
@richpomfret updated to test3

[2020-06-09 18:48] ComfE-2662 opened #250 "Sign in as a transcriber"
I have managed to set up a profile on the test3 BMD site but I am unable to login into the site with my new password.

Please can I be set up on the members area. My username is ComfE

[2020-06-09 18:54] ComfE-2662 commented on #248
I was unable to complete this task because:

1. I am unable to sign in as a member on the test 3 site
2. The site only seems to be showing basic html with no css or styling to it
3. I wasn't 100% sure where to find the page - on test2 or test3 and I wasn't sure the exact page tbh

I think I'll need a bit of guidance at the next meeting next week

[2020-06-16 10:20] DeniseColbert opened #251 "Document transfer of html (incl. cleanup) to Refinery pages"
From Slack:

As mentioned in the FreeCEN scrum: How to get clean(ish) html from a Google Doc: first download the google doc as html (from the File menu, choose download as ... web page (zipped).  Unzip webpage. Open file in notepad (or similar text editor. Copy and paste into https://www.htmlwasher.com/ Looking at the page I'm working on, I'm going to copy it back into notepad and do some find-and

[2020-06-16 10:21] DeniseColbert commented on #251
@ComfE-2662 to take a look

[2020-06-16 11:51] DeniseColbert commented on #215
I tested this and saw this screen after submission:
![image](https://user-images.githubusercontent.com/19173257/84769073-30cb2e80-afcd-11ea-854c-86751e604c22.png)

**I think the message is very easily missed.**

Also, I noticed in "Contacts" that there is the button to "Convert to issue on Github".

**EDIT- A story WAS created, it seems, but on FreeREG board**:

![image](https://user-images.github

[2020-06-17 10:00] DeniseColbert commented on #65
Neslihan suggested a tool for gathering feedback: https://usersnap.com/blog/web-application-testing/

[2020-06-17 11:56] PhilipClarke712 commented on #214
I added nine of these files at 1st-html-mark-up stage to the shared foulder back in early April and they are waiting resultion of how the BMD2 pages should "look" in terms of style, font, side menus, etc.

[2020-06-17 12:01] PhilipClarke712 commented on #176
I put nine of these files, at 1st-pass-html-mark-up, into the shared folder in early April awaiting resolution of how the final BMD2 pages should "look" like. An other two being worked on by others.

[2020-06-17 12:04] PhilipClarke712 commented on #214
As per the spreadsheat, another two files are due to be implemented and this work has been taken on by two other editors.

[2020-06-17 12:11] PhilipClarke712 commented on #137
I added a page currently called "Ordering Certificates" and 1st-stage-html-mark-up to the shared folder Documents (in Progress) in early May. It is awaiting resolution of how the BMD2 pages should "look" like.

[2020-06-17 12:21] PhilipClarke712 commented on #134
I added a file "Help -- Marriage help"  at 1st-pass-html-mark-up to the shared folder Documents (in Progess) about a week ago. It is waiting resolution of what BMD2 pages should "look" like.

[2020-06-17 12:32] PhilipClarke712 commented on #135
I put a file currently called "About - Coverage Charts.shtml" at 1st-stage-html-mark-up in the shared folder Documents (in progress) back in early April. It is awaiting resolution of what BMD2 pages should "look" like. I it's very similar to what was on FreeBMD at that time.

[2020-06-17 13:05] PhilipClarke712 commented on #99
Most, if not  all, the pages listed in the Audit at 2ary level are being worked on, including the text of https://www.freebmd.org.uk/iindex.shtml. There were one or two I could not identify. About 40 pages are sitting in the shared Documents (in progress) folder at 1st-stage-html-mark-up, awaiting decisions on what the BMD2 pages should "look" it (including any icons, which are not in place on tes

[2020-06-20 18:39] ComfE-2662 commented on #248
I have made a folder in the shared drive called 'New work' so that anything I do can be take out of there and put in the right place and also to be found easily.
I checked the search page and created a spreadsheet of my findings. I haven't edited them as I am unable to due to access but at least the person who does edit them can just copy and paste my suggested edits.
I think the main issue was th

[2020-07-02 15:21] FreeUKGenIssues opened #252 "173632883 Data Problem (vino)"
Issue reported by **vino** at 2020-07-02 15:21:23 UTC
Time: 2020-07-02T15:20:16+00:00
Session ID: 9137c96be5b0dcc44d1cd4589cd293c2
Problem Page URL: [https://test3.freebmd.org.uk/best_guess/5efdfb12e93790116a6be884/237597994/william-walker-callum-death?locale=en](https://test3.freebmd.org.uk/best_guess/5efdfb12e93790116a6be884/237597994/william-walker-callum-death?locale=en)
Previous Page URL: [ht

[2020-07-03 13:27] Vino-S commented on #215
Fixed. The issue is now created in BMD2 board.

I haven't made changes for message display. Any suggestions would be helpful

[2020-07-03 13:42] Vino-S commented on #192
Apologies @PatReynolds  @richpomfret , I am unable to replicate the issue in my local.  Can I have an example search criteria please, so that I could dig deeper. Thank You

[2020-07-15 16:08] DeniseColbert commented on #82
Responsiveness of the navigation bar needs to be tested

[2020-07-15 16:10] Vino-S commented on #82
the code is updated in test3

[2020-07-15 16:10] richpomfret commented on #244
@richpomfret to take a look.

[2020-07-15 16:31] richpomfret commented on #199
@Daniel-silve1ra to take a look too.

[2020-07-15 16:36] richpomfret commented on #232
@richpomfret to review/feedback.

[2020-07-15 16:37] DeniseColbert commented on #199
@Daniel-silve1ra This link takes you to our CSS volunteer's code-demo: https://jayto581.github.io/FUG_Demo

[2020-07-15 16:40] PatReynolds commented on #172
Comfort to email Pat a draft text to the team at groups.io.

[2020-07-15 16:43] richpomfret commented on #252
Test. Closing.

[2020-07-15 16:43] #252 closed, assigned to nobody

[2020-07-15 16:49] Daniel-silve1ra commented on #232
here is the link for the wireframes which need reviewing. There is a speech bubble icon in the horizontal tool bar of the interface which you can use to make comments. If you let me know when you've done that I can then look at making iterations. You will need to login to figma to do this

https://www.figma.com/file/taWyCA226beA2JoDX0UF4u/Option-2-low-to-high-fidelity?node-id=3%3A5

[2020-07-15 16:59] richpomfret commented on #225
@PatReynolds to test and close if appropriate.

[2020-07-15 17:00] #250 closed, assigned to Vino-S

[2020-07-16 09:57] PatReynolds commented on #129
Current system is  reached from the search detail page (ie as sytem planned here), and provides detailed instructions (which seem not to be read by some users) - https://www.freebmd.org.uk/cgi/corrections.pl?r=252876913&d=bmd_1593465254 and a form that contains the details from the entry in the detailed results page and provides the user with an opportunity to correct those details in a form.

A s

[2020-07-16 10:47] PatReynolds opened #253 "Bring FreeBMD2 Refinery pages to the standards for Multimodal Markup Standard page"
Initially: Bring to the Markuup Standard (pages for MVP only)

[2020-07-16 10:52] DeniseColbert commented on #248
Typos seem to be fixed, thanks @Vino-S.

Comfort has highlighted changes to text, can be seen here: https://drive.google.com/file/d/1dVL2r9tfVV1bjf2iS8y6_SULz4pk-WVu/view?usp=sharing

Use of asterisk to denote non-optional fields needs discussion

[2020-07-16 11:25] PatReynolds opened #254 "Enhance 'Contact Us'"
Consider using a FAQ before the contact form(s).

[2020-07-16 11:29] PatReynolds commented on #215
Current system is  reached from the search detail page (ie as sytem planned here), and provides detailed instructions (which seem not to be read by some users) - https://www.freebmd.org.uk/cgi/corrections.pl?r=252876913&d=bmd_1593465254 and a form that contains the details from the entry in the detailed results page and provides the user with an opportunity to correct those details in a form.

A s

[2020-07-16 15:30] DeniseColbert commented on #43
Has this been deployed? Do we need a story for linking to this page in About/Help?

[2020-07-16 15:42] DeniseColbert opened #255 "What happens when browser is set to larger font size?"
I have my browser set to show larger text and the FreeBMD2 search form doesn't look very good:

![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/7ba16d2c-2b1c-4d9b-bbc7-bc1f276a6927)

Compared to FreeREG:
![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/698e93ad-3a1b-402d-8b39-792d000513b4)

I know FreeREG doesn't try to cram a lot of fields in l

[2020-07-16 15:44] DeniseColbert commented on #255
EDIT: wrong FreeREG snip uploaded- now replaced.

[2020-07-16 15:59] DeniseColbert opened #256 "Implement search results page"
Based on designs in #83

[2020-07-16 16:00] DeniseColbert commented on #256
I noticed we don't have a story for this and it's in progress so created this. @Vino-S if it's ready for review, please move it there :)

[2020-07-17 14:13] AlOneill commented on #82
The navigation is not responsive in that below a screen width of about 1050px, the main menu is replaced by a hamburger icon that does not do anything.

Also, the contents of the 'Age at death' tooltip could be better: Optional. Age can also be entered Number(range) or Date of Birth(range)
Perhaps there should be 'as a' between 'entered' and 'Number', and also between 'or' and 'Date'? There is pro

[2020-07-28 10:17] PatReynolds commented on #129
Basic model seems to meet approval, so I suggest it is implemented, and the text reviewed/tweaked, particularly by the FreeBMD1 volunteers who respond to support queries and those who process amendments submitted by the form, and as a result of beta testing.

[2020-07-28 11:48] PatReynolds commented on #129
Technical note: the error reporting page contains a form which pre-populates with the current record and allows the user to comment on each one, as appropriate.   Is this possible for MVP, or can we only achieve the URL (the "citation" in FreeBMD1 and a list of fields for the person to comment in?

[2020-07-28 13:53] ComfE-2662 commented on #172
Sorry I didn't get round to making the draft for this.

I have just read it and it felt like I was reading the Torah (I don't speak Hebrew).

There were rules and dependencies like using a backslash or a question mark or both, One * or two **, dashes, hypens, options to write the in 3 different ways (?), links to pages which involved even more reading.

I tried some of the functions on the test3 p

[2020-07-28 14:27] ComfE-2662 commented on #226
I did a random search and from the results I copied and pasted the url in a new tab and it brought me to the results of the search I just did.

Was there any thing else that needed to be tested?

[2020-07-28 14:45] ComfE-2662 commented on #213
I think I'll need a link to find what you are referring to

[2020-07-28 16:08] PatReynolds commented on #226
@Pat to check documenation

[2020-07-28 16:18] PatReynolds commented on #172
Yes, write a 'basic' version as you suggest - there should be a secondary help page that is for help on the advanced tools that more experienced users will find useful.

[2020-07-28 16:23] PatReynolds commented on #192
@Vino-S please change the Chapman code to County Name and the district number to the district name - otherwise functioning as expected.

[2020-07-28 16:29] PatReynolds commented on #82
@AlOneill can you let @Vino-S know what she needs to do to give Clear Form visible focus?

@Vino-S to fix hamburger on mobile once we have a mobile layout.

@Vino-s to make changes to tooltips /info buttons

[2020-07-28 16:42] PatReynolds commented on #255
@PatReynolds to test.

@Vino-S to adjust number of fields across the grid as a larger font is used.

[2020-07-28 16:46] PatReynolds commented on #254
@PatReynolds to ask support@ what they think, also @KatyMawhood and @Daniel-silve1ra

[2020-07-28 17:49] PatReynolds commented on #232
Underlying design is great

I agree with note 2.

Could the dro-down tools menu have a dark or mid grey outline to show where it ends and the page behind begins?

Could the link to correction be after the text and say 'I have viewed the scan and wish to submit a correction'?

I think that Postem needs some text before it and again, text with link to follow.

Suggested text: Do you know more about

[2020-07-29 16:31] AlOneill commented on #82
@Vino-S I would simply add `.clear_form:focus` as a selector to `.clear_form:hover`, which is defined in freebmd_content.css

[2020-07-30 09:47] Vino-S commented on #82
Thanks @AlOneill, will do it

[2020-08-03 09:14] PatReynolds commented on #99
Is there anything else which needs to be decided, or can this be closed?

[2020-08-03 09:20] PatReynolds opened #257 "Review Records (wasCoverage/Transcriptions) page for enhancements"
Coverage is currently a link to the FreeBMD1 Coverage page - other pages needing to have their content here need reviewing and listing

potential enhancements
stage 1) place coverage page in the 2/3 space, and put links to sub pages in the 1/3?

stage 2) replicate the coverage page in the 2/3 space, plus move other date here from the sub-pages of the previous iteration, if needed.

[2020-08-03 12:06] PhilipClarke712 commented on #99
Hi Pat,

You can close it.

The time frame available would help. At present, nothing has gone on.

At one extreme we can put everything on now that needs doing, but that means for some pages using the old BMD(1)  images, icons and figures. Then we could go back and change images, etc., once the relevant bits are operational on test3.

The other extreme is only to put through Refinery only what is

[2020-08-05 15:33] PatReynolds opened #258 "Existing transcriber access to FreeBMD2"
This epic is about enabling existing non-technical volunteers to log in to FreeBMD2 for the same  multimodal functions as is the case for volunteers on the FreeCEN and FreeREG projects.

[2020-08-05 15:43] PatReynolds opened #259 "Add roadmap to FreeBMD for volunteers"

[2020-08-05 15:44] PatReynolds opened #260 "Transcription Agreement Sign up (existing transcribers)"

[2020-08-05 15:46] PatReynolds opened #261 "Communications around Transcription Agreement Sign up (existing active transcribers)"

[2020-08-05 15:48] PatReynolds opened #262 "Transfer Information for Transcribers to Refinery"
Includes reviewing information provided, and updating where needed.

[2020-08-05 15:51] PatReynolds opened #263 "Transfer Management Information to Refinery"
Includes reviewing information provided, and updating where needed.

[2020-08-05 15:59] PatReynolds opened #264 "Create text for volunteer landing page"
Text to include:
Message
Recent changes
(with release note containing new features, improvements and fixes for the past three scrums).

[2020-08-06 17:20] ComfE-2662 commented on #172
I've been trying to work on this job and Philip has advised that there are edits in a tree somewhere on Refinery and that it is advisable to check them for guidance.

Please can anyone give me access to Refinery.

I will need this access if I am to do other work, not just this one.

![Capture.PNG](https://images.zenhubusercontent.com/5ecd15a9812f89eaa03d991e/39e99c83-5898-4206-80d2-55e50f62f1c4)

[2020-08-07 17:04] Vino-S commented on #255
Hi @DeniseColbert , Made few changes.
Could do a test in test2 and let me know if it is better

[2020-08-08 15:57] Daniel-silve1ra commented on #232
I've finished making iterations to the search result designs and completed the pre-production dev specification to guide Vino.

It is worth noting that these designs still need to be signed-off before production. However, I may not be able to attend the next meeting and I didn't want to delay this any further for the project - which is why I have done the specification already.

When it comes to u

[2020-08-08 16:09] richpomfret commented on #135
@PatReynolds do we require this page for MVP? We should flag any non-essential (for MVP at least) pages at this stage.

[2020-08-08 16:14] Daniel-silve1ra commented on #232
Hey Pat,

Thanks for the feedback.

I've tried to incorporate the things you've said apart from the stuff about
postem as I'm not sure I understand 100%. But I think if I understand it
correctly that it is more of a content decision rather than a UX one.

Thanks again,

Daniel

On Tue, Jul 28, 2020 at 6:49 PM PatReynolds <notifications@github.com>
wrote:

[2020-08-09 05:48] PhilipClarke712 commented on #135
It is a very small page, I have moved it across already as four html pages, but I don’t know how to link in the images (I will be seeking advice).

The FreeBMD version is currently available on the FreeBMD2 Transcriptions Tab and that runs in a separate web tab (which is not liked). Note: If we run any FreeBMD page from FreeBMD2 the “back button” takes us to the FreeBMD home page, there is no way

[2020-08-09 23:05] Daniel-silve1ra commented on #232
Hi all,

About my last email. I was doing some thinking and tinkering and I've found what I think is a really strong reason for not going with those designs.

**The table**
The main reason for this is the results table. As you can see from the design shown [[here](https://www.figma.com/file/taWyCA226beA2JoDX0UF4u/Option-2-design-to-dev?node-id=225%3A836)], it has several table headers for:

'View'

[2020-08-10 09:32] PatReynolds commented on #251
Just realised that the code sitting on FreeBMD2 is the mucky code with "dark lord" (or is it "night rider", etc. in. it.

I have made a draft 'how to' on how to check that the page being edited is clean, and how to use the two-third, 1-third structure.  I'll send to @AlOneill for initial checking, ccing @ComfE-2662  for her to see if it is understandable.

[2020-08-10 09:51] PatReynolds commented on #178
Text added to a draft page (under About) in test3 .

Decision needed on whether to make it part of the main About page, or a sub-page.

[2020-08-10 10:58] PatReynolds commented on #178
Draft text added to the Help page.  Will need:
-[ ] link to the section of About page or sub-page rather than the current link (just to the About page
-[ ] Caution on use during the testing Phase of FreeBMD2 (i.e. that the link is to the url currently occupied by FreeBMD1).

[2020-08-10 11:02] PatReynolds commented on #109
Note to self re writing the citations: the reference is to the scan, not to the transcription.  The quasi-PURL (i.e. generated html address which takes to the detailed record page on FreeBMD1 currently, and will take to the detailed record page on FreeBMD2 in due course).

[2020-08-10 12:52] AlOneill commented on #251
@PatReynolds Sorry, but I'm in a pedantic mind-set and HTML is not code, it is markup. Also, the About page is not typical, the one-third `div` is not generally at the bottom of the page, and it is an `aside` element rather than a `div` element. That About page was not put together by me.

I do not understand what "dark lord" or "night rider" signifies, or what you mean by 'mucky'.

I'm writing a

[2020-08-11 08:51] PatReynolds commented on #193
I see 'county' is appearing in designs ... are we gong to aim to get this story as part of MVP, or are we gong to just use 'district' at MVP release?

[2020-08-11 10:39] PatReynolds commented on #251
Sorry for not using the correct words!
'murky' means 'full of bad markup'

Darkrider: sorry - misremembered word is this block of markup:
<style scoped="scoped"> abbr { text-decoration: none; } h2.coloured { color: #895f49; } /* brown-brighter */</style><style class="darkreader darkreader--sync" media="screen"></style>
It has come into  several of our pages, and we've spotted it before but we have

[2020-08-11 11:12] PatReynolds commented on #164
'Postems' is an obscure term.  I think the label should be 'More about this record from other users (Postems).'

I think we may need a separate 'add what you know' button as the text will be too long for the button if it is all in one. Help note 'please use this link to add what you know about the people or event in this record'

[2020-08-11 11:15] PatReynolds commented on #133
Not yet created @KatyMawhood

[2020-08-11 11:25] PatReynolds commented on #131
@KatyMawhood This story could be achieved within the page created by bringing across https://www.freebmd.org.uk/postems-help.html (story #133)

Or it could be a sub-page.

The page to bring across may be generated in a way that makes giving a link to it not work properly ... please go to the detailed results page and click the link you find there to 'add a postem' "
![image.png](https://images.zen

[2020-08-11 19:23] ComfE-2662 commented on #172
Ok, so as mentioned, I spoke to Alison and Philip about this in the groups.io chat and Philip told me that on Refinery on test3 there are some edits that @PatReynolds has made for this page and it would be wise to check those edits before I go ahead and make my own.

@AlOneill on the other hand mentioned that the page is difficult to read especially if someone has a screen reader because of the 'h

[2020-08-12 15:47] PatReynolds commented on #210
Page created - but needs checking against standards for html  and new reviews adding

[2020-08-12 15:52] PatReynolds commented on #216
No decision yet.  'Detailed Results' may not be right for FreeBMD - UX to test if this builds expeection of more details being following the link / disappointment when it is more properly 'More information about this entry'.

[2020-08-12 16:05] PatReynolds commented on #164
@PatReynolds to test

[2020-08-12 16:09] #99 closed

[2020-08-12 16:11] PatReynolds commented on #247
@richpomfret and @DeniseColbert do you agree with my prirotisation?

[2020-08-12 16:23] PatReynolds commented on #232
@Daniel-silve1ra Vino says a 'sort by location' and 'sort by location' button is possible.  She can also impliement as a single drop-down choice - please could you design for the solution you think is better?
Can you also show how non-contiguous results are going to be marked (?a symbol)

[2020-08-12 16:30] PatReynolds opened #265 "Add County data to the search results page"
1/ do we have the data, or will we need to create it/ask UKBMD for it?
2/ will it be date-sensitive? will it matter if it isn't?

[2020-08-12 16:31] richpomfret commented on #232
Otherwise I think we are happy to go with the design/sign it off - ignore my previous email about adding more columns in the desktop version. ;)

[2020-08-12 16:37] richpomfret commented on #199
@Daniel-silve1ra @KatyMawhood could you take a look at this if/when you get a chance? Would be great to find out what you think.

[2020-08-12 16:42] PatReynolds commented on #109
For now - serve a quasi-permanent URL will be to FreeBMD1, but before switch we will need to come up with a solution that will work.

[2020-08-12 17:06] richpomfret commented on #248
@PatReynolds to take a look and see if any next steps are needed or if we can close this as completed.

[2020-08-12 17:10] richpomfret commented on #251
@ComfE-2662 requires access to Refinery before progressing any such stories.

[2020-08-12 17:13] ComfE-2662 opened #266 "I need access to Refinery"
In order to help the documentation team with mark up and html, I need to have access to Refinery
When I log into the transcriber page this is all I can see.

 ![Capture.PNG](https://images.zenhubusercontent.com/5ecd15a9812f89eaa03d991e/8b642e57-a6f6-4bf1-9485-ce75a77c4337)

[2020-08-12 17:14] richpomfret commented on #266
@Vino-S to assist.

[2020-08-13 11:00] Vino-S commented on #266
Hi @ComfE-2662 ,  I had given you access to Refinery Pages in test3. Can you test an let me know please

[2020-08-13 11:28] PatReynolds commented on #232
Just noticed that the non-contiguous data is no longer indicated (see issue #191.

This might be achieved by a shading of the row of  non-contiguous entries, by a symbol in the 'Individual' data or by other means.

[2020-08-14 13:30] PatReynolds commented on #172
Hi @ComfE-2662 my edits ( I added the section about Citations) were already in test3 - I think you meant test3, not test 2 (which we no longer use).

I will download what is in test2 so you can access it.

[2020-08-14 14:50] PatReynolds commented on #172
I moved things in test2 to test3 which were not already there.

For both Help and About I think some thought is needed on structure - what needs to go into the top level page, and what is better on a sub page - either on its own, or in a group.

[2020-08-14 15:29] PatReynolds commented on #171
Adding @ComfE-2662 for implementation.

App pages (those which draw content from the database) should be created ast .txt documents only, for transfer to the app page when created (by developers).

Should app pages be created in Figma?

[2020-08-14 15:31] PatReynolds commented on #170
HI @ComfE-2662 can I assign this to you now?

[2020-08-14 15:39] PatReynolds commented on #185
I'm not sure why this is in backlog as it was ready for user testing in January?

I think some decisions have been made elsewhere about the content of individual buttons, that need to be implemented.

[2020-08-14 16:48] PatReynolds commented on #248
Hi @ComfE-2662 thanks for this - very helpful.

All fields are optional, so we don't need to mark them as optional/required in any way.  What we should do is say at the top 'all fields are optional'.

If we say at the top 'you can use upper or lower case letters anywhere' then it doesn't have to go in any infobubble.

I don't think 'date range from' and 'date range to' need an info button.  Or pos

[2020-08-14 16:51] PatReynolds commented on #225
The search seems to give a good margin of error (e.g. if I say someone died 14 Jan 1901, it looks for a year or so either side).  In which case ... why are we asking for month and day?  It is very difficult and time consuming - and sometimes one is only checking and knows it is March quarter 1901.
Or do we want a 'precise' option (choose exact date) a 'approximate' option (how a single date is cur

[2020-08-14 20:41] ComfE-2662 commented on #266
Hi Vino,
No it still doesn't work. I'm signing in on test 3 and I get the same message

[2020-08-14 20:51] ComfE-2662 commented on #172
Yep, that's what I said, in Refinery on test 3 . I only have access to test 3 anyway haha! But it's getting to actually see these edits which I am having trouble with because I can't get into refinery.
Unless you mean they are somewhere else in test3?

But anyway, a download would be super useful, thank you. Then I can recreate another draft using that.

So are you saying I should try and split up

[2020-08-14 21:03] ComfE-2662 commented on #170
Yeah sure, no problem.

I'm completely clear on what you'd like me to do. It would probably be easy to explain with a quick voice call if possible, rather than typing everything.

Maybe you could call me, if you find the time?

Also does this relate to the issue #171 ?

[2020-08-14 21:22] AlOneill commented on #172
@ComfE-2662
Sorry, I did not explain **link-text** at all well! I'll try again.

"Here" is not good link-text: it conveys no meaning and there are a number of links on the page that all have exactly the same link-text, yet they point to different things/places. I did not mean for you to necessarily remove the word, "here", but to use or create a suitable phrase for the link instead of "here". The

[2020-08-15 21:53] AlOneill commented on #251
@PatReynolds That markup,

"abbr { text-decoration: none; } h2.coloured { color: #895f49; } /* brown-brighter */"

was originally part of a single page on REG. (The unintended consequences of copying … !!) It should be deleted.

The first part prevents Firefox from applying its default styling (which could've changed by now) to abbreviations **in addition to our styling** (weird effect). The irony

[2020-08-15 22:08] ComfE-2662 commented on #172
Thanks Alison, this clarifies a few things.

Do you know of these citations that Pat has done?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: AlOneill <notifications@github.com>
Sent: Friday, August 14, 2020 10:23:02 PM
To: FreeUKGen/FreeBMD2 <FreeBMD2@noreply.github.com>
Cc: ComfE-2662 <comfort.eboh@hotmail.com>; Mention <mention@noreply.github.com>
Subjec

[2020-08-19 11:15] PatReynolds opened #267 "List sub-pages of Registration District Information"
Sub-pages of Registration District Information (https://www.freebmd.org.uk/DistrictInfo.html#pagerange) have not yet been listed and prioritised - this needs to be done as some / all may be MVP.

Now drafted: https://docs.google.com/spreadsheets/d/1pxcXfM4xJDYZj1yYPudsD1exS3-m2TZ4rRpe6-3y2p4/edit?usp=sharing

[2020-08-20 09:11] Daniel-silve1ra commented on #232
Hi Pat,

Thanks for the comments. I'm not very clued up on what non-contiguous
entries are? Would you mind giving me a brief description of what it is?

On Thu, Aug 13, 2020 at 12:29 PM PatReynolds <notifications@github.com>
wrote:

[2020-08-20 09:53] Daniel-silve1ra commented on #199
@richpomfret @DeniseColbert I've had a look at the code-demo. It looks very good - I like it. I've run an accessibility test on it using WAVE. It has highlighted a couple of errors which should be fairly simple fixes - particularly about formatting the boxes as tables being problematic. @DeniseColbert can you point the volunteer to installing the chrome extension on the page and going through the

[2020-08-21 11:10] PatReynolds commented on #225
Personally, think we should go with year only, and approximate as at present for MVP, and await feedback on how good/bad this is for users.

[2020-08-21 11:12] PatReynolds commented on #213
I think #225 replaces this - so moving to Needs Review with a view to closing.

[2020-08-21 11:42] PatReynolds commented on #248
Hi @Vino-S please could you implement the changes as susggested by comfort here: https://drive.google.com/file/d/1dVL2r9tfVV1bjf2iS8y6_SULz4pk-WVu/view?usp=sharing _except_ those referring to 'optional' .  please remove all mentions of 'optional'.

[2020-08-23 09:43] PatReynolds opened #268 "Enhance Results page with sorting"
The previous version of the Restults page had separate columns for first name, last name, date, etc. which could be used to sort the results. This is something new to FreeBMD2 (not possible on FreeBMD1).  Now there are only three columns, sorting is no longer possible.

Options might be:
 * buttons to sort by first name, sort by last name, etc.
 * button that says 'sort' and offers the choices of

[2020-08-24 11:37] PatReynolds commented on #191
Repoenting as not solved on current design

[2020-08-24 12:13] PatReynolds opened #269 "Allow user to view all entries on a page"
Current FreeBMD has this feature: click on the page number in the results, takes you to a page with all the entries on that page of the original index.

This is helpful for finding partners in a marriage, and also for spotting twins, and others who have died in the same disaster.

currently this is in the results page, but could be presented as data in the detailed results page.

[2020-08-24 12:40] PatReynolds opened #270 "Italicise suspect districts"
E.g. see John Alcock, born 1838:
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/9f0284b0-d012-421e-aa5a-04538c0250b5)
One of these Penrith's is suspect, so italicisesd

On FreeBMD2, at the moment, it isn't:
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/eca67d99-24e5-4758-b5f4-86eba5c97044)

In this case, the district is suspect because the p

[2020-08-24 12:48] PatReynolds opened #271 "Indicate that a record has been double keyed"
Eg on FreeBMD1 this is done by making bold:

E.g. John Alcock, Stockport, March 838
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/4396049d-b343-4919-9c3b-bd208948bfaa)

On the detailed results page, one can see that it's actually been transcribed five times:
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/9879d0ff-c148-4563-a4de-f4eda5aa1e05)

[2020-08-24 12:50] PatReynolds commented on #232
Hi @Daniel-silve1ra It's complicated.  I have re-opened story #191 which is where a lot of the information and discussion about non-contiguous data was captured.

It boils down to: how do we show, on the results page, that two entries were next to one another in the original index?  In FreeBMD1 this is done by changing the lightness/darkness of the strip when entries were non-contiguous (not next

[2020-08-26 15:53] Vino-S commented on #256
Initial implementation completed: test2

[2020-08-26 16:14] PatReynolds commented on #225
@Vino-S to try to implement whole year only searches.

[2020-08-26 16:19] PatReynolds commented on #232
Non-contiguous data to be shown after MVP.

Sorting by firstname, last name, etc. to be afterMVP.

So signed off.

[2020-08-26 16:26] richpomfret commented on #199
@jayto581 please see above for feedback on the demo you put together.

[2020-08-26 16:28] PatReynolds commented on #109
@PatReynolds to write stories

[2020-08-26 16:32] richpomfret commented on #216
Original BMD says 'Info' and then 'click for more information' and then title is 'entry information'. Agreed to go with that as MVP.

[2020-08-26 16:33] #213 closed, assigned to PatReynolds

[2020-08-26 16:36] richpomfret commented on #172
@AlOneill just in case you missed the question above.

[2020-08-26 16:39] richpomfret commented on #245
Shall we test this? It looks like it was moved from testing back into 'progress' but no reason given (here at least). It may not be working, @Vino-S to take a look when she has time.

[2020-08-26 16:39] PatReynolds commented on #245
Needs to be added.

[2020-08-26 16:41] PatReynolds commented on #129
Adding @ComfE-2662 (please ask me if not clear!)

[2020-08-26 16:41] richpomfret commented on #171
@ComfE-2662 have you had a chance to look at this?

[2020-08-26 16:49] PatReynolds commented on #271
@KatyMawhood and @Daniel-silve1ra to discuss.

[2020-08-26 16:54] PatReynolds commented on #270
@KatyMawhood @and @Daniel-silve1ra  to take a look and think about solutions

[2020-08-26 16:56] PatReynolds commented on #269
for examle https://www.freebmd.org.uk/cgi/search.pl?start=1840&end=1840&sq=1&eq=1&type=Deaths&vol=18&pgno=153&db=bmd_1595843552&jsexec=1&mono=0&v=MTU5ODQ1OTQ4NTpiNDZjM2ZiYmFmMTBhMjdjZjI2ZWU0OTIzNmZkODY0M2VlNzc2MjEx&searchdef=db%3Dbmd_1595843552%26surname%3DAlcock%26end%3D1840%26type%3DDeaths%26sq%3D1%26start%3D1840%26eq%3D4&action=Find

[2020-08-26 17:00] PatReynolds commented on #268
@KatyMawhood and @Daniel-silve1ra to take a look - also to consider whether implementation should be MVP or v.5

[2020-08-26 17:07] PatReynolds commented on #173
Addigning @ComfE-2662 as now being undertaken by Philip and others on the development team

[2020-08-27 13:45] AlOneill commented on #172
@ComfE-2662 I'm not the best person to answer your question about citations. There are several pages on test 3 that have some/all of the "Help with citations" text. I'm really not sure which page(s) @PatReynolds meant you to look at.

The original full version of the text is on the [DRAFT Help with citations](https://test3.freebmd.org.uk/cms/help/draft-help-with-citations) page, but I can see that

[2020-08-28 17:42] ComfE-2662 commented on #171
@PatReynolds Please post a link to the About page here so I can have a look.

Still not entirely sure about what needs changing

[2020-08-28 17:51] ComfE-2662 commented on #137
@PatReynolds What needs to be done here?

[2020-08-28 18:00] ComfE-2662 commented on #266
@Vino-S
I was wondering if you ere able to give me access to refinery?

[2020-08-28 19:28] PhilipClarke712 commented on #137
I put the page through Refinery on test3 sometime ago. So, it might have a few "rough edges" and un-made hyperlinks to other pages that are also draft-pages, but I am going through all of those files and cleaning them up, where needed. This issue could be closed be either accepting what is there, or by reviewing the page and deciding whether it can be closed, or not.

[2020-08-28 19:44] PhilipClarke712 commented on #267
These pages are (I believe) 3-ary pages, so they were not listed in the hyperlinks audit document, since it did not go down to 3-ary level.

I do know about them but I stopped work last Friday (I have been away  without computer access, and will not be re-starting until Monday). All these pages are just large html pages with tables. They are all do-able, but there are a lot of them.

Some of the h

[2020-08-28 20:44] Vino-S commented on #266
Hi @ComfE-2662 ,

Can you try again please. Your userid should have access to Refinery in test3

[2020-09-02 08:26] PatReynolds commented on #137
Could you review the page, please @ComfE-2662

[2020-09-02 08:33] PatReynolds commented on #171
Ah! I see the About page link in the top bar disappears when one is logged in.  I'll create a new story about that.

the page is here: https://test3.freebmd.org.uk/cms/about
The spreadsheet shows what should be going into it.

some of that content is not a normal refinery page, but an App page (will have to be a sub-page, linked from the index and, possibly, within the text). @Vino-S do @KatyMawho

[2020-09-02 08:42] PatReynolds opened #272 "Show 'Aboout' in header when user is logged in"
Not sure why it is not showing at the moment.  Will be needed by volunteers, and especially by registered researchers

[2020-09-02 10:10] PatReynolds commented on #267
Thanks, @PhilipClarke712 you are correct the Perl pages can't be created in refinery. the Ux/designers (@KatyMawhood  and @Daniel-silve1ra may need to be involved in the creation.

If they go to UKBMD, not a problem.. If they go to quaternary (etc) pages, then can you just note their urls in the spreadsheet?

Once we have the list, we can discuss what the order for implementation should be.

[2020-09-03 12:09] PatReynolds commented on #251
@AlOneill  could you make a page to go with the guide which has the CSS header/footer and sidebar in place,  with placeholders (e.g. "put title here" for title, "list item 1", "list item" to show how the lists should be laid out)?  that could then be copied within Refinery before being edited for a new page.

[2020-09-03 12:14] PatReynolds commented on #172
I will start a new story for improving links as this needs doing for all pages.  This page also needs CSS / header etc (as do many, but content is now ready for proof-reading.

[2020-09-03 12:15] PatReynolds opened #273 "Add css/header etc. to existing pages that do not have it"
Needs Alison's guide to editing html and model page in order to progress

[2020-09-03 12:18] PatReynolds opened #274 "Improve accessibility for screen readers (e.g. meaningful links)"
See issue #172 for details of the editing needed (on all pages).

[2020-09-03 12:44] PatReynolds commented on #171
All App pages are to be sub-pages.

@ComfE-2662 to check that the spreadsheet is marked up with what are the App pages, and that the other pages are marked as being either for the main About page, or for a sub-page of the About page.

[2020-09-03 12:49] PatReynolds commented on #137
Checked and fine to go ahead, so closing.

[2020-09-03 12:49] #137 closed

[2020-09-03 15:48] AlOneill commented on #251
@PatReynolds I _could_ make such a page, a bare-bones template. However, I fear that people would then copy the template and never bother to read the Guide.

The Guide has those lines of markup that a template would have (now beautified!), and these can be copied directly from a browser window.

[2020-09-07 16:20] PatReynolds opened #275 "Decide content for Records tab"
See https://docs.google.com/document/d/1okpxJDQ6fPp1AgT00TewH1HIYr4hVLYhZIkGJEV2J5M/edit?usp=sharing for contents on FreeBMD1 [in progress], FreeCEN and FreeREG.

[2020-09-07 16:54] PatReynolds commented on #257
Documentation of 'Records' (was Coverage/Transcritions' now ready for review on
https://docs.google.com/document/d/1okpxJDQ6fPp1AgT00TewH1HIYr4hVLYhZIkGJEV2J5M/edit?usp=sharing

[2020-09-08 09:15] PatReynolds commented on #255
Looking good at 175% on a desktop:
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/1a7c671a-8493-4737-bf70-ad6afcd9b93c)

![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/4055c89a-04f6-4531-89a9-6a0ecb792400)

Narrower screen, a couple of problems:
main content bar is not responsive:
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a

[2020-09-08 10:01] PatReynolds commented on #226
Added documentation (help - saved search) for testing/proofing by DT pleae @ComfE-2662

[2020-09-08 10:01] PatReynolds opened #276 "Are semi-permanant urls working?"
-[ ] Generate quasi-permanent URLS for transcriptions
 -[  ]create links for citation generator in the form that FreeBMD2 urls will take after the swap i.e.  www.freebmd.org.uk/pURL (i.e if someone follows the url they will be taken, at the moment, to FreeBMD1`

Thought this was done - Is this working? - for example a search for Ralph Alcock, died North Yorkshire before 1850 finds one, born

URL i

[2020-09-08 11:35] PatReynolds commented on #210
I have added a few new messages to the draft page.

I still need to search for ones mentioning "afford"

[2020-09-08 11:36] PatReynolds opened #277 "Add a "submit a review" button to "Your reviews" page"
Will need to route to support@ if someone ticks a box saying 'please could someone help me with this issue' or similar.
Will need consultation with support team on best way to capture the right data.
Need a disclosure of name consent (yes/no) if review chosen for publication.

[2020-09-08 12:22] DeniseColbert commented on #255
Original issue persists:

![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/fbdf132e-0651-42df-a8a9-327b20b6a857)

Possibly you fixed responsiveness to zoom function @Vino-S ? This appears to be what Pat is referring to in her comments above. However, my screen isn't zoomed at all; I have my browser settings showing larger font.

[2020-09-08 12:23] DeniseColbert commented on #92
I can't see this page in Refinery test3- am I looking in the right place?

[2020-09-09 09:29] PatReynolds opened #278 "Create quasi-permanent urls"
See Issue #109 for previous discussion

 -[ ] Generate quasi-permanent URLS for transcriptions
 -[  ]create links for citation generator in the form that FreeBMD2 urls will take after the swap i.e.  www.freebmd.org.uk/pURL (i.e if someone follows the url they will be taken, at the moment, to FreeBMD1`

[2020-09-09 09:30] PatReynolds opened #279 "Use multimodal base to use quasi-Permanent url for FreeBMD citations"
- [x] write templates with fields
NB remember to include 'image reference' in field.

-[ ] create citations

[2020-09-09 10:19] PatReynolds opened #280 "Decide how to handle references for images in citations"
It is best practice to actually look at an original image rather than assuming that the FreeBMD transcription is correct.

It is best practice in genealogical citations to reference the original image, not the finding aid.

Can we achieve best practice - i.e. generate citations that include the image looked at (e.g. UKD-01/1841D1-0128.tif or 1837B3-B-0017.jpg, etc.
See also systemwide #154

Will t

[2020-09-09 10:23] PatReynolds opened #281 "Decide on placement of citation generator"
Currently citation generator is in the buttons at the top of the screen.

Given the bet practive of reviewing the images (see #280) should citation generation be an action placed under the images?

[2020-09-09 13:18] AlOneill opened #282 "Enable Images in Refinery on test3"
I'm at the point where I would like to start adding images to the markup Guide. However, images are not yet enabled in Refinery, or so it seems — there is a long list of ?REG images under 'Images', plus a couple that Philip tried to upload, but no visible thumbnails and trying to insert an image fails.

[2020-09-09 15:50] Vino-S commented on #192
Ready for testing

[2020-09-09 15:54] Vino-S commented on #256
Moving it to in Progress: Making Changes suggested by Daniel

[2020-09-09 15:56] Vino-S commented on #245
ready for testing in test2

[2020-09-09 16:01] PatReynolds commented on #190
Page noted above for links is now #Records tab - so not needed in footer - or does footer say 'for more information use the Records button above'?

[2020-09-09 16:06] PatReynolds commented on #178
@ComfE-2662 could the Development team review please

[2020-09-09 16:26] PatReynolds commented on #216
@Vino-S to implement @PatReynolds  to check that all references are changed in documentaiton

[2020-09-09 16:28] richpomfret commented on #257
Phil to take a look/review.

[2020-09-09 16:30] richpomfret commented on #190
To discuss implementation of this link across projects (on systemwide).

[2020-09-09 16:35] richpomfret commented on #109
Closing. Stories written.

[2020-09-09 16:35] #109 closed

[2020-09-09 16:36] PatReynolds commented on #210
@PatReynolds to look at Facebook

[2020-09-09 16:47] richpomfret commented on #281
Currently in drop-down menu within 'tools' button. Are we happy with this? Is it apparent/visible enough? Discussed side-list of citation types which appear when a user selects 'citations' within the tools button.

[2020-09-09 16:49] #281 closed, assigned to nobody

[2020-09-09 16:50] PatReynolds opened #283 "Remove citation generator from Results - it is for Entry Information only."

[2020-09-09 16:57] PatReynolds commented on #277
@PatReynolds to check FreeBMD1, and re-prioritise

[2020-09-09 16:59] PatReynolds commented on #276
@PatReynolds to check if a FreeBMD1 url will work on FreeBMD2

[2020-09-09 17:05] richpomfret commented on #266
Closing as @ComfE-2662 now has access.

[2020-09-09 17:05] #266 closed, assigned to Vino-S

[2020-09-22 14:54] PatReynolds commented on #210
Facebook "reviews" added.

[2020-09-22 15:20] PatReynolds commented on #216
The help page needs a thorough re-write which will pick this up, so have added to 'Help page for MVP' epic.

[2020-09-22 15:23] PatReynolds commented on #280
I think it will be fine to simply list all the images in the citation, and the researcher can edit if they want to specify the one looked at.

[2020-09-22 15:37] PatReynolds commented on #276
Example,:  death March 1840 OLDRED	Elizabeth		Rotherham	   XXII	354

https://www.freebmd.org.uk/cgi/information.pl?r=2943200:0854&d=bmd_1598251674

https://test3.freebmd.org.uk/cgi/information.pl?r=2943200:0854&d=bmd_1598251674 gives "missing page" error.

format of the entry information page on FreeBMD2 is:
https://test3.freebmd.org.uk/best_guess/5f6a1862e93790387daff6a9/2957203/elizabeth-oldred-

[2020-09-23 10:53] Vino-S opened #284 "Implement entry information page"

[2020-09-23 10:53] Vino-S commented on #282
working on it

[2020-09-23 10:54] Vino-S commented on #225
minor changes needed in code so still in progress

[2020-09-23 10:55] Vino-S commented on #256
implemented on demand display of search criteria

[2020-09-23 16:14] richpomfret commented on #178
@ComfE-2662 any update on this in terms of it being tested?

[2020-09-23 16:15] richpomfret commented on #245
@DeniseColbert to take a look.

[2020-09-23 16:16] richpomfret commented on #192
@PatReynolds to test it out.

[2020-09-23 16:17] richpomfret commented on #92
Should be in 'About' according to @PatReynolds and a link would be appreciated.

[2020-09-23 16:18] richpomfret commented on #226
Any feedback from testing on this @ComfE-2662?

[2020-09-23 16:19] PatReynolds opened #285 "Update News"
Add new news to News

[2020-09-23 16:21] richpomfret commented on #255
@Vino-S to implement fix as per @DeniseColbert comment above.

[2020-09-23 16:24] PatReynolds commented on #42
recaptcha currently used on postem as a barrier to bots
See 5f6a1862e93790387daff6a9/2957203/

[2020-09-23 16:25] PatReynolds commented on #284
Tested on test2:

Needs page Title (Entry Information).

[2020-09-23 16:29] richpomfret commented on #216
Closing as now a duplicate.

[2020-09-23 16:29] #216 closed, assigned to PatReynolds

[2020-09-23 16:30] PatReynolds commented on #257
Hi Philip, can you take a look @PhilipClarke712

[2020-09-23 16:31] richpomfret commented on #190
Discussed and agreed to proceed.

[2020-09-23 16:34] PatReynolds commented on #210
@ComfE-2662 could you ask the team to review?

[2020-09-23 16:37] PatReynolds opened #286 "Implement Citation Generator"
-[ ] ist all the images in the citation, and the researcher can edit if they want to specify the one looked at.

[2020-09-23 16:38] richpomfret commented on #256
@Daniel-silve1ra can you take a look and feedback for Vino? The rest of us can take a look too.

[2020-09-23 16:43] richpomfret commented on #129
Any update @ComfE-2662?

[2020-09-23 16:50] PatReynolds commented on #42
@PatReynolds to check the nature of the issue with the team, suggest better pathway, with questions to weed out the wrong'uns, and a simple test (e.g. ask people to spell 10 in English)

[2020-09-23 16:55] PatReynolds commented on #276
@Vino-S could you give me an update?

[2020-09-23 16:55] #278 closed, assigned to nobody

[2020-09-23 16:58] PatReynolds commented on #162
Now to be resolved as part of story #155, or after that is completed.

[2020-09-23 17:02] richpomfret commented on #10
@DeniseColbert to devise list of stories to go into the Accessibility epic - include feedback audit report from FR and list any outstanding actions/items (if we can test or ensure they are flagged to be tested).

[2020-09-23 17:36] PhilipClarke712 commented on #257
Hi Pat,

I’m two weeks into a short break from FreeBMD (1 & 2), but I should be back by the end of the month.

1. We need a top level page, but I can “clone” one from elsewhere and put some text and hyperlinks into so that people can comment / change it, etc.

2. From memory, everything except the detail behind the “Districts heading” was treated in the review of hyperlinks as level 2 and was mark

[2020-09-24 11:13] ComfE-2662 commented on #129
Hi Rich,

Sorry I haven't got round to checking this as I have been booked out for work since furlough finished.

Will be able to update before the next meeting.

Comfort

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Rich Pomfret <notifications@github.com>
Sent: Wednesday, September 23, 2020 5:43:24 PM
To: FreeUKGen/FreeBMD2 <FreeBMD2@noreply.github.com>
C

[2020-09-24 14:16] DeniseColbert commented on #92
There is a random PayPal donate button in here, and there is not the full extent of the news on https://www.freebmd.org.uk/news.html

[2020-09-24 14:30] DeniseColbert commented on #92
There seems to be a random donate button (PayPal) and it doesn't contain the full extent of the news on https://www.freebmd.org.uk/news.html (if that was the intent)

[2020-09-25 12:46] Vino-S commented on #276
Apologies @PatReynolds, I could not understand the requirement here:

In the below test3 URL:
https://test3.freebmd.org.uk/best_guess/5f6c7c0ce93790538dc66dc9/79590681/william-walker-callum-birth?locale=en

here: **79590681:** Is FreeBMD1 Entry ID for which we are giving information
**5f6c7c0ce93790538dc66dc9:** It is the id of search-query from FreeBMD2 mongodb
**best_guess:** It is the MySQL tab

[2020-09-26 00:13] Vino-S commented on #276
Hi @PatReynolds , I now understand the requirement:
I have made an initial implementation and updated it in test2.

Below is an explanation: BMD uses
Example: https://test2.freebmd.org.uk/entry-information/cite=UZ91PIHaOD6cenhgEgfqZA&scan=1
https://test.freebmd.org.uk/cgi/information.pl?cite=UZ91PIHaOD6cenhgEgfqZA&scan=1
will give the same result.

Please have a look. The code is still in the init

[2020-09-29 10:37] DeniseColbert commented on #245
Appears to be working fine

[2020-10-03 13:26] Vino-S commented on #225
ready to be tested in test2

[2020-10-07 14:53] PatReynolds opened #287 "Errors on scans on FreeBMD2"
FreeBMD1 text on scan page: If the scan does not contain the entry you may be able to find the scan yourself by clicking here. If the scan does not contain the entry you can leave feedback by clicking here.

On Entry Information Page, below scans, text now needed, suggest:

If the scan does not contain the entry you may be able to find the scan yourself by clicking here [links to FreeBMD1? or ???

[2020-10-07 15:55] Vino-S commented on #256
Added styles to tools button

[2020-10-07 15:56] Vino-S commented on #284
Added title on test2

[2020-10-07 15:58] Vino-S commented on #282
Fixed it but old images need to be re-uploaded.Apologies

[2020-10-07 16:03] AlOneill commented on #282
@Vino-S Thank you. No worries re old images as only 2 are needed on BMD — I'll let Philip know.

[2020-10-07 16:08] PatReynolds commented on #92
@PatReynolds to take a look

[2020-10-07 16:10] PatReynolds commented on #284
@Daniel-silve1ra   to review - functionality and aesthetics

[2020-10-07 16:19] PatReynolds commented on #225
@PatReynolds to test

[2020-10-07 16:19] richpomfret commented on #225
@PatReynolds to take a look.

[2020-10-07 16:24] richpomfret commented on #190
@richpomfret to check over on systemwide and assess whether this is ready to be implemented here or not..

[2020-10-07 16:27] PatReynolds commented on #286
See #280 for detail on how to reference scans in citation

[2020-10-07 16:27] richpomfret commented on #280
Decision made and new story created/updated so now closing.

[2020-10-07 16:27] #280 closed, assigned to PatReynolds

[2020-10-07 16:28] AlOneill commented on #282
@Vino-S Just tried to upload an image — not working. I tried logging out and back in again, but still not working.

I'm still seeing the old listing without the images. Perhaps I was too quick or … ?

[2020-10-07 16:41] richpomfret commented on #287
@Vino-S to investigate/explore options here.

[2020-10-07 19:44] Vino-S commented on #282
Hi @AlOneill ,
I fixed on test2 but not in test3. My mistake did not mention it.
I had fixed in test3 too. Could you test it once again, please?

[2020-10-07 19:59] AlOneill commented on #282
@Vino-S Yes, all now working as expected! Thank you.

Should I now delete all the old images from the listing? Or do you have a way to delete them all in one go?

[2020-10-09 16:38] Daniel-silve1ra commented on #256
Hi @Vino-S ,

Great progress on the page styling of the results page so far. We are getting closer to the original design. Thanks for your hard work on this 

There are still a few things which aren't quite matching the original design, though. I've made a google doc which outlines what these are. In the doc I've written some pre-prod code. I've tested most of the code through Chrome dev tools so

[2020-10-11 23:16] PhilipClarke712 commented on #267
Sorry for the delay in responding. I've been off for a month, but I'm back. That link above is to a single section **Page Range** on the Registration Distrit page and it has only two hyperlinks.

The first hyperlink goes to this page https://www.freebmd.org.uk/district-page-reverse-map-index.html which consists only of hypelinks to individual Perl pages that pull out CSV files, builds a table and

[2020-10-12 17:59] PhilipClarke712 commented on #275
I would like to Note that Pat and I exchanged several emails about this quite a few months ago (pre-September) and that included making the "Records" tab. I made a copy of the "About" tab with a view to making a "Records" tab from it- although at the time "Records" was and is still called "Transcriptions".

I beleive that **all** the 2-ary pages on the spreadsheet that were discussed as being for

[2020-10-14 22:44] PhilipClarke712 commented on #257
I'm going to refer some of the decisions regarding the "practical" aspects of this to Pat and Rich.

Twenty or so years ago, when I started using FreeBMD(1) for research, the first thing I did would be to look at the coverage charts to see if using FreeBMD was appropriate for the records I wanted to search, or whether I would need to use a commercial site. Back then the FreeBMD records were effect

[2020-10-21 09:49] PatReynolds commented on #192
Yes, this is now working as expected, thank you.

[2020-10-21 09:58] PatReynolds commented on #164
Link from search results to Entry Information page is not working on either test2 or test3 - @Vino-S could you take a look?

[2020-10-21 10:03] PatReynolds commented on #225
Dropdown on age at death / date of birth is not working.   @Vino-S could you take a look?

[2020-10-21 10:15] Vino-S commented on #164
Hi @PatReynolds , the links seem to be working. Could you check it once again, please?

[2020-10-21 12:18] PatReynolds commented on #42
CAPTCHA are "allowed under the W3C's Web Content Accessibility Guidelines (WCAG) provided that "text alternatives that identify and describe the purpose of the non-text content are provided, and alternative forms of CAPTCHA using output modes for different types of sensory perception are provided to accommodate different disabilities.
It is important to understand the limitation of the WCAG CAPTCH

[2020-10-21 15:37] DeniseColbert commented on #10
- [ ] **STAS-F10: Non-Descriptive Page Titles** #926 CLOSED
- [ ] **STAS-F03: Empty Links** CLOSED
- [ ] **STAS Review and adjust the search results page for accessibilty** Accessibility Review Actor: researcher CLOSED
- [ ] **Review and adjust the search form page for accessibility** Accessibility Review Actor: researcherCLOSED
- [ ] **STAS Review and adjust the search results detail page for acc

[2020-10-21 15:59] PatReynolds commented on #164
Thanks, working fine now @Vino-S

[2020-10-21 16:03] PatReynolds commented on #164
If a Postem exists, it asks you to leave a postem.
If a Postem does not exist, it shows nothing.

[2020-10-21 16:15] richpomfret commented on #164
@Vino-S to update TEST3 with latest code.

[2020-10-21 16:22] DeniseColbert commented on #247
Bumping for my inbox

[2020-10-21 16:24] richpomfret commented on #190
We are close to being ready for implementation - @jayto581 is rebuilding his dev environment at the moment and will then make a few updates prior to implementation.

[2020-10-21 16:24] DeniseColbert commented on #247
@DeniseColbert

[2020-10-21 16:26] PatReynolds commented on #42
@PatReynolds to see if recaptcha v3 is working on Opera

[2020-10-21 16:33] PatReynolds commented on #10
Hi @AlOneill could you have a look at these stories, and say which are already complete on multi-modal, which need to be fixed at the multi-modal level, and which on a site-by-site base.

Which are CSS?  Which are html?  Which are Ruby, and what else?  We can then allocate to developers and other volunterers (almost certiainly not you or I until it gets to testing, at least.

[2020-10-21 16:36] richpomfret commented on #282
@Vino-S to delete images in one go then we can close.

[2020-10-21 16:36] PatReynolds commented on #282
@Vino-S will delete in one go and let you know, @AlOneill

[2020-10-21 16:42] richpomfret commented on #215
Next steps - @DeniseColbert to take a look at FAQ on FR to see what they do and then assess in relation to BMD2.

[2020-10-22 10:54] PatReynolds commented on #215
Information copied from #354 which is for FreeCEN1 systems, not the new systems:
Version 1.2 of the FreeCEN Handbook is now available for download from test3. It still needs some revision in places but seems to be getting there. If you notice that something is missing please let me know. It has been proofread to page 35 only. It does not include all of the Managing County or Managing Syndicate fun

[2020-10-27 10:35] DeniseColbert commented on #12
This was done by Aviel. @Daniel-silve1ra @KatyMawhood can this story be closed?

[2020-10-27 11:15] DeniseColbert commented on #247
Should #170 be labelled MVP? It's in a MVP epic.

[2020-10-27 12:24] PatReynolds commented on #247
Yes - I've given #170 the MVP phase.

[2020-10-27 12:54] PhilipClarke712 commented on #247
Hi Pat and Denise,

It’s on my list of “jobs to do” and has been for some months, but (off topic) I have been working on the basis that “Help” pages were a bit higher on my list of “to-do-jobs” than “About” pages. I had always been working on the basis that it was MVP, but when is that?

This task (of page writing) also seems to have several #-numbers associated with it.

I can certainly write an

[2020-10-27 22:50] PhilipClarke712 commented on #133
This item appeared in the shared spreadsheet under the title "Add a Note (was create a Postem)" and was marked as MVP. So the existing html Help page ( https://www.freebmd.org.uk/postems-help.html) from FreeBMD was moved across to Refinery on test3 and was  modified to read "Add a Note" instead of "Postem". However, both test2 and test3 search results use "Postem", so the page as written is confus

[2020-10-27 23:56] PhilipClarke712 commented on #257
There is one additional point to comment upon.

FreeBMD(1)'s GRO Index transcriptions, from a "black-box" view point, are organised by transcriber, e.g. two or more people transcribed pages 1886B1B0052 & 53. I was one of the two (or more), so there is a copy of these two transcript files (.bmd) against my username and there is at least one other copy against a different user name(s). If we (I) are

[2020-10-30 16:01] DeniseColbert commented on #215
Pat is suggesting that "Report a Data Problem" takes the user to a number of options with info rather than a contact form. IIUC this is similar to FreeREG FAQs. If we want to avoid the user having to read a lot of information (there are 17 questions), we perhaps need a contents section with anchors. FreeREG FAQs use a sidebar.

[2020-11-03 10:13] PatReynolds opened #288 "Add information on Accessibility to the site"
- [x] Create Accessibility Page (based on FreeCEN/FreeREG
- [x] Add accessibility statement to About page
- [x] Update link to blog

[2020-11-03 11:48] geoffj-FUG commented on #215
Pat
Can I look at this after I have everything ready for deployment please? I still have a bit of work to go.
Geoff

[2020-11-03 14:20] PhilipClarke712 commented on #265
1. "Yes" and (possibly no") we have the data.
2, Yes it is date-sensitive.

There is a big BUT. its not as easy as it appears to be. I put up a much longer comment but it appears to have disappeared.

[2020-11-03 15:02] Captainkirkdawson commented on #215
@geoffj-FUG This story refers to FreeBMD2 not CEN but we should look at it over there as well

[2020-11-04 17:08] PatReynolds commented on #244
@PatReynolds to test in Rich's absense

[2020-11-04 17:21] PatReynolds commented on #215
Denise to put the 17 questions into groups.

[2020-11-09 10:41] PatReynolds opened #289 "Revise navigation bar and bring inline with FR/FC"

[2020-11-18 11:31] #198 closed, assigned to PatReynolds

[2020-11-18 11:49] PatReynolds commented on #244
tried, but adsense not recognising test3 - perhaps because of the password protection?  I have asked the community for support 18/11/2020

[2020-11-18 11:58] PatReynolds commented on #225
Working as expected, thank you.

[2020-11-18 12:18] PatReynolds commented on #42
Could not find a site where I could test, but https://support.google.com/recaptcha/answer/6223828?hl=en does not include Opera in its list of supported browsers.  NB only two latest versions of those it _does_ support are supported.  We know a major user is stuck on an earlly versino of IE, so don't think recaptcha v3 is a solution.

Suggest implementing a logic test and see if this is sufficient.

[2020-11-18 16:33] PatReynolds commented on #244
Not able to implement, perhaps because it is passworded. Google suggests implementing web crawler authentication: https://support.google.com/adsense/answer/161351?hl=en

[2020-11-18 16:38] PatReynolds commented on #224
I suggest:
a) Homepage, below banner, above title, only to take space when needed. (Refinery Information page, as on FreeREG)
b) member's landing page (https://www.freebmd.org.uk/manage_resources/new?locale=en  (Refinery Information for members page, as on FreeREG).

[2020-11-18 16:41] Vino-S commented on #164
Ready to be tested on test2

[2020-11-18 16:42] Vino-S commented on #131
Ready to be tested on test2

[2020-11-18 16:44] Vino-S commented on #287
Finding missing scan takes us to the FreeBMD image server(https://images.freebmd.org.uk/cgi/choose.pl) so we need to provide a link for the image server from BMD2

[2020-11-18 16:44] Vino-S commented on #282
can be closed now

[2020-11-18 16:56] AlOneill commented on #282
@vino Many thanks — listing now looking good.

[2020-11-18 17:13] DeniseColbert commented on #131
Typed in postem text, this error returned:

![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/f4710228-0f7b-4305-ace8-15b60e1b168f)

[2020-11-18 17:19] PatReynolds commented on #42
@PatReynolds  to check "I am not a robot" traps as a solution

[2020-11-18 17:27] PatReynolds commented on #224
@Vino-S  to implement the message on home page,
@PatReynolds to create the message for members in refinery

[2020-11-18 17:30] PatReynolds commented on #128
@PatReynolds to draft text, including an invitation to order certificates from the GRO.  Nb this is now the bottom PINK band

[2020-11-18 17:35] PatReynolds commented on #244
@Vino-S to take a look

[2020-11-18 17:46] PatReynolds commented on #68
@Daniel-silve1ra and @KatyMawhood we think this has been done in Figma - shall I close it?  Thanks, Pat

[2020-11-18 17:48] PatReynolds commented on #76
@DeniseColbert to discuss timing with UX folk - needed before MVP or after?

[2020-11-18 17:49] PatReynolds commented on #70
@PatReynolds  to specify where it is needed

[2020-11-18 17:51] PatReynolds commented on #71
Done - consents for Europe, California and Ad blockers n ow all in place.

[2020-11-18 17:53] PatReynolds commented on #71
Need to add script for FreeBMD2

@PatReynolds to check if new script is needed, or whether it can use the FreeBMD script.

[2020-11-18 21:58] PhilipClarke712 commented on #128
Hello Pat,

This comment of yours dropped into my email box a few hours ago, so I decided to comment.

Looking at the main Help page and the subsiduary pages hanging off it (and the same could be said for the About pages) there seems to a fair amount of close duplication of information (note: there is a distinction to be made between close duplication and the provision of additional information vi

[2020-11-19 17:24] Vino-S commented on #131
Fixed it. Ready to tested on test2 and test3

[2020-11-26 09:27] PatReynolds commented on #164
Working -
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/a0e9c234-f8a0-4a03-940c-abb7b91a4e0b)

[2020-11-26 09:29] PatReynolds opened #290 "Add anti-bot tool to Postem entry"

[2020-11-26 10:02] archerbarrie commented on #164
It is difficult to be sure but it looks like the display has failed to convert the link into a clickable link (see below). I could not test this because I could not find the record in 1870B4 (which is where it is).
![image](https://user-images.githubusercontent.com/14543258/100336720-6b9aaf00-2fce-11eb-9237-3751b8a5573e.png)

[2020-11-26 10:19] PhilipClarke712 commented on #164
Hi Barry,

It is on FreeBMD, I looked out of curiosity and  I've just found it:

Births Dec 1870 : Austin, Agnes Augusta, Kettering, 3b, 161, 

![Agnes Augusta Austin](https://user-images.githubusercontent.com/67054943/100338564-a56cb500-2fd0-11eb-8071-8091956f6c27.png)

[2020-11-26 10:27] archerbarrie commented on #164
Yes it is but it is not on the test site. Also it was added to the live site at 09:32 on 26/11/2020, that is after Pat's comment that quoted it as being on the test site. I do hope I am wrong but there is a worry here that the test site is modifying the live database.

[2020-11-26 10:39] PatReynolds commented on #164
I added it to the live (freebmd1 site).  It's a genuine postem.  I was testing this to make sure that there wasn't another step after the Captcha that I wasn't aware of (e.g. moderation) that we had to put in to FreeBMD2.

It's nice that FreeBMD1 makes it a live link, and I think we should implement that in FreeBMD2, too.

[Not nice is the Monetizemore Advert that intervenes itself - noticed this

[2020-11-26 11:09] archerbarrie commented on #164
That's a relief! I was hoping that was the answer. But I still don't understand why I could not find the record on the test site.

[2020-11-26 11:36] PatReynolds commented on #227
Anything more to be done on this epic, or can it be closed?

[2020-11-28 00:51] PhilipClarke712 opened #291 "Indicate that a particular result is a Late Entry"
I am working on the Late Entries help page, so I was interested to see how test2 / test3 "handles" Late Entries.  It does not currently do so.

Now, there are two open issues, #270 (Italicise suspect Districts) and #271 (Indicate that a record has been double-keyed). Both of these issues involve the FreeBMD2 system **marking** the results of some entries found in a search to show that they have so

[2020-12-02 15:28] Vino-S commented on #202
Implemented. can be closed

[2020-12-02 15:30] Vino-S commented on #158
Is it still a requirement. The search-form uses a grid system and will not be achieved easily.

[2020-12-02 17:30] DeniseColbert commented on #178
@PatReynolds could you clarify specifics of this story for Taylor please?

[2020-12-02 17:32] DeniseColbert commented on #226
There seems to be two pages for this in Refinery @PatReynolds could you clarify for Taylor?

[2020-12-02 17:40] DeniseColbert commented on #202
Taylor to test on Test2

[2020-12-02 17:42] DeniseColbert commented on #158
To be revisited when changes for mobile are considered

[2020-12-02 17:53] taylorjgolden commented on #202
Date shows up as DECEMBER 1862 for the record I chose, as desired

[2020-12-03 12:20] PatReynolds commented on #164
tested on FreeBMD2 @Vino-S could you make the url clickable?

[2020-12-03 12:21] PatReynolds commented on #131
tested - I think this can now be closed.

[2020-12-03 13:31] PhilipClarke712 commented on #164
As Pat's comment, immediately above, dropped into my mail box very recently I looked for the **Agnes Augusta Austin** birth-postem on both test2 and test3 and I found both postems (25th & 26th Nov) on test2 and test3: I'm pleased to say.

Earlier in this thread Barry showed a marriage-postem for **Lawrence W A Aldridge**: it was for the 1934 marriage. Lawrence married twice and FreeBMD(1) has a po

[2020-12-03 13:33] PhilipClarke712 commented on #164
Sorry, I click on the wrong butten

[2020-12-03 16:13] PatReynolds commented on #164
Thanks, @PhilipClarke712 I will raise this as a new story as I don't think that is necessary for the initial testing which is at the end of phase 3, and which we hope will be within the next few weeks.

[2020-12-03 16:15] PatReynolds opened #292 "Show postems enterd on FreeBMD1 on FreeBMD2"
See story #164 and Philip's observation that postems entered on FreeBMD1 are not being shown on FreeBMD2.

[2020-12-03 16:26] PatReynolds commented on #247
I think the pages are now all marked appropriately, so suggest review at next scrum with a view to closing.

[2020-12-03 16:29] PatReynolds opened #293 "Check all links in refinery pages"

[2020-12-03 16:30] PatReynolds opened #294 "Check all headers in refinery pages"

[2020-12-03 16:54] PatReynolds opened #295 "Add About link to the haeader bar"
As with FreeCEN and FreeBMD there needs to be a link to 'About' on the top bar

[2020-12-03 22:02] archerbarrie commented on #164
@PhilipClarke712 I believe that the test2 and test3 databases are snapshots of the live database at some point in time (and are possibly the same snapshot). The Postems in question were added 21/04/2020 so the implication is that the snapshots were taken before that time. I cannot check that because whenever I try test2 or test3, all searches produce no results.

[2020-12-04 00:07] PhilipClarke712 commented on #164
Thanks for that Barrie. I have no knowledge of the underlying FreeBMD(1) database / search engines, which is why I was treating it as a "black box" system (if I had that knowledge it would be a "white box" or a "glass box" system).

Most of the 1934 marriages (looking at the graphs on FreeBMD) were loaded onto the FreeBMD system between the autumn of 2008 and the end of 2009; and 1942 marriages we

[2020-12-04 01:41] archerbarrie commented on #164
Well, it looks like my assumption about FreeBMD2 using a snapshot may be incorrect. For some reason the test database on vervet contains very few Postems, just 15, all of them tests, e.g. Deaths 1856 Jun Bainbridge,Joseph. I cannot tell if this Postem is on test2/3 because cgi/ShowPostems.pl crashes on test2/3 but if they do contain this postem it would seem that test2/3 are using the test databas

[2020-12-04 08:16] PhilipClarke712 commented on #164
Thanks Barry.
It took me some time to find that record on test 2/3.
On FreeBMD: the record is BAINBRIDGE, Joseph Hall, Kensington, 1a, 25 and there are two postems dated 10th and 18th of April 2015. They read:
(1) Joseph Hall BAINBRIDGE age 31 (See: http://www.gravestonephotos.com/volunteers/private/cemeterylist.php?cemetery=2452&country=En&limit=&scrwidth=1093)
 (2) Joseph Hall BAINBRIDGE age 30

[2020-12-12 12:53] PatReynolds commented on #178
@taylorjgolden  could you look at the help for researchers page on test3 and check that it includes a section on citations - check using the Checklist A and Checklist B in  the Protocol for creating and editing in Refinery  - please let me know if you have difficulty accessing the documents, or need something more specific.  With thanks, Pat

[2020-12-12 12:54] PatReynolds commented on #284
@jayto581 could you also take at this page, please?  Thanks, Pat

[2020-12-13 16:24] PhilipClarke712 opened #296 "Implement of Registration District lists"
The Registration District page on FreeBMD has  quite a few masive monolithic tables: https://www.freebmd.org.uk/county-map.html https://www.freebmd.org.uk/district-list.html  https://www.freebmd.org.uk/district-map-alt.html and https://www.freebmd.org.uk/district-map-all.html plus the sub-pages of this final one: and a column of each of these tables are hyperlinks.

These **could** done in html: F

[2020-12-14 16:08] jayto581 commented on #284
Here is a mock-up of the new footer for FreeBMD with the new link added.
![image](https://user-images.githubusercontent.com/64029992/102104745-8a85a780-3dfc-11eb-9f15-364b7434f910.png)

[2020-12-14 16:27] PhilipClarke712 commented on #284
Hi Jayto581,

I like it.

But I have two questions: (1) is this going to get up dated nominally every 28 days in-line with the (FreeBMD) update cycle; (2) if so, could it have a line giving the date of the last data-base update – which at the moment was Thursday 19th Nov. 2020 and the next one is likely to be round about this Thursday (17th) December 2020?

From: jayto581 <notifications@github.com

[2020-12-14 18:41] jayto581 commented on #284
Hi PhilipClarke712,

The footer statistics will be updated regularly in the future. However, for the time being, the footer statistic section will be static.
                  Cheers,

[2020-12-16 16:22] Vino-S opened #297 "View Records of a page"
View Records in page from the Entry Information page

[2020-12-16 16:27] Vino-S commented on #287
@Vino-S to update the story once code move to vervet

[2020-12-16 16:28] Vino-S commented on #224
@Vino-S to update the story once code move to vervet

[2020-12-16 16:30] Vino-S commented on #256
Updated some of the changes suggested by Daniel in test2.
Not Sure about the functionality of **Jump To**. Any example will be helpful

[2020-12-16 16:34] Vino-S commented on #162
Ready to bested on test2

[2020-12-16 16:37] Vino-S commented on #248
In progress

[2020-12-16 17:23] richpomfret commented on #247
Appears complete now so closing.

[2020-12-16 17:23] #247 closed, assigned to PatReynolds, DeniseColbert, richpomfret

[2020-12-16 17:25] richpomfret commented on #162
Tested - working as expected.

[2020-12-16 17:27] richpomfret commented on #284
Looks like this is now complete. Ready for deployment (close when deployed).

[2020-12-16 17:33] PatReynolds opened #298 "Create beta.freebmd.org.uk"
Deployment will be to this site, for Beta testing

[2020-12-16 17:34] richpomfret commented on #297
Would you like us to test this on TEST2 @Vino-S?

[2020-12-16 17:36] PatReynolds commented on #172
@PatReynolds to ask proofreaders

[2020-12-16 17:37] richpomfret commented on #210
Now on @DeniseColbert and @taylorjgolden.

[2020-12-16 17:40] richpomfret commented on #10
@jayto581 perhaps this might be something you could take a look at? We need an accessibility review to see if we have covered key requirements. @PatReynolds to discuss with you.

[2020-12-16 17:46] richpomfret commented on #12
Changed title - initial story is complete, now a review task as we head into Beta - are we covered in terms of our user journeys and the various user personas we developed.

[2020-12-16 17:54] richpomfret commented on #256
@Daniel-silve1ra can you provide an example for @Vino-S?

[2020-12-16 20:10] AlOneill commented on #10
As far as the colours are concerned, all colour-combinations (font and background) are now accessible provided our base CSS styles are used — i.e. the styles defined in the Inuit-based style-sheets (at the time of the colour updates). However, there are a number of other style-sheets in use, particularly on FreeBMD, which I cannot vouch for.

As for stories that relate to markup, the specific inst

[2020-12-17 10:13] #282 closed, assigned to Vino-S

[2020-12-17 10:17] PatReynolds commented on #59
I think this can be closed

[2020-12-17 10:17] PatReynolds commented on #204
I think this can be closed.

[2020-12-17 10:17] PatReynolds commented on #205
I think this can be closed

[2020-12-17 10:19] PatReynolds commented on #37
This is the story that I was thinking of yesterday in discussing personas.

Moving to sprint backlog

[2020-12-18 15:10] PhilipClarke712 opened #299 "Increase "global" search with wildcards in names upto existing FreeBMD standard"
I might wish to do a wildcard search such as: births, whole of a specified year or quarter, unspecified county, unspecified district, surname PAR*, unspecified forenames.  Note: a some point I may hit the 3,000 limit; so, if and when that happens, I tighten up the search parameters to decrease the number of hits a rerun the search.

On both test3 & test 2 I get a Prohibited message: **1 error proh

[2020-12-27 13:45] PhilipClarke712 commented on #135
I believe that this page is now finished and has been available on test3 for some time.
Note: it currently invokes hyperlinks (not made live as these are all DRAFT pages) to numbered items in the FAQ page and this latter page may well change was it has not been made fully relevent to FreeBMD2 (it's still FreeBMD biased in places).

[2020-12-27 23:24] PhilipClarke712 commented on #128
This page is now being written, a early draft somewhat incomplete (an understatement) is on test3.

[2020-12-30 14:24] JimKillock commented on #298
Looking forward to seeing this!

[2021-01-05 15:18] Vino-S commented on #287
ready for testing in test2

[2021-01-05 15:19] Vino-S commented on #297
Yes. Ready for testing on test2

[2021-01-05 15:20] Vino-S commented on #147
ready to be tested on test2

[2021-01-06 15:07] Vino-S commented on #224
Can be tested on test2

[2021-01-11 08:41] DeniseColbert commented on #18
Moving to needs review to check it's correctly assigned

[2021-01-13 17:35] richpomfret commented on #147
@DeniseColbert to take a look.

[2021-01-13 17:40] DeniseColbert commented on #147
Tested and working:

![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/9eb15b0e-1509-4cd1-b834-9d638b26bd5e)

[2021-01-13 17:41] PatReynolds commented on #164
Hi @PhilipClarke712

Yes, this is an early database.

The multiple transcriptions / transcribers is indicated on the Entry Information Page.

So this is working ok?

[2021-01-13 17:45] richpomfret commented on #59
Closing.

[2021-01-13 17:45] #59 closed

[2021-01-13 17:45] #204 closed, assigned to nobody

[2021-01-13 17:45] #205 closed, assigned to nobody

[2021-01-13 17:51] richpomfret commented on #68
@Daniel-silve1ra is there any final work required here? If not, we will close.

[2021-01-13 17:58] PatReynolds commented on #257
Hi @PhilipClarke712  are anyy of these needed urgently (before beta release)?

[2021-01-13 18:01] PatReynolds commented on #87
As FreeREG - plus add wikipedia citation.

Perhaps ask eveloper working on FreeREG citations to take a look once specified.

[2021-01-13 18:02] PhilipClarke712 commented on #164
Hi Pat,
I was looking for Postems and, you have confirmed that it is an earlier data-base. The fact that it is a early data-base means it has almost no postems.
The _problem_ is the data-set: that data-set is not the one that I (or we) would choose to use to test the  Postem search capability. However: since I'm told there are just 15, I'll change my search strategy to looking for what is know is

[2021-01-13 18:11] PhilipClarke712 commented on #257
They are not urgent.
The pages don't exist on FreeBMD2 so the easy way round is not have the **live** hyperlinks to those facilities (they are all hyperlinked from a "higher page"). So you can't do them on FreeBMD2, yet.
Another way round would be to hyperlink to the FreeBMD (opening in a new tab) page, but I can't (or must not) do that.

[2021-01-14 19:34] archerbarrie commented on #164
And how is "confirmed" (as indicated by Confirmed & 1 in the database being non-zero) indicated? This is the question that was implied originally.

[2021-01-15 11:15] PatReynolds commented on #164
@archerbarrie if the  'confirmed' in Philip's comment of  13 Jan 2020 is the one you mean, 'confirmed' means 'Pat says, yes,  it is  it is an earlier database.

Not sure what yo mean as I don't think your comment refers to that.

[2021-01-15 12:40] PatReynolds commented on #43
Page is signed off and deployed.

What is _not_ there yet is the link text from the About page. Part of #170.

[2021-01-15 12:57] PatReynolds commented on #224
Thank you, @Vino-S  working as expected.  Marked as Ready for Deployment.

[2021-01-15 13:00] PhilipClarke712 commented on #164
@PatReynolds,

Sorry, I did not reply to the second part of your question above and that is the topic of the first line of Barrie's comment, above.

The second part is going somewhat off the topic of Postems, but I'll respond here: I could do searches on the 13th (I was using test3) but when I clicked on the View button the system was timing out with a 404 error. My internet went down for several

[2021-01-15 13:05] archerbarrie commented on #164
No it doesn't. "Confirmed" means that an entry has been confirmed by double keying. This is indicated by a flag on the entry in the database and, in FreeBMD1, by the entry being in bold. So the question is "how is the entry being  in bold in FreeBMD1 indicated in FreeBMD2"?

[2021-01-15 14:49] PatReynolds commented on #226
Draft added to https://test3.freebmd.org.uk/cms/refinery/pages/help/draft-advanced-search-facilities/edit

[2021-01-15 14:59] PatReynolds commented on #164
Thanks, Barrie, different story. #271 (in backlog, so no resolution yet on confirmation with that meaning.

[2021-01-15 15:07] PatReynolds commented on #297
Thank you, Vino.  This is working as expected.

On FreeBMD1, hovering over the page number produces the information "Page - click to see other entries on this page" - could this be added?

I think the page header - eg "Records of 385 page" needs expanding - perhaps "Records on District Volume Page" not just Page?

Also to note: on FreeBMD1, this information is available from the search results pag

[2021-01-15 15:20] PatReynolds opened #300 "Add details to 'others on this page' view"
On FreeBMD1, this 'others on this page' information is available from the search results page, not the entry information page, and thus contains mother's maiden name (in births), spouse's surname (in maeriages), and the age at death (in deaths).

[2021-01-15 16:18] archerbarrie commented on #271
Being confirmed and having multiple transcriptions is not the same. Confirmed implies multiple transcriptions but NOT vice versa. For example if the system managed to align a record with SMITH and a record with SM* it would not consider that, of itself, would justify confirmed. Conversely if SMITH was a system entry it would. The rules for what is and is not confirmed are quite extensive but it is

[2021-01-15 16:25] PhilipClarke712 commented on #128
This is now, perhaps, half-written and I decided to move the draft to the Transcriptions Tab where it fits in with all those other draft pages I mentioned above. Many of these draft pages are called up from both Help pages and Transcriptions pages, so where it/they sits is probably not too important. However, the effect of researching the GRO is producing "ripples" which I may well add to  those d

[2021-01-15 16:58] PatReynolds opened #301 "Add number of search limit to exessive search results and Help"
Number is missing from results page shown if number exceeeded: ![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/47c91c25-b22d-4c75-9bfb-97fdc30983b5)

Number also needs adding to "Nature of the search" section in Help (currently text is 500, as a place holder.

[2021-01-15 17:24] PatReynolds commented on #172
Proofing document needs revision.

[2021-01-15 17:41] Vino-S commented on #297
Thank you @PatReynolds ,
_On FreeBMD1, hovering over the page number produces the information "Page - click to see other entries on this page" - could this be added?_

Yes, Pat. Will make the changes

_I think the page header - eg "Records of 385 Page" needs expanding - perhaps "Records on District Volume Page" not just Page?_
I will make the changes and also include the RecordType too

_Also to n

[2021-01-15 17:45] PhilipClarke712 commented on #172
@PatReynolds

Sorry to split hairs. That page is **not** a draft page and it appears to have been created up copying and pasting sections from the various sub-pages that sit below it: so information is duplicated and it has almost no hyperlinks to other pages / subpages.

I'm not allowed to work on such pages, I cloned a copy of the page which is prefixed DRAFT - and is suffixed (W-i-P). It is the

[2021-01-15 17:52] PhilipClarke712 commented on #271
To reflect on what Barrie has said, for the early records, many handwritten, the imaging is often poor, as is the handwriting; and people sometimes make mistakes in transcribing.
The same record might have been transcribed as John Smith, John Smiht and Joh[n_] Smi__ and FreeBMD treats those as three different records. The same people might have entered the next record as John A Smith, John A Smith

[2021-01-16 00:27] archerbarrie commented on #271
I don't understand the overall point being made by Philip, but I would like to correct the above assertions.

"John Smith, John Smiht and Joh[n_] Smi__" would be two records in the search results, one (arbitarily) with two transcriptions. Neither record would be confirmed.

"John A Smith, John A Smith and Joh[n_] A Smi__" would be one record in the search results with three transcriptions. The rec

[2021-01-18 13:18] PhilipClarke712 commented on #275
I have a draft page on test3 refinery which I hope to have finished soon. There are some unresolved subpages: some need to be coded and some could either be coded or done in html. I will finish the page and indicate the links to such subpages in the form: of [link-text: .... ] [link = .... ] and not make those links (I don't link to draft pages anyway - that is done at sign off).
Then it can be co

[2021-01-18 13:28] PhilipClarke712 commented on #214
@PatReynolds
Note: there are two FAQ pages; one sits within **Help** and is related to Searching and the other sits in **About** (note: there is duplication of text in the form of individual Q&A on the FAQs and stand-alone text either on the About page or as small sub-pages of About).
Does this refer to both of them?

[2021-01-18 14:14] PhilipClarke712 commented on #172
Hi @PatReynolds ,
I looked at this page this morning and ran it through the spell-checker, etc. and as it stands it is not a bad page at all (Glaswegian for "good").

I did some Volume searches on test2 (not implement yet on test3) and it works. Note: I do Volume searches myself, but I use Brett Langston's "Handbook to Civil Registrations Districts" (2nd ed). I don't beleive that we have the mappi

[2021-01-20 11:07] PhilipClarke712 commented on #294
I'm not quite sure what this story is intended to cover. Test2 has an **About** tab on that top red bar (Transcriptions; About: Volunteer, ... etc) and I'm seem to remember that Test3 had one, but today it does not have one. The **Transcriptions** tab is still a link to FreeBMD's page: https://www.freebmd.org.uk/progress.shtml .

Now we do have a draft **Transcriptions** page on Test3 which is sti

[2021-01-20 11:32] PhilipClarke712 commented on #178
I would note that there are two such draft pages, quite different in their level of detail. On Test3, they are **About Citations** and **Citing FreeBMD**, respectively. They don't comply with those Checklists in one aspect at least: hyperlinks exist and are working, because the Checklists are incompatible with the Protocol for creating and editing in Refinery:- the latter has Don't hyperlink to dr

[2021-01-26 11:55] PatReynolds opened #302 "Split Milestone 5"
As we approach initial testing, It think it is time to make future milestones (currently 5+) more granular, I suggest (for discussion):

5.1.1 urgent fixes discovered in initial testing
5.1.2 not so urgent fixes discovered in initial testing

5.2 Features to be implimented before second phase testing

5.3.1 Second phase testing and urgent fixes
5.3.2 not so urgent fixes discovered in initial testi

[2021-01-26 12:13] PatReynolds commented on #267
FreeBMD1 district name goes to a District Information page which re-iterates the data already seen, links to the district in ukbmd, and has a link to https://www.freebmd.org.uk/DistrictInfo.html

For decision: to place a link in the Help page to https://www.freebmd.org.uk/DistrictInfo.html and link to this from:
* 'Tools'?
* results page above table?
* anywhere else?
What do you think, @PhilipClar

[2021-01-26 12:34] PatReynolds commented on #42
Google version uses mouse movements and cookies (tracking history) - so would not work.

Homenypot: https://solutionfactor.net/blog/2014/02/01/honeypot-technique-fast-easy-spam-prevention/ seems ok - @Vino-S  what do you think?

[2021-01-26 12:40] PatReynolds commented on #88
Already implemented

[2021-01-26 12:47] PatReynolds commented on #87
Kirk's comment seems to have taken me off-track here - Citations is #113

Example on freeBMD2 : https://test3.freebmd.org.uk/60100e3fe93790be1188000a

https://www.freebmd.org.uk/60100e3fe93790be1188000a does not find - freeBMD1 url is
https://www.freebmd.org.uk/cgi/information.pl?cite=qg6KENmPu%2BhEy5taYKZFYg&scan=1

[2021-01-26 17:03] PatReynolds commented on #128
Hi @PhilipClarke712 that's a great set of pages!

On the 'Ordering Certifictes' page, I think the bottom section needs to be at the top - it's the "must have" information on this page.

For discussion:

How to order a transcription needs a direct  link from various pages in-page, I think the "Entry Information" page is most important.

Include the essential 'how to order certificates' section in t

[2021-01-26 17:06] PatReynolds commented on #129
@PhilipClarke712 is this something you could take a look at? Thanks, Pat

[2021-01-26 17:47] PhilipClarke712 commented on #129
What am I being asked to do: (1) combine the page that Barrie refers to at the very top with the current contractor-written Help page on test3 to make a new Help page (I don't have editing rights for test2, so I'll use what is on test3); **or** (2) to comment on doing such a thing?

Note: I don't particularly like that new Help page so I have another two copies of it on test3. The first one will j

[2021-01-26 17:47] PatReynolds commented on #170
Is the donation link needed? it is not on other sites' About pages.

[2021-01-26 17:52] PatReynolds commented on #244
Asked John for code 26 Jan 2021

[2021-01-26 17:54] PatReynolds opened #303 "Add Cookie Consent tool to FreeBMD2 BETA"
Pat to set up (in part to test new cookie consent pathway).

a Cookie Consent is needed that does NOT allow essential cookies or functional cookies to be truned off and is a positive turn-off for Analytics  Advertising cookies.

[2021-01-26 18:00] PatReynolds commented on #71
Now in footer.

[2021-01-26 19:33] PhilipClarke712 commented on #128
@PatReynolds,

Thanks for your comments. I've moved the "Ordering section(s)" to the top, renamed the previous first section to "Why get a Certificate?" and adjusted the side navigation panel accordingly; and left it at that.

Note: I need to rework some of the hyperlinks - but I'll do that anyway!

I think having done this change: the page needs reworking: I have a subscription to two of the comm

[2021-01-27 09:36] PatReynolds commented on #175
Is this epic complete?

[2021-01-27 09:41] PatReynolds commented on #227
What phase is this now?  It has one issue - phase 5+

[2021-01-27 09:42] PatReynolds commented on #51
@Denise is this complete?  Can it be closed?

[2021-01-27 09:55] PatReynolds commented on #279
Model citations made: https://docs.google.com/document/d/1Ab_Kws579BqkLW_GJZCSZZZC6VqiY0BNy-qGN3SgwdM/edit?usp=sharing

Because at different points the database includes different information, as for FreeCEN, for citations with detail, more can be provided:
Detailed model citations- Wikitree https://docs.google.com/document/d/1AGNbwUR8TfSCek-1PtmYpEtgnVYjftKGcNsXxmsgn4c/edit?usp=sharing

[2021-01-27 10:13] PhilipClarke712 commented on #175
I started using FreeBMD for **research** almost 20 years ago and then its coverage was not as good as it is now (coverage fairly complete up to the 1910s / 1920s, with gaps, compared with almost complete coverage to the late 1980s as of now). So if I found a marriage, with only one spouse I might look at images to try and find the other one using https://images.freebmd.org.uk/cgi/choose.pl . I mig

[2021-01-27 10:59] PatReynolds commented on #97
Link now Transcriptions tab = Link to https://www.freebmd.org.uk/progress.shtml Is this complete, or do we want an intermediate page, possibly with links to other pages?

[2021-01-27 11:12] PatReynolds commented on #70
Have sent a test 'report a problem to check what personal information is transmitted.

Needs adding to contact page. @Vino-S  suggest text is We will use personal information in line with our Privacy Policy [link to privacy policy].
NB no one else seems to do this eg https://www.financial-ombudsman.org.uk/contact-us https://www.sbs.nhs.uk/contact-form?pageSessionId=f30acd60-5865-4a18-b5f8-bb55dcb7

[2021-01-27 11:37] PatReynolds commented on #298
Not sure why I'm on this - Rich is this just you?

[2021-01-27 12:19] PhilipClarke712 commented on #97
It was my intention that the current Transcriptions tab on test2 be replaced by this Page:
https://test3.freebmd.org.uk/cms/draft-transcriptions

[2021-01-27 12:58] PatReynolds opened #304 "Write sub-page ABOUT The Current Team and Management structure (public page)"
Current DRAFT is taken from FreeREG.  There is also a page DRAFT About Us.  Introductions to the Project Team.  which is very out of date - much is now History - some needs incorporating here, and some on FreeUKgenealogy.org.uk

Include on this page link to the FUG website page on the Team.

Remaining issues
 - [x] corrections needed to personnel
 - [x] contact details
 - [x] conformance to style,

[2021-01-27 13:45] PatReynolds opened #305 "Finalise Transcriptions/Records Page"

[2021-01-27 13:59] PatReynolds commented on #173
Hi @PhilipClarke712 could you switch the first two sections of 'Help' please - I think that people will want to see information about searching before information about accuracy.

[2021-01-27 14:05] PhilipClarke712 commented on #304
@PatReynolds

Firstly, unfortunately I don't know what FUG is, so I can't do anything about that.

There are numerous problems with this page, as a whole. As you say, the current draft appears to have been taken from another site. The individual pages from FreeBMD(1) identified in the hyperlinks audit were moved onto Refinery back in May to June but have never been incorporated into the draft page

[2021-01-27 14:10] PhilipClarke712 commented on #173
@PatReynolds
Yes, I will do that today on test3 on a Draft page. That is less than five minutes work (unless I break something).
I will get into trouble if I change the Help page since that is not a Draft page (so changes have to be signed off).

[2021-01-27 14:15] PatReynolds commented on #129
Hi[ Philip, thanks for this - my comment on the other Help page story may be superfluous.  I've changed the titel of this story so it no longer refers to the help page.  This is about reporting errors (and speeding up the solution by providing information rather than letting the person send a message asking for help - although they can of course still do that as a last resort.

https://docs.google

[2021-01-27 14:50] PhilipClarke712 commented on #129
@PatReynolds ,
I don't have time today, but I will look at it tomorrow (my energy supplier has decided to change both my electricity and gas meters on Friday a.m.: so I'm trying to accommodate no electricity, which means no internet, and no gas for a couple of hours - if they don't mess up).

[2021-01-27 16:29] DeniseColbert commented on #215
First draft:
![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/07bb6218-28ad-444f-a43c-fff3f1fd015e)

[2021-01-27 16:59] PatReynolds commented on #129
Many thanks, Philip! WE had our electricity out for a few hours last week
and it was a bit of a trial - but we had matches to light the gas stove, so
were well ahead of you.  Hope all goes well,

Pat

[2021-01-27 17:20] PatReynolds commented on #178
@PhilipClarke712 yes, there is information about citations (in detail) in About, but what someone needs to know to use the buttons on the website.

Headings should always be tags, although the styling will be in the CSS (and we do not need to deal with that).

I will go through Help and make sub-pages for those elements that I think are too wordy to be here,.

[2021-01-27 17:22] PatReynolds commented on #276
Not working at the moment.

[2021-01-27 17:23] richpomfret commented on #88
Hurray! Closing.

[2021-01-27 17:23] #88 closed

[2021-01-27 17:30] PatReynolds commented on #227
@Daniel-silve1ra to review on testing environment - making new stories as needed.

[2021-01-27 17:37] richpomfret commented on #190
Awaiting pull request to be merged prior to testing.

[2021-01-27 17:42] richpomfret commented on #10
@AlOneill we can create separate stories for these things that have not been fixed, or (if they are small/quick) we can keep them here. I think the former would be preferable, it would also be ideal to have an Accessibility review meeting scheduled in soon.

[2021-01-27 17:47] richpomfret commented on #42
@Vino-S to take a look and see if this is 'do-able' or not.

[2021-01-27 17:52] richpomfret commented on #215
Use FR/FC to guide design/User Experience here.

[2021-01-27 18:03] PhilipClarke712 commented on #178
@PatReynolds
Sorry, I did a bad job of explaining what I meant.
I should have said that the CSS was being over-ridden by adding font sizes and other means of changing the text appearance into some of the tags make level 3 tags look like level 2 tags. It's far easier to change an h3 to an h2 at both ends of the paragraph.

We have perfectly good subpages on Refinery, sitting under Help: "Age at dea

[2021-01-27 18:04] PatReynolds commented on #92
@PatReynolds to ask Allan to review and update

[2021-01-27 18:07] richpomfret commented on #92
We will close this story shortly, as the solution has been completed, it is now a case of 'bring it up to date' with recent-ish news.

[2021-01-27 18:07] PatReynolds opened #306 "Bring News up to date"
@PatReynolds  to ask Allan for recrent news

[2021-01-27 18:14] PatReynolds commented on #300
Wait for users feedback

[2021-01-27 18:15] #292 closed, assigned to nobody

[2021-01-28 11:16] PhilipClarke712 commented on #305
Hi @PatReynolds ,

This will be done using a FreeBMD2 version of this page and various sub-pages, but we will hit a number of problems: many of the final pages that **do something** are Perl pages running on FreeBMD that get graphs or pull things off the data-base. I don't think we have replacements yet on FreeBMD. So, I either have to leave these links **undone** , or I put in (opens in new page)

[2021-01-28 12:53] PatReynolds commented on #178
Thanks, Philip, we have _almost_ finished the standards page (wish we had started that in 2018 .....) and the next thing @DeniseColbert and I are going to work on is the document on how to bring html text from FreeBMD1 to FreeBMD2 so hopefully in future it will come over clean.

I think it would be great to use Comfort's page as the basis for Help for Researchers (different Help will appear for lo

[2021-01-28 14:37] PhilipClarke712 commented on #178
So you are the Latin expert. I saw it earlier today and assumed that Alison had done that. Note: I did Latin and (Castellano) Spanish at night school about  8 to 10 years ago: same teacher, but she was a Basque. I was better at Latin than Spanish, but with that mixture I could understand about half of what Inspector Montalbano said (a Sicilian detective series that was on BBC4 on Saturday nights a

[2021-01-29 09:16] PhilipClarke712 commented on #300
I've never noticed that message before on FreeBMD1, I normally just click on the **red** page number and it shows them.

FreeBMD2 test3 is (slightly) different: I need to click on the  **magenta** View button to pull up the Entry information page, then when I click on the **magenta** page number it displays the (normally) four or eight records - in this case only three (so the 4th might be mis-tra

[2021-02-01 14:03] PhilipClarke712 commented on #267
Hi @PatReynolds,
I have a draft updated-version of that page called "Registration Districts" on test3, it is a sub-page of the top-level page "Transcriptions" page. It is also called from "Understanding the GRO Index Page" and "Districts, Volumes and Page numbers" which are both sub-pages of "Transcriptions". These latter two pages are also called from various "Help" sub-pages such as "Advanced se

[2021-02-01 14:51] PhilipClarke712 commented on #129
Hi @PatReynolds,
I added various comments, all in the form of agreement with FreeBMD's commentators or adding further information / comment. I have no disagreement with the polices stated by FreeBMD.

Note: the two meters were changed without too much disruption (in just over two hours total): but only the electricity is Smart, either the gas meter refuses to talk to electric meter (which is the "

[2021-02-01 21:32] PhilipClarke712 commented on #267
Hi @PatReynolds,

This first part is moving off in a slight tanget, but I mentioned "possible confusion" between magenta font used for both hyperlinks and non-hyperlinks on the Entry information page.  So, a link to the draft of "Districts, Volumes and Page numbers" could be used on the Entry information page (as all those terms are there in magenta font). That page does not link to "Registration

[2021-02-02 15:40] PatReynolds commented on #175
Thanks, Phillip.  In that case, we can close this, as not needed for Researchers now (if it turns out someone _does_ have a use for it, we can reopen).

[2021-02-02 18:10] Vino-S commented on #276
Hi @PatReynolds,
I tried to replicate the issue here but could not. The URLs mentioned above seems to be working. Could you give a screenshot, so that I could take a look further, please?

[2021-02-03 10:02] PatReynolds commented on #276
Hi @Vino-S
![image](https://user-images.githubusercontent.com/6338822/106730214-3d58d180-6606-11eb-9288-4c1b14e1079d.png)

Birth of Ann Marie Austin:
![image](https://user-images.githubusercontent.com/6338822/106730494-5c576380-6606-11eb-9693-25caf4803fb7.png)

But freebmd.org.uk/601a7283e93790586adefb5 is not the quasi-permanent url
 (gets 'requested url is not found on this server error on FreeB

[2021-02-03 11:16] DeniseColbert commented on #226
Proofing checklist (draft): https://docs.google.com/document/d/1B0hEGlhSQC6lH3RY94OGcxYuxWck57qKF4jFaI9xU4M/edit?usp=sharing

[2021-02-03 11:21] DeniseColbert commented on #210
@taylorjgolden could you take a look at the page on Refinery just to get a feel for how it looks now and how we might go forward with the form.

[2021-02-03 11:24] DeniseColbert commented on #178
Protocol for editing and creating in refinery: https://docs.google.com/document/d/1hox-YaO3YctWDTzr9yr30jdyPwZ30lyNZb4qnZs5Xf4/edit?usp=sharing

[2021-02-03 13:44] DeniseColbert commented on #51
I think so- designs have taken this into account. If it arises in feedback we can create a new story.

[2021-02-03 13:44] #51 closed

[2021-02-03 18:05] PhilipClarke712 opened #307 "Searching for a marriage with Spouse's surname "breaks" test2 & 3"
I searched for a marriage of named person within a 12-month period and I got 75 "hits" one of which was the one I wanted.

So I Revised the search and added a Spouses surname. Nothing else was changed.

test3 came up with: _We're sorry, but something went wrong with processing your request. A report has been produced and sent to the webmaster. Please return to your prior activity but try to avoid

[2021-02-04 18:31] PhilipClarke712 opened #308 "FreeBMD2 fails to indicate that a marriage entry was Registered by the GRO in the form "Smith or Jones" for spouse's name"
I wanted to check out searching for marriages where a page number has UCFs (uncertain character format), so I started looking at some of the marriage files that I had transcribed; and I got side-tracked onto this particular topic.

The page 1950-M1-B0086 has an "entry" of the form:
Betts, William R., McCarthy, Southwark, 5d, 1222
#Comment(2) entry reads McCarthy or Taylor for Spouse's name
Betts,

[2021-02-05 17:06] PhilipClarke712 commented on #134
Hi AlOneill
I consider that this page - Draft Help with Marriages is ready for consideration for sign-off. This is a Major change, as there is no page of this name, yet.

[2021-02-05 19:13] AlOneill commented on #134
@PhilipClarke712 Has the **content** been signed off? That is, has someone proofread the text and checked for accuracy, flow, language and so forth?

[2021-02-05 19:50] PhilipClarke712 commented on #134
I moved it across, then re-wrote it with active-verbs and checked it over a month or so: nobody else has checked it, so there may be errors that I have missed.
Having done that I raised two issues this week on Git: I crashed both test2 and test3 doing something that should be do-able; and another function has not been implemented yet.
Note: the document has been edited to remove a few things that

[2021-02-07 18:26] AlOneill commented on #134
@PhilipClarke712 I cannot sign off this page for HTML yet because there are many references to other pages that are drafts. Further, as you have found, some parts of the search (described on the page) are not yet implemented. The page should remain in "On Ice".

If the other pages referenced are also part of the MVP, then we simply create the links once those pages are ready.

I've done some preli

[2021-02-09 17:14] PatReynolds commented on #294
It means checking that each page contains a main page heading marked as (h1) and a leading paragraph, and indexes if needed.  The leading paragraph may be irrelevant to some pages.

The 'about' tab disappears when one is logged in (this was to save space on the bar when it was becoming crampted - it is being re-instated).

[2021-02-09 17:31] PatReynolds commented on #97
Hi @PhilipClarke712 belatedly updating this story to indicate a new name for this page, and clarify its use. These pages are created by developers and pull information from the databases, hence at the moment simply pointing at FreeBMD1.

See:
https://www.freereg.org.uk/freereg_contents/new?locale=en
and https://www.freecen.org.uk/freecen_coverage?locale=en

The plan for MVP is now to simply link t

[2021-02-09 17:35] PatReynolds commented on #172
Thanks, @PhilipClarke712!  I am assigning you to this story now, taking myself off (but do ask if you need anything) - move to Needs review when ready.

[2021-02-09 17:41] PatReynolds commented on #129
Thanks, @PhilipClarke712 - please let me know if you want any advice/help/checking on this one.

[2021-02-09 17:42] AlOneill commented on #294
The 'main page heading' `h1` is automatic: it is the file name for the page, down-cased with punctuation removed and spaces replaced with hyphens. In other words, no check is needed for its existence. The page author should **not** add another one!

'Indexes' (sub-menus) and `<p class="lead">` are created by the page author.

[2021-02-09 17:42] PatReynolds commented on #251
Moved to "in progress" as in progress.

[2021-02-09 17:46] PatReynolds commented on #273
I think this duplicates #294

[2021-02-09 18:47] PatReynolds commented on #306
Contact Allan 9 Feb 2021

[2021-02-09 18:49] PatReynolds commented on #244
John emailed to @PatReynolds and @Vino-S 26 Jan 2021

[2021-02-09 19:28] PhilipClarke712 commented on #97
Hi @PatReynolds,

Thanks. I have a such page fairly closed to completion, but it will not have a full set of completed sub-pages, because some of these will be implemented as programming.

I have also been talking to Alison about putting some of these draft-pages forward for review. Meanwhile, I will rename my Draft-Transcriptions page to Draft-Records.

There are links to some Help sub-pages, inc

[2021-02-09 19:40] PhilipClarke712 commented on #129
Hi @PatReynolds,
I did look at the spreadsheet on 1st February and I left six or seven comments in column C, but it appears that I totally forgot to state here that I had done so. Sorry about that.

[2021-02-09 19:53] PhilipClarke712 commented on #129
Hi @PatReynolds

Having looked now at my comments: I have not raised any objections to what is there already, but have added (only in the comments)  explanations or suggestions to add a bit more text.  What would you like me to do now: I could copywrite the text, if you like? Note: I am lead to believe that it will be a programming implementation not an html page?

[2021-02-10 13:28] Vino-S commented on #184
Deployed to test3. So Closing it

[2021-02-10 13:28] #184 closed

[2021-02-10 13:28] Vino-S commented on #245
Deployed to test3. So Closing it

[2021-02-10 13:28] #245 closed, assigned to DeniseColbert, Vino-S

[2021-02-10 13:29] Vino-S commented on #162
Deployed to test3. So Closing it

[2021-02-10 13:29] #162 closed

[2021-02-10 13:29] Vino-S commented on #82
Deployed to test3. So Closing it.

[2021-02-10 13:29] #82 closed

[2021-02-10 13:29] Vino-S commented on #225
Deployed to test3. So Closing it

[2021-02-10 13:29] #225 closed, assigned to PatReynolds, Vino-S

[2021-02-10 13:30] #71 closed

[2021-02-10 13:30] Vino-S commented on #71
Deployed to test3. So Closing it

[2021-02-10 13:32] Vino-S commented on #248
Ready for testing in test2

[2021-02-10 13:35] Vino-S commented on #297
Following changes are ready for testing in test2:
1. Improvised the page header
2.Added hover text 'click to view other entries on this page'

[2021-02-10 13:35] Vino-S commented on #290
Ready for testing in test2

[2021-02-10 13:36] Vino-S commented on #218
Ready for testing in test2

[2021-02-10 14:52] Vino-S commented on #97
ready for testing in test2

[2021-02-10 15:15] Vino-S commented on #70
ready for testing on test2

[2021-02-10 15:20] Vino-S commented on #255
Hi @DeniseColbert,
I had made some changes for Year field in 'Date Range From' and 'Date range to' of the search form. Please have a look and let me know if it is better than the previous implementation.
Ready for testing in test2

[2021-02-10 15:21] Vino-S commented on #192
Code deployed to test3. So closing it

[2021-02-10 15:21] #192 closed, assigned to PatReynolds

[2021-02-10 15:21] Vino-S commented on #131
Code deployed to test3. So closing it

[2021-02-10 15:22] #131 closed

[2021-02-10 15:22] Vino-S commented on #164
Code deployed to test3. So closing it

[2021-02-10 15:22] #164 closed

[2021-02-10 15:22] Vino-S commented on #224
Code deployed to test3. So closing it

[2021-02-10 15:22] #224 closed, assigned to PatReynolds

[2021-02-10 15:23] Vino-S commented on #284
Code deployed to test3. So closing it

[2021-02-10 15:23] #284 closed, assigned to Daniel-silve1ra

[2021-02-10 15:23] Vino-S commented on #147
Code deployed to test3. So closing it

[2021-02-10 15:23] #147 closed

[2021-02-10 15:23] Vino-S commented on #202
Code deployed to test3. So closing it

[2021-02-10 15:23] #202 closed, assigned to taylorjgolden

[2021-02-10 17:40] PatReynolds opened #309 "Make Voluntee page on beta.freebmd.org.uk point at freebmd1"

[2021-02-10 17:48] PatReynolds opened #310 "Add 'Volunteer as a transcriber" to Refinery"

[2021-02-10 17:49] PatReynolds opened #311 "Add Death to sort by toggle"

[2021-02-10 17:49] PatReynolds commented on #309
See process is there, so closing

[2021-02-10 17:49] #309 closed, assigned to nobody

[2021-02-10 17:55] PatReynolds opened #312 "Make postem link bold (like the scan link)"

[2021-02-10 17:55] PatReynolds opened #313 "Snag list for the Entry Information Page"
- [x] Image link is undented (needs to be not indented
 - [x] Image link needs an image to clue the user
 - [x] Make postem link bold (like the scan link)
 - [x]  the styling that is applied to the icons on :hover needs to be extended to :focus so that a sighted keyboard-only user will see the same information that becomes visible on :hover.
 - [x] When the extra info appears after selecting the P

[2021-02-10 18:02] #312 closed, assigned to nobody

[2021-02-11 09:54] PhilipClarke712 commented on #129
Hi @PatReynolds
I only have comment-rights to https://docs.google.com/spreadsheets/d/1VQt3Fjl1y2eixHsPQVp2gSZ0VEVPZ4xYsisbkLiZ01c/edit#gid=0 so I have expanded on my comments of 1st February and in some cases add in the comment suggested extra text.
These are to be implemented via buttons, and I don't know what constraints there are, if any, on how much text a button can accommodate.  Does, this m

[2021-02-11 14:35] PatReynolds commented on #129
Hi @PhilipClarke712 with comment rights you can edit the text, and it will show the original  (crossed out) as well as your revision.
Is that sufficient for your needs?

[2021-02-11 15:47] PhilipClarke712 commented on #129
Hi @PatReynolds ,
Thanks, Yes that will be fine.

[2021-02-11 17:46] AlOneill opened #314 "Improve Search form: correct some invalid markup and various bits of missing or ungrammatical text"
I hesitate to make any negative comments about such a magnificent implementation of what is a very complicated Search form — excellent work! However, there are a few little problems that should be addressed:

*  there are 2 instances of `div` elements being child elements of an `ol`. This is invalid markup and will cause problems for screen-reader users: `div.recordTypeGrid` should be a `li` as sh

[2021-02-12 15:57] PhilipClarke712 commented on #96
Hi @AlOneill,
Could you review "DRAFT - Ordering Certificates" for grammar and CSS (not hyperlinks yet - as it has outline links to other draft-pages)? This is a sub-page of Coverage (and Help) as well as other sub-pages within Coverage.  Note: more sub-pages to follow. Thanks.

[2021-02-15 17:10] richpomfret commented on #70
@richpomfret to test.

[2021-02-15 17:13] richpomfret commented on #290
@PatReynolds to see if there is a way to test this (bot-tool?).

[2021-02-15 17:18] richpomfret commented on #289
Quick test during the meeting and we've decided we would like it to be larger still - it appears smaller than the font used on our other sites (FR/FC).

[2021-02-15 17:25] richpomfret commented on #297
@PatReynolds to test those changes.

[2021-02-15 17:26] PatReynolds commented on #297
Link back to Entry Information Page

[2021-02-15 17:27] richpomfret commented on #218
@richpomfret to test.

[2021-02-15 17:31] richpomfret commented on #255
@DeniseColbert please take a look when you can.

[2021-02-15 17:36] #273 closed, assigned to PatReynolds

[2021-02-15 17:43] richpomfret commented on #10
Discussion on requiring a sign-off process for pages ahead of them being 'ready' for a accessibility review.

[2021-02-15 17:51] PatReynolds commented on #87
Pat to test again with ENTRY INFORMATION page - and full text.

[2021-02-15 17:53] richpomfret commented on #42
Closing- decided and implemented.

[2021-02-15 18:00] PatReynolds commented on #299
No need to restrict to county/district on FreeBMD2 as the limit relates to Mongo processes.

[2021-02-15 18:03] PatReynolds commented on #276
FreeBMD2 URLS need to be exactly like the FreeBMD1 citations.

[2021-02-15 18:09] PatReynolds commented on #311
Filter ![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/d4da2d03-ac95-4395-89dd-b912da222a13)

Pat to check on small screens

[2021-02-15 18:11] richpomfret commented on #307
@Vino-S to take a look.

[2021-02-16 11:49] PatReynolds commented on #10
Not sure what your comment of 15th Feb means, Rich.  We do have a sign off process for pages already.  We can add specific accessibility issues to the checklist, if that's what is meant (sounds like a good way forwards).

[2021-02-16 12:05] PatReynolds commented on #10
Draft checklist https://docs.google.com/document/d/1V4BxoDRamp3CW9wTVlzEJOoputqhcFKiaqIqgLX-Gwg/edit?usp=sharing - what do you think, Alison?

[2021-02-16 12:33] PatReynolds opened #315 "Search not working on mobile phones"
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/ffc5d0c6-c34d-475f-959f-b0d32079941e)

The search button bar  is now 'pinned' to the bottom of the screen, and does not work.

[2021-02-16 12:37] PatReynolds opened #316 "Plan testing schedule and design initial test(s) - undertake pilot tests"
Review and update testing scenarios:  MVP tests
https://docs.google.com/document/d/1AAlKkwcKLAi9zQoESjZjhuOxy7F9s3FSWNx_4YIBqXk/edit?usp=sharing

[2021-02-16 12:38] PatReynolds opened #317 "Invite initial testers"

[2021-02-16 12:41] PatReynolds opened #318 "The Testing Epic"
See https://docs.google.com/document/d/1FNUijfW3586xE-m9W3U1gyxstSYwO7cD3jbqS9V33A8/edit?usp=sharing for timetable

[2021-02-16 12:42] PatReynolds opened #319 "Review initial tests including creating stories"

[2021-02-16 12:46] PatReynolds opened #320 "Design second phase tests"

[2021-02-16 12:46] PatReynolds opened #321 "Recruit to second phase tests"

[2021-02-16 12:47] PatReynolds opened #322 "Conduct second phase tests"

[2021-02-16 12:48] PatReynolds opened #323 "Review second phase tests and create stories"

[2021-02-16 12:49] PatReynolds opened #324 "Undertake launch preparations"

[2021-02-16 13:12] PhilipClarke712 commented on #134
Hi @AlOneill , Districts, Volumes and Pages numbers (within Coverage) which is a sub-page of Marriages (& several other pages) is now ready (I hope) for preliminary proof-reading and HTML checking.

[2021-02-17 20:10] PhilipClarke712 opened #325 "test2 & test3 Results pages hyperlink to wrong district on UKBMD"
I would note that Test2 & test3 Results pages have the wrong Registration District hyperlink for **Weston** (or Weston_Super_Mare, if you prefer): the District (Weston) is correctly displayed on FreeBMD1, test2 and test3 Results Pages.
FreeBMD1's was the only hyperlink that took me to https://www.ukbmd.org.uk/reg/districts/weston%20super%20mare.html -  which is where I should be.  Test2's and 3's

[2021-02-18 17:12] AlOneill commented on #96
@PhilipClarke712 Preliminary review done. Suggestions and comments on the page. I will also give some feedback by email.

[2021-02-26 16:20] AlOneill commented on #134
@PhilipClarke712 Preliminary checking of "Districts, Volumes and Page numbers" now underway.

[2021-03-01 12:33] PatReynolds commented on #287
I can't see any difference on test2, @Vino-S  - ![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/147a9a15-9440-470b-b674-1f6d48c8107d)

[2021-03-01 12:45] PatReynolds commented on #248
There is  no blank in the quarter fields for date range.

Spouse's surname doesn't seem to work (no additional info shows).

There's a missing space on the Age at Death but I'm wondering if we need to have any additional help here at all - the dropdown shows the options, which seem self-explanatory.  Let's discuss in review.

Otherwise all good, thank you, @Vino-S

[2021-03-01 12:53] PatReynolds commented on #297
I wonder if saying" Selecting the page number shows all the entries on this page. Link opens in a new tab" rather than simply "(Link opens in new tab.)"

Display means it is easy to navigate back to the entry information page the user came from.  But they won't then be able to get back to their search.  Let's discuss in the scrum.

[2021-03-01 13:18] PhilipClarke712 commented on #325
Sorry, I found another one.

The record was transcribed with the District name of **Littleboro'** (as per the transcript) and on FreeBMD1 that same record would take you to https://www.freebmd.org.uk/cgi/districts.pl?r=203971021:3200&d=bmd_1612775592 , which has a link to https://www.ukbmd.org.uk/reg/districts/littleborough.html
FreeBMD2 goes directly to https://www.ukbmd.org.uk/reg/districts/litt

[2021-03-01 15:46] PatReynolds commented on #276
So, for example, the url shown on Freebmd2 needs to be replicated on freeBMD2

Marriage of Mary SMITH,  Sept 1865  Dewsbury	 9b	835 is (on FreeBMD1) https://www.freebmd.org.uk/cgi/information.pl?cite=MDLSyeQhqIQQVpPJz7ZNlw&scan=1 - and that is what it needs to be on FreeBMD2 (but  https://test2.freebmd.org.uk/cgi/information.pl?cite=MDLSyeQhqIQQVpPJz7ZNlw&scan=1 gets a routing error.

[2021-03-01 15:58] Vino-S commented on #276
Hi @PatReynolds ,
We need to replace `cgi/information.pl` with `entry-information/` for FreeBMD2.
So the BMD1 url:
 https://www.freebmd.org.uk/cgi/information.pl?cite=MDLSyeQhqIQQVpPJz7ZNlw&scan=1
in BMD2(url):
https://test2.freebmd.org.uk/entry-information/cite=MDLSyeQhqIQQVpPJz7ZNlw&scan=1

[2021-03-01 17:07] richpomfret commented on #290
Closing and shall review bot-traffic that comes in to assess whether it has worked as required.

[2021-03-01 17:32] richpomfret commented on #279
Let's move this back into the backlog (or sprint) and see if this is something Ian Taylor might be able to assist with. @PatReynolds to talk to him.

[2021-03-01 17:32] PatReynolds commented on #279
@PatReynolds to ask Ian to take a look

[2021-03-01 17:38] DeniseColbert commented on #255
Still looks the same:

![image](https://user-images.githubusercontent.com/19173257/109535869-f51db980-7ab4-11eb-8364-cb5346f4a0f2.png)

[2021-03-01 17:39] PatReynolds commented on #267
@PatReynolds tpo review

[2021-03-01 17:39] #42 closed

[2021-03-01 17:51] PatReynolds commented on #294
No on the proofing checklist, so  not needed as a separate action.

[2021-03-01 17:51] #294 closed, assigned to PatReynolds

[2021-03-01 17:54] DeniseColbert commented on #65
REDACTED

[2021-03-01 17:59] DeniseColbert commented on #316
link wrong so removed.

[2021-03-01 18:02] richpomfret commented on #325
Thanks @PhilipClarke712, we need to find a method of determining/finding such broken or incorrect links before we go live.

[2021-03-02 20:54] PhilipClarke712 commented on #325
I'm going to give one final example: **Kings Norton** works, but **King's N** and **Kings N** cause UKBMD to fail with a 404 error.
So Weston going to Welton was probably a simple typing error. Littleborough and Kings Norton are two cases where the official District name **does work**, but the alternative names **don't** (see https://www.freebmd.org.uk/DistrictInfo.html )

[2021-03-03 12:09] DeniseColbert opened #326 ""Clear Form" doesn't work when Revise Search has been clicked"
Link next to search button doesn't work when a search has been performed and Revise Search selected.

A black box appears around it when clicked, but nothing happens.

[2021-03-03 12:21] DeniseColbert opened #327 "How to manage feedback in Beta?"
Feedback using only the Google form was very difficult to manage in FreeCEN2. Maybe a system that funnels people reporting bugs etc. to the Contact Us form (where we can then "convert to issue" very easily) and offer the Google form for general feedback.

[2021-03-03 12:36] PatReynolds opened #328 "Filter by Birth Marriage or Death (after a search by multiple record types) is not working (test3)."
This feature is working as expected on test2

[2021-03-03 12:44] PatReynolds opened #329 "Download as CSV is not working (on test 2 or test3)"

[2021-03-03 12:49] PatReynolds opened #330 "DT Add instructions on how to print to the print page"

[2021-03-03 12:57] DeniseColbert opened #331 "On multiple event search, record type is blank in grey box"
![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/685c5b36-2ecc-48b6-b278-e28f3b7dc20a)

[2021-03-03 13:16] PatReynolds opened #332 "Clicking on the 'view' link from the 'records on this page' page generates an error (on test3 - works fine on test 2)."

[2021-03-04 14:01] DeniseColbert commented on #215
FreeREG FAQ page looks like this: https://www.freereg.org.uk/cms/help/frequently-asked-questions-researchers

The categories in https://docs.google.com/spreadsheets/d/1VQt3Fjl1y2eixHsPQVp2gSZ0VEVPZ4xYsisbkLiZ01c/edit#gid=942996947&range=A1:E7 would be the items in the side menu.

@PhilipClarke712 you asked Pat about the size of the buttons for this IIUC, but we don't use buttons for this on FreeRE

[2021-03-04 15:39] DeniseColbert opened #333 "Design question: "Report an Error in this Data" - Button?"
This is what the Report an Error in this Data button looks like on FreeREG:

![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/e670aa6e-9844-488f-b437-768d9149866a)

...but as you can see from FreeCEN, we just use a link there:

![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/8c355261-92c3-4de6-ab98-7f47b2825515)

FreeBMD1:

![image.png](https://

[2021-03-04 15:50] DeniseColbert opened #334 "A search for "Ada" returns "Adam""
E.g. https://test3.freebmd.org.uk/search_queries/6040fec5e93790bf9828f98f?locale=en

![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/e567014f-2273-4084-bff5-ff0a9df66ccf)

[2021-03-08 01:01] AlOneill commented on #134
@PhilipClarke712 Preliminary checking of "Districts, Volumes and Page Numbers" completed. Some comments on page, others sent by email.

NB this page cannot be made sync-ready yet.

[2021-03-10 14:37] DeniseColbert commented on #35
@dhousman to check code above ready to be placed in the website

[2021-03-10 14:42] dhousman commented on #35
Updated tag snippet

[2021-03-15 15:28] Vino-S commented on #297
View Records of a page opens in a new tab(which is not the convention we follow). My reason was to keep it(Records of page) separate from Search Results.
Let me know, we can make the changes if needed.

[2021-03-15 17:09] #43 closed

[2021-03-15 17:11] #290 closed, assigned to PatReynolds, richpomfret

[2021-03-15 17:12] DeniseColbert commented on #287
@Vino-S needs more info on what difference is expected

[2021-03-15 17:16] DeniseColbert commented on #255
I wonder if we can tell the browser to ignore the text inside the fields when increasing font size? @Vino-S will look into this

[2021-03-15 17:19] DeniseColbert commented on #35
@dhousman code seems to have vanished, could you email it to me, please?

[2021-03-15 17:21] DeniseColbert commented on #334
Done on purpose, closing

[2021-03-15 17:21] #334 closed, assigned to nobody

[2021-03-29 10:54] PatReynolds commented on #87
Tested with:
https://test3.freebmd.org.uk/6061af02bd30f26b2b7d1687/entry-information/129774611/may-alcock-birth-derbyshire-chesterfield-v7b-p1492?locale=en

Neither
https://www.freebmd.org.uk/6061af02bd30f26b2b7d168
nor
https://www.freebmd.org.uk/6061af02bd30f26b2b7d1687/entry-information/129774611/may-alcock-birth-derbyshire-chesterfield-v7b-p1492?locale=en
works

Should be:
https://www.freebmd.o

[2021-03-29 15:16] Vino-S commented on #190
Ready for testing in test2

[2021-03-29 15:16] Vino-S commented on #315
Ready for testing in test2

[2021-03-29 15:16] Vino-S commented on #289
Ready for testing in test2

[2021-03-29 15:16] Vino-S commented on #314
Ready for testing in test2

[2021-03-29 16:06] richpomfret commented on #97
@richpomfret to test.

[2021-03-29 16:08] richpomfret commented on #307
@PhilipClarke712 can you take a look and see if this is fixed?

[2021-03-29 16:10] richpomfret commented on #287
@PatReynolds to take a look and clarify for Vino.

[2021-03-29 16:11] richpomfret commented on #297
@PatReynolds can you confirm if anything else is needed here? Otherwise we can close as fixed.

[2021-03-29 16:18] richpomfret commented on #190
@richpomfret to take a look and test.

[2021-03-29 16:20] richpomfret commented on #315
@PatReynolds and @richpomfret to test.

[2021-03-29 16:25] richpomfret commented on #289
Thanks @Vino-S. Let's deploy.

[2021-03-29 16:25] richpomfret commented on #314
@AlOneill to test.

[2021-03-29 16:26] richpomfret commented on #10
@AlOneill can you review?

[2021-03-29 16:28] richpomfret commented on #226
@taylorjgolden are you available to assist with this? Otherwise, can you take a look @PatReynolds

[2021-03-29 16:30] richpomfret commented on #92
Closing - should have a separate story (or one will be created for updating news).

[2021-03-29 16:30] #92 closed

[2021-03-29 16:34] richpomfret commented on #178
@taylorjgolden @DeniseColbert any update on this story?

[2021-03-29 16:42] richpomfret commented on #87
@lemon-ukgen @Vino-S how might we do this?

[2021-03-29 16:54] richpomfret commented on #256
@Daniel-silve1ra @Vino-S  is this story still required or can we close?

[2021-03-29 16:57] richpomfret commented on #333
Discussed - let's go with a button as in FR. We should also move this into SystemWide and update FC also - although note that the positioning of the button should include more space above the button.

[2021-03-29 18:47] PhilipClarke712 commented on #307
@richpomfret

It works perfectly well now on **test3**: I can search with just two surnames, or one first name & surname plus a surname, (provided I limit it, say between two dates). It finds a marriage or marriages and they are viewable. That is I get the Entry Information page for the first Entry; and if I click on the Page No. I get to see four names (assuming it's two marriages to the page).

[2021-03-30 16:23] AlOneill commented on #314
@Vino-S The list issues have been fixed. Thank you.

The validator is complaining that: "The value of the `for` attribute of the `label` element must be the ID of a non-hidden form control." There are four instances:

The first instance is where the `label` text is "Date range from" and where `for="start_quarter"` but the form control — the `select` box — appears to have `id="from_quarter"`.

The

[2021-03-30 22:49] AlOneill opened #335 "Image table on t3 has been replaced with images from REG and some Refinery pages are missing"
The Image table in Refinery has names of image files but there are no thumbnails and all the names look like those on REG.

One Refinery page was definitely missing (I've since recreated it); it looks as if a bunch of other pages are also missing.

I suspect this has to do with recent software updates.

[2021-03-31 07:09] PhilipClarke712 commented on #335
Hi @AlOneill ,
Well spotted. It's more serious than that.

I've lost every image and every Draft-html page that I have put on the system, plus the ones that Comfort put on. That's a year's worth of work gone from Refinery.
I hope that files are backed up on the system somewhere: I have the original images on a local machine, but I don't keep copies  (of the source or body) of html pages.

Note: I'

[2021-03-31 09:58] Vino-S commented on #335
Hi @AlOneill , @PhilipClarke712
The Refinery pages and images are intact in the [Vervet.](https://test3.dev.freebmd.org.uk/cms/refinery/pages). These need to be moved to the rails1 server.
I Will let you know once done.

[2021-03-31 13:57] AlOneill commented on #335
@Vino-S that's a relief! Apologies for the panic.

[2021-04-04 22:11] Daniel-silve1ra commented on #256
Will get to this this week

On Mon, 29 Mar 2021, 17:54 Rich Pomfret, ***@***.***> wrote:

[2021-04-12 11:43] PatReynolds commented on #267
I have now drafted the list of sub-pages at https://docs.google.com/spreadsheets/d/1pxcXfM4xJDYZj1yYPudsD1exS3-m2TZ4rRpe6-3y2p4/edit?usp=sharing

Pleaes could @PhilipClarke712 take a look - do you think I have maed any mistakes in the listing?  There are only two pages that I think are MVP - have I got this right?

I think our options are to make the link back to the top page on BreeBMD1, or to cr

[2021-04-12 11:45] PatReynolds commented on #296
Needs review after discussion of #267 - may not be MVP

[2021-04-12 11:58] PatReynolds commented on #308
View is comparable.  What is missing from FreeBMD2 in this instance is the #Comment accessed via the question-mark symbol on FreeBMD1.

This is not just about marriage partners - all comments are missing - see for example marriage of  Richard George Alcock DECEMBER 1881 and
Newark and birth of Edith Alcock DECEMBER 1891 Malton.

[2021-04-12 13:19] PhilipClarke712 commented on #308
Hi @PatReynolds ,

My thoughts: FreeBMD(1) and FreeBMD2 display things differently and I know that the "look and feel" of FreeBMD2 was designed using wireframes (if that is the right terminology), but those are not something that I would necessary see (or have access to).

If FreeBMD 2 worked the same way as FreeBMD1 then this screen capture would have another column on the right with either symbo

[2021-04-12 16:03] richpomfret commented on #65
Requested access to the document for review.

[2021-04-12 16:18] richpomfret commented on #307
Thank you. Now closing.

[2021-04-12 16:18] #307 closed, assigned to Vino-S, PhilipClarke712

[2021-04-12 16:48] PatReynolds opened #336 "Confusion over the use of Magenta (linking and not linking"
Phillip notes:

FreeBMD2 test3 is (slightly) different: I need to click on the magenta View button to pull up the Entry information page, then when I click on the magenta page number it displays the (normally) four or eight records - in this case only three (so the 4th might be mis-transcribed or have UCFs).

So, FreeBMD1& 2 both have "live" page numbers that you can click on, but FreeBMD2 test3 d

[2021-04-12 16:49] richpomfret opened #337 "Implement comments in Entry Information Page"
As above.

[2021-04-13 15:07] PhilipClarke712 commented on #267
Hi @PatReynolds

The short answer first.

The current **Help** page on FreeBMD2 has no hyperlinks, other than an external link to the GRO and two "Further Help with Family History" links; and the current **Coverage Page** is a hyperlink to https://www.freebmd.org.uk/progress.shtml so it does not link to any Registration District pages on FreeBMD(1). So, none of the Registration District pages are

[2021-04-13 15:38] PhilipClarke712 commented on #296
Hi @PatReynolds
In summary: no live html pages on FreeBMD2 currently are linked to any FreeBMD Registration District help pages, so the RD help pages are just _absent_. Clicking on say Chorlton on a search page or an Entry Information page would take you to https://www.ukbmd.org.uk/reg/districts/chorlton.html

If say a different page was needed for MVP, it would need to be **finished** and signed

[2021-04-13 16:45] PatReynolds commented on #215
Hi @Vino-S in designing this page, have you remembered it isn't like the set-up in FreeREG and FreeCEN, but a lower option from a number of reporting (see table Denise put in this issue 27 Jan)

[2021-04-13 17:37] Vino-S commented on #335
Hi @AlOneill , @PhilipClarke712
@lemon-ukgen had transferred the Refinery content from Vervet to rails1.
Missing content should be now visible in  [test3]( https://test3.freebmd.org.uk/)

[2021-04-13 19:02] PhilipClarke712 commented on #335
Hi @Vino-S , @lemon-ukgen , @AlOneill

Yes!
As far as I can remember all the html pages and images are back in their correct places. I've not tried to edit them, but I can read them and the hyperlinks work.  Thanks very much.

[2021-04-13 19:34] PhilipClarke712 commented on #215
Hi @PatReynolds

I've got "my" html pages and images back on test3, I glad to say. So I can ask a question about your comment above to Vino-S.

I've got a draft html page  associated with this issue back on test3. It's probably 75+ % complete but I have not seen it for a few days; and its still unchecked by me. ( It's to be found  at https://test3.freebmd.org.uk/cms/help/draft-frequently-asked-que

[2021-04-14 16:29] Vino-S commented on #337
Ready for testing in test3

[2021-04-14 16:31] Vino-S opened #338 "Implement System Links"

[2021-04-16 15:12] PhilipClarke712 commented on #305
Hi @PatReynolds ,
 I have a draft page at https://test3.freebmd.org.uk/cms/draft-coverage on Refinery. (Note: the label "Transcriptions" has now changed(?) to "Coverage", I beleive).

This draft page is more of an expansion of the corresponding FreeBMD(1) page, rather than say  a reworking of the FreeCEN & FreeREG Coverage pages, with just their tables with hyperlinks to their charts and "places"

[2021-04-16 15:29] AlOneill commented on #335
@Vino-S @lemon-ukgen lem I can confirm that the Image table has been restored — thank you!

@PhilipClarke712 I have restored the markup guide to the 30 Mar (latest) version.

[2021-04-21 20:22] PhilipClarke712 opened #339 "FreeBMD2 test3 (& test2?) miss-reports deaths for post-1983 records as occuring in March of the year and misses out (actual) Registration date"
Ted Southcombe raised on discuss@freebmd.groups.io , an enhancement request for FreeBMD(1) in respect of reporting death records for deaths from 1984, forwards.  In effect, asking if the FreeBMD Results page could be modified to provide information that is only given on the individual Entry Information pages.

I was not expecting to find any such "modern" deaths on test3, baring in mind the data-s

[2021-04-26 10:12] PatReynolds commented on #287
I have made a document showing what I see on test2, and what I expected to see: https://docs.google.com/document/d/1WOZVdbxCbdXtl0BFxyHv_99zdLv05FwZvcwziItS8vo/edit?usp=sharing

[2021-04-26 10:20] PatReynolds commented on #297
Thanks, @Vino, all good!

[2021-04-26 10:27] PatReynolds commented on #315
Still pinned, but now works.

Advantages to the pinned search:
* it allows the user to skip to the search as soon as they've entered what information they think will get them to a reasonable number of records.

(Possible) disadvantages to the pinned search:
* it may cause conflicts with a pinned advertisement.
* if there is no conflict with a pinned advertisement, it may take up in total too much

[2021-04-26 10:34] PatReynolds commented on #226
This text is not on the 'help' page, perhaps because the feature has not been implemented (#123, in backlog, phase 5).  Because the feature is 5, this story needs to be 5, too.

[2021-04-26 10:42] PatReynolds opened #340 "DT Implement Page Range documentation"
https://www.freebmd.org.uk/DistrictInfo.html#pagerange

Philip noted (story #267):

https://www.freebmd.org.uk/DistrictInfo.html#pagerange, listed in the Spreadsheet at Level A, only has two subpages: https://www.freebmd.org.uk/district-page-reverse-map-index.html and https://www.freebmd.org.uk/district-page-map-index.html which are both listed in Level B. So, these are all covered on the spreadsh

[2021-04-26 10:43] PatReynolds opened #341 "DT Implement County Map Page"
https://www.freebmd.org.uk/county-map.html

See #296 for implementation suggestions - less monlithic.

For discussion - for MVP a simple page very much as at current, but enhancement as per #296 in a later phase.

[2021-04-26 10:58] PatReynolds commented on #267
Hi Philip, so ...

I have created a story for:  https://www.freebmd.org.uk/DistrictInfo.html#pagerange and moved your comments there. (#340)

there is a link  now to disrict:
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/013b8c19-0c34-460e-a259-b92e40720830)
links to https://www.ukbmd.org.uk/reg/districts/warrington.html for example, so I have made a story for implemen

[2021-04-26 11:02] PatReynolds commented on #296
I have started a new issue for https://www.freebmd.org.uk/county-map.html - issue #391, as this is MVP, but the other pages are not.

[2021-04-26 11:11] PatReynolds commented on #296
The new way of presenting geographic information on FreeCEN hasn't yet begun development, so I am guessing FreeREG is meant: https://www.freereg.org.uk/freereg_contents/new?locale=en

[2021-04-26 11:28] PatReynolds commented on #308
Hello Philip, yes, the comments, scans, etc. are now all on Entry details pages (logic being that you would not use these to do a first-level identification of an entry warranting further investigation).

Since both in FreeBMD1 and FreeBMD2, the user has no idea that there is a doubt over the surname of the partner, without clicking through to the entriy infomation, I don't expect user testing to

[2021-04-26 11:33] PatReynolds commented on #311
Working now, thank you, @Vino-S

[2021-04-26 14:27] Vino-S commented on #335
Done.Closing it

[2021-04-26 14:27] #335 closed, assigned to lemon-ukgen, Vino-S

[2021-04-26 14:41] Vino-S commented on #338
Closing it.Duplicate

[2021-04-26 14:41] #338 closed, assigned to Vino-S

[2021-04-26 15:09] PhilipClarke712 commented on #296
Hi @PatReynolds

Thanks,

I had not discovered that particular page on FreeCEN; but yes it is a good way of "information hiding", so there is no need for very large monolithic tables as per FreeBMD(1).

The page I was thinking of was https://www.freecen.org.uk/freecen_coverage?locale=en  which is a very different approach to the Stats section on https://www.freebmd.org.uk/iindex.shtml . It is howe

[2021-04-26 15:24] PhilipClarke712 commented on #296
Hi @PatReynolds

Presumably that story will be a https://www.freereg.org.uk/freereg_contents/new?locale=en ? - type implementation with a selection menu?

There is an html partial draft page on test3  going back to last autumn, at https://test3.freebmd.org.uk/cms/draft-coverage/draft-civil-registration-through-the-gro-w-in-p/draft-registration-districts/draft-districts-in-counties-w-i-p  .  It onl

[2021-04-26 16:10] PatReynolds commented on #279
@Pat to draft text for MVP launch (i.e. no guarantee that FreeBMD2 URLS will work).

[2021-04-26 16:11] richpomfret commented on #337
Ability to view comments on entry information page.

[2021-04-26 16:13] richpomfret commented on #35
@dhousman this now seems to be done, can you test for us?

[2021-04-26 16:15] richpomfret commented on #287
@Vino-S to take a look and see if the requirement is now clear.

[2021-04-26 16:21] #315 closed, assigned to PatReynolds, richpomfret

[2021-04-26 16:21] Vino-S commented on #301
Ready for test3

[2021-04-26 16:22] PatReynolds opened #342 "Test Sticky ad"
A sticky Advert may cause conflicts with a pinned advertisement.
if there is no conflict with a pinned advertisement, it may take up in total too much screen space on a small phone

@PatReynolds to ask MM for code

[2021-04-26 16:22] Vino-S commented on #299
Ready for test in test3

[2021-04-26 16:22] richpomfret commented on #301
Thanks @Vino-S, @PatReynolds to take a look and test.

[2021-04-26 16:23] richpomfret commented on #299
@PhilipClarke712 would it be possible for you to take a look and test this?

[2021-04-26 16:28] richpomfret commented on #289
Quick review means the font looks a tiny bit smaller on BMD vs REG/CEN (or the space looks different - so could be the bar). @AlOneill to investigate.

[2021-04-26 16:31] #311 closed, assigned to PatReynolds

[2021-04-26 17:01] DeniseColbert commented on #316
Link to schedule: https://docs.google.com/document/d/1yTUuusafmdUfS8fw_xmjCrhraMo3JQWdPVig0TUvtso/edit#

(contains link lower down the doc to the initial tests document)

@Daniel-silve1ra how did it go finishing off the initial test activities? When this is done I'll design a google form to collect responses from each group.

[2021-04-26 17:01] PhilipClarke712 commented on #299
Hi @richpomfret

Yes, I can do that, but what system(s), just test3, or should I also look at test2?

[2021-04-26 17:03] richpomfret commented on #256
@Daniel-silve1ra any update or opportunity to look at this?

[2021-04-26 17:10] DeniseColbert commented on #215
Snip of updated categories:

![image](https://user-images.githubusercontent.com/19173257/116123188-9c385f00-a6ba-11eb-9b4a-7e8d0d7b734d.png)

[2021-04-26 18:37] AlOneill commented on #289
@richpomfret @PatReynolds @DeniseColbert

I can confirm that the **font-size** used for the links in the main navigation bar is the **same** on all three sites: 18px

The **height** of the main navigation bar is **not** the same: it is 46px on REG and CEN, but 48px on BMD. This (and the difference in casing) would account for the *perception* that the font-size on BMD is slightly smaller.

The men

[2021-04-26 21:14] PhilipClarke712 commented on #215
Hi @DeniseColbert ,

Thanks for the snip, I've updated my draft page were necessary against the table above.

I have one question: in the https://www.freereg.org.uk/cms/help/frequently-asked-questions-researchers page given above as an example, if "your question" is not answered the FreeREG page leads you to https://www.freereg.org.uk/contacts/new

FreeBMD2 test3 does not have an identical page, b

[2021-04-27 09:03] PatReynolds opened #343 "Enhance searching by districts"
https://test.freebmd.org.uk/trac/ticket/545 - currently searching by districts is only by a standard term, which is sometimes comprehensible (e.g. a search for Bloosbury in the drop-down list will not find it, because although the district name is "St. Giles and St. George, Bloomsbury", the name n the list is St Giles.

[2021-04-27 09:06] PatReynolds opened #344 "Change text showin in 'Districts' when Yorkshire is selected as the county"
Currently, when Yorkshire is selected as a county, the District list shows YRK

![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/d90de36b-451b-43f5-a06e-a844e10cca0e)

This should be changed to something along the lines of
"Please select a County/Riding of Yorkshire to see a list of districts in that part of Yorkshire"

[2021-04-27 09:17] PatReynolds opened #345 "Remove places from search for which FreeBMD does not have the data (e.g. Ireland)"

[2021-04-27 09:59] Vino-S commented on #337
Example of a Record with a comment:

First Name: John
Surname: Callum
Event Type: Birth
Event Date: September 1940
Volume: 9a
Page: 898

[2021-04-27 11:10] PhilipClarke712 commented on #337
Hi @Vino-S

Out of interest I searched for that record on test3, it works as expected and has it's comments.

I also searched for the names given in issue #308: marriage(s) of William R Betts (1950) - wife has two surnames; marriage of Richard George Alcock (1881) and birth of Edith Alcock (1891) and those are also working as expected in respect of their comments.

I've not checked any Late Entrie

[2021-04-27 11:56] Vino-S commented on #337
Thanks @PhilipClarke712 for testing. I am working on Late Entries. I will let you know once it is ready for testing.

[2021-04-28 18:09] PhilipClarke712 commented on #299
Hi @Vino-S , @richpomfret

1. I'm pleased to say that I got what I specifically asked for, but I'd like a bit more, please if it is not too onerous?

I quickly found that I could search for Fred* & Park*  [forename & surname], births, between 1930 and 1935 and it gave me 134 hits that were very reasonable.

I also tried Fred? Park? and got the same results: Note on FreeBMD(1) * is a wild card sear

[2021-04-29 14:22] Vino-S commented on #299
Hi @PhilipClarke712 ,
Fixed single wild card character search (?) on test3.

[2021-05-01 12:36] PhilipClarke712 commented on #299
Hi @Vino-S ,
I think I must be a bit devious:

I searched for r* dav?y [forenames] Vick [surname] and got one hit: a birth for Reginald Davey Vick, MARCH 1880, Dursley
and compared it against r* dav*y  [forenames] Vick [surname] and got two hits;
a birth of Reginald Davey Vick, MARCH 1880, Dursley
and a marriage of Robert Davy VICK, JUNE 1873, Tewkesbury

So, on the basis of just those, I would sa

[2021-05-10 16:19] DeniseColbert opened #346 "Help page on Late Entries"

[2021-05-10 16:20] DeniseColbert commented on #346
@PhilipClarke712 I couldn't find an existing story for this, do we have this page planned?

[2021-05-10 16:23] DeniseColbert commented on #219
Vino is tinkering with a floating search button to accommodate ad at bottom of screen. She will implement the clear form function on hover so we can feed back.

[2021-05-10 16:25] DeniseColbert opened #347 "Filter and number of results was not accessible - button added"
Please review the addition of the Update Results button that Vino added in Test 3. This was necessary for Accessibility.

[2021-05-10 16:27] PhilipClarke712 commented on #346
Hi @DeniseColbert ,

There is a "help" draft page covering this topic at  https://test3.freebmd.org.uk/cms/help/draft-late-entries . That page was created as part of the story of moving pages across from FreeBMD(1).

Splitting hairs, there is no separate story for creating this html page, but there is a story that I raised back in November because  entries that were Late Entries were not being sho

[2021-05-11 15:00] AlOneill commented on #347
A little confused about what exactly we are being asked to test — do not remember what was there previously. The "Update results" button appears to work OK.

I did notice that the close button (the X) in the "When you searched for" box is not accessible by keyboard (using tab key).

The "Tools" drop-down needs a solid white background — the horizontal rule appears behind the first item.

Also, the

[2021-05-12 11:05] DeniseColbert commented on #347
Previously it was just the dropdown boxes and selection was automatic which was flagged as a problem for accessibility (I think keyboard users?). Vino changed it to require the button-press after selection.

[2021-05-12 11:07] DeniseColbert commented on #347
I've put you back on the story @Vino-S to take a look at Alison's feedback/make stories (although positive review of the button)

[2021-05-12 11:26] DeniseColbert commented on #346
Thanks, @PhilipClarke712 I think that's the story that Vino was working on (#291 ) that prompted me to think about the need for a Help page on Late Entries. Glad it's in hand. I'll move this to Review so the team can comment if anything further is needed on the draft page.

[2021-05-12 12:11] DeniseColbert commented on #215
@PhilipClarke712 All good points!

I missed out the first step in the process: e.g. FreeREG

![image](https://user-images.githubusercontent.com/19173257/117972142-a7c68f80-b322-11eb-8531-5dac2009a37a.png)

You can see that (when not logged in) there is a button above the table to Report an Error. This would take the user to your page that is similar in format to the FreeREG FAQs page, but has the

[2021-05-12 14:23] PhilipClarke712 commented on #346
Hi @DeniseColbert ,

I have no great problem with it going for preliminary review, but it has two main defects: (1) I can't describe in words and pictures what is not yet implemented on test3, so it is still very much FreeBMD(1)-biased (with some broken images that were FreeBMD1 specific); and (2) it has not been fully converted to active verbs (it still paragraphs with passive verbs).

However, i

[2021-05-12 15:53] DeniseColbert commented on #346
Noted @PhilipClarke712 - seems this is better in backlog until you're able to test/see the feature.

[2021-05-12 17:51] DeniseColbert commented on #301
The number is now added in the message but I can't see anything on the Help page (may not be looking in correct place...)

[2021-05-12 18:10] DeniseColbert commented on #178
This looks to have moved on a bit since I was assigned, it's not clear what needs doing.

[2021-05-12 18:56] PhilipClarke712 commented on #178
I would note that this topic of citations is covered twice from different viewpoints: (1) the detail of citing FreeBMD in e.g. Harvard, Chicago, or MLA "house-style" appears on the **About** page https://test3.freebmd.org.uk/cms/about ; and (2) a statement of FreeBMD auto-generated citations appears on the **Help** page https://test3.freebmd.org.uk/cms/help#cite  and this section has a link to the

[2021-05-12 21:02] PhilipClarke712 commented on #301
Hi @DeniseColbert

You will not find it on the test3 Help page, but it is on test3 in draft form.

Note: when FreeBMD(1) "refuses" to do a search because it is **too big**, it basically removes the middle block of the search page and substitutes  the following text block;

![Screenshot 2021-05-12 211158](https://user-images.githubusercontent.com/67054943/118038269-ccdcf180-b366-11eb-910c-0587b91eb

[2021-05-13 14:15] AlOneill commented on #178
@PhilipClarke712 @DeniseColbert These pages have **not** been signed off for HTML — even a cursory look at both "Help" and "About" shows issues including bad syntax, links to non-existent pages and to one very out-of-date page (the "News" page has nothing later than 2015!), non-standard formatting of sub-menus and typographical errors.

**If the content is complete** then I suggest we stop treatin

[2021-05-13 15:00] AlOneill commented on #10
Have added a few items and made some comments.

[2021-05-13 19:34] PhilipClarke712 commented on #178
Hi @AlOneill  @DeniseColbert

Sorry, I can't comment on whether they are signed off or not: I did not write either of them so I was not involved in their production. However they do not have the prefix **Draft** in their names. So **by definition they are not draft pages** and that means that I can't work on them, only on copies that I make of them.  Note: "splitting hairs" I can't (I think) work

[2021-05-16 10:35] PhilipClarke712 commented on #178
Hi @AlOneill , @DeniseColbert

It is my intention:
(1) to submit fairly soon (days, not not hours) a reworked draft of the **Help page** (it will not have any new info added to what is there now). That can be covered by other stories.
(2) look at the https://test3.freebmd.org.uk/cms/help/draft-citing-freebmd with a view to getting it signed off

**"About"** is a live page and in respect of this st

[2021-05-17 14:48] PhilipClarke712 commented on #215
Hi @DeniseColbert,

Thanks for this info.

I've renamed the page. A 1st draft version is now within the Help page hierarchy at https://test3.freebmd.org.uk/cms/help/draft-reporting-errors-in-transcriptions . I have a bit more work to do before handing it back.

It is done in the new "FAQ" format so there is a side navigation table, but problems are grouped together, as Missing Entry group , Proble

[2021-05-17 23:29] AlOneill commented on #215
On the Detail page, I suggest that the link to the help page should be just that — a **link** — and I agree that it should open in a new tab (with a visible warning, of course!).

Use a **button** for the action that takes a user to the Data Problem Report page. This should also open in a new tab, so that the user can refer back to the suspect record when filling in the report details.

The trick

[2021-05-22 20:27] PhilipClarke712 commented on #301
Hi @richpomfret
 The **View** limit on FreeBMD(1) is stated to be 3000 and that is the same number in the error message I get on test3 if I try and search for: First name = John, Surname=Smith, no limit on dates, "place" nor event.

That same limit of 3000 is given on the FreeBMD(1) Help page and also appears on https://test3.freebmd.org.uk/cms/help/draft-help-1st-edited-draft-draft  in the first

[2021-05-24 16:03] richpomfret commented on #218
Tested and looked good to me.

[2021-05-24 16:04] Vino-S commented on #291
Ready for testing [https://test2.dev.freebmd.org.uk/](old test2)

[2021-05-24 16:06] #337 closed, assigned to DeniseColbert, richpomfret

[2021-05-24 16:16] richpomfret commented on #10
@PatReynolds to take a look at the comments. To then consider next steps.

[2021-05-24 16:30] PatReynolds commented on #215
@PatReynolds to find an example page.

[2021-05-24 16:44] Vino-S commented on #336
@Vino-S Remove the Magenta color for the table header

[2021-05-24 17:00] richpomfret commented on #289
Agreed to bring BMD2 more inline with FreeREG and co.

[2021-05-24 17:05] PatReynolds commented on #344
@PatReynolds to test again once updated by Vino.

[2021-05-24 22:09] Vino-S commented on #345
Ready for testing in test3

[2021-05-24 22:12] Vino-S commented on #336
Ready for testing in test3

[2021-05-25 13:29] PhilipClarke712 commented on #336
Hi @Vino-S,  @AlOneill
Yes that is much improved. The table  has just two magenta entries and they are both linked to a District and a Page, respectively and a magenta button. There are other hyperlinks and buttons in magenta (not all are shown in my screen snip) and they are "active".
![Screenshot 2021-05-25 135024](https://user-images.githubusercontent.com/67054943/119504046-807cb300-bd63-11eb-8

[2021-05-25 16:16] PhilipClarke712 commented on #291
Hi @Vino-S ,

Thanks very much for this.

I have to admit that the expansion of the table in the **Entry Information page** caught me out and I failed to see the **Refers** line which is incredibly useful (I'll come back to this again).

What I really needed was a version of the first section of https://www.freebmd.org.uk/search-results-help.html written for FreeBMD2 and that section does not exis

[2021-05-25 22:10] Vino-S commented on #344
Ready for testing in test3

[2021-05-26 09:20] PatReynolds commented on #344
Yorkshire is no longer showing as a county.

Text needs to say: "Please select a County/Riding of Yorkshire to see a list of districts in that part of Yorkshire.  Searching Yorkshire searches the whole count. "

[2021-05-26 10:19] PatReynolds commented on #336
Hi all, I thought we had made a decision in the scrum on Monday re use of Magenta?  I _think_ we had decided to make links Navy.  Could anyone confirm?

[2021-05-26 12:09] DeniseColbert commented on #336
We decided to emulate FreeREG & CEN and use the default grey colour, which Philip has commented on looks good. He suggests that this bit should also be the default grey:

![image](https://user-images.githubusercontent.com/19173257/119657101-66a2a500-be23-11eb-9cd3-2d38b758c3fa.png)

(with the name of the person ("hit") in bold) as it is also not a link. I agree with Philip; this also should be in

[2021-05-26 15:10] PatReynolds commented on #336
Hmm. Using dark grey underline to indicate link is fine.  There shouldn't be a confusion with the Entry Information: JOOSEPH SMITH because (a) the line is always there, not just on hover and (b) the line extends across the page.

[2021-05-26 16:50] AlOneill commented on #336
We decided in the Scrum that *only* links should be magenta. The discussion around the use of navy was maybe to use instead of magenta on headings that are _not_ links: the conclusion was to use the default colour for headings (table headings and text headings).

@PatReynolds link underlining, which we use for focus and hover, has to the same colour as the link text — that's just how it works.

I

[2021-05-27 08:46] PatReynolds commented on #336
Thanks for the clarification, Alison.  So changes needed to the H1 on "Results" page and "Entry information" page (I couldn't see magenta being used anywhere else in a header).

[2021-05-27 23:05] AlOneill commented on #303
@PatReynolds I happened to look at the "Cookie Policy" page today and noticed that it has a number of Accessibility issues — and at least one typo :-) See #390

It also looks like there could be work left to do on it: please do not forget to check for Accessibility (or ask me to do so) once the content is all in place. Thank you!

[2021-05-27 23:30] AlOneill commented on #18
It has come to my attention that the combination of text colour and background colour in the main navigation (bar) is not up to AA standard: it has a **contrast ratio of 4.1:1, whereas the standard is 4.5:1**

The fall in contrast is because the white text of REG and CEN has been replaced with very light grey: `#f4f4f4`. In the `island--light` class, which has the same very light grey background,

[2021-05-28 08:26] PatReynolds commented on #18
Well caught!

On Fri, 28 May 2021 at 00:31, AlOneill ***@***.***> wrote:

--
*- -*

*Dr Pat Reynolds*
Executive Director

A Charitable Incorporated Organisation registered in England and Wales,
number 1167484
VAT registration: 233 0105 70

*Join us on social:*
[image: : https://www.facebook.com/FreeUKGEN]
https://www.facebook.com/FreeUKGEN <https://twitter.com/FreeUKGen>
<https://www.instagram.com

[2021-05-31 00:34] lemon-ukgen commented on #87
I find the examples above unclear.

Are we talking about

1/ Redirecting bookmarked FreeBMD1 URLs (ie: those that contain `/cgi/` in them) to FreeBMD2 URLs (ones with long numbers and Rails-ish paths in them)

or

2/ Making FreeBMD1 know what to do with FreeBMD2 URLs (eg: making https://www.freebmd.org.uk/6061af02bd30f26b2b7d168 -- the FreeBMD1 site with a FreeBMD2 search result path -- work corre

[2021-06-02 16:16] PhilipClarke712 opened #348 "test3 and FreeBMB(1) behave differently when searching marriages using a spouse's surname in pre-1912 marriages"
Hi @PatReynolds

I was checking the Help documentation for this - I do not like the (lack of) "flow of the words" - which states:

![Screenshot 2021-06-02 163641](https://user-images.githubusercontent.com/67054943/120509898-d46d4480-c3c0-11eb-88ad-7247774f9aa7.png)

I searched for the marriages of two **females** who married the same spouse. For each search, specifying their Forenames and Surnames

[2021-06-04 12:07] PatReynolds opened #349 "Recruit new Documentation Project Manager volunteer"

[2021-06-05 06:56] PhilipClarke712 commented on #343
It appears that the name of the civil parish (and eecleasiastical parish) is being considered to be identical with the name of the Registration district, **and it was not the case**. All the documentation on FreeBMD(1) and 2 warn that they are not necessarily the same areas.

In this case the name in the list, **St Giles**, was the name of the Registration district for the marjority of its life: *

[2021-06-05 18:51] PhilipClarke712 opened #350 "searching for marriages with a spouse name crashes test3 on three fields in / or from the Entry Information page"
Off and one I've been running marriage searches on test3, with a spouse's name added.

Test3 finds the marriages  but crashes in three particular cases when hyperlinks are clicked:

(1) going to the Entry Information page and clicking on the **spouses surname** (view marriage) crashes the system - screen capture below.

(2) Also, when on the Entry Information page, clinking on the Page number give

[2021-06-07 10:26] PatReynolds commented on #343
Hi @PhilipClarke712 I think you mean in the dropdown list of districts when "London (to Mar 1965) (LND)" is selected, so the requirement is to rename
St Giles to St Giles (to ?Apr 1930) (just checked against FreeBMD1 and it is Mar 1930
etc

Is that the case?

[2021-06-07 11:45] PhilipClarke712 commented on #343
Hi @PatReynolds,
 Sorry. That **?** was a reminder to me to check the date: both Bett Langstone, "A Handbook to the Civil Registration Districts of England and Wales", 2nd Ed.  and UKBMD (https://www.ukbmd.org.uk/reg/districts/st%20giles.html ) give the date of abolishment as the 1st April 1930, but UKBMD also records that St Giles lost its constituent parishes on 31st March 1930.

It gets a but m

[2021-06-07 15:56] richpomfret commented on #97
Tested and works as expected (takes user to FreeBMD1 coverage charts page). However, to review whether this is satisfactory - it is bad practice for a header or title menu option to take a user out of the website. Rather this should be a page where the user is given a brief summary for their understanding and then provided with a link (open in a new tab) which takes them over to FreeBMD1). To disc

[2021-06-07 16:03] richpomfret commented on #70
Tested and works as suggested. Should we consider opening the link in a new tab - it takes the user outside of the site. In which case, we would need to inform the user that it will open in a new tab).

[2021-06-07 16:16] richpomfret commented on #70
To open in a new tab and include message.

[2021-06-07 16:18] richpomfret commented on #301
Thank you @PhilipClarke712. @PatReynolds can you comment?

[2021-06-07 16:20] richpomfret commented on #345
@PatReynolds to take a look.

[2021-06-07 16:22] PatReynolds commented on #97
Make an intermim page @PatReynolds to write text.  Linked page opens in a new tab.

[2021-06-07 16:27] richpomfret commented on #336
@AlOneill can you confirm what Pat has said before Vino implements?

[2021-06-07 16:28] richpomfret commented on #347
@Vino-S to check and see that these are done.

[2021-06-07 16:31] richpomfret commented on #172
@PatReynolds and @PhilipClarke712 can we close off this story? Have we agreed/decided upon what HELP page text we will provide initially for MVP and then beyond?

[2021-06-07 16:33] richpomfret commented on #65
@DeniseColbert  and @PatReynolds. Presumably this is now planned (at least for now) and we can close?

[2021-06-07 16:38] richpomfret commented on #35
Completed - @Vino-S has added the tag given by @dhousman.

[2021-06-07 16:39] #35 closed

[2021-06-07 16:39] PhilipClarke712 commented on #97
Hi @richpomfret  @PatReynolds
 I have such a page https://test3.freebmd.org.uk/cms/draft-coverage which was put onto Refinery towards the end of last year.

It also includes sections on the GRO and Civil Registration  and Civil Registration Districts, because it was my understanding last year that they were within its scope.  I've been more recently informed that  this might not be the case.

If P

[2021-06-07 16:40] PatReynolds commented on #316
@PatReynolds to check / finish the tests.

[2021-06-07 16:44] richpomfret commented on #87
@lemon-ukgen thank you. @PatReynolds is asking what we might do in the case of number 1 - redirecting bmd1 urls (cgi).

[2021-06-07 16:44] PhilipClarke712 commented on #172
Hi @richpomfret  @PatReynolds , @AlOneill
  I have a page - which I think is complete in respect of what test3 can currently do - https://test3.freebmd.org.uk/cms/help/draft-help-1st-interim-version.

It will be going to Alison in the next five to ten minutes.

So, I would suggest that this story can be closed.  I might have to raise a new story if the page is considered in need of major change.

[2021-06-07 16:48] richpomfret commented on #171
@PatReynolds what is left to do with this one?

[2021-06-07 16:50] richpomfret commented on #256
In the absence of any further noted feedback or work, we shall close this.

[2021-06-07 16:50] #256 closed, assigned to PatReynolds, Vino-S, Daniel-silve1ra

[2021-06-07 16:52] richpomfret commented on #314
@Vino-S to check before closing.

[2021-06-07 16:53] richpomfret commented on #219
To review in next meeting - currently on TEST3 if anyone wishes to review ahead of then.

[2021-06-07 16:55] richpomfret commented on #350
Thanks @PhilipClarke712, @Vino-S shall take a look.

[2021-06-07 17:00] PhilipClarke712 commented on #173
Hi @AlOneill,
  As discussed elsewhere, could you review https://test3.freebmd.org.uk/cms/help/draft-help-1st-interim-version .

  It is a reworking of a copy of the current Help page: no new content has been added other than adding on-page-hyperlinks and outline-hyperlinks to other pages, some of which are interim versions.

I've removed content relating to facilities (on FreeBMD1) that test3 doe

[2021-06-07 17:01] richpomfret opened #351 "Review 'Incoming' and spring clean"
Go through and decide what stories are still needed or can be closed.

[2021-06-07 17:02] richpomfret commented on #81
@DeniseColbert shall we move this out of the Sprint Backlog? Close or change to make it a more tangible story/epic?

[2021-06-07 18:44] AlOneill commented on #336
I can confirm that there is a visible page `h1` on the Results page and that the magenta colour comes from the class `project-text-color`: this class should be removed.

However, on the Entry information page, what looks like it should be the `h1` is actually a paragraph: it also has the `project-text-color` class, which again should be removed. (There is an `h1`, however, which is not visible. Wh

[2021-06-08 18:12] AlOneill commented on #173
@PhilipClarke712 review underway.

I was a little disappointed to see the non-alignment of the leading paragraph in the browser — that sort of thing should be jumping out at you! Also, you did not validate the HTML — the use of a validator to find **errors** is a great way to learn as well as a useful tool for assessing a page.

[2021-06-08 19:04] PhilipClarke712 commented on #173
Hi @AlOneill

 Thanks for your two comments.
 1. I totally forgot to use a validator, thanks for reminding me that I should use it.

2. I can see the non-alignment of the lead paragraph now; it's the sort of thing that I might do in a text-file by using tab and shift together. I don't know how to left-shift a paragraph using html tags, so I don't know how to un-do it.

Having gone in now and looke

[2021-06-08 20:41] AlOneill commented on #173
@PhilipClarke712 it's not the HTML elements that are the issue with the non-alignment, but the CSS. Once a floated `grid` is open, its children must have the class `grid__item`. I will solve the issue by placing the lead paragraph ahead of the grid, as per usual. And I'll replace the `article` element with a `div` as the former is not quite appropriate here (blind copying strikes again!).

There i

[2021-06-09 14:49] PhilipClarke712 commented on #171
Hi @richpomfret @PatReynolds

May I comment?

test3 has a live **About** page at https://test3.freebmd.org.uk/cms/about **but** it has headers, for instance, that are non-standard in respect of font-colour (light "gold") and header-fonts; some un-made hyperlinks; and sub-pages that are very "thin".

While Pat was away on leave (so I understand), Denise, Alison and I discussed working on **Help**,

[2021-06-10 00:29] Vino-S commented on #291
Made some improvements.
Please test on [old test website](https://test2.dev.freebmd.org.uk/)

[2021-06-10 00:30] Vino-S commented on #350
ready for testing in [test3](https://test3.freebmd.org.uk/)

[2021-06-10 00:31] Vino-S commented on #348
It was a bug. Fixed it. Ready for testing in [test3](https://test3.freebmd.org.uk/)

[2021-06-10 08:44] PatReynolds commented on #348
@PhilipClarke712 could you test this, please?

[2021-06-10 09:47] PatReynolds commented on #298
@richpomfret can this be ready for use by Monday 21st please.

Is it possible for this to be on a faster server?  I may be too used to the new fast FreeCEN and FreeREG!! but I guess we are going to get complaints about time to search - will need to alert testers to this if it isn't possible to resolve before testing.

[2021-06-10 10:33] PatReynolds commented on #171
I think it is so close to ready that there is no need for an interim draft. 'ready' meaning 'in a state that can be used for initial testing on beta.freebmd.org.uk' rather than MVP.

I think the 'gold' issue is CSS not htlm.  I searched the code for 'gold' and found nothing.  The page displays as expected, and the style code is identical to that used in FreeREG.  @AlOneill can you see anything tha

[2021-06-10 11:27] PatReynolds commented on #171
The good news is that the only part of testing that requires a visit to a sub-page of about asks for information on the news page.  I think it fine to leave the 'Etc.' for the first tests, because it does indicate that there is more to come.

So, once any CSS or other style issues are resolved, this page is ready for initial testing.

[2021-06-10 11:31] PatReynolds commented on #172
Many thanks, Philip, moving to ready for user testing prior to closing in Scrum.

[2021-06-10 11:31] PhilipClarke712 commented on #171
Hi  @PatReynolds  @AlOneill

It's close to being ready for review.

From experience Alison tends to be "more strict at review" than perhaps is my natural inclination; and Alison is the one that needs to "sign off  a  new draft copy this page".

1. You are correct, the colour of the h2 headers is being changed by css - the colour appears to be   #895f49; / "brown - brighter" - which to my eyes look

[2021-06-10 11:50] PatReynolds opened #352 "Change 'postem' to more transparent term throughout"
Possibly 'Notes on this entry or person (postem)' ('Notes' for short, e.g. on button).

 - [ ] Change button text
 - [ ] Change help text on page
 - [ ] Change references in help page and anywhere else

[2021-06-10 11:52] AlOneill commented on #171
@PatReynolds @PhilipClarke712 I've fixed the inappropriate styling that was a result of copying wholesale from FreeREG.

You are correct, Philip: this page has never been signed off for HTML and other technical stuff; visually, the page is still different from our usual setup; there are links to pages that are lacking layout (and thus not signed off); there is at least one broken link; there may w

[2021-06-10 12:03] PatReynolds commented on #133
There is now in-page help in test2.  It uses 'postem'.  It contains a basics of postems.

I've created a new story (#352) to cover, at a later date, the terminology change.

[2021-06-10 12:05] PhilipClarke712 commented on #171
Hi @AlOneill @PatReynolds

I've copied the current **About** page onto a new page **DRAFT - About - draft for beta**  which sits in Refinery immediately above **About**. That is where I'll be putting my changes.

[2021-06-10 12:09] AlOneill commented on #172
@PatReynolds The current Help page has never been signed off for HTML and other technical stuff; I'm working on Philip's draft — there is quite a lot to fix.

Which page exactly do you consider Ready for User Testing?

[2021-06-10 12:12] PatReynolds commented on #171
Thanks, @PhilipClarke712 . Yes, @AlOneill please hold off until Phillip has done what he can.

[2021-06-10 12:46] PhilipClarke712 commented on #133
Hi @PatReynolds

Can I check, do you mean test2, or 3?

I have a draft page on test3, **https://test3.freebmd.org.uk/cms/help/draft-postems** which has been sitting there since last October. I've not yet found any Postems on test3 - Barrie suggested there might, at most, be a hand-full on the data-base being used for test3 (he has a way of searching historical data-sets on FreeBMD(1) which is not

[2021-06-10 15:35] PatReynolds commented on #133
Yes, test2  this is not a draft html page, it is the developer-coded page: See https://test2.freebmd.org.uk/60c1fa52bd30f23f40d07e0d/entry-information/386757/elizabeth-wilkinson-death-yorkshire-north-riding-northallerton-v24-p239?locale=en for an example.

[2021-06-10 15:42] PatReynolds commented on #133
It is in Test3, too, but you have to know to visit 'more options' to add one.

https://test3.freebmd.org.uk/60c23207bd30f25def94f29f/entry-information/4086897/george-alcock-death-yorkshire-north-riding-stockton-c-v24-p173?locale=en has a postem that I've just added - you should see that when you visit the page.

[2021-06-10 15:52] PatReynolds commented on #172
This is the 'decide on the text' not 'implement the text - that is still a live issue  (#173 ) and is not ready for testing.  This story is 'ready for closing after confirmation in scrum' rather than 'ready for user testing', but we don't have a column for that.

[2021-06-10 15:59] AlOneill commented on #133
@PatReynolds

The opening blurb has a couple of typos:
1. I think that "For example, you you know " should be "For example, do you know "
2. "Below are the list of postems" should be either "Below are the postems" or "Below is the list of postems" or, less awkwardly, "The list of postems is below:" or "These are the postems:" or similar.

[2021-06-10 16:13] AlOneill commented on #133
@PatReynolds
Also, there needs to be some space between the navigation markers and the `grid__item` that holds the postems: suggest changing the class of `push--bottom` to `push--ends`

[2021-06-10 16:22] PatReynolds commented on #133
@Vino-S will need to fix, as this is not arefinery page.

[2021-06-10 16:27] PhilipClarke712 commented on #133
Hi @PatReynolds
Thanks,
Two comments: (1) that hyperlink does not work - I got a "We're sorry, but something went wrong with processing your request. A report has been produced and sent to the webmaster. Please return to your prior activity but try to avoid doing the exact same action again".  **But** I did the search using the parameters in the hyperlink and found George's postem.

(2) Postems ar

[2021-06-10 16:42] PatReynolds commented on #133
Stockport / Stockton should be a correction rather than a postem ... But I get your point.

I don't, personally, think the current (test3) version is superior to the earlier (test2) version, but we shall see what users think!

[2021-06-10 16:55] PhilipClarke712 commented on #133
I was careful to blame the GRO for the error - "my" records were correctly transcribed by FreeBMD, so correction is not an option - but I might ask for a system entry (Barrie can do that on BMD1 - not sure about BMD2).

I've been using FreeBMD for almost 20 years, Ancestry & Findmypast for perhaps half that time and FamilySearch for a bit longer - my default BMD search is on BMD(1) because I can d

[2021-06-10 19:38] PhilipClarke712 commented on #171
Hi @PatReynolds , @AlOneill

I have worked on this page - https://test3.freebmd.org.uk/cms/draft-about-draft-for-beta - with help from Alison along the way, and it has the "look" and the "house-style" that I think is required under "**Marking up pages in Refinery**". I have made live hyperlinks to all pages, expect one which is in Refinery as a Draft page - a mark-up hyperlink is given, instead. T

[2021-06-11 10:18] PatReynolds opened #353 "Accessibility Statement"
Text copied from FreeREG.

Needs review and proofing.

[2021-06-11 10:24] PatReynolds commented on #353
Duplicates #288 so closing

[2021-06-11 10:36] PatReynolds commented on #171
Please don't apologize, Phillip - you are a volunteer, and a much
appreciated one.  Dratted Covid!!

I have made a story for the Accessibility Policy (and moved the draft to
its proper place in the structure (under about).  I'm meeting with Alison
this lunchtime so can ask her then to refresh my memory what needs to be
done with this page (on all our sites).

Best wishes,

Pat

On Thu, 10 Jun 2021

[2021-06-14 00:33] Vino-S opened #354 "Clear form button"

[2021-06-14 00:34] Vino-S opened #355 "Icons in search results page. Example: Postems, Comments"

[2021-06-15 00:17] lemon-ukgen commented on #87
Thanks. One for the RoR developers I think, unless it's a small (under 100, say) set of fixed URLs that we want mapped.

[2021-06-15 11:33] PatReynolds commented on #87
I think the original plan was that freebmd2 would create its urls using the same software as FreeBMD1.  But it isn't.  Ideally https://test3.freebmd.org.uk/cgi/information.pl?cite=oXUmag45RDm0SNeK9wLMqQ&scan=1 should reach what is currently https://test3.freebmd.org.uk/60c88e22bd30f2914f6a837a/entry-information/92948892/william-alcock-marriage-staffordshire-w-bromwich-v6b-p826?locale=en

If it doe

[2021-06-15 21:14] PhilipClarke712 commented on #348
Hi @Vino-S

Yes, that **has fixed** the problem, test3 is now working as per BMD1 in respect of searching pre-1912 marriages against a given spouse name.

[2021-06-15 21:44] PhilipClarke712 commented on #291
Hi @Vino-S

That is working very nicely on the old test site.

I found "my" John Smith in Liverpool in  June 1909. From his **Entry information** page, I clicked on the **View Reference Record** hyperlink which gave the June 1909 and March 1931 record tables side-by-side.  I clicked on the **page number** in the 1931 record table, which gave me five records including John Smith, and I could view a

[2021-06-16 07:42] PhilipClarke712 commented on #291
Hi @Vino-S

I spoke a bit too soon, real life is "messy".

**In summary:** I think the system has to verify that it has found one unique Late Entry match (the newest entry) before putting it into the **Refers** field.

**Details:**
Having looked at https://www.freebmd.org.uk/late-entry-help.html , particularly the **Late entry reference ambiguities** section, I did a June 1909 search for another J

[2021-06-16 13:31] Vino-S commented on #291
Hi @PhilipClarke712 ,

I was doing some testing. Sorry for causing inconvenience.

I will leave the website alone, please continue your testing.

[2021-06-16 15:03] PhilipClarke712 commented on #291
Hi @Vino-S ,

Thanks,

Yes it is working now without crashing.  So (sorry about the length of the reply):

**Part 1:**
If I search for birth of John Smith in Blackburn in June 1909. The result is See S/27 and it takes **forwards** me via Reference details to the John Smith, in Blackburn in September 1927, on page 403; and no one else.

If I search for John Smith, in Blackburn, in  September 1927,

[2021-06-17 11:21] PhilipClarke712 commented on #350
Hi @Vino-S ,

Sorry I forgot to put a "to read flag" on this message and it got "buried" in my inbox.

I'm pleased to say that everything mentioned above in this story is working on the **test3 site**.

Its not part of this story, but non-official District names give 404 errors on an external site - UKBMD (see below).

**Detail:**

I searched for a 1928 marriage (spouse's spouse names are given in

[2021-06-17 12:37] PhilipClarke712 commented on #351
Hi @richpomfret ,

Who closes stories? I sometimes open stories, because I found that I could open them, but do I close them (if appropriate) or is that done in scrum (or after scrum).

[2021-06-17 14:36] DeniseColbert opened #423 "Make CSV download and printable format limited to 50 results."

[2021-06-18 07:33] PhilipClarke712 commented on #355
Hi @PatReynolds

I would like to raise a comment about the two system entries (hash)COMMENT and (hash)THEORY - mostly the latter one - at this point.  (hash)Comment has its own story at #308, so I will leave that to one side.

Two syndicate leaders have now raised comments about errors in the GRO indexes for 1984 to 1992 records where in some cases the Surname and 1st forename have been run-togoth

[2021-06-18 08:53] DeniseColbert opened #356 "About page is not working"
I tried to access the page via navigation bar, it returned an error.

![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/acb3aa3e-d015-4d3d-aa66-bdb5cdadad22)

[2021-06-18 09:05] #356 closed, assigned to DeniseColbert

[2021-06-18 09:42] DeniseColbert opened #357 "Record Type column-sort doesn't give Deaths"
Marriages is first, then Births, than Marriages again. When fixed, order should be Births, Marriages and then Deaths.

[2021-06-18 09:49] DeniseColbert opened #358 "Scans not being displayed"
![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/344c5938-9ebc-421d-b17c-5f8cd6c2a911)

Hi @Vino-S could you take a look at this, urgently, please?  We need it to work for user testing next week.

Many thanks, Pat

[2021-06-18 14:00] AlOneill commented on #173
I've reviewed and returned this [draft Help page]("https://test3.freebmd.org.uk/cms/help/draft-help-1st-interim-version") to Refinery. It cannot be signed off as it stands — see the comments at the top and throughout the page.

I've reviewed the markup, commented on the structure, fixed some typos and made some general suggestions. There are a couple of places where I do not understand what is bei

[2021-06-18 16:41] PhilipClarke712 commented on #173
Hi @AlOneill,

Thanks for your review, comments, and for fixing the **Soundex** side panel.

I was only expecting this to be an interim version of the Help page: we have a common side navigation panel for all three FreeGen sites, and not all sites appear to make use each heading on their navigation-panels. This page does use all the links, but two sections are not being "populated" in this version

[2021-06-18 18:55] PhilipClarke712 commented on #339
I don't know how this is be addressed, but potentially there are two problems that need to be addressed. Quarter and Year just becomes a Year and there is a new field: the **Registration date** (month + year) which is not visible in the results.

The **Results page** for pre-1985 records displays an individual as three lines in a box:
 Joe Bloggs   (his name)
June 1888 (June here is the June quart

[2021-06-20 18:18] PhilipClarke712 opened #359 "Where can I translate the Districts code(s) into a District(s) / is this a temporary fix."
In response to an _issue_ raised on the meanings of a paragraph in my draft of the Help page (for Beta), I did a randon search on test3 for a person within two Registration Districts, within the county of Warwickshire: which happened to be Aston and Birmingham, in that order.

![Screenshot 2021-06-20 184642](https://user-images.githubusercontent.com/67054943/122683590-205d1d80-d1f8-11eb-821d-84658

[2021-06-21 14:54] PatReynolds opened #360 "Rename 'Coverage page' as records page throughout"
Coverage page in FreeBMD2 is now called 'Records'.

See Systemwide#193 - changes needed to documentation.

I can't find any reference to "coverage" outside of the "Coverage" page.

FreeCEN has Database Coverage
FreeREG has County and Place Records

[2021-06-21 16:10] richpomfret commented on #298
Sorry Pat, this won't be ready for then. We will need to use Test3 for initial testing and then have the beta site ready for wider testing.

[2021-06-21 16:13] richpomfret commented on #148
We will be using a 'beta' url - however, let's also mention beta in the logo.

[2021-06-21 16:20] PatReynolds commented on #301
Test2: Number of results still missing, e.g. search John SMITH births gives:
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/9a11fd7a-b93b-4f0f-a53a-714ac7daaebe)

Test 3:
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/6f51db95-fa00-4643-8e28-56487924774d)

What is needed is the text (e.g.
Too Many search results  32302 results

[2021-06-21 16:23] richpomfret commented on #301
Not necessary to do this update now (as per Pat's last request). Can move back to backlog/future milestone.

[2021-06-21 16:25] #172 closed

[2021-06-21 16:27] PatReynolds commented on #345
Take out 'England'

[2021-06-21 16:27] PatReynolds opened #361 "Permit searching by whole of Wales & whole of England"

[2021-06-21 16:29] #350 closed, assigned to Vino-S

[2021-06-21 16:30] #348 closed, assigned to PatReynolds, Vino-S

[2021-06-21 16:35] richpomfret commented on #336
@Vino-S to make additional change as per Alison's last question (Pat confirmed).

[2021-06-21 16:46] richpomfret commented on #354
To remove/edit out the clear button form.

[2021-06-21 16:53] richpomfret commented on #251
Done (according to Denise) - closing.

[2021-06-21 16:53] #251 closed, assigned to PatReynolds, DeniseColbert

[2021-06-21 19:39] Vino-S opened #362 "Save a result"
New feature: Logged in Researchers can save an entry from the entry information page.

@PatReynolds I just realized the feature we needed was to Save Search Results. My mistake.
Please do let me know your thoughts.

[2021-06-21 19:40] Vino-S commented on #362
Can be reviewed in test3

[2021-06-21 20:12] PhilipClarke712 commented on #362
Hi @Vino-S

I got mixed results.

I normally use Firefox as my browser. So in Firefox, I went to test3 and ran a search using an ancestor's name which produced two "hits" (father and son). From the Entry Information Page, I clicked the "heart" icon and an https:// address appeared, so I opened a new tab and copied the https:// address over and got that same Entry Information page in the other tab.

[2021-06-21 21:26] Vino-S commented on #362
Thanks for testing @PhilipClarke712
You should be able to see the saved results in Saved Entries Action. Below is the screenshot
![image](https://user-images.githubusercontent.com/26073943/122829775-56c19800-d2df-11eb-866e-f82f4c358b12.png)

Once you click on the action, it should list all the entries  that are saved by you: Below is the screenshot:
![image](https://user-images.githubusercontent.c

[2021-06-22 05:52] PhilipClarke712 commented on #362
Hi @Vino-S
Thanks. I never saw that screen last night.
I tried again just now, but the "pink heart" is absent from the **More Infomation** box, so I guess that function has been temporarily removed from test3?

[2021-06-22 12:57] AlOneill commented on #97
The [Draft Records]("https://test3.freebmd.org.uk/cms/draft-records") page has been created on t3.

@PatReynolds @richpomfret Is this what you had in mind? Does the page need anything else? Did your (Pat) draft text include anything else?

[2021-06-22 13:07] AlOneill commented on #171
@PhilipClarke712
Is the draft About page ready for HTML and technical checking?

[2021-06-22 13:31] PhilipClarke712 commented on #171
Hi @AlOneill

Yes it is ready,

I though that I had sent it to you via GitHub almost a week ago - I restarted work on it last Monday afternoon (14th).

If I did, sent it to you (last Tues afternoon at the earliest), I obviously I did not use this story. Perhaps I intended to send it and never did.

Woops - my comment of 12 days ago was my way of sending it to you. It obviously failed at the first