[2021-06-22 17:28] AlOneill commented on #171
@PhilipClarke712 Thank you.

@PatReynolds Have checked and fixed https://test3.freebmd.org.uk/cms/draft-about-draft-for-beta, then promoted page to [About]("https://test3.freebmd.org.uk/cms/about").

Next I'll give the pages that this one links to a quick check and some layout: Why is FreeBMD changing?, News and History, Your Reviews.

[2021-06-23 08:08] PatReynolds commented on #97
Thanks, @AlOneill that is what I wanted.

[2021-06-23 12:37] AlOneill commented on #171
Have checked and fixed HTML, CSS, typographical issues and similar on: Why is FreeBMD changing?, News and History, Your Reviews.

[2021-06-23 13:40] AlOneill commented on #97
@PatReynolds So I guess the next steps are to promote page name to "Records" — done! — and then ask @Vino-S to replace current link in main menu, to BDM1, with link to /cms/records ?

[2021-06-23 16:17] PhilipClarke712 commented on #173
Hi @AlOneill

I'm sending https://test3.freebmd.org.uk/cms/help/draft-help-1st-interim-version back to you for re-review.
I beleive all the issues raised have been addressed either by reworking and/or adding new material, **or** by removal of text relating to functions not yet impliemented on test3. Sorry - that may involve a full review.

I'm also send https://test3.freebmd.org.uk/cms/help/draft-

[2021-06-23 16:28] AlOneill commented on #173
@PhilipClarke712 You have passed me the same page twice, rather than two different pages. Please clarify what the second page is. Thanks.

[2021-06-23 16:38] PhilipClarke712 commented on #173
Hi @AlOneill
Sorry, the second one should have been:  https://test3.freebmd.org.uk/cms/help/draft-civil-registration-through-the-gro-w-in-p/draft-districts-volumes-and-pages-interim-version

The directory path is somewhat convoluted as I originally had its parent page within Transcriptions, Coverage, or Records (that name has been subject to change over the last 14 months). The directory path can

[2021-06-24 11:56] lychee616 opened #363 "District page link in the search result table doesn't work"
When looking for the birth registration of Josephine Smith, mother’s surname was Jones (she was born just before the First World War), on the result page, when clicking the registration
district name, it said the page was not found.

![issue1-1.png](https://images.zenhubusercontent.com/60cc693d082c1d4520780b98/b6c43322-d4b3-46da-8b58-fe4d4e448b9a)

![issue1-2.png](https://images.zenhubusercontent.

[2021-06-24 12:00] PhilipClarke712 commented on #363
also covered by #325

[2021-06-28 15:12] DeniseColbert opened #364 "Testing feedback"
Search page: Month field is confusing to non-genealogists. Would Jan-Mar; Apr-Jun; Jul-Sep;

Tools menu has gone from Entry Information.

Transcriber info is often (always?) missing

[2021-06-28 16:47] DeniseColbert commented on #423
Decision: change text on button and add a sentence to the printable page:

**To print these results, or download as PDF, right-click and select "Print..." or CTRL+P  (browser-dependent)**

[2021-06-28 17:06] PhilipClarke712 commented on #364
Hi @DeniseColbert,

As a comment, FreeBMD(1) and test3 implement the **"month"** field the same way on both search pages: via  a dropdown with only four choices. Note: years are selected separately - typed in on BMD1 and a dropdown on test3.

Neither of these sites **name** this field - it is **not called the Month field**. So, people moving across from FreeBMD(1) should not have any problems.  Th

[2021-06-28 20:21] Captainkirkdawson commented on #423
There needs to be more thought on this. The abilities are totally browser dependant While right click p or ctrl, shift p may well enable printing  for most browsers, the ability to reformat as PDF or to save as nicely formatted text is rare. The right click save will save as an html file on your computer, it can only be viewed in a browser. So the suggestion on download is quite misleading which i

[2021-07-02 09:07] PatReynolds opened #365 "Url generator for Registration district has errors"
e.g. W.Derby links to
https://www.ukbmd.org.uk/reg/districts/w.%20derby.html
and should link to
https://www.ukbmd.org.uk/reg/districts/west%20derby.html

[2021-07-02 09:27] #365 closed, assigned to nobody

[2021-07-02 09:37] PatReynolds commented on #325
The problem is how the generator interprets full stops, lack of spaces, and abbreviations in the name, e.g. W.Derby links to
https://www.ukbmd.org.uk/reg/districts/w.%20derby.html (which is not a UKBMD page)
and should link to
https://www.ukbmd.org.uk/reg/districts/west%20derby.html

NB
If our link is https://www.ukbmd.org.uk/reg/districts/wderby.html, UKBMD unhelpfully interprets it as https://ww

[2021-07-02 15:12] AlOneill commented on #313
In the details table, why is 'Page' rendered in a different (serif) font from all the other row headings?

Row headings could do with `scope="row"`.

The meaning of the images for 'View postem', 'View scan' and 'Save entry' is currently invisible to sighted keyboard-only users. I have not tested what happens for screen-reader users (cannot tell from markup; no alt text apparent).

Think this is co

[2021-07-02 16:51] PatReynolds opened #366 "Mother's surname infobutton"
This has no text - I suggest 'Mother's maiden name' or 'Mother's name before marriage'

[2021-07-03 16:39] AlOneill opened #367 "Correct colour of sub-menu item that heads a nested list"
On CEN and REG, a sub-menu item that heads a nested list has the colour `#517481`, the same as the other items in the list.

The colour of such an item on BMD is magenta:

![FreeBMD-nested-subnav.png](https://images.zenhubusercontent.com/5ce6b34165b1a70acc0a9124/4ecafaf9-2f11-4a21-a557-12f3e1665a2b)

The colour is defined several times, in `palm.css` and `freebmd_content.css`, like so:
`.sub-nav >

[2021-07-04 14:17] AlOneill opened #368 "Results page — changing Show (number of results) results in a crash, sooner or later"
When I try to change the Show (number of results) from default of 20 to 100 (with more than 100 results), I get the red "Something went wrong …" page.

Trying to change to show 40 works initially, but crashes when asked for next page.

[2021-07-04 16:28] Vino-S commented on #368
Hi @AlOneill ,
I was working on #325 which caused this bug. Now fixed.

[2021-07-05 09:40] AlOneill commented on #368
@Vino-S Sound. Working OK now. Thanks.

Closing.

[2021-07-05 09:40] #368 closed, assigned to nobody

[2021-07-05 13:44] Vino-S commented on #347
_A little confused about what exactly we are being asked to test — do not remember what was there previously. The "Update results" button appears to work OK._
Thanks @AlOneill

_I did notice that the close button (the X) in the "When you searched for" box is not accessible by keyboard (using tab key)._

Fixed it in test3.

_The "Tools" drop-down needs a solid white background — the horizontal rule

[2021-07-05 13:45] Vino-S commented on #70
Ready for testing in test3

[2021-07-05 13:46] Vino-S commented on #336
Made ammendments in test3

[2021-07-05 13:49] Vino-S commented on #287
Improved display of scans in test3
Record Example with scan:
1. First Name: Martha, Surname: TASKER, Volume: 19 and Page: 34

[2021-07-05 13:50] Vino-S commented on #325
Ready for testing in test3

[2021-07-05 13:52] Vino-S commented on #215
Initial implementation is ready for testing in test3

[2021-07-05 14:30] AlOneill commented on #347
@Vino-S Close button has visible focus — all good.

Tools drop-down background looks good.
Why is is button styled to be the inverse of other buttons? Not sure how confusing that is to users, but it is puzzling. @lychee616 what do you think?

Caption now present (thank you) but we can make it more helpful: suggest adding "Column 1 has link to details of record; column 2 can be sorted on given name

[2021-07-05 14:34] PatReynolds commented on #215
Thanks Vino, looking good!

A few text changes needed now we know what it will look like.  I think the text at the bottom is fine for those instances where submitting a report is what we want, but we might want to be more discouraging with those who shouldn't (perhaps "Yes, I have read the above explanation and understand that there is nothing to correct here, but still wish to submit a report" @A

[2021-07-05 14:37] PatReynolds commented on #70
No info on Report a Problem form, Volunteer signup, needs text as is now on Contact

[2021-07-05 14:46] PatReynolds commented on #325
Thanks, @Vino-S working as expected now.

[2021-07-05 15:00] PatReynolds commented on #287
Please ignore previous comment ....
What currently happens on FreeBMD1:

There is a button to report an error, which adds this text:
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/d0841931-7811-4233-936d-ee9d1686283c)

Need to check with FreeBMD1 team what of this functionality is needed.

[2021-07-05 15:03] PhilipClarke712 commented on #325
Hi @Vino-S ,

I will have a look later today, probably in about 2 or 3 hours.

Hi @PatReynolds ,
I've been transcribing for FreeBMD for almost exactly 11 years, so I know that there is a District Alias team, lead by Martin Cope (I offered to fill a vacancy, I suspect about 5 to 7 years ago, but I was too slow off the mark and it was filled before I applied).

So I suspect that is where https://www

[2021-07-05 15:23] AlOneill commented on #325
@Vino-S FWIW, I can confirm that the correct district is being found now.

The link still needs a warning — somehow and somewhere! — that it will open in a new tab. Perhaps there is already a story for that?

[2021-07-05 15:49] PatReynolds commented on #345
Tested, now working as expected.

[2021-07-05 16:05] #308 closed, assigned to PatReynolds

[2021-07-05 16:05] #190 closed, assigned to richpomfret

[2021-07-05 16:05] #297 closed, assigned to PatReynolds

[2021-07-05 16:05] #218 closed, assigned to richpomfret

[2021-07-05 16:06] #18 closed

[2021-07-05 16:06] PhilipClarke712 commented on #325
Hi @Vino-S ,

1. I agree with Pat and Ailson, I've looked at quite a few abbreviated districts and they all now link to the correct page in UKBMD.

2. In respect of Alison's comment about the need for a (open in new tab) warning, that has been addressed already for Districts on the corresponding Entry Information pages, but **not on the Results Pages**.

[2021-07-05 16:08] PatReynolds opened #369 "Warn users that links to UKBMD page opens in a new tab on Results Page"

[2021-07-05 16:11] PatReynolds commented on #345
Sorry, England still there!

[2021-07-05 16:17] PatReynolds commented on #345
@Pat to check whether there are any cross-border districts:  there are we need to remove England, if not, either remove England, or  add 'skip to Wales' above it, and list Welsh districts separately.

[2021-07-05 16:19] richpomfret commented on #171
@PatReynolds to do final review.

[2021-07-05 16:24] richpomfret commented on #296
Discussion on current need for this - moving to backlog and switching to Future Phase.

[2021-07-05 16:30] richpomfret commented on #305
Changed title to reflect no current need for this at MVP.

[2021-07-05 16:33] richpomfret commented on #219
@Vino-S to update/'fix' the hamburger option menu and implement as per FR/FC.

[2021-07-05 16:39] richpomfret commented on #362
@PatReynolds let's clarify this before Vino develops it.

[2021-07-05 16:48] PatReynolds commented on #210
"If you would like to tell our hard working volunteers what you really like about FreeBMD, fyou can show your appreciation here ... if you have found something that needs improving, please let us know [link]"

[2021-07-05 17:01] PatReynolds commented on #366
Mother's name before marriage

[2021-07-05 17:04] richpomfret commented on #363
Now fixed so closing.

[2021-07-05 17:04] #363 closed, assigned to nobody

[2021-07-05 17:06] PatReynolds commented on #360
Check when all/most Refinery pages are made.

[2021-07-05 17:38] Vino-S commented on #364
_Tools menu has gone from Entry Information_

Tools menu had only two options for MVP: Postems and View Scans
These two options have been moved to Entry Information table. So removed the Tools menu
![image.png](https://images.zenhubusercontent.com/5ca2316a45147541ad68a420/8fb19fd2-f715-4751-8bbc-2609db53d22c)

_Transcriber info is often (always?) missing_
Transcriber info needs a complete database

[2021-07-06 09:11] PatReynolds commented on #310
Completed?

[2021-07-06 20:25] PhilipClarke712 opened #370 "Create new Registration District Help sub-page"
I need a new **Registration District help sub-page** as it "called" from: the Interim draft version of the **Help page** that I sent to Alison approximately a couple of weeks ago ; the (draft) **Help with Marriage page** that was checked in  February and the (draft) **Ordering Certificates** page that was preliminary reviewed in February and is being amended. In addition a Registration District He

[2021-07-07 11:39] AlOneill commented on #173
With testing due to begin soon, Pat and I have worked on restructuring the "draft Help (1st interim version)" page, re-writing it as 3 pages so that the:

* language is more friendly and the pages are more inviting to read

* information is accurate for the *current*  layout of the form and capability of the BMD2 search (rather than for BMD1 or REG!)

* pages are not cluttered with multiple promis

[2021-07-07 12:26] AlOneill commented on #313
I see that casing of Forenames has been changed, but it is not quite right: for example,
Edith daisy DENT should be Edith Daisy DENT.

[2021-07-07 13:11] PhilipClarke712 commented on #173
Hi @AlOneill

You have hit the **nail on the head**. The page is more user friendly, I agree with that, but it started off as a straight copy and paste of the REG Help Page - including its header colours (light brown font colour ) and I suspect that page might have come from an amalgamation of several BMD1 pages.  My task was not to do a wholesale rewrite and not really to add new material (but I

[2021-07-08 07:49] PhilipClarke712 opened #371 "User experience - change default search end-quarter from March to December"
This is a user-experience request that has caught me out a few times on test3.

If I don't set search dates the default is Mar 1837 to Mar 1992.
I suggest that the End-quarter box should work be configured the same way as the End_year box, that is, it  **defaults** to the December quarter, not March-quarter.

If I choose to set a Start-Year (very well thought out) I _move_ the start year forward f

[2021-07-08 14:14] AlOneill opened #372 "Contrast ratio of main navigation is too low"
The contrast ratio, between the magenta and the light grey in the main menu, is too low at 4.21:1

With magenta isles and buttons, the contrast is against white which is fine.

With islands and islets that have the light grey background — `#f4f4f4` — the magenta link colour is adjusted to use the more saturated version of magenta, `#BE3778` — this is a named colour in the SCSS (I forget the name).

[2021-07-08 16:59] AlOneill commented on #173
@PhilipClarke712 Yes, the pages are more user-friendly — an essential improvement now that we have the opportunity to work directly on pages such as 'Help'. A style of writing that is in line with a magazine article rather than a technical manual is what I've been trying to encourage.

Thank you for the testing that you have done. Let's not quibble about which bits of inaccurate (for BMD2 as it is

[2021-07-08 22:14] PhilipClarke712 commented on #173
@AlOneill ,

Thank you for your comments. It is interesting that we have very different view points on quite a small number of topics.

I did no testing of Age at death searches and I did no testing of Phonetic searches. I've never used phonetic searching on BMD1 (and I have been using it for research for about 16 years) neither have I attempted to do so in test3. It is good that you found and cor

[2021-07-08 23:22] PhilipClarke712 commented on #173
@AlOneill
Sorry, I need to correct one statement, above that on reflect was wrong.

I have a family tree stored my my computer so I have relatives for which I know their dates of birth and dates of death. I did some testing using them as examples.

The GRO index did not have age at death before 1st Jan. 1866, so I tested either side of that that year, I also tried, for those limited samples, doing

[2021-07-09 11:38] DeniseColbert commented on #170
Remaining tickybox to be addressed later (it's going to be on the Records page)

[2021-07-09 11:46] #353 closed, assigned to nobody

[2021-07-09 11:52] PatReynolds commented on #310
No, still needs adding.

Also pathway needs to be confirmed (email sent with a link to 'choose a syndicate' on FreeBMD1 - https://www.freebmd.org.uk/Signup.html

[2021-07-09 12:08] DeniseColbert commented on #178
We think this is now complete but will check

[2021-07-09 12:14] PatReynolds opened #373 "Create email to send to those who click 'volunteer as a transcriber' on FreeBMD2"
Needs to have tone/style of the similar emails sent on FreeCEN and FreeREG, _BUT_ needs to
a) direct the new volunteer to https://www.freebmd.org.uk/Signup.html with request for them to select a syndicate, etc.
b) anything else that is buried with in the sub-pages from https://www.freebmd.org.uk/Signup.html which would be good to draw their attention to,

[2021-07-09 12:16] DeniseColbert commented on #373
Denise to find example emails and supply to Philip

[2021-07-09 12:50] AlOneill opened #374 "Improve accessibility of Transcriber Registration page"
The Transcriber Registration page has a banner-box that needs improving for the sake of screen-reader users — it appears to have slipped through previous revisions.

The current markup should be replaced with the following (apologies for lack of indentation):

`<div class="island island--navy">`
`<h2 class="banner__title">Questions? Data?</h2>`
`<p>For more information before you register, or if y

[2021-07-09 15:39] AlOneill commented on #173
Images added to pages (edited name-casing and font of 'Page' in browser for screen-shots neither issue fixed yet).

[2021-07-10 11:03] AlOneill commented on #215
I have concentrated on errors (grammatical and similar). Some of the text is formal and unfriendly but perhaps that is the aim?!?

Explanation 'i' button — suggest: Please read the explanation below for the selected query

A 0, list-item 2, space missing — Postems (notes)
A 0, last para, link-text, space missing and 'link' is superfluous — GRO (opens in new tab)

A 1, wrong use of 'may' and others

[2021-07-10 11:07] AlOneill commented on #215
There are a lot of twiddly edits to make here: It occurs to me that it might be easier if I edit the partial — just point me to the file.

[2021-07-10 19:41] PhilipClarke712 commented on #178
Hi @DeniseColbert ,

This dropped into my in box, because I'm on the list.

I'm not giving to give you a yes or no answer, sorry about that. Jump to the final paragraph it you want the quick answer.

I think at some point my fingers and brain got disconnected; there is no https://test3.freebmd.org.uk/cms/help/draft-citing-freebmd .  I think it should have been Help with marriages - but that help s

[2021-07-10 20:12] AlOneill commented on #178
Citations are covered in the DRAFT Help (soon to be plain Help) at:
https://test3.freebmd.org.uk/cms/draft-help-for-mvp#share

This part of Help will need to be updated when the automatic citations feature and button are implemented.

There is a link, in that same part of Help, to the section of About that (currently) covers the citing of FreeBMD. It is not quite accurate as things stand, because

[2021-07-10 20:15] AlOneill commented on #171
To do: correct the statement that automatic citations are available currently.

[2021-07-11 12:28] PhilipClarke712 commented on #173
Hi @AlOneill

You may wish to re-review the  section **Middle names and initials** within  the draft Help Page **More about names**.

The first FIXME link is to a page _Summary - use of  initials in Forenames_ which exists in draft form and is complete in what it intends to do, but it does have a non-data data-table in it. That page has not be sent for review: it might perhaps be acceptable if the

[2021-07-11 14:04] AlOneill commented on #173
@PhilipClarke712
The immediate solution for those FIXME links is either to promise that information will be available soon or to remove all mention of such information for now — it all depends on how quickly the "Summary — …" can be made ready for publication and how important it is for successful searching.

My feeling is that the Summary is highly unlikely to be ready for testing and MVP as ther

[2021-07-11 15:44] PhilipClarke712 commented on #173
@AlOneill

The proof is the numbers in https://www.freebmd.org.uk/givenname-initials.html but not one is going to look at that and take it all in.

Much of the text in the summary part of that page is already in Refinery in various drafts of **Help**, so its sort of "padding" on top of a table in a separate a summary page.

My inclination would be to drop just that summary "table" wholesale into t

[2021-07-11 16:54] AlOneill commented on #336
@Vino-S

The Results page still has a magenta heading (that is not a link):

![results.png](https://images.zenhubusercontent.com/5ce6b34165b1a70acc0a9124/6cbbddce-242c-4202-b148-e092539fc917)

I will continue to take note of any others.

[2021-07-11 23:26] AlOneill commented on #173
If our simple advice to search on forenames, to use the first forename plus the next initial, works in pretty much all situations, then why complicate that with the Summary information _on the same page_?

My testing indicates that a search on say 'john f' would also find 'John Frederick', 'John Francis' and so on. Is that not sufficient here?

My feeling is that the Summary would be of interest t

[2021-07-12 07:36] PhilipClarke712 commented on #173
The quickest and least effort option is to remove those two FIXME and some text in brackets.

I don't personally read the how to search page(s), now, on BMD1 before I search.

I did at one time if, say, I found only one half of a marriage pair. Soon, I knew how to look at Coverage charts - so my first check would be "how much" of that data-set had been transcribed; and than I would be looking at U

[2021-07-13 15:51] AlOneill commented on #173
@PhilipClarke712 Once you have completed your checks and corrections to the Summary, let's have another look at how to present the information — I'm thinking that a diagram, a 3-stranded timeline perhaps, might be a good idea to explore (as an adjunct to any text, for users who can see).

The other topics that you mention — UCF entries, miss-indexing (or miss-transcription) of page and volume numb

[2021-07-13 15:52] AlOneill commented on #173
@PatReynolds @DeniseColbert @PhilipClarke712

I'll be promoting the three DRAFT pages to 'Help', 'More about names' and 'More about searching' tomorrow, Wednesday. I'll do my best to avoid broken links and other awkwardness _during_ the process.

The remaining three versions of the Help page (!) will remain in place temporarily (as re-named pages), pending deletion on Friday.
@PhilipClarke712 if t

[2021-07-13 17:55] PhilipClarke712 commented on #173
@AlOneill ,

**1.** As of yesterday's threads, I was working the basis that we **would not be using** the summary page _as-is_ for beta, so it has not changed - it still has a non-compliant table.

What I did was to take a copy of the non-data table and convert it into a definition list and put it on to html page that only has a level four header (it is not a proper or full page). That is  now to

[2021-07-14 13:53] Vino-S commented on #215
Hi @AlOneill
Below is the link to the Frequently asked questions HTML file:
https://github.com/FreeUKGen/MyopicVicar/blob/page_entries/public_site_specific/freebmd/faq.html.erb
Thank you very much for sorting this out.

[2021-07-15 13:24] AlOneill commented on #215
@Vino-S File edited and returned to you. Of course, that file does not include the 'Explanation' info button text or the label for the tick-box that reveals the form: see my previous comments, three posts above.

15th query — I've attempted to fill in the missing word after "spouse's", but have to admit that it was a shot in the dark! Anyone know what should go there?

@PatReynolds I did not add a

[2021-07-15 15:48] PhilipClarke712 commented on #215
Try the original page https://www.freebmd.org.uk/search-results-help.html  from FreeBMD1

[2021-07-15 20:41] AlOneill commented on #215
On further reflection, I'm not at all happy about the 15th query,  currently:
"The entry for this event (for example, bride's surname at marriage) does not match the FreeBMD entry for another person at this event (for example, the spelling of her name in spouse's)."

Unless we can rewrite this to make sense, I suggest we delete it. The previous query seems to cover a similar territory?
There is no

[2021-07-15 21:40] PhilipClarke712 commented on #215
@AlOneill
Sometime before I started (so pre-Feb. 2020) each item on the BMD1 FAQ page was marked as one of three classes: for **About**, for **Help**, or **not for Researchers**. So the Help-aspects of the original BMD1 FAQ page became a list of less than 41 items -possibly about 22 (at most) FAQs.

It looks like one or more people might have done a brain-storming session on the pared-down BMD1 FA

[2021-07-15 21:59] AlOneill commented on #215
@PhilipClarke712 The queries for the (app) 'Data problem report' page appear to be from the same source as the Refinery page: https://test3.freebmd.org.uk/cms/help-superseded-or-draft/draft-reporting-errors-in-transcriptions#individuals
See the 2nd entry.

You make an interesting observation above. Anyone want to have a go at re-wording the query (in the light of Philip's comment above, maybe)? Or

[2021-07-18 13:13] richpomfret commented on #298
Now in-progress following email thread with @lemon-ukgen and @Vino-S. We discussed whether we use test3 for beta testing, but now looking at getting production site set-up with full DB with beta url.

[2021-07-19 11:30] PatReynolds commented on #215
The word that was escaping me was "accordion"

Example: https://www.all-clad.com/customer-service

Their contact page https://www.all-clad.com/contact is also good at sorting out queries to the right point / collecting the right data

Another (simpler) example
https://www.triodos.co.uk/individual (the "why bank with Triodos" section

Many firms are now going to block style with images and a very f

[2021-07-19 11:45] PatReynolds commented on #362
If this story is about "saving the results of a query" ( cant see such a story) then,
a) generate a printable copy - functions but some changes needed
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/31edbf5a-fb01-4ec7-b683-902ecc41e496)
 - [ ] add margin to left so that people can put holes in before adding to a folder
 - [ ] reformat the data so that the volume and page

[2021-07-19 12:02] PatReynolds commented on #288
Accessibility Statement now ready for proofing / inclusion in About, including updated link (needs testing).

[2021-07-19 12:33] AlOneill commented on #288
Had a quick look and there are a couple of issues with this page: non-semantic use of the `q` element and links to other sites that do not open in a new tab. (No doubt these will need fixing on CEN and REG too.)

I'll fix the issues and delete the miss-pasted version of the page at the foot of the listing.

Final task will be to add a working link from the About page.

[2021-07-19 13:43] AlOneill commented on #288
"Accessibility statement" fixed and working link added from "About".

Miss-pasted version of Accessibility statement deleted.

[2021-07-19 14:10] PatReynolds commented on #345
Yes some districts England/Wales are cross-border - see e.g. https://www.ukbmd.org.uk/reg/districts/chepstow.html (Chepstow) includes Alvington  and Aylburton (both Gloucestershire) and Caerwent and Caldicot (both Monmouthshire) to take just the first four subdistricts.

In the case of William Robert Smith, baptised in Chepstow in 1854 (https://www.freereg.org.uk/search_records/5f932ccef493fd032b8

[2021-07-19 14:15] PatReynolds commented on #87
The task is:
a) FreeBMD1 urls redirect to FreeBMD2 record detail urls (when FreeBMD2 has the form www.freebmd.org.uk

b) FreeBMD2 generates citations that direct to the same record detail urls (assuming that a FreeBMD2 url will not be identical to the corresponding FreeBMD1 url, then either via the FreeBMD1 reroute, or the genuine FreeBMD2 url can be used in citations, although genuine FreeBMD is

[2021-07-19 14:22] AlOneill commented on #288
Corresponding CEN (a child of DRAFT About) and REG pages fixed on their respective t3 sites.

[2021-07-19 15:28] PatReynolds commented on #304
First draft done.  Remaining work noted aboce.

[2021-07-19 16:08] PatReynolds commented on #178
@AlOneill to check

[2021-07-19 16:18] PatReynolds opened #375 "Transform 'Report a Data Problem' to an accordion"
See story #215 for description of what is needed.

[2021-07-19 16:18] richpomfret commented on #215
@AlOneill to have a play. @PatReynolds to create story to turn the form into an accordian style. We need basic functionality for MVP and accordian for future version/iteration.

[2021-07-19 16:24] richpomfret commented on #288
To test on test3. @PatReynolds to check it looks fine.

[2021-07-19 16:26] PatReynolds commented on #215
Original text may be https://www.freebmd.org.uk/search-results-help.html

[2021-07-19 16:27] richpomfret commented on #173
Should now be pushed into test3. User testing can then dictate what changes come next.

[2021-07-19 16:32] richpomfret commented on #130
@DeniseColbert to review and see if we still need this (or if it can be part of the report a data problem accordion). Speak to corrections on BMD1 and see what they think.

[2021-07-19 16:34] #41 closed

[2021-07-19 16:36] richpomfret commented on #185
@PatReynolds to review and capture any missing stories from this.

[2021-07-19 16:40] PatReynolds opened #376 "Saving the results of a search query"
Saving the results of a search query can be done in two ways
a) generate a printable copy - functions but some changes needed
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/31edbf5a-fb01-4ec7-b683-902ecc41e496)
 - [ ] add margin to left so that people can put holes in before adding to a folder
 - [ ] reformat the data so that the volume and page follow the district - e.

[2021-07-19 16:45] richpomfret commented on #148
@DeniseColbert to mock-up bmd1 style 'stamp' for 'beta' on the site logo.

[2021-07-19 16:45] richpomfret commented on #148
@AlOneill to provide accessible red for this.

[2021-07-19 16:58] PatReynolds opened #377 "Check the searching of districts that cross the English Welsh border with full database"
Some districts England/Wales are cross-border - see e.g. https://www.ukbmd.org.uk/reg/districts/chepstow.html (Chepstow) includes Alvington and Aylburton (both Gloucestershire) and Caerwent and Caldicot (both Monmouthshire) to take just the first four subdistricts.

In the case of William Robert Smith, baptised in Chepstow in 1854 (https://www.freereg.org.uk/search_records/5f932ccef493fd032b89c120

[2021-07-19 17:15] AlOneill commented on #178
Page has been updated re citations button not being available yet.

[2021-07-19 17:17] AlOneill commented on #148
@DeniseColbert Our accessible red is `#DB0000`

[2021-07-19 17:19] AlOneill commented on #171
Statement re automatic citations has been corrected.

[2021-07-19 17:21] AlOneill commented on #215
@PatReynolds Sadly, not that file. Thank you for looking.

[2021-07-20 00:43] Vino-S commented on #372
Ready for testing in test3

[2021-07-20 00:43] Vino-S commented on #314
Ready for testing in test3

[2021-07-20 00:44] Vino-S commented on #366
Ready for testing in test3

[2021-07-20 00:44] Vino-S commented on #359
Ready for testing in test3

[2021-07-20 00:45] Vino-S commented on #299
Initial implementation complete in test3

[2021-07-20 11:44] PatReynolds opened #378 "Infobutton change: Surname -> change Check to checkbox (as in First name)"
See #185 for previous information on button changes

Currently (test2) First name  infobutton reads "Check box below to match exactly as typed."
and Surname infobutton reads "Check to search names phonetically"

The Surname infobutton needs changing to "Check box below to search names phonetically"

[2021-07-20 11:45] PatReynolds opened #379 "Infobutton change: Date Range"
- [ ] Date range from / to - decide text (current text does not refer to current system)
 - [ ] Date range from / to - implement new text

[2021-07-20 11:47] PatReynolds opened #380 "Infobutton change: Age at Death -> Check Age at death infobutton once feature is working"

[2021-07-20 11:48] PatReynolds opened #381 "Selection of data type for Age at Death in Search page is not working"
@Vino-S could you take a look at this - perhaps affected by issue yesterday?

[2021-07-20 11:52] PatReynolds commented on #185
Stories #378m #379 and #380 created, this can now be closed.

[2021-07-20 11:53] AlOneill commented on #372
Light grey has been replaced with white so now passes AA.

Thank you, @Vino-S

[2021-07-20 12:15] AlOneill commented on #299
@Vino-S
Could you please describe exactly what should work now — it is not clear to me what I should be testing for.

[2021-07-20 13:04] PhilipClarke712 commented on #299
@AlOneill ,

If Vino has fixed what I was asking for, then you should get one or more results from a global search using the wild card (plus) + and hopefully (Asterix) *  in front of a forename on the three examples I gave above: that is

firstname = +grosvenor  & surname = bloore (possibly also firstname = *grosvenor  surname = bloore )
firstname  = +ridley  & surname =hayes   (possibly also firs

[2021-07-20 13:48] AlOneill commented on #299
@PhilipClarke712
None of your examples produce any results. Perhaps because it is not the full database on t3 or perhaps because of exactly what has been implemented. Hence my question to Vino.

[2021-07-20 15:16] Vino-S commented on #299
Apologies for the delay.

Partial searches at the bottom of the search form have two select fields: Name and an option to select the type of partial search

1.First Name:
	Usage Requirement: First Name cannot be blank or must contain only alphabets
	Options: **Contains, Ends With and Any**
	Option Description:
	a)**Contains**

	This will get all the names that contains first_name searched by the r

[2021-07-20 15:50] AlOneill commented on #299
Thanks @Vino-S , I think!
It will take me a while to understand your post. Brain feels overloaded for now and is failing to translate your description.

[2021-07-20 15:50] PhilipClarke712 commented on #299
Hi @Vino-S

I see the problem.

 I was asking for something that does not conform with the definitions above.

The records are on the database being used by test3, but I'm trying to specify: no first name (a blank first name),  a middle name that ends with specified search string and a surname. FreeBMD1 can do it, so I was hoping that BMD2 would do it some time.

If I try and define the (plus)(+)

[2021-07-20 16:29] Vino-S commented on #299
Hi @PhilipClarke712
The original wildcard implementation has been re-designed.
Your search query should still work, in the new implementation:

Search example 1:
firstname=**grosvenor**
surname=**bloore**
Choose the Name field: **Other**(below is the image)
Select one of the following: **In First Name or Middle Name**(below is the image)
![image](https://user-images.githubusercontent.com/26073943/

[2021-07-20 16:42] AlOneill commented on #299
And it also works with
firstname=**grosvenor**
surname=**bloore**
Choose the Name field: **First Name**
Select one of the following: **Contains** or **Ends with**

So many options …

[2021-07-20 16:53] PhilipClarke712 commented on #299
Hi Vino-S,

That has solved the problem - provided the researcher knows what to do, and I got it wrong at first (I overlooked the boxes at the bottom).

Thanks very much

If I leave out the (plus)(+) I do get one Grosvenor Bloore on test3, but if I use the +grosvenor I get no results.

Following your example:  I put grosvenor into the forname box then I do a partial search with the **search term e

[2021-07-20 17:37] Vino-S commented on #299
@AlOneill
There is little difference where **In First Name or Middle Name** search becomes a bit more broad:
And it also works with
firstname=grosvenor smith
surname=bloore
Choose the Name field: First Name
Select one of the following: Contains or Ends with
This will give us no results

However:
firstname=grosvenor smith
surname=bloore
Choose the Name field: Other
Select one of the following: In F

[2021-07-20 19:39] Vino-S commented on #381
Hi @PatReynolds ,
It seems to be working now. Could you give me the search conditions, please so that I can replicate the issue?

[2021-07-21 09:43] PatReynolds opened #382 "Additions to help page"
Add links to https://www.irishgenealogy.ie/en/ and https://www.scotlandspeople.gov.uk/ to Help

[2021-07-21 10:51] AlOneill commented on #299
@Vino-S This is great. Thank you!

Am also loving the use of `fieldset` elements. For the sake of screen-reader users, I think we could make the first `legend` a little better. 'Main search options' is the best I have come up with so far — can anyone improve on that?

And maybe the label for the second select could be improved to be more informative? BTW it makes no sense to include the labels in

[2021-07-21 11:02] AlOneill opened #383 "Add guidance for "Additional search options" to researcher Help"
The Additional search options are beautifully intuitive once you get going, but we do need to describe their use. The challenge will be to **not** make them sound more complicated than they actually are!

Perhaps do this in two stages:

1. Something brief to be ready in time for testing and MVP

2. More details and examples when ready

[2021-07-21 14:55] PhilipClarke712 commented on #383
There is a draft  Advanced search facility help  page at https://test3.freebmd.org.uk/cms/help-superseded-or-draft/draft-advanced-search-facilities  but it focuses on what BMD1 can offer and almost all of those functions are either not yet available on BMD2, or done in another way, such as using drop-down boxes, not wildcard characters, such as (plus) (+).

Note: it does have a Names section which

[2021-07-21 15:07] PhilipClarke712 commented on #382
@PatReynolds

There is a draft page which covers this topic, https://test3.freebmd.org.uk/cms/help-superseded-or-draft/draft-civil-registration-authorities , it was never used or referenced in the draft help page that went forward for review, but all the other drafts had links of some sort to it.

Scotland, Northern Ireland and Ireland are in it, plus, the Isle of Man and the Channel Islands.

[2021-07-21 15:11] AlOneill commented on #383
@PhilipClarke712 This will need to be completely new, using Vino's description and our experience of the new fields.

[2021-07-21 15:36] PhilipClarke712 commented on #359
Hi @Vino-S
It works very well when I search a single county, in this case Warwickshire, **and** I hold the Ctrl (Control key) down as per BMD1 when selecting the second and any subsquent District. If I don't use the Ctrl key it just uses the last district selection.

So, I selected the two counties of Staffordshire and Warwickshire. Then selected from the dropdown:   Aston (1837-1924), Rowley Regi

[2021-07-21 15:40] PatReynolds commented on #382
Thanks, Philip, that's great.

[2021-07-21 16:24] AlOneill commented on #359
@PhilipClarke712 Selecting more than one option from a drop-down list is accomplished the same way all over the internet, unless only one selection is allowed. Do we also need to explain how to select more than one option using a touch screen?

The explanation for how to choose more than one county or district, for devices with a keyboard, is on 'More about searching'. I suggest we put a link from

[2021-07-21 17:12] PhilipClarke712 commented on #359
@AlOneill

I eventually found that page: I first went to **Help** and there is no obvious link to 'More about searching', I used edit to search for that string on the page and it did not find it - only a link to 'more about names'.

The way I eventually found it was by going to  the **How to find the name of a spouse** section and at the bottom was a link called See help with Counties if you do no

[2021-07-22 11:29] AlOneill commented on #314
@Vino-S  Apologies for the delay here.

The text below the **County select** says 'Select one County or none' whereas at least two counties can be selected. Is there a limit on how many counties can be selected?

Suggest we edit the text to be similar to that for the District select, as appropriate.

The tooltip text for each pair of **date selects** does not make sense. Currently each is: Leave Y

[2021-07-22 13:30] AlOneill commented on #314
@Vino-S I'm having a hard time interpreting the results of the validator testing: too much noise.

But, from tabbing through the form and inspecting the markup there are now two types of problem:

1. empty tooltips for Record type, Volume, Page, Counties, Districts

2. labels that have `tabindex="0"` but no associated tooltip — so there is nothing to see on tabbing: Spouse First Name(s), Spouse su

[2021-07-22 16:49] AlOneill commented on #359
I think I focussed on the wrong details yesterday.

If it becomes apparent from testing that our users do not know (or have forgotten) how to select multiple options in a drop-down, then do we explain it? and if yes, where would be the best place? (The current place is probably not the best if lots of users need a reminder.)

As for links to other Help pages, the most obvious thing would be to cre

[2021-07-22 16:54] AlOneill commented on #382
Other things to consider, particularly in the light of testing:

1. If it becomes apparent from testing that our users do not know (or have forgotten) how to select multiple options in a drop-down, then do we explain it? and if yes, where would be the best place? (The current place, on 'More about searching' is probably not the best if lots of users need a reminder.)

2. For visible links to other

[2021-07-22 17:57] PhilipClarke712 commented on #359
Hi @AlOneill

Thanks for your comments. I'm going to add some lateral thinking.

On some systems if you do something 'wrong' you get a dissonant sound - in the old Popeye films, steam coming out of the person's ears and a shrill whistle, the opposite might be white doves and some Mantovani music. There are three ways of selecting and they all appear to be valid, but there are different amounts of

[2021-07-22 22:23] AlOneill commented on #313
In addition to my third comment, 2 posts above, the information that you can 'Click to view other entries on this page' is also not visible to sighted keyboard-only users because it is buried in a `title` attribute.

[2021-07-23 10:45] AlOneill commented on #359
What would a 'Revise search' button do on the Search page? I think you mean a 'New search' button: the Scrum decided to remove the 'Clear form' button because it would be all too easy to select that by mistake, instead of 'Search'. The safer way to clear the form is to select the logo in the header — that is how REG and CEN do it.

If testing tells us that users need help to select multiple option

[2021-07-23 11:35] PhilipClarke712 commented on #359
@AlOneill

Thanks, I learnt a few things, above.

Yes, I can do every thing now without a back button: clicking on the logo clears every selection, I did not know that; and, having selected multiple places, with either shift or Ctrl, repeating the process clears the existing County(ies) / District(s) selection. I was undoing things using my browser's back button, which is a very blunt way of undoi

[2021-07-23 13:06] AlOneill commented on #359
Yes, a tooltip is the text that appears when the 'i' icon is focussed or hovered.

_If_ we decide that we need to provide the how to use your device information, then it needs to be kept brief for the sake of screen-reader users who will hear it every time they pass through the form — we do not want to drive them mad!

[2021-07-23 13:18] AlOneill commented on #314
@Vino-S
Arguably, the info below the County and District select boxes should be heard by a screen-reader user _before_ they make their selections. In which case, a tooltip would seem the obvious choice.

If we decide that we need to remind users how to select more than one County or District, then the tooltip would need revising to accommodate this. Sigh.
 (Apologies for not thinking this through

[2021-07-25 01:31] lemon-ukgen commented on #298
https://beta.freebmd.org.uk/ is up in a new `rails2` jail on `night.freebmd.org.uk` (same auth as test2/3)

There will be likely some glitches to resolve but the basic frontend seems ok.

I don't have access to the backend to check, eg, Refinery is happy. I have started registration as a Technical volunteer to check.

[2021-08-02 09:55] PatReynolds commented on #310
Draft here: https://docs.google.com/document/d/1FtJLpqm4eNbblYT8aUVnQ4-PKhMmh_P05AOB69PJZPE/edit?usp=sharing

[2021-08-02 10:34] PatReynolds commented on #306
done and ready for checking

[2021-08-02 12:32] AlOneill commented on #306
Corrected a few typos that I noticed — there could well be others. (I cannot check the accuracy of the contents.)

This page is a curious mixture of items that read like release notes for volunteers and other items of (maybe) more general interest. The tenses used are are a mixture of present and past. Some of the language is not exactly friendly. Nearly every item is presented as a list — or rath

[2021-08-02 13:14] Vino-S commented on #70
Ready for testing. But the link to Privacy Policy no longer works. Has it been chnaged?

[2021-08-02 13:15] Vino-S commented on #97
Ready for testing in test3

[2021-08-02 13:16] Vino-S commented on #329
Ready for testing in test3

[2021-08-02 13:21] AlOneill commented on #97
Works as expected. Thanks, @Vino-S

[2021-08-02 13:29] Vino-S commented on #339
Ready for testing in test3

[2021-08-02 13:29] Vino-S commented on #219
Ready for testing in test3

[2021-08-02 13:30] Vino-S commented on #347
Ready for testing in test3

[2021-08-02 13:30] Vino-S commented on #369
Ready for testing in test3

[2021-08-02 14:30] PatReynolds commented on #304
For discussion: I have removed most of the contact details because I believe this is intended to be a publicly facing page -  contacts for volunteers will be developed as another task (would need a new story creating).

[2021-08-02 14:40] PatReynolds opened #384 "FreeBMD1 urls redirect to FreeBMD2 record detail urls"
Was part of issue #87

FreeBMD1 urls redirect to FreeBMD2 record detail urls (when FreeBMD2 has the form www.freebmd.org.uk

e.g.
Currently https://www.freebmd.org.uk/cgi/information.pl?cite=Q4fSw6pgaEcz5EC%2BJWI1Vg&scan=1

will direct (after the switch of www to FreeBMD2, and creation of FreeBMD1 for original site to what is currently:
https://www.freebmd.org.uk/61080357bd30f251ab8e5bae/entry-inf

[2021-08-02 14:42] PatReynolds opened #385 "Decide on the form of FreeBMD2 urls"
Was part of #87

After the redirect of FreeBMD1 citation URLS to FreeBMD2 (story #384) is complete decide whether FreeBMD2 urls used in citation generator will be

The freeBMD1 version of the URL (will direct to FreeBMD2 after www / beta is changed to freebmd1/www)
OR
The (preferably) the FreeBMD2 prettified URL

[2021-08-02 14:45] PatReynolds commented on #87
Stories made

[2021-08-02 15:06] AlOneill commented on #369
Had a look but could not see warnings on Results page.

[2021-08-02 16:11] richpomfret commented on #70
@Vino-S to add in new/updated link.

[2021-08-02 16:12] #97 closed

[2021-08-02 16:13] #171 closed

[2021-08-02 16:14] #185 closed, assigned to PatReynolds

[2021-08-02 16:14] #173 closed

[2021-08-02 16:15] #288 closed, assigned to PatReynolds, AlOneill

[2021-08-02 16:16] richpomfret commented on #329
@PatReynolds to test.

[2021-08-02 16:17] richpomfret commented on #339
@PhilipClarke712 can you take a look and test this?

[2021-08-02 16:18] richpomfret commented on #219
@richpomfret to take a look.

[2021-08-02 16:19] richpomfret commented on #347
@AlOneill to test.

[2021-08-02 16:26] #372 closed, assigned to Vino-S

[2021-08-02 16:27] #354 closed, assigned to Vino-S

[2021-08-02 16:28] richpomfret commented on #366
@PatReynolds to take a look.

[2021-08-02 16:28] #366 closed, assigned to PatReynolds

[2021-08-02 16:32] #359 closed, assigned to Vino-S

[2021-08-02 16:36] richpomfret commented on #298
Thank you @lemon-ukgen. We will need to consider how we update refinery or update/deploy new changes from Test3.

[2021-08-02 16:41] richpomfret commented on #215
@Vino-S to update the text, also to consider user cases/situations we either provide text for or do not, then we can close this.

[2021-08-02 16:42] #87 closed

[2021-08-02 16:44] PatReynolds commented on #306
Take out the reslease notes and put in a new page (sub-page of Volunteer help).

Make it not-a-list

[2021-08-02 16:47] richpomfret commented on #304
@AlOneill to proof it and @PatReynolds to create the new story.

[2021-08-02 16:47] PatReynolds opened #386 "Create 'about the team' page (for volunteers"

[2021-08-02 16:49] richpomfret commented on #345
Decision to change 'England' to 'England and Wales'.

[2021-08-02 16:51] richpomfret commented on #310
@DeniseColbert to review for content and @AlOneill for typos.

[2021-08-02 16:53] richpomfret commented on #314
@Vino-S to update based on above findings.

[2021-08-02 17:02] richpomfret commented on #299
@Vino-S to update 'legend' - 'main search options' and 'additional search options'.

[2021-08-02 17:09] PatReynolds opened #387 "Investigate the variation of casing of Names in FreeBMD"

[2021-08-02 22:21] AlOneill commented on #310
No typos! (E&OE)

[2021-08-02 22:28] AlOneill commented on #347
Looking good! Thank you @Vino-S

[2021-08-03 14:41] AlOneill commented on #304
@PatReynolds I will assume, unless I hear otherwise, that this is the page you wish me to proof:
https://test3.freebmd.org.uk/cms/about/draft-about-us-introductions-to-the-project-team

There are some unexpected issues with this page, which is why I am asking if I'm looking at the correct one:

* `h1` heading includes two full-stops, i.e. "DRAFT About Us.  Introductions to the Project Team."

* to

[2021-08-04 12:49] AlOneill commented on #304
@PatReynolds

Initial checking of page completed. The address is now (provisionally):
https://test3.freebmd.org.uk/cms/about/draft-introducing-the-project-team

Issues noted above have been fixed. There are two queries near the top of the page — both are marked with highlighter.

The other thing to consider is whether and how we use **email links** — there are pros and cons. (There was one malform

[2021-08-04 16:12] PatReynolds commented on #304
FreeBMD1 links to a form - which might be more convenient for all?

[2021-08-05 09:52] PatReynolds opened #388 "Write sub-page (for volunteers) The Current Team and Management structure"
Possibly to be a  sub-page of an equivalent to "The FreeCEN Handbook"?

[2021-08-05 11:13] PatReynolds commented on #299
Testing the Advanced Search Options.

I don't understand what selecting the 'wildcard' option does (intuitively, it would mean that using a wildcard anywhere would be recognised as a wildcard, but it's not that ...)

Looking for an Elizabeth Ann MARSHELL  with the search Elizabeth Ann Marshe* works fine, with 'contains' and 'first name' selected

However a search for  Eli?abeth Ann MARSHELL tells

[2021-08-05 11:25] PhilipClarke712 commented on #299
Hi @PatReynolds ,

It is my understanding is that is the **old FreeBMD1** way of doing things.  BMD2 does not use those wildcard functions, they don't work, see my comments 16-days ago, above. The dropdown search boxes are used instead and they do give comparable results to what FreeBMD(1) gives with wildcards (see my comments 16-days ago, above).

Alison raised a new issue #383 to cover this.

[2021-08-05 11:38] AlOneill commented on #299
@PatReynolds The only wildcard character in use is the * (asterisk) and **you cannot use a wildcard symbol in an Advanced search**.

The top selection, the wildcard option, sets the search to use the * in a search, as before. Picking anything other than the default for the second field is a mistake if you are trying to use an asterisk.

I think you are possibly putting too much into which ever nam

[2021-08-06 11:08] PatReynolds commented on #299
So (for clarity) to search using a wildcard, ignore the wildcard function at the bottom and use * as in the other FreeUKGen sites.

I think we should use a different term for whatever it is that the search function at the bottom does.

Also not note: if you select 'wildcard' at the bottom, it shows 'wildcard options' to the right.  If you then select one of the others, it shows their options.  If

[2021-08-06 11:48] AlOneill commented on #299
@PatReynolds I agree that if you return the 'Choose the Name field' to 'Wildcard' then 'Select on of the following' should revert to the wildcard options. In other words, you should be able to change your mind and not ask for a partial search — this does not appear to be possible currently.

Do not quite follow your second para. The two fields at the bottom set up a partial search; a wildcard sear

[2021-08-06 15:51] Vino-S commented on #299
@PatReynolds
_Also not note: if you select 'wildcard' at the bottom, it shows 'wildcard options' to the right. If you then select one of the others, it shows their options. If you then select 'wildcard' again, it doesn't revert to 'wildcard options' - is that what is expected?_
 Yes, it has to revert to 'wildcard options' as you described. I will improve the form.
@AlOneill
The "Wildcard" prompt o

[2021-08-07 13:13] AlOneill commented on #299
@Vino-S Yes, I think the prompt on the "Choose the Name field" should be changed: "Wildcard" is a different kind of thing from the other choices and it does look and function more like a choice than a prompt. If I am correct in thinking of it as an indicator of "no name part chosen so do nothing more than a standard search", then I think it should say "**(none chosen)**" or similar.
But, I might n

[2021-08-07 15:53] PatReynolds commented on #299
If the 'wildcard' choice just means 'don't do a partial search' then "(none chosen)".  Is fine.

I'll wait for the help before further testing.

[2021-08-07 16:31] richpomfret commented on #4
Closing - can create new story if we need.

[2021-08-07 16:31] #4 closed

[2021-08-07 16:32] #68 closed

[2021-08-09 10:16] PatReynolds opened #389 "Consider adding ability to add images (perhaps as part of postems)"
Obvious use for this is for people to add scans of certificates to entry records (single or multiple in case of marriages).

[2021-08-09 14:03] AlOneill commented on #299
Another snag is that the 'Select one of the following' field reverts to the top option on using the 'Revise Search' button. I keep getting caught out with that.

[2021-08-09 16:44] AlOneill commented on #299
@Vino-S I'm pretty sure that a search on _First name_ with option 'Any' is not working quite as described above. Putting 'john james' in the First names(s) field finds the forenames John, James and John James but it fails to find the  instances of James John that a plain search finds.

[2021-08-09 22:34] Vino-S commented on #299
@AlOneill
It second one in the list: _vino subbu, veena vino, vino veena subbu, veena smith_
here Veena is First Name and Vino is Surname
Apologies for choosing a confusing example.

I had created the technical help document:
https://docs.google.com/document/d/175ftfCDJ4UoZiKpvSFXWSadP7-1YIc6dar7g4X9kUmw/edit#
Please let me know if any information is needed.

I will fix the above-mentioned snags

[2021-08-10 11:42] AlOneill commented on #299
@Vino-S Thank you!

[2021-08-10 20:24] Vino-S commented on #299
Updated the code as suggested

[2021-08-11 11:20] AlOneill commented on #383
The most obvious problem in describing the partial search options is keeping the terminology consistent for parts of a name. This terminology will need to be explained near the top of the section.

For the purposes of this Help section, I propose that we use use **forename** for everything that is not part of the surname. We then consider the forename as comprising a **given name** plus a **middle

[2021-08-12 10:51] AlOneill commented on #299
The top choices in the select boxes have been changed to "None chosen" and "None" — are these better than the original suggestion of "(none chosen)" and "(none)" ? The choices are retained on using the "Revise Search" button which is great.

The fieldset legends have not been changed — I believe we decided on "Main search options" and "Additional search options".

[2021-08-12 11:22] AlOneill opened #390 "Remove toggle buttons on Cookie Policy page"
This is what part of the page looks like on Firefox:

![FreeBMD_cookie-policy-aug21.png](https://images.zenhubusercontent.com/5ce6b34165b1a70acc0a9124/04f9d07f-f965-494b-875d-5f3724eb15eb)

The only change on hover is that the cursor becomes a pointer. There is no visible change on focus. Neither checkbox has an associated `label` with a `for` attribute.

On selecting the checkbox, it toggles betw

[2021-08-16 10:02] PhilipClarke712 commented on #339
@Vino-S

Sorry for the delay in looking at that this. It is partially fixed, but not entirely.

I used the Fred Agar result(s), above - there is also FREDERICK HUBERT LAMBERT AGAR death in 1984 - and the various Winifred Allen deaths in 1985.

The **Results page** has been fixed, for all these post-1983 entries the - Results pages just give the Year, not the quarter and year as per pre-1984 indexe

[2021-08-16 15:12] Vino-S commented on #314
Following are the changes:
1. Moved the text for County and District to just below the label. Added help text for multi-select
2. Removed tooltips for First Name, Surname, Volume, Page, County, Record Type, Age at Death, Districts, Spouse First Name, and Spouse Surname

[2021-08-16 15:30] Vino-S commented on #313
Fixed name casing issue
_In the details table, why is 'Page' rendered in a different (serif) font from all the other row headings?_
I am not sure why I added serif styling. Removed it
Added  scope="row" to Row Heading
Added accessibility text to Page number link.

[2021-08-16 15:51] Vino-S commented on #299
Updated fieldset on test3

[2021-08-16 16:00] Vino-S commented on #339
Made the changes. Still need to decide the content of info button

[2021-08-16 16:20] richpomfret commented on #313
@AlOneill to test out the latest changes.

[2021-08-16 16:21] richpomfret commented on #345
@PatReynolds to take a look.

[2021-08-16 16:24] richpomfret commented on #339
@Vino-S Need to reorder the table.

[2021-08-16 16:30] richpomfret commented on #134
Deemed to be low importance due to minimum help already present - additional 'full' help still required (perhaps not for beta).

[2021-08-16 16:31] richpomfret commented on #214
@PatReynolds to establish what we have and what can wait.

[2021-08-16 16:42] PatReynolds commented on #304
@PatReynolds to check how this operates on mobiles.

[2021-08-16 16:49] richpomfret commented on #215
@PatReynolds to contact Allan about reporting a data problem (to review whether there is a pathway already for this).

[2021-08-16 16:51] richpomfret commented on #314
@AlOneill to take a look.

[2021-08-16 16:56] richpomfret commented on #383
No snags spotted. To continue with write-up based on the suggested approach.

[2021-08-16 16:59] richpomfret commented on #390
Requires further testing (on other browsers too).

[2021-08-16 17:08] richpomfret commented on #125
@pat to review

[2021-08-16 17:10] richpomfret commented on #357
@PatReynolds to check deaths are now in there.

[2021-08-16 17:11] richpomfret commented on #358
@DeniseColbert to test (scans should now be available) on beta site.

[2021-08-16 18:30] PhilipClarke712 commented on #339
Hi @Vino-S

These latest changes show the desired presentation of **Date** (of the event) on both the Results and Entry Information pages for post-1983 records.

My suggestion for the button, would be: Starting in 1984, the indexes were issued yearly  - instead of quarterly - and they now have an entry showing the month (and year) of Registration of the event (birth, marriage or death).

There may

[2021-08-16 18:46] PhilipClarke712 commented on #215
If / when someone uses the Entry Information page on FreeBMD(1) to report a problem with a transcription that I (and that applies to other transcribers) transcribed, then my Syndicate Leader, I, or someone else, will be made aware that a change has been requested.

Statistics can be found daily at https://www.freebmd.org.uk/cgi/correction-statistics.pl and the correction is managed at https://www.

[2021-08-16 21:57] AlOneill commented on #304
@PatReynolds I have un-linked the second email address so that you can compare the two approaches.

[2021-08-16 23:03] AlOneill commented on #313
Name casing now good except for examples that appear in the Results listing in all-caps, like this: ROBERTA ELIZABETH BRANDIS — these might be addressed as part of the larger review of name-casing #387

'Page' font is fixed. 'scope` attributes good. Thank you.

Cannot see accessibility text on page number link — but it would not help a keyboard-only user **who can see**. And it would annoy a scree

[2021-08-16 23:11] AlOneill commented on #313
Have just noticed a missing space, an unnecessary word and dodgy link-text in "If the scan does not contain the entry you may be able to find the scan yourself by clicking [here(link opens in new tab)]"

Suggest: "If the scan does not contain the entry you might be able to [find the scan yourself (opens in new tab)]".

The words in square brackets are the the link-text, current and suggested.

[2021-08-17 08:27] PatReynolds commented on #313
Thanks @AlOneill The proposed text is great.

[2021-08-17 10:33] PatReynolds commented on #329
Thank you, @Vino-S now works fine, so closing.

[2021-08-17 10:33] #329 closed, assigned to PatReynolds, richpomfret

[2021-08-17 10:43] PatReynolds commented on #381
The drop-down list still does not appear when Death is selected, The 'Select Death Age' is visible, but no selection is possible.
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/67dbe3b2-d721-4315-8553-75f08691567c)

Tested on Chrome.

The dropdown/choices work as expected on an android phone.

[2021-08-17 10:50] PatReynolds commented on #379
Text on first button is currently: Leave Year blank to search the whole year
Suggest: Choose quarter and year for the start of search

Text on second button is currently: Choose quarter and year for the start of search

@DeniseColbert @AlOneill what do you think?

[2021-08-17 10:51] PatReynolds opened #391 "Infobuttons are missing on Test 3"
Infobuttons are there on Test2, but not Test3 (tested on Chrome and Android).

[2021-08-17 10:54] PatReynolds commented on #378
Change is still needed - see detailed description above.

[2021-08-17 11:01] Vino-S commented on #391
Hi @PatReynolds ,
Test2 code has not been updated.
Test3 has the latest code. As we discussed in #314 all the mentioned info-buttons have been removed.

[2021-08-17 11:30] PatReynolds commented on #299
Selecting firstname starts with "ann" produces a middle name of Ann [image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/98952bba-8418-4b65-93a9-398ebfb83340).

The use of 'exact match' is confusing me: this search
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/f33f1509-0700-4870-8a1f-8c91b0825cd9)
produces 2 results, but if the 'exact match' is not

[2021-08-17 11:40] PatReynolds opened #392 "Error when searching by wildcards"
While looking at wildcards, first name restriction and surname restriction, and advanced functions

Testing: Ann C*le, Worksop, Nottinghamshire Death with various date restrictions
I got this error for searches over more years
Proxy Error
The proxy server received an invalid response from an upstream server.
The proxy server could not handle the request

Reason: Error reading from remote server

T

[2021-08-17 12:13] PatReynolds commented on #215
Asked Allan who we should liaise with 17 Aug 2021

[2021-08-17 14:26] AlOneill commented on #314
There is some leftover markup related to tooltips that are not in use (blind tabbing is the result): `search_query_chapman_codes` and `search_query_districts`, also `spouses_mother_surname`, Spouse first name(s) and Spouse surname.

The Spouse first name(s) and Spouse surname inputs have lost their you-are-here styling.

The text below the Districts label says: Select one/more Districts(hold Ctrl

[2021-08-17 14:47] AlOneill commented on #70
This might not be the correct place to report this but the second and third email links say one address but link to another: they say privacy@… but they link to execdir@…

[2021-08-17 16:54] PatReynolds commented on #306
Release notes moved to a new refinery page.  There is no Volunteers Help page to link it to at this point, so it is currently a child of History.

General edit of History undertaken, for review of content.  Review of markup will be needed once content is fixed.

[2021-08-17 16:57] PatReynolds opened #393 "Complete / update Release Notes"
This now exists as a child of History.  Needs editing, updating and markup fixing in due course.

Once Volunteer Help has been created it needs moving to be a child page of VH.

[2021-08-17 16:59] PatReynolds opened #394 "Create Contacts Page (for Volunteers)"
See story for background.

[2021-08-17 17:01] PatReynolds opened #395 "Create section or sub page with contacts for volunteers"
See issue #304 for previous discussion of this topic.

[2021-08-17 17:02] PatReynolds commented on #388
See #304 for further discussion on this topic.

[2021-08-17 17:16] DeniseColbert commented on #148
Image: https://drive.google.com/file/d/12FA3NAo20ka2weduHD9jH5sUgtrOr-PA/view?usp=sharing

![BETA (2)](https://user-images.githubusercontent.com/19173257/129771404-56826f96-a53c-473e-9b2d-ecf170e4c131.png)

[2021-08-17 17:25] PatReynolds commented on #304
On Chrome the 'mail to trustees link' does not engage with Gmail. But the address can be copied and pasted.  I much prefer the 'unlinked' version of presentation of information used at the bottom of the page.

Test on Android showed first type opens up gmail with the correct address.  The bottom of page version of the markup offers a choice of gmail, copy, share or "select all".

Because of increa

[2021-08-17 19:22] AlOneill commented on #304
@PatReynolds

Thank you. I've removed the link for the first email address.

Next I'll make the page sync-ready which will include listing a link to it in 'Related pages' on the About page. Let me know if that is not what you want.

[2021-08-18 08:25] PatReynolds commented on #70
They should go to privacy@ because that goes to both myself and RichardL as a backstop in case I'm not in the office for some time.

[2021-08-18 16:15] PatReynolds commented on #215
Hi @Vino-S - pleaes could you contact Allan and Barrie for details of the system.

[2021-08-19 08:59] PatReynolds commented on #148
Thanks, @DeniseColbert that looks wonderful!!!

[2021-09-06 09:46] PatReynolds commented on #304
Thanks, @AlOneill yes, that's what is needed.

[2021-09-06 11:14] PatReynolds commented on #214
Have reviewed the About FAQ, and highlighted what needs moving or changing.

I have marked those which need to be on the live site as Needed for BETA.

Needs review

[2021-09-06 11:23] PatReynolds opened #396 "Read _A comedy of errors_"
Thanks for the info the books Michael W Foster wrote  on the GRO (A comedy of errors), @PhilipClarke712 - they only seem to be available in print (which I no longer read easily).

[2021-09-06 11:38] PatReynolds commented on #10
All comments good.

@AlOneill can you add Skip-links info and the use of the international "opens on a new page" symbol to the Markup page?

[2021-09-06 12:32] AlOneill commented on #10
@PatReynolds There is no such thing as an 'opens in a new ****' symbol: for instance, Wikipedia uses it to mean only that the link is to an external site. Is that what you want me to add, that there is no such symbol?

As for Skiplinks, our pages do not currently have even the most important one, at the very top of the page. In any case, this would be added automatically, outside of Refinery. (Use

[2021-09-06 12:52] AlOneill commented on #379
@PatReynolds On test3, there are no longer any info buttons for the Date range — not needed.

@Vino-S There is an empty tooltip (with associated `tabindex="0"`) for the District field — it should be removed.

[2021-09-06 13:15] AlOneill commented on #304
@PatReynolds Thanks. Pages — this one and About — now sync-ready.

[2021-09-07 08:32] PatReynolds commented on #10
This is from the Accessibility Proofing Checklist - https://docs.google.com/document/d/1V4BxoDRamp3CW9wTVlzEJOoputqhcFKiaqIqgLX-Gwg/edit#heading=h.fp07a3gdo0gs

![image](https://user-images.githubusercontent.com/6338822/132312198-c42ec534-df52-41f4-88c7-93cc924bea88.png)

[2021-09-07 11:41] AlOneill commented on #10
Comment added re non-existence of the "international symbol" to Accessibility checklist — my original comment re the existence of such a symbol had been deleted.

[2021-09-13 16:08] PatReynolds commented on #381
Pat to check status of pop-ups ?blocked on her computers and phone

[2021-09-13 16:12] PatReynolds commented on #380
Closing because we are no longer using infobuttons

[2021-09-13 16:12] #380 closed, assigned to nobody

[2021-09-13 16:12] PatReynolds commented on #378
Closing because we are no longer using infobuttons

[2021-09-13 16:12] #378 closed, assigned to Vino-S

[2021-09-13 16:17] PatReynolds commented on #339
@AlOneill  can you reduce the length of the infobutton text?  Perhaps with a link to this text (added to the Help page

[2021-09-13 16:19] PatReynolds commented on #298
@Vino-S to explore slow loading - e.g. scan page, loading scans.

[2021-09-13 16:21] PatReynolds commented on #214
@AlOneill @DeniseColbert and @PhilipClarke712 could you feed back on my proposed moves and changes?  Thanks, Pat.

[2021-09-13 16:21] PatReynolds commented on #306
@DeniseColbert and @PhilipClarke712  could you review, please?

[2021-09-13 16:26] PatReynolds commented on #392
@PatReynolds  to write help explaining restrictions (look at FreeBMD1's help) and @Vino-S to look into alternatives.

[2021-09-13 16:30] PatReynolds commented on #130
@PatReynolds to send's Allan's response to @DeniseColbert

[2021-09-13 16:35] PatReynolds commented on #299
@PatReynolds to take another look and clarify what is needed.

[2021-09-13 16:37] PatReynolds commented on #148
@Vino-S please place above the FreeBMD logo - to the left of the advert slot.

[2021-09-13 16:43] #391 closed, assigned to nobody

[2021-09-13 16:46] PatReynolds commented on #344
@PatReynolds to check/close

[2021-09-13 16:48] PatReynolds commented on #343
@Vino-S to take a look

[2021-09-13 16:49] PatReynolds commented on #332
@Vino-S to check

[2021-09-13 16:50] PatReynolds commented on #331
@Vino-S to chec, and feed if need be.

[2021-09-13 16:51] PatReynolds commented on #328
@PatReynolds to check if this is still the case.

[2021-09-13 16:52] PatReynolds commented on #327
@DeniseColbert to take another look

[2021-09-13 16:52] PatReynolds commented on #326
@Vino-S to take a look

[2021-09-13 16:53] PatReynolds commented on #239
Superceded so closing

[2021-09-13 16:53] #239 closed, assigned to KatyMawhood, Daniel-silve1ra

[2021-09-14 12:19] DeniseColbert commented on #358
Scans now available. Thanks Vino!

[2021-09-14 12:34] DeniseColbert commented on #310
Comments made.

This looks like an emailed response to the prospective volunteer's expression of interest. Is that them completing the form on the volunteer page? If so, we may need to modify the form (remove "Syndicates Available"?) Also, if they complete the form and then sign up via BMD1, are we able to attach their TA answer to their account?

[2021-09-14 13:30] DeniseColbert commented on #130
The 'Report an Error' page covers this. Closing

[2021-09-14 13:30] #130 closed

[2021-09-16 15:43] DeniseColbert commented on #215
I'll create a new story for page issues, as I don't want to derail this thread

[2021-09-16 17:42] DeniseColbert opened #397 "Report a Data Problem - page layout"
Suggested changes to layout

![Data Problem Report page-page-001.jpg](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/4d8032d2-25f2-4d07-bd68-bea53f7a0384)

[2021-09-16 17:43] DeniseColbert opened #398 "Report a Data Problem- Answers snag list"
I will populate this when layout story is complete, as there may be some overlap

[2021-09-16 17:45] DeniseColbert commented on #10
Not sure what happened to your comment @AlOneill , but yes, this needs removing from the checklist

[2021-09-16 17:48] DeniseColbert commented on #327
I still think this is a viable option for gathering feedback. I could design some instructions for reporting issues using Contact Us --> Website problem and then we can easily convert them to GitHub issues

[2021-09-24 15:20] PatReynolds commented on #345
That's perfect, thanks, @Vino (tested on test3)

[2021-09-24 15:29] PatReynolds commented on #381
Works fine now on Chrome.  Cannot test on phone because google refuses to redicret to url, and instead just searches ....

[2021-09-24 15:50] PatReynolds commented on #299
Anne does NOT find Ann or Anna or Annie.

Ticking "exact match on first names" excludes those entries for Anne with a middle name/initial.
Not ticking "exact match on first names" excludes variant spellings, but does include identical spellings also with middle names.  However .... a search for Ann finds Anne, Annie, etc.

Works the same on FreeBMD1 and FreeBMD2.

Joe finds Joe and Joel, but does

[2021-09-24 16:02] PatReynolds opened #399 "Improve searching of first names"
Story #299 shows that there are some (to my mind) illogicalities in how FreeBMD modifies searching by first name, viz

Normally all searches are for 'names beginning with', but ticking 'exact search only' only serves the characters as typed - and this excludes middle initials/names.

Suggested improvements:
a/ implement 'exact first name' which only applies to first name i.e. "Ann" finds "Ann Mary

[2021-09-24 16:20] PatReynolds commented on #392
There is noting in FreeBMD1 suggesting that this restriction happens.

Interestingly, FreeBMD1 wildcard works like this: An*e finds Anne, Annie, Annett, AND Ann Jane, Ann Amelia .... and An.b finds Ann Lamb, Annie Bickford, and Anrabella  So wildcard means "starts with lettrs before the * and has the letters after the * somewhere later in the first or middle names.  But FreeBMD wildcard An*b means

[2021-09-25 11:21] PatReynolds commented on #287
Wrote to Allan and Barrie 25 Sep 2021, but realise that this is about reporting errors on scans, not missing scans (the subject of this issue).

[2021-09-25 13:51] PatReynolds commented on #268
Suggest: have a  dropdown for sort by date/district/first name/lastname/ (in that order).
Place sort dropdown before filter and show dropdowns ('show' dropdown can be much narrower than it is currently, to gain some space.

[2021-09-25 14:07] DeniseColbert commented on #134
From a copy of this page, strip out all references/links to any pages not yet made. Once that is done, we can then assess if there is a better way to organise the information. Update the page to include links as pages are created.

[2021-09-25 14:32] DeniseColbert opened #400 "Late entry / entries links not working"
The link highlighted doesn't work for either of the linked entries for this individual

![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/f27d7474-9ddd-448a-8d1f-c9ee52b27eef)

[2021-09-25 14:33] DeniseColbert opened #401 "Change "View Reference Record" (late entries) to View Linked Record"
Change the language in the link

![image](https://user-images.githubusercontent.com/19173257/134775128-13fb5b6d-609d-409d-88a0-8688e897620c.png)

[2021-09-25 15:39] PhilipClarke712 commented on #134
I think there is a clash of terminology here.
We don't put References / links to pages not yet done, nor signed off.
We indicate them using a outline link such as **[obtain a certificate from the GRO](Ordering Certificates)** or **[you can find out more on an our .......  page](non-existent page)** .

They are written in such as way that if the text inside the square brackets [ ] is removed and ju

[2021-09-25 15:58] AlOneill commented on #134
@PhilipClarke712 No worries — we know what we mean, even if not expressed accurately :-)

Page copied and editing for MVP underway, offline.

[2021-09-25 16:28] PhilipClarke712 commented on #214
Hi @PatReynolds,

This is a very old draft page which predates even the first draft of Alison's, _Marking up pages in Refinery,_ so it has "live links", such as numerous **"here"**,  to non-existent pages; and it uses a mixture of active and passive verbs. Anything done in the last twelve months should being using mark-up links; but, some work has been done on it as it sports a FreeBMD2-style side

[2021-09-25 17:01] PhilipClarke712 commented on #306
Hi @PatReynolds ,

Can I clarify what I should be doing for this story, is it just reviewing the content of both History and Release Notes "as currently written" on Test3?

There are things that I remember (perhaps, half-remember or mis-remember) from using FreeBMD for almost two decades and transcribing for over one decade, which could be added. So I could produce a draft list now of what I think

[2021-09-27 16:20] richpomfret commented on #219
@DeniseColbert had issue with menu not functioning correctly when testing (test3) on her Samsung device.

[2021-09-27 16:24] richpomfret commented on #298
@DeniseColbert to make story about any site performance issues or bugs in terms of slow loading. This story now to be closed as we have the beta site up and running.

[2021-09-27 16:24] #298 closed, assigned to lemon-ukgen, richpomfret, Vino-S

[2021-09-27 16:25] DeniseColbert opened #402 "Beta loading/slowness issues"
- Clicking "View" button in search result table is slow to load
- Clicking "View" Scan button is also slow to load

[2021-09-27 16:32] PatReynolds opened #403 "Enhance News and History"
Add a menue to News and History

[2021-09-27 16:38] richpomfret commented on #310
Next step is to move this onto Refinery.

[2021-09-27 16:42] richpomfret commented on #364
@Vino-S to implement/comment and deploy the code to beta (full db).

[2021-09-27 16:43] AlOneill opened #404 "Search Results page still using REG-appropriate wording for "no results found""
The first para is fine. The following two need editing:

"Alternatively you were searching for entries that simply do not exist in our database because: We have yet to transcribe the registers; there are gaps in the registers or they no longer exist; the transcriptions are subject to an embargo on their publication; we do not have the financial resources to purchase the registers; or Record Office

[2021-09-27 16:44] richpomfret commented on #364
Suggestion of tool-tip to help with months/quarters (new story created for this).

[2021-09-27 16:44] DeniseColbert opened #405 "Potential tooltip for month field to highlight Quarters"

[2021-09-27 16:48] richpomfret commented on #215
@Vino-S to now hook this up.

[2021-09-27 16:59] richpomfret commented on #404
@DeniseColbert to write appropriate copy/text for @Vino-S to then update.

[2021-09-27 17:04] richpomfret commented on #400
@DeniseColbert to test on beta.

[2021-09-27 17:07] richpomfret commented on #400
Not working on beta.

[2021-09-27 17:11] richpomfret commented on #397
@PatReynolds to review.

[2021-09-27 17:11] DeniseColbert commented on #400
https://beta.freebmd.org.uk/6151fa0a9c5d6164f04f1d40/entry-information/220087264/janet-henry-birth-hampshire-southampton-v6b-psee-j-60?locale=en

(Janet Henry; birth; Southampton; 1958-1960)

[2021-09-27 20:05] PhilipClarke712 commented on #387
Hi @PatReynolds

I suggest, from the title of this story, that you have self-assigned an investigation into the wrong question.

The question should be: "**does FreeBMD2 normalise the case of the name-data it pulls off the data-base**"; and that is a system design question. Not that I have ever seen the data-base - so this one might bite me.

I strongly hold the oppinion that FreeBMD(1) does not n

[2021-09-28 09:05] Vino-S commented on #402
Hi @DeniseColbert ,
I am fixing the reference entry, I noticed the slowness issue in the Entries with reference records.
Could you confirm it, please? Please also let me know if it's still slow with records that do not have a reference entry.

[2021-09-28 09:51] PatReynolds commented on #387
@AlOneill or @DeniseColbert can you remember what this task was about - I think it arose from an error introduced by formating in FreeBMD2 (Emily daisy DENT where FreeBMD1 has Emily Daisy DENT).

[2021-09-28 10:12] DeniseColbert commented on #404
@AlOneill I've updated the doc we've looked at previously (and written improved CEN & REG text for), for FreeBMD2. It needs some work; I've added it to the list of docs for us to look at in our Documentation meet this Friday.

https://docs.google.com/document/d/1n58RWUVyqGe1pBf6YC7KAFkAdKE90m4hFJ60vBkWmZs/edit?usp=sharing

[2021-09-28 10:53] PatReynolds commented on #214
I have noted what needs moving and updating - that's what needs reviewing, the updates haven't happened yet.

Pat still working on the FAQ moved to https://test3.freebmd.org.uk/cms/about/news-and-history and https://test3.freebmd.org.uk/cms/about

[2021-09-28 11:58] DeniseColbert commented on #402
Still slow with records that have no reference (linked) entry, and also still slow with records that do have a linked entry.

Maybe a _little bit_ faster, but still not great.

[2021-09-28 12:29] PhilipClarke712 commented on #214
Thanks Pat.

Yes, we are both talking about the same page -  https://test3.freebmd.org.uk/cms/about/draft-frequently-asked-questions-about-freebmd-w-i-p .

My question is really about what is intended to happen to this page:
(1) is it intended to move it forward to a page that is "broadly comparable" to what it is, so I update what needs updating and send the whole page for review;

or (2) or is t

[2021-09-28 15:55] DeniseColbert opened #406 "Split Data Problem options into groups"
The list is long:

![image](https://user-images.githubusercontent.com/19173257/135122299-4d75829f-7637-43c6-8f45-b3d1617e0330.png)

Can these be separated with the headings from the spreadsheet? i.e:

![image](https://user-images.githubusercontent.com/19173257/135122569-f41f71a2-10df-4644-86ff-6ad807ea6b74.png)

(From https://docs.google.com/spreadsheets/d/1VQt3Fjl1y2eixHsPQVp2gSZ0VEVPZ4xYsisbkLiZ

[2021-09-29 13:27] AlOneill commented on #339
Could someone please clarify where this info-button will go? Are we talking Search form or Results table or Entry Information?

Also, I do not know how we would make a link in an info-button (tooltip) accessible to a sighted keyboard-only user.

[2021-09-29 13:59] PhilipClarke712 commented on #339
@AlOneill

1. Going back to the **Frederick H L Agar** death search I mentioned above . If I search over the whole of 1984 & 1985 on test3. I get one Hit: the Results page dates the event to 1984; as does the Entry Information Page. The latter has as **Year** line  with the value 1984 and a **Registered** line with the value 02.84.

If I did not know what "Registered" meant - it would help my unde

[2021-10-01 17:41] AlOneill commented on #339
I agree that the **Entry Information page** would be the best location. The hint needs to be in plain sight: we have not got `.tooltip` to work well in a table.

So, I suggest a strap-line in the *Registered* cell, something along the lines of one of these (any link text in bold):
1. For more information, see **details of months and quarters**
2. From 1984, the Index was put together yearly, by mo

[2021-10-01 19:02] PhilipClarke712 commented on #339
Yes, I would agree with most of that, however it is only post-1983 Entry Info pages that have the Registered cell; and the Year cell is either Qtr and year or just year, depending on the time-frame.

(1) If my Entry Info Page refers to a pre-1984 result then the Year box will state: December 1912, June 1914, etc. and we need to inform the user, **somewhere**, that those results mean (4th Qtr 1912,

[2021-10-02 12:34] PatReynolds opened #407 "Volunteering page epic"
Issues depend on FreeBMD team's requirements
e..g
 -[ ] highlight second transcription
 - [  ] tickybox for 'I will do second transcription' filters to syndicates doing second transcription',
 - [ ] not ticking tickybox filters to first-transcription only syndicates

?expertise filtering

[2021-10-02 12:45] DeniseColbert opened #408 "502 Proxy error"
On both Beta and Test 3 (Saturday 2nd October 21)

![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/5c197e25-6289-440d-a0bf-e612587042d8)

Is this the same issue that you faced on Friday 1st October @Vino-S ?

[2021-10-02 12:54] PatReynolds opened #409 "Improve handling of Registration date field (especially 1984< )"
- [ ] Results page:

Present date of registration as type: month year, e.g.

September 1880
August 1984

--------------

 - [ ] Details page:
    - [ ] Earlier registrations: rename Year to Registered
    - [ ] Earlier registrations:  present data in format  March quarter 1880
    - [ ] Later registrations:  delete Year from page, move Registered to its position
    - [ ] Later  registrations:  pr

[2021-10-02 12:56] DeniseColbert commented on #339
New story #409 to discuss display of Registration field

[2021-10-02 14:05] Vino-S commented on #408
Hi @DeniseColbert ,
Yes, I got the same error yesterday.
I think the server is re-started but I am not sure

[2021-10-02 20:25] AlOneill commented on #409
On the Entry Information page, for events before 1984, we have one row for the date, headed ?? (server cannot show page at present), shown as *Quarter Year*. For events after 1983, one row shows the year and another row further down shows the month and year in the format *mn.op*, e.g. 08.85

On the Results page, the date is shown as *Quarter year* before 1984 and as *Year* from 1984 onwards.

It w

[2021-10-03 20:02] PhilipClarke712 commented on #409
I'm going to step back a stage.

I don't really know anything about the internals of the database: but from the start of registration in the second half of 1837 up to the end of 1984 we had quarterly indexes.

So, one of my transcript files (say) might be a CSV file of the name \prclarke\1883D1G00129 (which does exist). It would have lists of entries and from that and other such files the database

[2021-10-04 14:17] AlOneill commented on #409
On the Entry Information page, we could make the row heading either "**Quarter and year**" (pre-1984) or "**Month and year**", as appropriate. No ambiguity.

[2021-10-04 14:40] PhilipClarke712 commented on #409
That is probably the easiest way of dealing with the display differences between pre-1984 and post-1983 records on the individual Entry Information pages. It also means we negate the need for a tooltip explanation.

We could, if I was say searching for living people (and also those who died in living memory) have pre- and post- people on the same Results page.

Presumably, if I was looking for Fre

[2021-10-04 15:33] AlOneill commented on #409
For the Results page, it is a little less obvious what to put if we want maximum transparency. We would be trying to squeeze a quart into a pint pot! (Pun intended.) However, if *qtr* is widely understood as an abbreviation for _quarter_, then we could show the date part as either "**June qtr 1982**" or "**June 1984**", as appropriate.

[2021-10-04 16:16] PhilipClarke712 commented on #409
I was more interested in the post 1983 results, Fred Smith June 1982 in Birmingham South, versus Fred Smith June 1982 in West Bromwich might be all I need. Post-1983 indexes are annual so they are four times bigger in terms of the data set (and that does not take population growth & migration into account).

I did a blanket search on test3 for "Smith", between Dec 1983 and March 1985 and I got onl

[2021-10-05 15:50] AlOneill commented on #387
@PatReynolds We noted in the Scrum that there is no consistency in the presentation of names wrt casing and Philip confirms that this is the result of inconsistency in the GRO Index itself, the instructions to transcribe 'as is' and syndicate instructions that might or might not over-rule the original instructions!

Whilst the wish to transcribe exactly 'as is' is understandable, do we need to be

[2021-10-05 17:12] PhilipClarke712 commented on #387
@AlOneill ,

It's a lot more nuanced than that, there is GRO consistency based on the technology employed at the time, but it changes over time: Handwritten, Printed (Typeset) up to I suspect WW I , Typed, up to I suspect 1950s, and then to computer generated. An otherwise consistent page, may have Later Entries that are inconsistent. Any given year or period should be consistent on the basis of T

[2021-10-10 11:34] #381 closed, assigned to PatReynolds

[2021-10-10 11:34] #358 closed, assigned to DeniseColbert

[2021-10-10 11:34] #299 closed, assigned to PatReynolds, AlOneill, Vino-S, PhilipClarke712

[2021-10-10 11:34] #304 closed, assigned to AlOneill

[2021-10-10 11:34] #345 closed, assigned to PatReynolds, Vino-S

[2021-10-10 11:34] #325 closed, assigned to nobody

[2021-10-10 11:35] #347 closed, assigned to AlOneill

[2021-10-11 11:37] PatReynolds commented on #214
Everything is now marked as to whethr it is needed for Beta or not, and whether it still needs revision.

[2021-10-11 12:09] PatReynolds commented on #310
Some thoughts here - for discussion in Scrum https://drive.google.com/drive/folders/1b5-6aor-79IzOpAPe20Qf3wddQAnzJoX?usp=sharing

[2021-10-11 13:23] #332 closed, assigned to Vino-S

[2021-10-11 16:14] richpomfret commented on #148
Tested during the meeting - looks good - IF it is a quick change, could we move it along a bit to the right so top-left corner is in-line with the F in the logo. @Denise to add in mock-up.

[2021-10-11 16:19] richpomfret commented on #402
@Vino-S has this now been fixed?

[2021-10-11 16:23] PatReynolds commented on #214
@PatReynolds to re-write where needed for beta, and delete the non-beta (will make new story for post-beta)

[2021-10-11 16:24] PatReynolds opened #410 "Update About Faq (part 1)"
- [ ]  Edit those with the  'needed for BETA' and 'needing work' tag
 - [ ] remove other faq 'not needed for Beta' and 'needing work' from this version
 - [ ] readability / accessibility check on this version

[2021-10-11 16:27] DeniseColbert commented on #148
![sandbox](https://user-images.githubusercontent.com/19173257/136823994-f463dff2-e548-4162-b00a-31dd18924795.png)

I think perhaps it's better to have the bottom-left corner is in line with the F of the logo

[2021-10-11 16:27] richpomfret commented on #310
We took a look at this in the meeting, but would like @Vino-S to also read through and comment where applicable.

[2021-10-11 16:41] richpomfret commented on #379
Duplicate story - closing.

[2021-10-11 16:41] #379 closed, assigned to Vino-S

[2021-10-11 16:43] richpomfret commented on #364
Complete (or other stories to cover these). Closing.

[2021-10-11 16:43] #364 closed, assigned to DeniseColbert, Vino-S

[2021-10-11 16:49] richpomfret commented on #313
Moved onto test3 for testing.

[2021-10-11 16:51] richpomfret commented on #383
Is this one for @PhilipClarke712 to continue with?

[2021-10-11 16:53] PatReynolds opened #411 "Update About Faq (part 2)"
Remianining tasks

[2021-10-11 16:57] richpomfret commented on #408
Fixed.

[2021-10-11 16:57] #408 closed, assigned to nobody

[2021-10-11 17:02] richpomfret commented on #398
@DeniseColbert to add snags.

[2021-10-11 17:13] #407 closed, assigned to nobody

[2021-10-14 13:28] AlOneill commented on #383
It is not ready to be handed on, yet. It's on my laptop, written in MarkDown. Some bits remain to be translated from developer-speak into something more suitable for users.

[2021-10-15 11:32] PatReynolds commented on #10
Skipping adverts is most important: @PatReynolds to ask webaim for advice/examples of websites displaying adverts that use skiplinks approrpritely.

Skipping the menu is of lesser importance

[2021-10-15 11:34] DeniseColbert commented on #10
@PatReynolds to ask WebAIM for examples of websites that have ads and use skip-links

[2021-10-21 12:40] PatReynolds commented on #344
Now counties are split, working on Beta as expected, so closing

[2021-10-21 12:40] #344 closed, assigned to PatReynolds

[2021-10-25 12:18] PatReynolds commented on #214
DRAFT  Frequently Asked Questions About FreeBMD for BETA created.  There is work to be done on this, so moving back to in progress.

DRAFT Frequently Asked Questions About FreeBMD (w-i-p) remains for future development

[2021-10-25 15:24] Vino-S commented on #215
Implementation of a form will be required in my opinion.
The form fields will be similar to that of the search form. The form fields will require validations for example Mother's name start quarter.

[2021-10-25 15:44] Vino-S commented on #314
ready for testing in test2

[2021-10-25 15:55] richpomfret commented on #219
Issue also replicated on LG handset.
![Capture+_2021-10-25-16-52-01](https://user-images.githubusercontent.com/22348254/138729339-621414a7-e30e-4a98-bf89-2188902a0cd2.png)

[2021-10-25 15:58] richpomfret commented on #219
@Vino-S note the small 'beta' logo also. Had a slightly different issue on ipad where the hamburger icon appeared but the options then appeared to the right and top options not visible/appears buggy if functional.

[2021-10-25 16:10] richpomfret commented on #148
@Vino-S to update.

[2021-10-25 16:11] richpomfret commented on #313
@AlOneill please take a look and give it a test if you get a chance.

[2021-10-25 16:17] #402 closed, assigned to Vino-S

[2021-10-25 16:18] richpomfret commented on #314
@AlOneill can you take a look?

[2021-10-25 16:18] PhilipClarke712 commented on #215
Or possibly two forms, depending on the request:
(1) if an entry is missing then every applicable field (see below) will need to be inputted into a blank form;
(2) but, if only one or two fields are wrong (say a typo in a Registration District), as I potential user I might like to have two forms side-by-side, one showing the current data and then other form being the one where I make a correction

[2021-10-25 16:20] richpomfret commented on #129
@DeniseColbert to check if this story is still needed or not.

[2021-10-25 16:26] PatReynolds commented on #215
@PhilipClarke712 are you saying that if I enter "The mother's surname is wrong! This is me, and my mother was Susan Jones!!!!" the system will automatically say "The entry is Smith or Jones, and can be found as you can see in the image, and can be found by searching for both Smith and Jones, so no correction is needed".

[2021-10-25 16:29] PatReynolds commented on #306
Hi Phillip, please add anything you think will be of interest.  This includes technical milestone - the 'how tos' for Transcribers, you are right, are not for this page (or FreeBMD2) at this point.

[2021-10-25 16:30] richpomfret commented on #310
Good to go. Moving to be deployed.

[2021-10-25 16:39] richpomfret commented on #339
Is this story still needed? Or has it been replaced by the new story Denise created? @AlOneill it would be fantastic to get your input.

[2021-10-25 16:41] richpomfret commented on #339
@PhilipClarke712 would be good to have your input too in terms of actions for this particular story.

[2021-10-25 16:48] richpomfret commented on #328
Now fixed.

[2021-10-25 16:48] #328 closed, assigned to PatReynolds

[2021-10-25 16:52] PatReynolds commented on #326
Takes you back to search form, but the form is blank.

[2021-10-25 16:54] PhilipClarke712 commented on #215
@PatReynolds

This is the problem with words and understanding.

The answer to the precise example you gave above, the statement: "The mother's surname is wrong! This is me, and my mother was Susan Jones!!!!"  is --- **so what** we only provide what is in the GRO Index. We are not going to changing it on your say so - Of course there is a much more polite way of putting that. That can be found on

[2021-10-25 16:56] richpomfret commented on #327
Discussed in our scrum. To investigate if GH offer any quick/easy tools for feedback/ability for users to create stories we can then review.

[2021-10-25 16:58] richpomfret commented on #326
Fixed. Closing.

[2021-10-25 16:58] #326 closed, assigned to nobody

[2021-10-25 17:00] PhilipClarke712 commented on #306
One of the syndicates that I transcribe for FreeBMD passed their (our) 100-million records this year (it was during Covid-19 lockdown) . Its probably the biggest syndicate, by number of transcribers (current & former).

FreeBMD currently has almost 374.5 million records. I'd call that noteworthy.

[2021-10-25 17:27] PhilipClarke712 commented on #215
@PatReynolds
I think this leads on to the big of question of how does the **change get made**?
If this was FreeBMD(1), anyone asking for such a change would need to fill in a form (a different form to what is on FreeBMD2) and that change request will go (by a path unknown to me) to the transcriber of the entry, the syndicate of the that transcriber, or someone else (a live person). We (a live pers

[2021-10-26 00:15] geoffj-FUG commented on #215
Pat

I know nothing about FreeBMD but looking at this simplistically I see an issue:

If I say my mothers name was Sally Jones  am I sure about that or does it come under heresay?

If a child was born out of wedlock to a married mother the child would be registered under the mother’s married name. The child may however be known in the community under the father’s name. If the mother and father are

[2021-10-26 06:41] PhilipClarke712 commented on #215
@PatReynolds, @geoffj-FUG

My response that generated the "heat" was to the comment from Vino-S about verifying the data that person wanting a request has to put on the form in order  for the system to accept the form. Vino-S specifically referred to the Mother's name and the GRO Indexes do not provide that data before the second half of 1911 - so we can't have people asking us to add data that is

[2021-10-26 06:49] geoffj-FUG commented on #215
Philip

My comment was not intended as ‘heat’. I was being the devil’s advocate.

I agree with you that the GRO record should not be amended. I was simply outlining a scenario where a person may have an issue with the entry and was simply asking ‘ís it checked’? In the example case it is up to us to go back and say, you should consult all the birth certificates.

I apologise if my comment was take

[2021-10-26 08:55] PatReynolds commented on #215
Thanks for your useful input on this Philip and Geoff.

It seems on FreeBMD1 the system is set up to only take the facts of the change required (eg replace Jones with Smith) but no space for justification.

For Phase 3, the corrections system just needs to replicate the action of the form on FreeBMD1, but the system can be enhanced in Phase 5+.

[2021-10-26 14:06] PhilipClarke712 commented on #215
To shed some light on this topic, I opened a change request on Edith Daisy Dent, on FreeBMD(1), printed it to Pdf and exited without submitting it. I know from long experience, that if  the form is not filled in correctly, the system will not accept it. There may a log file that records this failed attempt of mine, but I don't have any knowledge of this aspect.

Its a Perl programme that, as a use

[2021-10-27 08:03] PhilipClarke712 commented on #215
@PatReynolds ,

I don't know what is intended for FreeBMD(2) Phase 5+, but the system in operation in FreeBMD(1) does not appear in my view to be fully implemented in respect of communications to 'correctors' of pending requests nor give user feedback on "closed" requests:
(1) As a researcher, when I submit a data-change request, if I tick the box, I receive an email that my request has gone in an

[2021-10-28 09:24] PatReynolds commented on #110
@PatReynolds to check with team desired path for technical volunteers on FreeBMD.

[2021-10-28 11:30] PhilipClarke712 commented on #214
I am doing a bit of cleaning up on the Beta version of these two draft pages with the aim of sending it for review quite soon. Note: I'm not available at all this coming weekend (30th / 31st Oct), so it may not be ready for sending forward until early in November.

There are multiple calls to the draft Postem page, which is no-where near being ready for review, even in a cut-down Beta draft versio

[2021-10-28 12:11] AlOneill commented on #314
@Vino-S There are still a couple of empty tabs: between Page input and Counties input and again between Counties input and Districts input.

If I select say Births and then select Deaths as the record type, I'm unable to tab into "Age at death" input, neither can I click into it. It works OK if I select Deaths initially, but otherwise the `disabled=""` gets left behind!

[2021-10-28 12:41] AlOneill commented on #314
@Vino-S The label "Mothers surname" should be "Mother's surname" or possibly "Mother surname" which would match "Spouse first name(s)".

Similarly "Spouses surname" should be either "Spouse's surname" or "Spouse surname".

The style of the label text should be consistent across all fields and as the placeholders use apostrophes, I suggest the other labels be adjusted to match the placeholder text.

[2021-10-28 13:14] AlOneill commented on #313
@Vino-S Most of the changes are good, thank you. However, a _sighted_ keyboard-only user will not see the meaning of the three icons (two icons for those not logged in, which is what we have to fix for a researcher) in "More information". I do not have a good suggestion for how to fix these, but will think on.

When the extra info appears after selecting the Postem icon or the scan icon, it is unc

[2021-10-28 17:35] AlOneill commented on #313
@Vino-S My thoughts have cleared: the styling that is applied to the icons on `:hover` needs to be extended to `:focus` so that a sighted keyboard-only user will see the same information that becomes visible on `:hover`.

[2021-10-29 11:31] PatReynolds commented on #409
Remaining actions:

- [x] Answer Philip's question " why do post 1983 hits make use of all twelve months of the year, whereas pre-1984 hits only make use of four months." (Is this true on Beta) - and resolve.
- [x] The date is always present  as Quarter year before 1984 and as Month and Year from 1984 onwards e.g March quarter 1840 or March qtr 1840 August 1987  (if qtr is widely understood) .
- [

[2021-10-29 11:45] PatReynolds commented on #339
Action points now covered as story #409, so closing.

[2021-10-29 11:58] #339 closed, assigned to AlOneill, PhilipClarke712

[2021-10-29 12:13] PatReynolds commented on #313
@Vino-S could you take a look at this? Thanks, Pat

[2021-10-29 13:36] PhilipClarke712 commented on #409
Considering the first action: there is a discontinuity of presentation in the GRO Indexes: before the discontinuity indexes were quarterly (well year and quarter to be precise), after the discontinuity indexes they were annual and there was a new field added - month of registration. This discontinuity has implications for the FreeBMD database - which I don't understand - and also on how we display

[2021-10-29 20:10] Vino-S commented on #327
Hi @DeniseColbert ,
We have a Report a Problem for website feedback, however it's only available for our members.
Would you like it to be available for non-members just for beta testing? It might need some tweaking?

[2021-11-03 07:20] PhilipClarke712 commented on #214
Hi @PatReynolds

This page has (and will have) the link to https://www.freebmd.org.uk/vol_faq.html because that was what was specified above, but I would question whether is it relevant to a Researcher?

As a transcriber, I like to think I know that page 'off by heart' - there are bits that I seldom use and thus forget - but I don't make use of it as a transcriber. However, that page does have the

[2021-11-05 12:31] DeniseColbert opened #412 "Text in search form is truncated on default settings"
![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/2cb0b00c-8fe0-41fb-9a0a-facc040e0705)

[2021-11-05 12:35] DeniseColbert opened #413 "Sorting search results by date"
Currently, clicking the Individual column header sorts alphabetically by name and then by date. Is it possible to add a sort by date toggle?

[2021-11-05 13:19] DeniseColbert opened #414 "Improve More Information row"
The current hover state for each icon should be the default, and hover indicated by (for example) the dashed line appearing, ideally being fully visible as opposed to the top being missing per current state.

Example, for discussion:

![BMD2](https://user-images.githubusercontent.com/19173257/140520179-0d89f5d2-438f-449e-bd0e-d442fb83b160.png)

[2021-11-05 13:20] PatReynolds opened #415 "Entry Details page"
Add text below the table in the Entry Information Page:.

Suggested text:
Do you need help with this?  There is information about quarters, districts, and how to find the partner in a marriage in the Help section. Use the link in the menu at the top of the page.

[2021-11-05 14:33] AlOneill commented on #415
@PatReynolds Where to find that information is missing — should there be a link to "Help", that would need to open in a new tab in order to make returning to results straightforward, or simply advice to look in "Help"?

[2021-11-08 17:12] richpomfret commented on #400
@DeniseColbert to test on beta.

[2021-11-08 17:18] richpomfret commented on #129
Agreed plan to review the linked document - decide what/any stories may arise from the comments.

[2021-11-08 17:21] richpomfret commented on #215
@PatReynolds to ask Allan about where the 'ticket' should go.

[2021-11-08 17:27] PatReynolds commented on #409
Hi Philip, for clarification, do you thnk we should go with March quarter 1880,  or JanFebMar 1880 ? (or variants of one or the other, e.g. Jan/Feb/Mar  short or long version of month name?

[2021-11-08 17:28] PatReynolds commented on #392
There is noting in FreeBMD1 suggesting that this restriction happens.

Interestingly, FreeBMD1 wildcard works like this: An*e finds Anne, Annie, Annett, AND Ann Jane, Ann Amelia .... and An.b finds Ann Lamb, Annie Bickford, and Anrabella  So wildcard means "starts with lettrs before the * and has the letters after the * somewhere later in the first or middle names.  But FreeBMD wildcard An*b means

[2021-11-08 17:47] richpomfret commented on #413
@Vino-S can you check to see if this is possible/sorting by date?

[2021-11-08 17:52] PatReynolds commented on #268
Functionality to be discussed by Pat/Denise/Alison at next documentation meeting

[2021-11-08 17:53] richpomfret commented on #413
Duplicate

[2021-11-08 17:53] #413 closed, assigned to Vino-S

[2021-11-08 18:20] PhilipClarke712 commented on #409
Hi Pat, That's not a an easy question to answer in a short way.
I would tend to write things down as 1st Qtr. 1905, 2nd Qtr. 1906, etc. and that leads to questions what's a Qtr, what's a 1st, 2nd, etc?. I've just done a search for someone I knew on the GRO Index, limited to a single year and the 'dates' came out as  1925 D quarter, 1925 S quarter, etc, so if we used that form the questions are wha

[2021-11-09 11:33] PatReynolds opened #416 "Add geographic information to Records page"
- [ ] Add county/counties that it contained
 - [ ] Geolocate and add map feature

[2021-11-09 12:00] DeniseColbert commented on #306
I checked test3: https://test3.freebmd.org.uk/cms/about/news-and-history but there's yellow highlighted text so I'm not sure if it is proof-ready. FWIW, some edits are suggested here: https://docs.google.com/document/d/1TlmWRfl30F1uUE2AgMh1gH6DWQwRBP82rguNdSF3_TA/edit?usp=sharing

[2021-11-09 12:04] DeniseColbert commented on #400
Working as expected. Thanks Vino :)

[2021-11-09 12:33] PatReynolds commented on #392
FreeBMD1: ![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/cccecd07-ed8c-4056-8c45-acd3b0a3ff35)
Result = 86
Test3, FreeBMD2: ![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/24cf4343-4e9a-456a-b2e8-503665f410ca)

FreeBMD1: ![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/a23c03c2-d29f-428b-94f6-91491e5effe1)
and
Test3,

[2021-11-09 12:34] PatReynolds opened #417 "Search names feature"
On FreeBMD1: https://www.freebmd.org.uk/cgi/search-names.pl

[2021-11-09 13:02] PatReynolds opened #418 "Improve help for First name wildcard searching"
First name wildcard searching (*) works identically on FreeBMD1 and test 3 FreeBMD2, but in a suprising way.

e.g a search Sa*l Clarke, Nottinghamshire baptism to Dec 1850 returns a lot of 'Samuel' as a first name, and some like Sarah Purcell CLARKE who also meet the criteria where a wildcard means 'any number of characters here'.

However, it also returns Sarah Milward and Sarah Ellen - so appear

[2021-11-09 13:03] AlOneill commented on #409
I like @PhilipClarke712's suggestion of Jan to Mar, Apr to Jun, etc. It would be equally clear to someone reading the result or hearing it.

[2021-11-09 13:32] PhilipClarke712 commented on #306
Hi @DeniseColbert @AlOneill

I've not done any work on it so far, in terms of additions / edits, I'm working on another page  - on FAQ's -  https://test3.freebmd.org.uk/cms/about/draft-about-frequently-asked-questions-for-beta .

One possibility is to **send the page as it is** - but with the highlighted comments removed - for proofing for as a Beta version; and make another copy to work on in "sl

[2021-11-09 15:38] AlOneill commented on #306
@PhilipClarke712 I've just had a quick look in a browser: the page has some dodgy spacing towards the bottom — do you have time to fix the spacing or would you like me to investigate and put right?

Also spotted a couple of typos.

I have no opinion on the content per se — I'll leave that to folks who know the project details — but have just received access to the Google doc mentioned by @DeniseCo

[2021-11-09 16:20] PhilipClarke712 commented on #306
@AlOneill  I have access to the Google drive, but that particular file is not 'shared with me' - so I would need to request access before I can comment on what is in it.

 I've got the News page open in html mode and there are two **Here** hyperlinks and quite a few paragraphs without p-tags, some br-tags  all minor stuff. I could even pick up the Nick Barratt material and move it - but that might

[2021-11-09 16:30] AlOneill commented on #306
@PhilipClarke712 The order in which you refer the pages does not matter to me (although it might to others), but let's keep the referrals in their correct stories. Thanks.

[2021-11-09 17:29] PhilipClarke712 commented on #306
I have made a copy, to be found at https://test3.freebmd.org.uk/cms/about/draft-news-and-history-for-beta . That is the version that I will be working on. At the moment that is just cleaning up the html, adding a side navigation panel, fixing hyperlinks and spell checking.

I don't have shared access to the file on google, referred to by Denise, and I've not yet clicked on the button to request ac

[2021-11-09 17:33] PatReynolds commented on #409
Thanks, @PhilipClarke712 I too like Jan to Mar 1881 as the format for the "quarters" years.

[2021-11-10 11:10] PatReynolds commented on #129
New created - moving to on ice until ready for review

[2021-11-10 11:11] PatReynolds opened #419 "Create 'no results found' page"
Text is at: https://docs.google.com/document/d/1n58RWUVyqGe1pBf6YC7KAFkAdKE90m4hFJ60vBkWmZs/edit#heading=h.qh3iybvrhawt

[2021-11-10 12:10] PatReynolds commented on #382
-  [ ]  'if you still have questions' box should be tied to the bottom.

 - [ ] For text, how about replacing the words "Frequently Asked Questions" with "detailed explanations of the less-used and more specialised features of FreeBMD"???

[2021-11-10 13:14] PhilipClarke712 commented on #382
Responding to the second comment: it depends very much on what is intended to go into the page that it  will be linked to.

There are rough pages corresponding to both of these topics, in draft form on both test3 & Beta and they have been in place for more than a year. Those were done on the basis of decisions made about two years ago that were put in to the shared spreadsheet on the google drive.

[2021-11-10 13:43] PhilipClarke712 commented on #382
I should add that specialised / advance searching is a bit of a "false friend"; from a BMD1 view point that is making use of the relationships between page numbers, page number ranges, volume numbers and Districts, to find something that a normal search fails to find. This information at present is only available on BMD1.
BMD2 has a more refined way of specifying what you would like to find in a s

[2021-11-12 12:46] DeniseColbert commented on #268
As per comment 25/9 plus remove sort function from column header:

![image](https://user-images.githubusercontent.com/19173257/141469481-298079e0-cf23-4fa2-a886-27e1d6524e8c.png)

[2021-11-12 13:34] PatReynolds opened #420 "Add associated counties to the display of a District Name in Entry information page"
E.g. currently
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/6fd8740a-38d4-4585-bcc8-a981325a08e2)
would have under "Tavistock"
"Devon, Cornwall" (or "Cornwall, Devon" - depending on whether main county covered first or alphabetical is preferred).

[2021-11-12 15:27] Vino-S opened #421 "unique names along with district information"

[2021-11-15 10:42] PatReynolds commented on #132
Hi @archerbarrie penny has dropped:  use screenshots on Github, not use screenshots in FreeBMD2.

[2021-11-15 10:49] PatReynolds commented on #132
Potential to enhance - ask if people would like to join the volunteers (link to the Volunteer tab) and possibly repeat message about other ways to support from the Volunteer tab?

[2021-11-15 10:56] PatReynolds commented on #283
Tested 15th Nov 2021 - now gone.

[2021-11-15 11:12] PatReynolds commented on #222
Tested 15 Nov 2021 and About Page working fine on pixel XL

Help Page may have an issue - the index is quite a way down the page (below Daisy Dent certificate, above "Getting Started".

[2021-11-15 12:58] AlOneill commented on #222
That placement is deliberate on my part — something to read before the "On this page" menu — especially as we have no skip mechanism in place. A screen-reader user will hear the page in the same order as a mobile user will see it. Is that logic flawed?

[2021-11-15 13:09] AlOneill commented on #222
That placement also makes the page work left to right on a larger screen — the Shaw Trust called us out for pages that work right to left.

[2021-11-15 13:26] PatReynolds commented on #277
@ArcherBarrie  I could not see a submission form or other way of submitting a bouquet on FreeBMD1 - have I missed it?

[2021-11-15 13:35] PatReynolds commented on #168
Needs review/reprioritisation

[2021-11-15 13:36] PatReynolds commented on #163
As tool tips removed, suggest closing.

[2021-11-15 13:37] archerbarrie commented on #277
@PatReynolds Not really ... we don't have a specific way of doing that but https://www.freebmd.org.uk/iindex.shtml gives a couple of other options.

[2021-11-15 13:41] PatReynolds commented on #132
Needs review - is it better for this information to appear in the Detailed Results (in the Transcriber slot) or a separate page (perhaps linked from Detailed Results by an icon in the More informatin slot.

[2021-11-15 14:12] PatReynolds commented on #330
For review - still needed?  FreeBMD1 has download as a text file.  Browser based print function or keyboard selection and saving available to users.

[2021-11-15 14:13] PatReynolds opened #422 "Improve Print Page"
Print page currently has "Column 1 has link to details of record; Column 2 can be sorted on First Name; Column 3 can be sorted by event." this applies to the results page, not the print page, so should be removed?

Display of results needs improve,ment - current example
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/71083df6-235b-4e16-95e2-1f66ef572ee7)
FreeBMD1:
![imag

[2021-11-15 14:15] PatReynolds commented on #161
@DeniseColbert can this now be closed?

[2021-11-15 14:33] PatReynolds commented on #275
Hey @PhilipClarke712 I’m using ZenHub in GitHub, [click this link](https://app.zenhub.com/workspaces/freebmd2-5cc6dc330898a02e123026e2/board) to join my workspace and see other features available in GitHub or [download the ZenHub extension](https://www.zenhub.com/extension) and sign up with your GitHub account.
  _Posted using [ZenHub](https://www.zenhub.com)_

[2021-11-15 14:45] PatReynolds commented on #275
Very belated thanks, Philip.  The Records Page is not a refinery page, but is generated from the database and so is coded by a developer (the one on FreeCEN is  a work in progress on the back of the huge amount of work being done on Place within FreeCEN, but the one on FreeREG is as intended.

On test3, Records = https://test3.freebmd.org.uk/districts  on Beta it is just a link to https://www.free

[2021-11-15 14:53] PatReynolds commented on #268
Discussed in Documentation Meeting 12 Nov 2021

[2021-11-15 14:56] PatReynolds commented on #336
This issue is on you, @AlOneill but I think it is currently an action for @Vino-S - please correct me!

[2021-11-15 17:55] PhilipClarke712 commented on #275
Sorry about the confusion on my part between what are to implemented  as html pages and what are coded pages. My mind must have been on the intended change of name from Transcripts to Records, and not the content.

**Comment 1.**  I just looked at one record, at the bottom of my screen - **Hammersmith** - which gives its dates of existence and the number of records transcribed. The Dates were "**e

[2021-11-15 22:21] AlOneill commented on #336
@PatReynolds All I can do is comment: @Vino-S is the one who makes things happen.

BTW, the "Results" heading is still magenta.

[2021-11-22 16:53] Vino-S commented on #331
ready for testing in test3

[2021-11-22 16:54] Vino-S commented on #313
Ready for testing in test3

[2021-11-22 16:55] Vino-S commented on #314
Ready for testing in test3

[2021-11-22 17:12] PatReynolds commented on #314
@PatReynolds  @DeniseColbert to test

[2021-11-22 17:13] PatReynolds commented on #313
@PatReynolds and @DeniseColbert to test

[2021-11-22 17:13] PatReynolds commented on #331
@PatReynolds and @DeniseColbert to test

[2021-11-22 17:20] PatReynolds commented on #163
Agr3eed - we should close, so closing.

[2021-11-22 17:20] #163 closed

[2021-11-22 17:23] PatReynolds commented on #168
Conclusion : we should use this real estate, but it is not immediately needed - so moving to phase 5.

[2021-11-22 17:25] #221 closed, assigned to nobody

[2021-11-22 17:37] #392 closed, assigned to PatReynolds, Vino-S

[2021-11-22 17:39] PatReynolds commented on #330
Transferring a similar issue from systmwiee #423  to FreeBMD and closing this.

[2021-11-22 17:39] #330 closed, assigned to PatReynolds

[2021-11-22 17:43] PatReynolds commented on #268
@Vino-S to provide 'sort by' button and remove sort from column headings, as described above

[2021-11-22 17:45] PatReynolds commented on #277
Submission form to be embedded on the page.

[2021-11-22 17:45] PatReynolds commented on #214
@PatReynolds to review

[2021-11-22 17:53] PatReynolds commented on #405
@PatReynolds  @AlOneill and @DeniseColbert to discuss wording of words on the search form and placement on Friday

[2021-11-22 17:58] PatReynolds commented on #423
See also #422

[2021-11-22 17:59] PatReynolds commented on #422
see also #423

[2021-11-22 17:59] AlOneill commented on #314
@Vino-S The apostrophes have been sorted — thank you!

There is a stray `ttip` class on the "Spouse's Surname" label, together with a `tabindex="0"` — this produces an empty tab.

The other empty tabs have been removed — thank you.

[2021-11-22 18:02] PatReynolds commented on #418
@PatReynolds to draft for discussion

[2021-11-22 18:59] AlOneill commented on #313
@Vino-S There is still no information visible on tabbing into the Postem icon or the Scan icon — a sighted keyboard-only user will not see the contents of `span.accessibility` (although it will help a screen-reader user). If the `:focus` styling is adjusted (somehow!) to be the same as the `:hover` styling, that _should_ fix it.

_But_, looking again, the `:hover` and `:focus` states are set on a

[2021-11-22 21:11] PhilipClarke712 commented on #214
Hi Pat, just to make it clear the version I am working on is: https://test3.freebmd.org.uk/cms/about/draft-about-frequently-asked-questions-for-beta and my question is whether the hyperlink in the **Introduction section** is the most appropriate one. My preference would be to refer to a reworked version of  https://test3.freebmd.org.uk/cms/help-superseded-or-draft/draft-searching-associated-faqs n

[2021-11-22 23:13] AlOneill commented on #383
Have made quite a lot of progress on this story. Was hoping to put the HTML version into Refinery this weekend, but got de-railed by other issues and life.

[2021-11-23 16:54] PatReynolds commented on #132
I'm personally veering towards having the transcribers name (if transcriber wants) and number of records they have transcribed) as part of the Entry information Page  - there is already a slot there, but not currently linked to the database.    What do you think @archerbarrie ?

[2021-11-23 17:05] PatReynolds commented on #376
Tested on Beta.

For discussion: do we want something that will be useful when printed out - or useful to see on a small screen, or both?

Download as CSV now working.

[2021-11-23 17:35] PatReynolds opened #424 "Wildcard Searching first names"
To add to help:
Asterisks mean "any number of non-specified characters". the other characters that follow the asterisk are treated as if there was another asterisk at the end.

If first in the name, finds names that contain the letters after the first asterisk, e.g
*nn finds Ann, Yvonne, Minnie, Joy Anna, etc.

If later in the name, asterisk finds any number of characters (including spaces) or non

[2021-11-23 17:36] PatReynolds commented on #418
Asterisks mean "any number of characters". the other characters that follow the asterisk are treated as if there was another asterisk at the end.

If first in the name, finds names that contain the letters after the first asterisk, e.g
*nn finds Ann, Yvonne, Minnie, Joy Anna, etc.

If later in the name, asterisk finds other characters (including spaces) or none: starting with the sequence up to th

[2021-11-23 17:37] PatReynolds commented on #424
Opened in error, so closing

[2021-11-23 17:37] #424 closed, assigned to nobody

[2021-11-24 00:33] archerbarrie commented on #132
At the moment we provide the transcriber's name (if they agree) and number of records, but only as a link from the user id. Don't forget that there may be several transcribers for any one record. Without seeing what it would look like it is difficult to comment but it sounds like it might be rather cluttered. I don't think it is information that researchers would be interested in ... apart from wa

[2021-11-26 12:33] DeniseColbert commented on #405
@PatReynolds to test dropdown in screen reader software

[2021-11-26 13:00] DeniseColbert commented on #412
Is it possible to remove some padding?  @Vino-S

[2021-11-26 13:10] DeniseColbert opened #425 "County selection box cuts off longer text"
Is it possible to have the box a minimum character width? This should be the length of the longest entry.

We could lose some width from the Volume and Page fields if necessary, I think?

[2021-11-26 13:15] PatReynolds opened #426 "Issue with year of search start and end DUPLICATE 425?"
The end of the year is cut off in some views.

Possible solutions (for discussion)
a/ make it a text entry box
b/ reduce the padding
c/ reduce the font size

[2021-11-26 13:16] PatReynolds opened #427 "End of year in date range selection boxes is cut off"
The end of the year is cut off in some views.

Possible solutions (for discussion)
a/ make it a text entry box
b/ reduce the padding
c/ reduce the font size

[2021-11-26 13:17] PatReynolds opened #428 "End ofmonth cut off in date range selection"
The end of the month is cut off in some views (this story updated as year cut off is #425)

Possible solutions (for discussion)
a/ make it a text entry box
b/ reduce the padding
c/ reduce the font size

![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/4a1576b8-ac1d-484f-8e29-bfe66f698ce6)

Fine at 100% and on Pixel XL, cut off in view above at 90%

[2021-11-26 14:57] PatReynolds opened #429 "test"

[2021-11-26 14:58] PatReynolds opened #430 "test"
tst

[2021-11-29 15:11] DeniseColbert commented on #423
I think it's pretty universal now that browser Print... function allows PDF download:

![Screenshot (20)](https://user-images.githubusercontent.com/19173257/143891758-ae4ec138-d909-4db1-818c-4365dc988688.png)

Perhaps this needs testing on various browsers? I tested Chrome, Edge and Firefox. The former two browsers offer the Print function on right-click, the latter via the browser hamburger menu.

[2021-12-06 11:42] PatReynolds commented on #331
Working fine, thank you @Vino-S
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/7cb8ed9c-bf7a-4c64-ba6f-f98e8a779197)

[2021-12-06 11:56] PatReynolds commented on #275
Reviewing current iteration (test3) my thoughts are
Currently only showing H - is the plan to have the alphabet along the top of this page, jumping to each letter?

Re @PhilipClarke712 's concern about the source of the content (our database or  another source) - need to add line at the top "This data is derived from the FreeBMD database" (do you think that is ok @PhilipClarke712 - [please suggest

[2021-12-06 12:16] PatReynolds commented on #222
The logic isn't flawed, and the idea of some-text-then-index-then-back-to-page is good.  What I think is not good is that intial "some text" is long, and contains information which may be entirely irrelevant to why the person is visiting the help page.  I suggest that only the first paragraph, or perhaps the first two, are read after the title.  Then the index, then the remainder of what is curren

[2021-12-06 12:30] PatReynolds opened #431 "Menu not working on mobile (Pixel XL or MotoG4)"
Could someone test on i-phone?

[2021-12-06 12:36] PatReynolds commented on #220
Works well on Pixel XL and MotoG4, on chrome and duckduckgo

[2021-12-06 12:50] PatReynolds commented on #215
Asked 6/12/2021

[2021-12-06 13:05] PatReynolds commented on #357
Still only showing sorted Birth first and sorted Marriage first, then back to Birth first - Death first still missing

[2021-12-06 13:06] PatReynolds commented on #78
Link now there and working

[2021-12-06 13:10] PatReynolds commented on #387
I have not spotted a miscasing (as opposed to true transcriptions of the various casing styles used over the years by the GRO) for some time.

Edith Daisy Dent is now properly cased, so suggest closing

[2021-12-06 14:23] AlOneill commented on #222
@PatReynolds To address the images issue first: the alt text is shown when the image is unavailable for any reason — it was never intended, in the design of HTML, that alt text be used to fully describe an image. The caption is generally where the details should go. I agree that the caption could (should) be expanded to list the fields (or information) shown in the image. "Hints and explanation" p

[2021-12-06 14:27] Vino-S commented on #313
Ready for testing in test2

[2021-12-06 14:28] Vino-S commented on #314
@AlOneill
Removed the tabindex on Spouse Surname label. Ready for testing on test2

[2021-12-06 14:29] Vino-S commented on #409
Ready for testing test2

[2021-12-06 14:30] Vino-S commented on #268
Ready for testing in test2

[2021-12-06 14:42] AlOneill commented on #313
@Vino-S On test2, there is now **no text visible** on hover or focus for the postem and scan icons (Firefox, Safari not tested).

[2021-12-06 14:48] AlOneill commented on #314
@Vino-S Spouse surname label now behaves as expected (but I note that the ttip class remains).

[2021-12-06 14:55] Vino-S commented on #431
Ready for testing in test2

[2021-12-06 15:01] AlOneill commented on #268
Cannot open Tools drop-down with either space or enter (the expected keys).

**No visible warning** for someone who cannot hover that District link will open in a new tab.

Sorting fields are keyboard-accessible, using space-bar — functions not fully tested, but I note that sort by First Name(s) works as expected.

[2021-12-06 16:42] Vino-S commented on #313
Thanks for testing @AlOneill ,
Updated test2 with hover and focus text

[2021-12-06 16:53] AlOneill commented on #313
@Vino-S Text now visible on focus and hover (Safari and Firefox) — thank you.

[2021-12-06 16:54] Vino-S opened #432 "Test Previous and Next Search feature"
- [ ] Test Previous and Next Search Results feature in Entry Information Page

- [ ] Test Previous and Next Search Result feature when entries from Page is viewed

[2021-12-06 16:59] Vino-S opened #433 "Test Save Search feature:"
Save Search feature is available when logged in.

`View Saved Searches` in `Your Actions` lists the users saved searches.

On Running Saved Search we have a **Compare** feature on the search results page.  This feature displays new and old search Results. **Compare** is only available when we Run a Saved Search

[2021-12-06 17:16] richpomfret commented on #409
@pat and @PhilipClarke712 can you take a look at this and give it a test?

[2021-12-06 17:18] DeniseColbert commented on #268
Order is currently:

![image](https://user-images.githubusercontent.com/19173257/144891616-76dc2165-b6ba-460f-a195-480d9d7e0c2a.png)

But should be:

date/district/first name/lastname

[2021-12-06 17:22] DeniseColbert commented on #268
Record Type isn't required in this menu (as it's addressed in the Filter By menu).

[2021-12-06 17:28] richpomfret commented on #387
All working fine, closing.

[2021-12-06 17:28] #387 closed, assigned to PatReynolds

[2021-12-06 17:29] richpomfret commented on #78
Working. Closing.

[2021-12-06 17:29] #78 closed

[2021-12-06 17:31] richpomfret commented on #357
Vino has made a change in Test2 - to update and move into ready for testing when ready.

[2021-12-06 17:34] richpomfret commented on #357
This issue may now be null if the 'sort' has been removed (for filter).

[2021-12-06 17:35] richpomfret commented on #357
Checked and a non-issue. Closing.

[2021-12-06 17:35] #357 closed, assigned to PatReynolds, Vino-S

[2021-12-06 17:40] richpomfret commented on #418
@PatReynolds to move this across into Refinery and it can be reviewed further there.

[2021-12-06 17:41] PatReynolds commented on #418
@PhilipClarke712 is there a draft help that I should add this to (for further review)?

[2021-12-06 17:49] PatReynolds opened #434 "Enhance Transcriber's presence on Entry Information page"

[2021-12-06 17:49] #249 closed, assigned to KatyMawhood

[2021-12-06 17:54] richpomfret commented on #222
@PatReynolds and @AlOneill to decide upon new order to help with mobile.

[2021-12-06 17:59] DeniseColbert commented on #148
The image seems to have vanished from beta @Vino-S

[2021-12-06 18:01] richpomfret commented on #421
Apparently now complete - on TEST3.

[2021-12-06 18:04] #430 closed, assigned to nobody

[2021-12-06 18:05] #429 closed, assigned to nobody

[2021-12-06 21:33] PhilipClarke712 commented on #418
@PatReynolds

Sometime ago I made a copy of the test3 Help page - https://test3.freebmd.org.uk/cms/help  - called https://test3.freebmd.org.uk/cms/draft-help . That copy has more lines of text and also marked comments concerning work that you were intended to look at. These items are not now present in https://test3.freebmd.org.uk/cms/help.

If you are happy with the help page, as it currently exi

[2021-12-06 21:52] Vino-S commented on #433
Ready for testing in test3

[2021-12-06 21:53] Vino-S commented on #432
Ready for testing in test3

[2021-12-06 21:56] Vino-S commented on #409
Also available to test in test3

[2021-12-06 21:58] Vino-S commented on #431
Also available to test in test3

[2021-12-06 22:13] PhilipClarke712 commented on #409
@richpomfret  @Vino-S

I looked at both test2 and test3 - they provide the same display (this story got update during my tests) - and they both, in my view,  addresses the problem of this story.

When I find a 1983 hit - the Results pages gives (say) a March 1983 event and its Entry Information page in this case gives the **date** as Jan to Mar 1983.

Whereas, when I find a post-1983 hit - the Res

[2021-12-06 22:36] PhilipClarke712 commented on #214
Real life has got in the way, so the "**for Beta** draft" is almost finished, but not quite - so it still has marked up text.

I addition to the question raised above, I have put in two hyperlinks: one to the **Donation page** on FreeBMD2 test2/3 and one to the Donation page on FreeUKGenealogy - I don't know which is the preferred page: so guidance would help me.

I looked at the option of putting

[2021-12-07 09:14] PatReynolds commented on #431
Working perfectly, thank you @Vino-S

[2021-12-07 09:21] PatReynolds commented on #409
Still showing as JUNE 1879 (rather than the expected Apr to Jun 1879

[2021-12-07 09:28] PatReynolds commented on #214
Hello @PhilipClarke712  I think the donate page needs a separate story so will create.

[2021-12-07 09:33] PatReynolds opened #435 "Create Donate Page (possibly)"
Current state of donations:

Story #214 contains relevant information.

Story #159 calls for a donate button to be added to the search page

There is a draft donate page on refinery (unamended FreeREG text).

@DeniseColbert is working with volunteers on a donations widget.

_______________________________________________________

Is a separate donations page still needed, or will we just use the w

[2021-12-07 09:38] PatReynolds opened #436 "Snag List for Records Page"

[2021-12-07 09:39] PatReynolds opened #437 "Change sort by "Quarter" to sort by "Year""

[2021-12-07 09:43] PatReynolds opened #438 "Change MARCH 1857 to Jan-Mar 1857, etc."

[2021-12-07 09:44] PatReynolds opened #439 "For years where date is recorded by month, show month and year, eg Aug 1990"

[2021-12-07 09:47] PatReynolds opened #440 "For decision: other additions to Records page for Beta"
Links to the following (on FreeBMD1)

https://www.freebmd.org.uk/progress.shtml

https://www.freebmd.org.uk/statgraphs/

[2021-12-07 09:50] PatReynolds opened #441 "Make it clear where dates on Records page are coming from"
@PhilipClarke712 noted:
 I just looked at one record, at the bottom of my screen - Hammersmith - which gives its dates of existence and the number of records transcribed. The Dates were "existing from 1915 to 2000"; then I looked at the 'bible' that I use: Hammersmith: created 1.7.1913 out of Fulham R.D. Abolished 1.1.2001 and registers transferred to Hammersmith and Fulham (which started on 1.1.2

[2021-12-07 09:53] PatReynolds opened #442 "District-volume and other relationships data"
@PhilipClarke noted  re records page:

 On FreeBMD(1) we have numerical tables of district-volume and volume-page mappings, and other relationships between volumes, pages and Districts. On FreeBMD(1) https://www.freebmd.org.uk/DistrictInfo.html is a sub-page of Statistics section of https://www.freebmd.org.uk/iindex.shtml#reporting, so we have index pages such as https://www.freebmd.org.uk/distric

[2021-12-07 09:55] PatReynolds opened #443 "Review existing pages/drafts on Test 3"
@PhilipClarke712 noted "Two years ago I did not really know the difference between an html page and and shtml page: so a lot of the shtml pages were put in Refinery as html pages. They probably of no use because they can't pull up Perl page"

[2021-12-07 10:02] PatReynolds commented on #275
Will make a new issue re text changes in my last comment.

[2021-12-07 10:05] PatReynolds opened #444 "Other enhancements to Records page"
- [x]  I think there need to be back buttons at top and bottom. Consider 'top of page' buttons also.

 - [x] Currently only showing H - is the plan to have the alphabet along the top of this page, jumping to each letter?

 - [x]  Re @PhilipClarke712 's concern about the source of the content (our database or another source) - need to add line at the top "This data is derived from the FreeBMD datab

[2021-12-07 12:56] AlOneill commented on #222
@PatReynolds
Having ruminated, I suggest the source order should be: lead paragraph, sub-menu, "Getting started", then the remainder of the content.

Suggest we delete the second paragraph (too About) and then re-write and move the third paragraph further down the page. Similarly, the images of the results detail and the certificate belong in the relevant sections further down the page.

What do y

[2021-12-07 13:15] AlOneill commented on #222
@PatReynolds
Thinking about `alt` text vs caption: images will need updating (replacing) each time we make adjustments to our layout. They need updating already, now that the presentation of the dates has changed.

If we expand the `alt` text, then a future editor who is tasked with replacing an image would need to be observant and diligent to move any `alt` text rather than simply delete it with

[2021-12-07 14:28] PhilipClarke712 commented on #409
Sorry, I might have missed that. My testing might have been inadequate.

My original test data set was the surname **Allen** in the West Midlands (so records from June1974) and I was interested in the transition from 1983 to 1984 and later.  I regarded the story as having been fixed.

I just done a slightly wider search now on test3 at approximately 14:15 to 14: 18 on 7th December.

A search for t

[2021-12-07 14:47] AlOneill commented on #275
The table `caption`, heard by screen-reader users, is for example, "Information of Hackney District". To sound more natural, the "of" should be replaced with "about".

[2021-12-07 14:51] PhilipClarke712 commented on #214
Hello @PatReynolds

Just to clarify. I have put in hyperlinks on my draft page to (1) https://test3.freebmd.org.uk/cms/donate which currently exists on test3 (but see below) and it is not labelled as a draft page; and to (2) https://www.freeukgenealogy.org.uk/help-us-keep-history-free.

In the short time I was looked for a preference for the 1st or the 2nd hyperlink: having two is an overkill. Tha

[2021-12-07 14:53] Vino-S commented on #409
Thanks for testing @PhilipClarke712 and @PatReynolds
@PatReynolds
Could you let me know the search criteria, please? I am unable to replicate it.

[2021-12-07 14:58] PatReynolds opened #445 "Amend table caption"
@AlOneill noted: The table caption, heard by screen-reader users, is for example, "Information of Hackney District". To sound more natural, the "of" should be replaced with "about".

[2021-12-07 15:04] PatReynolds commented on #275
Thanks for this,  @AlOneill I have added that as a new story.

[2021-12-07 15:06] AlOneill commented on #275
Also in the District information table, the link text "Click here for more information" will not be meaningful out of context — which is how it could be heard. I suggest, using the Hackney example, "More information about Hackney on UKBMD (opens in new tab)".

[2021-12-07 15:25] PatReynolds opened #446 "Change to District information table in Records tab"
Also in the District information table, the link text "Click here for more information" will not be meaningful out of context — which is how it could be heard. I suggest, using the Hackney example, "More information about Hackney on UKBMD (opens in new tab)".

[2021-12-07 16:31] PhilipClarke712 commented on #444
@PatReynolds

I've just looked at the page as it now exists on test3 and there is a lot of useful information there.

I apologise in advance for the length of this reply,

This Coverage page is organised by Registration District, which is what the GRO use as a Place marker, but that does not correspond to what the GRO publishes, which is **packaged by event and quarter year or year** and that is h

[2021-12-09 09:25] PatReynolds opened #447 "Amend help page with info for smartphone users"
Text: It is possible to use most smartphones for searches. However, given the nature of the subject matter, this website is best viewed on a device with a screen size of at least 1024 by 768 pixels, in landscape view.

[2021-12-09 14:26] AlOneill commented on #222
@PatReynolds I would like to re-order the Help page, as discussed in today's Documentation meeting, but there is already a [DRAFT Help page](https://test3.freebmd.org.uk/cms/draft-help) with edits in progress to the "Further help with family history" section. The yellow `mark` elements there refer to yourself making the edits.

How to proceed? If the edits are complete, then I will re-order that d

[2021-12-09 16:24] AlOneill commented on #222
@PatReynolds There is also an untitled section below "Accuracy of FreeBMD"  which talks about Soundex that looks unfinished. Is that also yours and if so what needs to be done there? Thank you!

[2021-12-09 18:42] PhilipClarke712 commented on #444
On further reflection I think we need to include what is a "small print" get-out clause.

**Below is the message that I think we need to deliver. This may not be the final form of the words that get put under the table, but this is what it think the message should deliver.**

(_title_) Localised changes to Districts

In this table, the Volume and County associated with a particular District are sh

[2021-12-13 12:36] PhilipClarke712 commented on #444
I agree with Pat's comment above. From  July 1837 to December 1851 the GRO used lower case numbers for its Volume numbers, so **xx**  (20) represented part of the County of Lancashire in that period. Note: Lancashire Districts were in Volumes were xx and xxi.

I've not tried to do such a search, but in theory, I might find a  District that did not physically exist in 1837 - 1851, being shown as Vo

[2021-12-13 23:40] AlOneill commented on #222
Have changed the source order of [DRAFT Help](https://test3.freebmd.org.uk/cms/draft-help) and made some other changes as listed at the top of the page.

[2021-12-14 12:16] PhilipClarke712 commented on #275
There are two stories on this, and I have made comments on the other story, but I'll summarise them here.

In respect of Alison's comment above, I have suggested what is, in effect, a "small print" paragraph to go under the table because Districts may, and do, get created **during** one of these major periods and also they may be replaced by another District **during** a different major period. So

[2021-12-14 12:42] PhilipClarke712 commented on #444
This Records page is a long page: 1064 fields.

I was looked for **Sedgemoor**, which is a long way down, so I made use of my browser's (in this case FireFox) find facility to find Sedgemoor. It would be helpful to have an Alphabetic quick link on the top of the page (but see below).

However  it's not obvious to me why they were listed / ranked in the order that they are: they start at Hackney (&

[2021-12-15 09:48] PhilipClarke712 opened #448 "Create: Associated HELP FAQs page"
Going back to September & November  2018, Mike Burnham's, _**Audit of Hyperlinks within the FreeBMD functional Structure Report**_, parts 1 & 2, and the Spreadsheet produced by Pat, perhaps two or more years ago. Two FAQ pages were to be produced from the single FAQ  page on FreeBMD1: the first page the **About FAQ** has its own stories. This Story is for second FAQ page: the **Help FAQ**; renamed

[2021-12-16 12:30] PatReynolds commented on #425
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/d34396ac-fde5-49c0-b644-ab6d5c88955e)
No different on Test3 or Beta.

However now a slidy bar underneath, so allocating to a future version

[2021-12-16 12:37] PatReynolds commented on #427
At 80% on both tests3 and beta
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/705335d5-aea3-43c8-bf55-3f424d057b29)
Fine at 100%
Fine on a pixelXL phone

[2021-12-16 12:57] PatReynolds commented on #432
All working as expected, thank you @Vino-S

[2021-12-16 13:36] PatReynolds commented on #418
Thanks @PhilipClarke712 the page https://test3.freebmd.org.uk/cms/draft-help . now all seems to have been done or moved to https://test3.freebmd.org.uk/cms/help-superseded-or-draft/draft-help-fragments

The DRAFT Help above the live Help I have added the Wildcards as an additional GoodToKnow to the draft Help (above Help in the structure, for review.

[2021-12-16 14:44] AlOneill commented on #222
@PatReynolds I see you have added a new sub-section, Good to know about wildcards. This topic is currently covered on More about searching: we need to decide where it best belongs and remove any information that is not correct.

[2021-12-16 14:45] AlOneill commented on #418
@PatReynolds I see you have added a new sub-section to DRAFT Help, Good to know about wildcards. This topic is currently covered on More about searching: we need to decide where it best belongs and remove any information that is not correct.

[2021-12-16 14:50] AlOneill commented on #418
@PatReynolds A reminder that a screen-reader user will probably not be told about the asterisks, depending on software and user settings.

[2021-12-16 14:56] PhilipClarke712 commented on #418
Hi @AlOneill

I was in the process of responding to some of Pat's yellow marked-up comments in that same document, at the top of the page.

Namely: why the Introduction is page width and not 2/3rd width and why the Hyperlinks in the Navigation panel are in default font colour rather than in Magenta font?

1. I basically do the first because that in what the Guidance to marking pages does; and also

[2021-12-16 15:05] AlOneill commented on #418
@PhilipClarke712 We are in the process of reviewing a typical page structure. Also, the sidebar navigation is **navy** rather than the default text colour of dark grey.

[2021-12-16 15:29] PhilipClarke712 commented on #418
Thanks: so it is, default navy rather than default dark grey. (I need to go to spec savers).

But, its not something I need to do, by e.g. added font-colour instructions,  - defaults are likely to a Refinery settings and I can't change them other than by  adding something.

[2021-12-19 14:23] PhilipClarke712 commented on #214
Hi @AlOneill  This page [DRAFT About - Frequently Asked Questions - for BETA](https://test3.freebmd.org.uk/cms/about/draft-about-frequently-asked-questions-for-beta)  is now ready for review, in my oppinion.
As per the comment above it has two (redundant) hyperlinks to Pay pages - one (non-draft) on Refinery and one live one on FreeUKGenealogy. Only one hyperlink is needed for now, perhaps none, b

[2021-12-19 23:04] AlOneill opened #449 "Broken link to "Accuracy" in footer"
The link at the bottom of the footer (on t3 at least) points to "/cms/help#Accuracy" [sic]. There is no such `id` on the 'Help' page. We use lower-case or camelCase [sic] for in-page navigation.

The link now takes a user to the top of the Help page, so it is wounded rather than dead. However, it would be so much better to link to an actual id.

If we change the appropriate id on the Help page to

[2021-12-20 05:28] #313 closed, assigned to Vino-S

[2021-12-20 05:28] #431 closed, assigned to PatReynolds

[2021-12-20 05:28] #283 closed, assigned to Daniel-silve1ra

[2021-12-20 05:28] #310 closed, assigned to PatReynolds, Vino-S

[2021-12-20 05:31] #400 closed, assigned to DeniseColbert

[2021-12-20 05:32] #331 closed, assigned to PatReynolds, DeniseColbert, Vino-S

[2021-12-20 05:34] #314 closed, assigned to Vino-S

[2021-12-20 15:57] PatReynolds commented on #409
Searching Richard Goodacre before 1847 first result is
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/7b775a71-0f5d-475e-a738-5521ac993b82)

Should be June quarter 1840 (not JUNE 1840)

Richard Goodacre married Knowles, Peterborough 1984 should be August 1984

[2021-12-20 16:19] Vino-S commented on #336
Fixed Results header color in test3

[2021-12-20 16:20] Vino-S commented on #428
REady for testing in test3

[2021-12-20 16:20] Vino-S commented on #427
REady for testing in test3

[2021-12-20 16:20] Vino-S commented on #425
REady for testing in test3

[2021-12-20 16:21] Vino-S commented on #445
REady for testing in test3

[2021-12-20 16:21] Vino-S commented on #446
REady for testing in test3

[2021-12-20 16:56] DeniseColbert commented on #433
Seems to work well!

[2021-12-20 16:57] DeniseColbert commented on #421
Appears to be working well, functionally. A few minor issues with display but I'll make a separate story

[2021-12-20 17:03] DeniseColbert opened #450 "Records page laundry list"
- Records page:

![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/7b4991ec-5d98-4c7f-a7d3-5108d4328fa9)

Suggest "Select the initial of the district you want" OWTTE

- Table:

![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/9ea7a6c1-efb5-4715-98fa-7b2e553f973b)

[2021-12-20 17:06] DeniseColbert commented on #336
@PatReynolds tested, looks good, please puch to beta @Vino-S

[2021-12-20 17:07] DeniseColbert commented on #445
@AlOneill could you check that this is OK (Vino says the code needs looking at)

[2021-12-20 17:12] DeniseColbert commented on #220
@richpomfret could you test on iPhone please?

[2021-12-20 17:16] DeniseColbert commented on #409
@Vino-S to make the change on the Search Results page (Entry Information page has been done, and tested)

[2021-12-20 17:17] DeniseColbert commented on #219
@richpomfret could you re-test please?

[2021-12-20 17:21] DeniseColbert commented on #275
Doc team to look at Philip's comment (plus Vino)

[2021-12-20 17:22] DeniseColbert commented on #426
Duplicate, closing

[2021-12-20 17:23] #426 closed, assigned to nobody

[2021-12-20 17:27] DeniseColbert commented on #132
@Vino-S please develop so we can see the layout

[2021-12-20 17:30] DeniseColbert commented on #215
@PatReynolds to ask Allan again

[2021-12-20 17:38] DeniseColbert commented on #423
@Vino-S to test on Safari, @PatReynolds to test on DuckDuckGo and Komodo

[2021-12-20 17:40] DeniseColbert commented on #306
@DeniseColbert to get back to Philip re. document

[2021-12-20 17:41] DeniseColbert commented on #376
@Vino-S to take a look

[2021-12-20 17:42] DeniseColbert commented on #277
Covered in Reviews story- closing

[2021-12-20 17:42] #277 closed, assigned to DeniseColbert

[2021-12-20 17:44] DeniseColbert commented on #405
@Vino-S has changed the label of Q & Year which might help...

[2021-12-20 17:47] DeniseColbert commented on #287
@Vino-S to check FreeBMD1 to see if we need to add a statement about how to report missing scans (Report a Data Problem button)

[2021-12-20 17:54] DeniseColbert commented on #449
@Vino-S to change the link ID in footer to accuracy (lower case)

[2021-12-20 17:58] PatReynolds commented on #448
@PatReynolds to review page and triage into
 Needed for BETA  (move to main About page or sub-page)
 Needed later (leave)
 Not needed (stikethrough)

[2021-12-20 18:01] DeniseColbert commented on #444
@PatReynolds and @DeniseColbert to look at these points and sort into needed/not needed for beta.

[2021-12-20 18:03] DeniseColbert commented on #443
@PatReynolds and @DeniseColbert to review

[2021-12-20 19:43] PhilipClarke712 commented on #448
Hi @PatReynolds
This story is about a **draft Help FAQ page**, to be found on Refinery under the **draft or superseded pages** - the link above does not work as I currently unable to logon as a member and I can't log on directly.

I have been removing material that is only applicable to FreeBMD1, but the draft page needs a lot of work to make it suitable for FreeBMD2 - because "hits" are displayed

[2021-12-20 20:16] AlOneill commented on #421
@DeniseColbert I agree that the presentation could be improved (and the contents made more accessible). I will comment in detail on the new story, once it is created.

[2021-12-20 20:24] AlOneill commented on #450
@DeniseColbert  I suggest replacing "initial" with "initial letter".

Also suggest that "1839 onw" will not be easy to interpret for some. How about "from 1839"? Mind you, I'm also puzzled by the differences in presentation in the "District" column: why does Bala get two lines?

[2021-12-20 20:36] AlOneill commented on #445
The caption for Bakwell now reads:
"Information about Bakewell (1839 onw) District"

Thank you for using "about".

There is a problem with "1839 onw": I think that some of our users will struggle to understand what "onw" means. I suggest "from 1839". [This is a similar issue to the presentation of dates for sighted users, #450.]

[2021-12-20 22:22] AlOneill commented on #405
@Vino-S The forward slash does not have much meaning (in written English) apart from in and/or. Also, a screen-reader user will likely not be made aware that it is there.

Suggest it is replaced with " and ".

However, I'm not sure whether or not a screen-reader user will understand what is going on. The visible label is tied to the quarter input but it mentions quarter _and_ year; the (invisible

[2022-01-02 23:42] AlOneill opened #456 "Bring "Contact us" up to standard"
The opening sentence on "Contact us" reads:
"Please read our {Privacy Notice(External Link: Opens in new tab.)} for information on how we will protect and use your data, and then fill in the form below with your details.

The part in braces is the link text. There are a number of issues with it:

1. the user is not warned that the link is to a PDF (rather than an HTML page)

2. the sentence could

[2022-01-04 12:57] PatReynolds commented on #418
Would be having 'a note for screen reader users' added to the asterisks?

E.g. where we have " For example, looking for Lucie, or maybe Lucy? Type Luc* and you will find both" indicate to the screen reading software that it should say "Type Luc asterisk and you will find both"

https://webaim.org/techniques/css/invisiblecontent/ has suggestions on how to instruct the software in markup

Do we need

[2022-01-04 14:15] AlOneill commented on #418
@PatReynolds There will be little point in explaining the presence of asterisks in the Help as their presence in the search results is not currently accessible (unless it is but I cannot devise a search that returns results with asterisks).

[2022-01-04 14:38] AlOneill commented on #418
@PatReynolds We have a class for hiding content from sighted users and also hiding things from screen-reader users, so the mechanics of doing so are not an issue. However, the markup will make the page easier to break if editors do not fully understand the technique and do not work in the Refinery HTML pane.

[2022-01-05 20:33] AlOneill commented on #214
@PatReynolds @PhilipClarke712
[DRAFT FAQs (AO remix)](https://test3.freebmd.org.uk/cms/about/draft-frequently-asked-questions-ao-remix) is now back in Refinery. It is a re-structured and partly re-written version. Please review the content carefully — I could easily have mangled the intended meaning in places! There is a link to the previous version at the top of the new page.

The page as given t

[2022-01-05 21:31] PhilipClarke712 commented on #214
@AlOneill

Thank you for your review. I've had a cursory look at your Page. I'm unlikely to be working on it for at least a week, but I will start to go through it line by line later this month.

I can, however, answer the following points / questions raised there now.

1. Updating the database is a FreeBMD(1) function. The latest stage in the four-week cycle can be found at https://www.freebmd.or

[2022-01-05 22:06] PhilipClarke712 commented on #214
I did put a hyperlink to the submission format on BMD1.
The first block of lines are 'headers' and the lines all start with a + and have fields separated by commas.
Each entry has (defined fields) separated by commas
and the last block of lines are a 'footer'.

So yes it is a csv file - with a defined format.

I use Windows, so I use a FreeBMD program **WinBMD** to make the file and upload it from

[2022-01-05 23:38] AlOneill commented on #214
@PhilipClarke712 Thank you! I'll update my draft with your information. I do not expect you to work on the page from now. It would help me best if you put your comments here. Thanks.

OK, so I need to re-write the para re updating the database and coverage charts — primarily, we need it to say what happens now, on BMD2, not BMD1.
@PatReynolds **will beta have the full database any time soon?** Or

[2022-01-06 07:46] PhilipClarke712 commented on #214
@AlOneill ,

BMD2 does not yet (I've not found how to do it) offer 'File Management facilities' for uploading these 'simple' files - so now it is a solely BMD1 process.

There is a problem for people who don't run Windows - Mac for instance: they are almost on their own. Someone, second time round appears to have a Linex app up and running; some adventurous people are using WinBMD in a Windows emu

[2022-01-06 09:28] PatReynolds commented on #214
My understading was that beta runs the current state of the FreeBMD1 database, but a quick check shows that it has not been updated since the most recent version of FreeBMD1, as Births 1992 surname and mmn Alcock are presnt on the former, but not the latter.

I'll have a look at the board to see what is planed re ongoing sychronisation.

[2022-01-06 15:43] AlOneill commented on #214
@PhilipClarke712 I have found and installed **MacBMD**. I used it a number of years ago, on a different laptop to the one I now have, when I was transcribing. It appears to open and work as expected. The manual describes uploading to BMD1 using 'File management', so not quite so easy to use as WinBMD. I won't mention Windows emulation on a Mac — I tried it once but now even the idea makes me feel

[2022-01-06 15:47] AlOneill commented on #214
@PatReynolds Thank you. I'm looking for a reasonable estimate of how the beta database compares to the BMD1 database. Is it weeks or months or years behind?

[2022-01-06 23:13] PhilipClarke712 commented on #214
@AlOneill

Re: your highlighted comment **Could this be the scan on our system that a researcher can access under 'More information'?**

**Yes.**  If I do a search on BMD1, I always look at the scan and that occasionally results in me asking for a correction based on what I see in the scan. BMD1 and (hopefully) BMD2 strongly suggests that people view the scan before ordering a certificate.

In pra

[2022-01-07 12:15] PatReynolds commented on #214
@Vino-S please could you answer @AlOneill 's query about how out of sync beta is with FreeBMD1?  I think it may be about a year behind.

[2022-01-07 12:30] DeniseColbert commented on #275
@PatReynolds to send a standard paragraph for below the table. Also needs other text about how to use the page.

[2022-01-07 13:01] DeniseColbert commented on #418
Paragraph for SR users re asterisks and verbosity in development by @AlOneill

[2022-01-07 13:44] Vino-S commented on #214
Hi @AlOneill , @PatReynolds
The current beta database is the copy of the production database date: June 29, 2021.

[2022-01-07 15:06] AlOneill commented on #214
@Vino-S Thank you.

@PhilipClarke712 The definition of too much detail seems rather harsh — I can understand how users fall foul of it. We need to spell out what is and is not acceptable. As well as "scan of GRO index", what else would be accepted? What would be rejected? Do we need to get clarification from whoever vets the requests?

[2022-01-07 15:07] PhilipClarke712 commented on #306
On another Story, Alison referred to Mac transcribing software for FreeBMD use. It is a long time since I looked at https://www.freebmd.org.uk/addons/ so my rather vague comments referred to problems discussed over the last (possibly) 10 years on FreeBMD discuss, with the Mac package:-  _Ben Hines wrote an earlier version (MacBMD) that only works on Operating System versions 10.6 (i.e. Snow Leopar

[2022-01-07 15:14] PhilipClarke712 commented on #214
Hi @AlOneill  I was referring to a machine process, not a live person.

I may wish to submit a change to this entry - I don't.

So I arrive on this page
![Screenshot 2022-01-07 151100](https://user-images.githubusercontent.com/67054943/148563916-a1b8c8f5-adee-46b6-83c3-f9fa2bcbdec7.png)

If my input is not regarded by an algorithm as being valid, it will not accept my request.

You will see at the

[2022-01-07 16:39] PhilipClarke712 commented on #214
@AlOneill

I'm not quite sure where this line of questioning is going. So this may be going a bit off topic.

I am designated as an "owner" of my files. So if someone submits a change request for one of my records, I would need to open the corrections process and the link to that request. [Note: If I was a syndicate Leader, I could do this for all requests for my syndicate] .

Records may be doubl

[2022-01-07 17:18] PhilipClarke712 commented on #214
@AlOneill
I'm beginning to think that this level of detail on the FAQ page, of how to do corrections, is something that should probably appear either on the Help page, or as a sub-page of Help. The FAQ page is really there to say 'smoothing comments' - doing a correction is not a difficult as it looks, but we need to filter requests. More details of how to do a correction (yet to be written) can b

[2022-01-07 18:25] PhilipClarke712 commented on #214
@AlOneill

Re:   **highlighted Issue: System Entries** at top of page

Sorry I should have picked this up before sending the page for sign off.

This (see image) is what BMD1 uses to indicate a **System Entry**.

They are entries added by the system (or an admin), not by the transcriber.

Mostly, It is how BMD1 indicates Late Entries on both the Results page and the relevant Entry Information page

[2022-01-08 16:13] AlOneill commented on #214
@PhilipClarke712 I agree that the FAQ page is not the place for the fine details of submitting a correction request, so will simply delete my comment.

To understand how  BMD2 handles System Entries, I'm afraid that that I need to see some results to imagine what 'side by side' means. Please could you give me the details of a person who I can search for? I do not need an image of the results, just

[2022-01-08 20:04] PhilipClarke712 commented on #214
@AlOneill
Sorry, the phrase "s**ide-by-side**", is intended to mean the "**same as for marriage partners**" - two entries side by side on the Entry Information page for the partner that you have found.
I'm a bit short of time, so I'm not going to look for a specific example of a Late Entry. Have a look at https://test3.freebmd.org.uk/cms/help-superseded-or-draft/draft-help-late-entries . Ignore th

[2022-01-09 00:10] AlOneill commented on #270
Putting an entry in italics might be meaningless for a screen-reader user, especially a relatively inexperienced one. We need to investigate before we implement.

[2022-01-09 00:13] AlOneill commented on #421
@DeniseColbert have you created the story for issues with the "unique names along with district information". I could not find it, but perhaps my search terms were incorrect?

[2022-01-09 00:18] AlOneill commented on #401
Not sure that 'Refers' is the best heading for this row either. Will think on …

[2022-01-10 04:24] #336 closed, assigned to AlOneill

[2022-01-10 04:35] #428 closed, assigned to nobody

[2022-01-10 04:35] #427 closed, assigned to nobody

[2022-01-10 04:35] #425 closed, assigned to nobody

[2022-01-10 04:35] #432 closed, assigned to PatReynolds

[2022-01-10 04:46] #433 closed, assigned to DeniseColbert

[2022-01-10 10:28] PatReynolds commented on #270
First thing to note is that we do not currently show the information for suspect records that FreeBMD1 shows
 E.g. https://www.freebmd.org.uk/cgi/districts.pl?r=30679048:5374&d=bmd_1639404358. This is a variant of the page about districts which we no longer use, as send people straight to UKBMD.

Also note: the thing that is suspect about this particular entry _may be_ the district name, but it ma

[2022-01-10 10:50] PatReynolds commented on #275
Having now looked at https://beta.freebmd.org.uk/districts/677/details-of-basildon-district?locale=en I think the best place for the warning is above the link to UKBMD.

Draft: https://docs.google.com/document/d/1-sn0nSbAlQmC1R-shggFu6CmoXo7I8RPlkU2lHrYpuU/edit?usp=sharing

[2022-01-10 10:58] PatReynolds commented on #222
I think for testing, we go with the short version on Help (more help won't be available).  I think a bit about wildcard searching in the basic help is good.  May need to link to a longer piece in the more help, but can see with testing.

[2022-01-10 11:16] PatReynolds commented on #303
Cannot be done (with Google consent generator) before the advert code is added, which cannot be done until password protection is removed.

[2022-01-10 12:01] PatReynolds commented on #215
The correction request goes to the transcriber (or if they are not able / willing to correct, to the syndicate coord (see https://www.freebmd.org.uk/CorrectionsProcess.html).

[2022-01-10 12:23] PatReynolds commented on #10
Emailed 10 Jan 2022

[2022-01-10 12:32] PatReynolds commented on #410
Is the AO version needed for testing, or is it for Beta (and the previous version for testing)?

Should I be updating the Needed for Beta paragraphs from previous version on previous version, or updating on the AO version?

[2022-01-10 12:42] PatReynolds commented on #125
Looks good, thank you @Vino-S . I can see some enhancements that would be good, but that is post-Beta work and will write new stories (if they don't come up in testing).

[2022-01-10 12:51] PatReynolds commented on #443
I can't see any page on Refinery that is not a html page (or is marked as Developer) and will be made live for testing (phase 3) - other than the Records page, which does not yet exist.

[2022-01-10 12:58] PatReynolds commented on #132
Sorry, @Vino-S didn't assign you to this - have now assigned you and taken myself and Denise off (temporarily)

[2022-01-10 13:17] PatReynolds commented on #397
Final paragraph may need changing - seems more relevant to FreeREG.  If with (eg a marriage) the GRO index has a variant of a name and the local registerar or church register has something different,  should the alternative  - and more likely correct name -  be in a postem, not a change to the data?

[2022-01-10 15:15] AlOneill commented on #410
@PatReynolds As I understand things, the [FAQ (AO remix)(https://test3.freebmd.org.uk/cms/about/draft-frequently-asked-questions-ao-remix) is the version being readied for testing and beyond.

I was not aware that you had not finished your editing — apologies. There are some questions that need addressing — these are detailed at the top of the page. Are there other aspects that you want to change

[2022-01-10 16:39] Vino-S commented on #409
Ready for testing in test3

[2022-01-10 16:39] Vino-S commented on #268
Ready for testing in test3

[2022-01-10 16:41] richpomfret commented on #220
Tested on ipad air 4 and unexpected results when sorting by year across multiple pages. Initially sorts by year with oldest first, but on page 2 it then sorts by year with newest first.

I would expect the sort to remain consistent across multiple pages.

[2022-01-10 16:42] richpomfret commented on #219
All now working as expected. :)

[2022-01-10 17:06] PatReynolds commented on #446
@PatReynolds top test

[2022-01-10 17:10] richpomfret commented on #445
"1839 and after" to be used instead. @Vino-S to make the change.

[2022-01-10 17:14] PatReynolds opened #457 "Sorting of results lost on moving to a subsequent page"
Rich observed nexpected results when sorting by year across multiple pages. Initially sorts by year with oldest first, but on page 2 it then sorts by year with newest first.

I would expect the sort to remain consistent across multiple pages.

Vino and Pat confirmed that this was  not just on ipads/mobile

Denise to test with the various types of sort

[2022-01-10 17:15] richpomfret commented on #220
Working fine now for the most part in terms of mobile search - issue above with Sort is not mobile specific, so will close this story now and create separate stories for anything mobile specific.

[2022-01-10 17:15] #220 closed, assigned to richpomfret

[2022-01-10 17:24] richpomfret commented on #268
Review/test the logic with the sorting and default ascending/descending.

[2022-01-10 17:25] richpomfret commented on #409
@AlOneill to test.

[2022-01-10 17:30] PatReynolds commented on #215
@PatReynolds to check with project that this is this still the case

[2022-01-10 17:34] richpomfret commented on #303
@PatReynolds to look and see if there is Google test/dummy avert codes that can be used in order to set-up the cookie options correctly.

[2022-01-10 17:34] PatReynolds opened #458 "Demo advert code from google"
Can we get a demo advert code to test layout etc while still behind a password?

[2022-01-10 17:37] richpomfret commented on #275
To now create Epic for 'records' page and build smaller stories for the content required. We can then close.

[2022-01-10 17:38] PatReynolds opened #459 "Records page: add warning"
Having now looked at https://beta.freebmd.org.uk/districts/677/details-of-basildon-district?locale=en I think the best place for the warning is above the link to UKBMD.

Draft: https://docs.google.com/document/d/1-sn0nSbAlQmC1R-shggFu6CmoXo7I8RPlkU2lHrYpuU/edit?usp=sharing

[2022-01-10 17:46] richpomfret commented on #443
Pages/drafts reviewed and now closing.

[2022-01-10 17:46] #443 closed, assigned to PatReynolds, DeniseColbert

[2022-01-10 17:56] PatReynolds commented on #214
@PatReynolds to check content for (a) being FreeBMD2 not FreeBMD1 (if not the same) and
(b) checking changes of legal frameworks and policies have been incorported

[2022-01-10 18:00] richpomfret commented on #449
Agreed to remove the link. Another story to be created to update the footer text.

[2022-01-10 18:00] PatReynolds opened #460 "New words for teal banner (previously magenta) at top of footer (refer to images and the GRO website for checking before ordering (on GRO website!)."

[2022-01-10 23:07] AlOneill commented on #409
@Vino-S The pre-1984 dates look fine.
There appear to be some issues with the **dates for all events from 1984 onwards**.

There is no date on the Search Results page. On the Entry Information page the date looks correct but it is shown in a row headed "Registration" which is second to bottom in the table.

![missing-date.png](https://images.zenhubusercontent.com/5ce6b34165b1a70acc0a9124/0c496a0f-

[2022-01-11 05:16] Vino-S commented on #457
Ready for testing in test3

[2022-01-11 07:25] PhilipClarke712 commented on #409
@AlOneill

Sorry, I don't agree. A search across the 1983/ 1984 divide appears to be correct. See first image capture.

![Screenshot 2022-01-11 071139](https://user-images.githubusercontent.com/67054943/148897293-bd738f43-9355-4c59-a137-39e8e3fd24ff.png)

![Screenshot 2022-01-11 071456](https://user-images.githubusercontent.com/67054943/148898884-ec5e1cc9-fb18-4270-94b4-606abbee6bf1.png)

That dat

[2022-01-11 07:29] PhilipClarke712 commented on #409
I could not get all four images on the same message,

This is what FreeBMD1 shows for the same event
![Screenshot 2022-01-11 071834](https://user-images.githubusercontent.com/67054943/148899048-cb134831-dee1-4cce-b911-e2b6a85a4c3a.png)

![Screenshot 2022-01-11 072035](https://user-images.githubusercontent.com/67054943/148899369-ff2831a9-d77d-4992-b7c1-e0a0c9b3aa32.png)

[2022-01-11 11:04] PatReynolds commented on #448
I have re-triaged (needed for initial testing vs needed for Beta, drafted some new paragraphs and I hope resolved some of the questions asked for me.  I suggest a copy is made before the needed for beta and not yet resolved paragraphs are removed.

[2022-01-11 11:28] PatReynolds commented on #412
This appears to be fixed (a possible duplicate story)

[2022-01-11 11:45] PatReynolds commented on #397
Rather than 'please find' surely 'please explain'?

Draft here: https://docs.google.com/document/d/1LvAktX3uKMeO0qcS67PtPPIMwXsUSUrlM9ZAglJggCc/edit?usp=sharing

[2022-01-11 12:06] DeniseColbert opened #461 "Display issues with unique names along with district information"
@AlOneill Here's the story if you'd like to make a start. I've had a quick look but nothing is jumping out at me right now. I'll come back to it.

[2022-01-11 12:12] PhilipClarke712 commented on #448
@PatReynolds , @AlOneill

I'm sorry to say, Pat, this appears to be the **wrong story** for your post above. Your marked up comments have been made on Alison's reviewed-copy of the **About - FAQ** draft page.

This story is about another **FAQ draft page** that is / was  intended to go in **Help** (as a sub-page).

Referring back two or more years to your spreadsheet in the Google shared drive: th

[2022-01-11 12:18] PatReynolds commented on #409
For this example, @PhilipClarke712  I would expect FreeBMD2 results page to display August 1984, and in sorting to be preceded by the July 1984 results, and succeded by the September 1984 results.

On the details page, again, August 1984.

[2022-01-11 13:57] PhilipClarke712 commented on #409
**In summary** that was raw data, just the hits as they came off, there is a sort of ordering that is not too clear.  However, there is an ability to **sort by** 'drop down' on the 'hits', and if it is used twice, you can make a clean ordering on one criteria only.

Note: I wanted to look at the 1983 / 1984 transition and keep my hits to a small number. So my first search was surname **Allen** bet

[2022-01-11 15:07] AlOneill commented on #409
I'm ignoring any sorting as that is another issue.

The Results page is now showing the year for events in 1984 and beyond, but no month — is that what we want?

My comments about the placement of the dates and their row headings on the Entry Information page stand. Are these what we want?

[2022-01-11 15:14] AlOneill commented on #214
@PatReynolds I'm now thoroughly confused by what is going on with this page. I will remove myself from assignment until the page is ready for HTML review.

[2022-01-11 16:03] PhilipClarke712 commented on #214
Some of the comments that refer to this story have, in my opinion, ended up on #448 and that involves
re-triaged (needed for initial testing vs needed for Beta, drafted some new paragraphs).

I have no idea what re-triage involves.

I like some of the reworking that Alison has done - in particular

"The FreeBMD database is the most complete online, free-to-search copy of the GRO Index (the General

[2022-01-11 17:01] PhilipClarke712 commented on #409
That is one of the problems with words - both sides consider that the words mean "what I said, or wrote, not what I actually said or wrote" (and there are two or more different people calling them self "I"). I also found out recently, that I am not very good at listening.

Your comment said "date" and so I responded that the Results have does have the Year of the Index. The Entry Information Page

[2022-01-11 17:34] PatReynolds commented on #214
I have done some more editing of FAQ.

[2022-01-11 17:53] Vino-S commented on #409
Showing the Registration Date on the search results page will have a significant effect on the search performance as fetching of Registration Date information involves multiple tables joins which will slow down the search.

[2022-01-20 00:11] AlOneill commented on #461
Although a sighted user will understand the information as presented, a screen-reader user is going to struggle to make sense of it.

The table is more presentational than semantic: the type of content in the data columns is not consistent — it's not possible to devise meaningful headings that would apply to the whole of either column 2 or 3.

Are we sticking with 'Unique names' or do we want to c

[2022-01-20 12:32] AlOneill commented on #461
Also, the markup for the description lists in the cells that give the numbers of names is not valid — invalid markup throws screen-reader software.

I totally understand the allure of a very neat-looking display, but …

[2022-01-24 03:31] #125 closed

[2022-01-24 09:48] PatReynolds commented on #457
Tested, works perfectly.  Thanks, Pat

[2022-01-24 09:52] PatReynolds commented on #446
Tested, just as requested, thank you.

[2022-01-24 10:08] PatReynolds commented on #303
Asked the community for help, but it looks as if we may need to take the password down while verification takes place.

[2022-01-24 10:17] PatReynolds opened #462 "Records Page Notes/Help"
For inclusion on the page, or on help
 - [ ] A note to say that both roman numerals (i, IV, etc) and arabic numerals (1,4, etc). are used to indicate volume numbers.  A volume may be transcribed in one place as xx and in another as 20.  We just transcribe what we see.

[2022-01-24 10:45] PatReynolds opened #463 "District data (for records page)"
An issue/group of issues identified in other stories and brough together here
- [ ] Philip: I just looked at one record, at the bottom of my screen - Hammersmith - which gives its dates of existence and the number of records transcribed. The Dates were "existing from 1915 to 2000"; then I looked at the 'bible' that I use: Hammersmith: created 1.7.1913 out of Fulham R.D. Abolished 1.1.2001 and regi

[2022-01-24 10:49] PatReynolds opened #464 "Records page - screen reader user improvement"
The table caption, heard by screen-reader users, is for example, "Information of Hackney District". To sound more natural, the "of" should be replaced with "about".

[2022-01-24 10:53] PatReynolds opened #465 "Things to check on the Records Page"
- [ ] Currently only showing H - is the plan to have the alphabet along the top of this page, jumping to each letter?
- [ ] The table caption, heard by screen-reader users, is for example, "Information of Hackney District". To sound more natural, the "of" should be replaced with "about".
- [ ] Check thef the 3-ary / 4-ary page currently running on FreeBMD(1) are Perl pages and some of them are the

[2022-01-24 11:20] PatReynolds commented on #444
All covered in other stories apart from Back Button needed - looking at current form of site on test3, not sure if this is needed, as browser back button takes one back from view of unique names to District Information to the district names for the particular letter chosen.  On one hand not needed, on the other, do we want to encourage our users to use back buttons?

Also, might we want to link to

[2022-01-24 11:27] PatReynolds commented on #215
Asked correctionscoord@freebmd to check process.

[2022-01-24 11:37] PatReynolds commented on #10
Asked the Adsense community 24 Jan 2022

[2022-01-24 11:56] PatReynolds commented on #369
Web aim suggest the icon is used:

"I don't think you need the button Pat. You just need to include the icon within the link. Something like this:

<p>For more information, please visit the <a href="xxx">website of the Information Commissioner <img alt="opens in a new tab"></a>.</p>

A screen reader will read this as "link website of the Information Commissioner opens in a new tab".</ref>

[2022-01-24 12:09] PatReynolds commented on #410
I think it may be easiest if we go through this together on Friday, @AlOneill  (or at anoher time convenient for you).

I also need to create new drafts of " Who owns the FreeBMD database and runs FreeBMD?" and "Why is it so difficult to submit a correction?"  for wider review.

[2022-01-24 12:59] PatReynolds commented on #214
And here is some draft text for the two questions that needed a re-write: https://docs.google.com/document/d/1HQg-5OG49zYYquj9czxYHdSJRlityngizjZD2uPEoi0/edit?usp=sharing

What do you think @PhilipClarke712 @AlOneill @DeniseColbert

[2022-01-24 13:59] PhilipClarke712 commented on #463
**Part 1:**

In trying to formulate an answer to the question, I went back to test3 https://test3.freebmd.org.uk/districts/alphabet_selection?locale=en selected H  to get to a page for **Hammersmith** (see extract)
![Screenshot 2022-01-24 122949](https://user-images.githubusercontent.com/67054943/150783432-b1956ee8-1abb-45f7-8e66-97f61dc6c6bb.png)  which states Hammersmith existed from 1915 to 200

[2022-01-24 14:22] Vino-S commented on #445
Ready for testing in test3

[2022-01-24 14:22] Vino-S commented on #423
Ready for testing in test3

[2022-01-24 14:23] Vino-S commented on #376
Ready for testing in test3

[2022-01-24 14:28] Vino-S commented on #287
In FreeBMD1 researcher can provide feedback if the Scan has the searched record or they can reject the Scan.
![image.png](https://images.zenhubusercontent.com/5ca2316a45147541ad68a420/f2d57641-6ed8-403d-a34f-b189c974a40a)

[2022-01-24 15:06] AlOneill commented on #369
@PatReynolds The information must be clear to other users too — not only screen-reader users. What is "the icon" that we want to use? Is it's meaning unambiguous?

[2022-01-24 16:12] PhilipClarke712 commented on #444
@PatReynolds ,
The answer to that last question is quite nuanced. The Entry Information page currently links to the relevant UKBMD page which has a 'bit more history information' than is given on **test3 Records Tab - District Information page**: but the latter already has a link to the UKBMD page.  So, for instance, we could swap the District link on the  Entry Information from UKBMD to the  Reco

[2022-01-24 17:06] richpomfret commented on #445
@AlOneill will you be able to take a look at/test this one?

[2022-01-24 17:09] PatReynolds commented on #409
Due to time issue, a new solution is needed, which is not possible or essential at this point, so moving to phase 5.

[2022-01-24 17:11] DeniseColbert commented on #423
Thanks Vino :)

**You can print these results or download to PDF using your right-click or browser menu.**

Could this be added to the Results page, perhaps where indicated below?

![image](https://user-images.githubusercontent.com/19173257/150831002-03b654d7-2bd1-49fc-b345-332bdb3fee08.png)

[2022-01-24 17:13] richpomfret commented on #303
Agreed in scrum to go ahead and remove the login to the site, therefore allowing us to verify the site and move ahead with implementing adverts.

[2022-01-24 17:14] PatReynolds commented on #230
@PatReynolds to get data ad slot numbers

[2022-01-24 17:15] #275 closed, assigned to PatReynolds, Vino-S, PhilipClarke712

[2022-01-24 17:22] richpomfret commented on #287
Agreed to go with ranking via BMD1 site for now and hold off on any additional features/implementation of this on BMD2 until post MVP. To check on product requirements list.

[2022-01-24 17:23] richpomfret commented on #269
Implemented, will close.

[2022-01-24 17:23] #269 closed, assigned to Vino-S, KatyMawhood, Daniel-silve1ra

[2022-01-24 17:24] #412 closed, assigned to nobody

[2022-01-24 17:25] richpomfret commented on #397
@PatReynolds to reshare document and update based on report scan issue just discussed.

[2022-01-24 17:30] PatReynolds commented on #222
@AlOneill and @PhilipClarke712 this story is not about content (('ve even mislead myself!) so I will move comments re content to the appropriate stories.

This sotry is about how help and about display on mobile phones.  (and may not be needed at all).

[2022-01-24 17:31] richpomfret commented on #449
Ready for testing on test 3.

[2022-01-24 17:31] richpomfret commented on #449
@AlOneill could you take a look at/test this fix?

[2022-01-24 20:56] AlOneill commented on #423
@DeniseColbert how does a keyboard-only user right-click? And what is meant by "browser menu"?

[2022-01-24 21:00] AlOneill commented on #449
Link has been removed, so closing.

[2022-01-25 10:33] DeniseColbert commented on #397
Sorry... Scan issue affects the Contact Us form (different issue) and not Pat's document above, which is specifically about the final paragraph of the page in question.

[2022-01-25 13:53] AlOneill commented on #423
@DeniseColbert I've done some reading and testing and can say that, to cut a long story short, right-clicking by keyboard alone on a Mac is impractical. I cannot test on Windows.

Who wants their results saved as a PDF file? I did manage to save the page using the keyboard only, as text without the HTML, but it was a right palaver and the file would need a lot of editing to be useful to a research

[2022-01-25 17:09] PatReynolds commented on #215
@Vino-S please see email from Barrie forwarded today (25 Jan 2022)

[2022-01-26 14:29] DeniseColbert commented on #423
Thanks, @AlOneill. We already have the Download CSV option, so perhaps that's enough and we can remove this altogether? Although I think it's fair to say that lots of our users won't have a clue what CSV is...

I find saving PDFs a Good Thing in my research. It helps me to keep digital records without printing pages of info, but allows me to do so if I want to.

[2022-01-26 14:44] AlOneill commented on #423
@DeniseColbert Oops, missed that! Mea culpa.

However, there is an issue. I can open the "Tools" drop-down with "Space", but I cannot select any of the options — I would expect to use the arrow keys to move between the choices.

[2022-01-26 14:51] AlOneill commented on #423
@DeniseColbert Trying again, I find that "Tab" and shift-tab takes one through the choices. This is not the expected behaviour and will need explaining for our users.

[2022-01-26 15:19] AlOneill commented on #423
@Vino-S @DeniseColbert The WebAim site has a listing of expected keyboard-only navigation:
https://webaim.org/techniques/keyboard/#testing

[2022-01-27 16:37] DeniseColbert commented on #397
Looks good, should we run it by Barrie @PatReynolds ?

[2022-01-28 12:30] PatReynolds commented on #414
Done, so closing.

[2022-01-28 12:30] #414 closed, assigned to nobody

[2022-01-28 12:46] DeniseColbert commented on #415
Text only at this point, **to test** whether to include a link.

[2022-01-29 16:41] AlOneill commented on #418
@PatReynolds Text re asterisks and verbosity added in both places on DRAFT Help that wildcards are discussed. The example of using two wildcards is redundant as the search appends a wildcard to the name automatically. Looking for a better example …

[2022-01-29 17:08] AlOneill commented on #382
@PatReynolds Looking at this more carefully, the two links you are asking for are in the first answer on the About > FAQ (AO remix) page. Do we need to repeat the information on the Help page?

[2022-02-01 13:21] DeniseColbert commented on #210
[This page](https://test3.freebmd.org.uk/cms/archive/draft-your-reviews-earlier-version) is populated with FreeREG reviews- could we delete this page in favour of titivating [this one](https://test3.freebmd.org.uk/cms/archive/reviews)?

[2022-02-01 13:32] DeniseColbert commented on #210
Have updated and added the form. @AlOneill could you work your magic and make it in line with the FreeREG page, please?

[2022-02-01 17:06] AlOneill commented on #210
@DeniseColbert I've added DRAFT to the page name and moved it into About: you can view it here:
https://test3.freebmd.org.uk/cms/about/draft-your-reviews

I'll be working on it offline for a while, so the usual caveats apply.

[2022-02-02 00:13] AlOneill commented on #210
@DeniseColbert Draft page now has block-quote markup, styled as per the equivalent page on REG.

Please review content and presentation. Will provide a link from 'About' once content has 'final' sign-off from you or @Pat.

[2022-02-07 10:54] PatReynolds commented on #397
Asked Barrie 7/2/2022

[2022-02-07 11:19] PatReynolds commented on #444
For clarification: this is the records page
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/891a7874-ba48-4501-8723-bde94b1185af)  It doesn't need back buttons because the header menu is sufficient.
This is the next level down, which is the one that the first point in the story refers to:
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/77baaca5

[2022-02-07 11:24] PatReynolds commented on #415
@PhilipClarke712  wrote on 24 Jan 2022: (a comment on story re absence of back buttons on the Records page
The Entry Information page currently links to the relevant UKBMD page which has a 'bit more history information' than is given on test3 Records Tab - District Information page: but the latter already has a link to the UKBMD page. So, for instance, we could swap the District link on the Entry

[2022-02-07 11:39] PatReynolds commented on #444
@PhilipClarke712 I  agree with your comment of 24 Jan 2022: I don't see a need to link from Entry Informatin to the Records Page.

[2022-02-07 11:41] PatReynolds commented on #303
@Vino-S please let me know when you have removed the login.  Thanks, Pat

[2022-02-07 12:03] PatReynolds commented on #10
Got one reply from WebAIM but it was about the correct technical use of skip links, not about what Google thinks of them, so have asked again.

Asked the GoogleAds community 7 Jan 2022

[2022-02-07 12:43] PatReynolds commented on #459
Is this ready for implementation?

[2022-02-07 12:49] PatReynolds commented on #222
Both displaying fine on android.  Suggest closing.

[2022-02-07 17:07] richpomfret commented on #423
Update - @Vino-S currently looking to see if this is possible.

[2022-02-07 17:09] richpomfret commented on #376
@DeniseColbert has tested and works fine.

[2022-02-07 17:13] richpomfret commented on #444
@Vino-S to add in the back-button as reviewed.

[2022-02-07 17:14] #222 closed, assigned to PatReynolds, AlOneill

[2022-02-07 17:17] richpomfret commented on #459
@DeniseColbert to review.

[2022-02-07 17:18] Vino-S commented on #148
Implemented and ready to test in test3

[2022-02-07 17:21] richpomfret commented on #214
To be discussed in the next doc meeting. Review any final changes prior to being 'beta-ready'.

[2022-02-07 17:22] richpomfret commented on #148
Looks good. Although now appears to be a slight grey line visible to the right of the logo and under where the advert goes. To investigate.

[2022-02-07 17:28] richpomfret commented on #303
This has now moved forward - @PatReynolds to get the Adsense codes as next step.

[2022-02-07 17:32] richpomfret commented on #405
@AlOneill any update on this one?

[2022-02-07 17:33] richpomfret commented on #383
@AlOneill any updates on this one?

[2022-02-07 17:35] richpomfret commented on #10
To discuss in the doc team meeting - to break this down into smaller stories (as appropriate).

[2022-02-08 13:52] PatReynolds commented on #214
To be re-written by Pat:
 - [X] Who owns and runs FreeBMD,
 - [X]  is this information covered by the Data Protection Act?
 - [X] Pat to mark the headers for items not needed for Initial testing
To be proofed by Alison once done.

 - [X] Change 'why is making a correction so difficult' to 'how can I submit a correction'.

Then make a copy, delete out "for beta" and make live.

[2022-02-08 14:00] DeniseColbert commented on #214
Have reviewed the doc and made a few tweaks in discussion wth @PatReynolds and @AlOneill

[2022-02-08 14:10] PatReynolds commented on #410
Duplicate of #214 so closing.

[2022-02-08 14:10] #410 closed, assigned to PatReynolds

[2022-02-08 14:54] DeniseColbert opened #466 "Check all pages are accessible (needed for Beta)"
The Documentation Team is working on Accessibility guidance for Developers, to help address the following items which may need attention in FreeBMD2. Once complete, they can be checked off the list.

The below items are stories made from the Accessibility audit on FreeREG; the CLOSED ones are not necessarily complete in FreeBMD2.

- [ ] **STAS-F10: Non-Descriptive Page Titles** #249Systemwide OPEN

[2022-02-08 14:59] PatReynolds opened #467 "Reconsider how to flag opening in a new tab (see story #10)"
Seo story #10  for possible alternatives / supplements to text.

[2022-02-08 15:38] AlOneill commented on #383
A first draft of [Additional search options](https://test3.freebmd.org.uk/cms/help/draft-additional-search-options) is now in Refinery on t3. The final set of options is not edited from the developer's text: making this suitable for a user is the next part of my task.

[2022-02-08 22:27] PhilipClarke712 commented on #214
I was not at home for the weekend and yesterday so I've only just seen the latest comments on this story; **and its closure**. I now have read-rights on the shared google file given above - last time I tried to look I did not have read-rights.
I particularly like the new form of words in **Submitting a correction to FreeBMD**.

[2022-02-09 00:02] AlOneill commented on #405
Apologies — I had forgotten about this.

I've a feeling that the markup for the 4 date inputs is not quite right for SR users. I am taking a closer look with the hope of offering a concrete solution.

And any tooltip would have to work for all our users. Might be tricky because of what we are trying to hide from SR users versus what they need to have access to.

[2022-02-10 15:09] DeniseColbert commented on #467
Should this be new "tab"? @PatReynolds

[2022-02-10 15:12] DeniseColbert commented on #459
I think the text could be tweaked for clarity- adding to the Doc Team agenda...

[2022-02-12 23:57] AlOneill commented on #405
What do we want the tooltip to say? What should it explain? Space will be limited (at some window widths), so the text will have to be concise.

Irrespective of whether or not we provide a tooltip, the current markup for the date fields is not accessible to SR users — they are misled about the "Quarter" drop-downs (the select boxes). The labels for the "Quarter" selects are "From Quarter and Year"

[2022-02-14 12:02] PatReynolds commented on #306
I have a note that suggests I should split DRAFT - News and History - for Beta into two pages:
DRAFT - News  - for Beta and
DRAFT - History - for Beta
and link separately to About - is that correct?

[2022-02-14 15:12] PhilipClarke712 commented on #306
Hi @PatReynolds
Those pages exist on Refinery as drafts in "rough form". They are not currently linked to / from **About**, but that is where they will 'sit'. Perhaps we can discuss this here in a bit more depth.

There is a page https://test3.freebmd.org.uk/cms/about/draft-news which sits in Refinery inside the **About** tab, but it is not linked to or from About, so it will not be visible to sea

[2022-02-14 16:54] PatReynolds commented on #10
Comments from WebAIM:
"WebAIOIM: 2.4.1 says that a mechanism is available to bypass blocks of content that
are repeated on multiple Web pages.  So are your adverts repeated on every
page such that they would be part of the "blocks of content" to skip over?
If they only appear on the homepage, then you might not have to skip over
them since they're not repeated."
"As far as how it affects google, t

[2022-02-15 10:57] PatReynolds commented on #306
For Clarity: "News" covers recent news.  (last few years).  This includes major things, such as a new trustee, launch of FreeBMD2, major milestones in records transcribed.  It also includes minor things, such as minor milestones / end of year figures, implementation of new features.

"History" starts where News stops.  It includes only major things.

In other words - News is what is currently in t

[2022-02-15 14:06] DeniseColbert commented on #405
Decision: Tooltip to contain WTTE "See Help for more info"

[2022-02-15 14:14] DeniseColbert commented on #210
@AlOneill to change blockquote colours to magenta and @DeniseColbert to add length to form, then it can be signed off.

[2022-02-15 14:22] DeniseColbert opened #468 "Add link to Additional Search Options (Help) page in the box on the form"
![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/81ecb725-5c88-4031-9066-f426906aae46)

[2022-02-15 14:41] DeniseColbert commented on #459
@Vino-S could you please change the text in the final row to this:

There is  more information about Bakewell (1839 onw) on the UKBMD website.
Please note that during the period this Registration District name was used there could be changes in which places were included within the district.  UKBMD  includes information on these:
[More information about Bakewell (1839 onw) on UKBMD](http://www.ukb

[2022-02-15 14:58] AlOneill commented on #210
Block-quote accent colour updated to magenta.

[2022-02-15 15:09] PatReynolds commented on #306
Sorry, to correct: News is already its own page.

Can you clarify what 'a  more long term page' would cover that 'History' doesn't?

[2022-02-15 15:13] DeniseColbert commented on #210
Length added to form. Ready to be linked to from About. Thanks @AlOneill

[2022-02-15 15:22] AlOneill commented on #405
Whilst exploring this issue, I became aware that our current markup for tooltips is not fully accessible — mea culpa. We should attach the tooltip to the input rather than the label: this will require a change in markup and CSS. I'm not going to rush this as it should be fixed once and for all.

In the meantime, do we want an improved (but not correct or fully accessible) temporary fix?

Once I'm

[2022-02-15 17:46] PhilipClarke712 commented on #306
To clarify further: In respect of test3 there is a draft page: https://test3.freebmd.org.uk/cms/about/draft-news I believe created by you, but worked on by me. It's not been signed off; and someone will have to do some work on it to make it acceptable for sign off - me, Alison, you, or Denise. At present it has yellow mark up comments, some by you and more by me. It is not linked to **About** and

[2022-02-16 13:01] AlOneill commented on #459
@DeniseColbert @Vino-S
As the link in the last line is to an external site, it should open in a new tab and there should be a warning in the link text:
More information about Bakewell (1839 onw) on UKBMD (opens in new tab)

[2022-02-16 13:26] AlOneill commented on #210
Link added to 'Your reviews' from 'About'.
Pages are sync-ready.

[2022-02-19 15:01] AlOneill commented on #383
Complete draft of [Additional search options](https://test3.freebmd.org.uk/cms/help/draft-additional-search-options) is now in Refinery on t3. Still tweaking some of the more awkward text. A few queries to resolve.

[2022-02-21 01:23] AlOneill opened #478 "Footer markup mangled on t3"
The pages are being served up on t3 with this markup for the `footer` element:

`<footer clabeass="site__footer" role="contentinfo">`

where the nonsense word 'clabeass' should be `class`

[2022-02-21 10:23] #457 closed, assigned to PatReynolds, DeniseColbert, Vino-S

[2022-02-21 10:23] #376 closed, assigned to Vino-S

[2022-02-21 10:23] #446 closed, assigned to PatReynolds

[2022-02-21 10:23] #421 closed, assigned to AlOneill, DeniseColbert

[2022-02-21 10:23] #219 closed, assigned to richpomfret

[2022-02-21 12:41] PatReynolds commented on #244
Adverts displaying as expected, except pop-up advert at bottom of page is not staying closed.

Create report for the url in Adsense today - no data yet collected/showing.

[2022-02-21 17:05] PatReynolds opened #469 "Adjust contact form page ref. reviews"
Text (same as on FreeREG) placed at top of Contact Us form and 'Thank You' option removed from the Nature of Contact select box.